<style>
  @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');
</style>
<div class="main-box">
  <div class="main-content">
    <form [formGroup]="frmUserInfo">
      <header>
        <div class="text-center">
          <img class="fec-title" src="assets/img/FECtitleNew.png" draggable="false" alt="FECTitle" />
        </div>
        <div class="title-front-main">Electronic Filing Enrollment and Password Assignment</div>
        <div class="title-front-sub">
          Create a Strong password for {{userName}}
        </div>
        <br><br><hr>
      </header>

      <div class="form-group radio">
        <div class="user-info">
          <div class="container">
            <label>Password</label>
            <input formControlName="password"
                   placeholder="Enter a new Password"
                   type="password"
                   (ngModelChange)="passwordChange()"
                   [ngClass]="frmUserInfo.get('password')?.invalid &&
                 (frmUserInfo.touched || frmUserInfo.dirty) ? 'input-field-error': ''">
<!--            <div *ngIf="!false">-->
<!--              <img class="eye-logo" src="assets/img/eye-icon.svg" draggable="false" (click)="showPassword('password')"/>-->
<!--            </div>-->
<!--            <div *ngIf="false">-->
<!--              <img class="eye-logo" src="assets/img/eye-icon-red.svg" draggable="false" (click)="showPassword('password')"/>-->
<!--            </div>-->
            <div *ngIf="frmUserInfo.get('password').invalid && frmUserInfo.get('password').touched">
              <div class="error__pass-1" *ngIf="frmUserInfo.get('password').hasError('required')">
                Please enter a new password
              </div>
            </div>
          </div>
          <div class="container">
            <label>Confirm Password</label>
            <input formControlName="confirmPassword"
                   placeholder="Enter a new Password"
                   type="password"
                   [ngClass]="frmUserInfo.get('confirmPassword')?.invalid &&
                 (frmUserInfo.touched || frmUserInfo.dirty) ? 'input-field-error': ''">
            <div *ngIf="frmUserInfo.get('confirmPassword').invalid && frmUserInfo.get('confirmPassword').touched">
              <div class="error__pass-1" *ngIf="frmUserInfo.get('confirmPassword').hasError('required')">
                Renter the password
              </div>
            </div>
          </div>
          <div class="container" style="font-weight: lighter; size: 15px">
            <div style="float: left">Weak</div>
            <div style="float: right">Strong</div>
            <div style="clear: both"></div>
          </div>
          <div class="container password-strength">
            <app-password-strength-bar [passwordToCheck]="passwordChanged"
                                       [barLabel]="barLabel"
                                       [length]="8">
            </app-password-strength-bar>

          </div>
        </div>


        <div class="user-info-actions">
          <button class="action__btn clear" (click)="submit()"> Submit</button>
          <hr>
        </div>
        <div class="collapse-container">
          <button class="dropdown-item" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="password">
            <div class="wrapper">
              <i>Password Requirements</i>
              <div class="line"></div>
              <i [ngClass]="isCollapsed?'arrow up' : 'arrow down'"></i>
            </div>
          </button>
          <div id="password" [ngbCollapse]="isCollapsed">
            <div class="card">
              <div class="card-body">
                <p>
                  Your password must contain the following:
                </p>
                <ul>
                  <li>A minimum of 8 characters, to a maximum of 16 characters.</li>
                  <li>At least one upper case letter (A-Z)</li>
                  <li>At least one lower case letter (a-z)</li>
                  <li>At least one digit (0-9)</li>
                  <li>At least one special character of ! @ # $ % & * ( )</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse-container">
          <button class="dropdown-item" (click)="isCollapsedC = !isCollapsedC"
                  [attr.aria-expanded]="!isCollapsedC" aria-controls="committeeDetails">
            <div class="wrapper">
              <i>Confirm you committee Information</i>
              <div class="line"></div>
              <i [ngClass]="isCollapsedC?'arrow up' : 'arrow down'"></i>
            </div>
          </button>
          <div id="committeeDetails" [ngbCollapse]="isCollapsedC">
            <div class="card">
              <div class="card-body">
                <p>
                  If any information below is incorrect you will need to refile a Form 1 Amendment to correct it.
                  As long as at least one email is correct you can continue with the password creation process with that
                  correct email address.
                </p>
                <hr>
                Table goes here
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
