<div class="preview-container">
  <header>
      <div class="header-container">
        <div class="header__text">
          <h1 class="text-left" *ngIf="!typeSelected">
            Form 99
          </h1>
          <h1 class="text-left" *ngIf="typeSelected">
            Form 99 / {{ typeSelected }}
          </h1>
        </div>
        <div class="header__btns">
           <button
            type="button"
            class="btn btn-validate"
            (click)="printPreview()"
            
          >
            Print Preview
          </button> &nbsp;
          <button
            type="button"
            class="btn btn-validate"
            (click)="validateForm()"
          >
              Validate
            </button>
        </div>
      </div>
    </header>
  <section>
    <div class="content">
    <div class="grid-row">
      <div class="grid-row__col grid-row__col--12">
        <div class="validate__form" [ngClass]="showValidateBar === true ? 'show-alerts' : ''">
          <app-validate></app-validate>
        </div>
      </div>
    </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="label">
            Name of Committee in Full
          </div>
          <div class="text">
            {{ committee_details?.committeename }}
          </div>
        </div>
        <div class="grid-col">
          <div class="label">
            Address Line 1
          </div>
          <div class="text">
            {{ committee_details?.street1 }}
          </div>
        </div>
        <div class="grid-col">
          <div class="label">
            Address Line 2
          </div>
          <div class="text">
            {{ committee_details?.street2 }}
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="label">
            City
          </div>
          <div class="text">
            {{ committee_details?.city }}
          </div>
        </div>
        <div class="grid-col">
          <div class="label">
            State
          </div>
          <div class="text">
            {{ committee_details?.state }}
          </div>
        </div>
        <div class="grid-col">
          <div class="label">
            Zip Code
          </div>
          <div class="text">
            {{ committee_details?.zipcode }}
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="label">
            Treasurer Last Name
          </div>
          <div class="text">
            {{ committee_details?.treasurerlastname }}
          </div>
        </div>
        <div class="grid-col">
          <div class="label">
            Treasurer First Name
          </div>
          <div class="text">
           {{ committee_details?.treasurerfirstname }}
          </div>
        </div>
        <div class="grid-col">
          <div class="label">
            Treasurer Middle Name
          </div>
          <div class="text">
           {{ committee_details?.treasurermiddlename }}
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="label">
            Treasurer Prefix
          </div>
          <div class="text">
           {{ committee_details?.treasurerprefix }}
          </div>
        </div>
        <div class="grid-col">
          <div class="label">
            Treasurer Sufix
          </div>
          <div class="text">
           {{ committee_details?.treasurersuffix }}
          </div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <hr />
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--6 text-left">
          <h4>Text</h4>
        </div>
        <div class="grid-row__col grid-row__col--6 text-right">
          <button
            type="button"
            class="btn btn-edit"
            (click)="goToPreviousStep()"
          >
              Edit
            </button>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12" [innerHtml]="form_details?.text"></div>
      </div>
      <div class="grid-row">
        <div class="grid-row-col grid-row__col--12">
          <br />
          <hr />
          <br />
            <span class="label">
              <b>Attachment:</b>&nbsp;
            </span>
            <span *ngIf="org_fileurl">
              <a href="{{ org_fileurl }}" target="_blank">{{ fileName }}</a>
            </span>
            <span *ngIf="!org_fileurl">
              {{ fileName }}
            </span>
            <br />
            <br />
          <hr />
          <br />
        </div>
      </div>
    </div> <!-- ./content -->
  </section>
  <footer>
    <div class="grid-row">
      <div class="grid-row__col grid-row__col--12 text-center">
        <div class="forms__btn-container">
          <button
            type="button"
            class="btn btn-previous btn-left"
            (click)="goToPreviousStep()"
          >
            Previous
          </button>
          <button
            type="button"
            class="btn btn-primary btn-right"
            (click)="goToNextStep()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </footer>
</div>
