<div class="forms__wizard">
  <!--<div
    class="form__alerts"
    [ngClass]="{
      'show-alerts': showValidateBar === true
    }"
  >
    <app-validate></app-validate>
  </div>-->
  <div
    class="form__container"
    [ngClass]="{
      'show-alerts': showValidateBar === true,
      'hide-alerts': step==='step_5'
    }"
  >
    <div class="form__steps">
      <app-steps
        [steps]="[
        {text: 'Type', step: 'step_1', edit: editMode},
        {text: 'Form', step: 'step_2', edit: editMode},
        {text: 'Preview', step: 'step_3', edit: editMode},
        {text: 'Sign', step: 'step_4', edit: editMode},
        {text: 'Submit', step: 'step_5', edit: editMode}
        ]"
        [current_step]="currentStep"
      >
      </app-steps>
    </div>
    <div
      class="form__content"
      *ngIf="!isLoading"
      [ngClass]="{
        'show-alerts': showValidateBar === true,
        'hide-alerts': step==='step_5',
        'preview': step==='step_3'
      }"
    >
      <div
        [hidden]="step!=='step_1'"
      >
        <f99-type (status)='onNotify($event)'></f99-type>
      </div>
      <div
        [hidden]="step!=='step_2'"
      >
        <f99-reason (status)='onNotify($event)'></f99-reason>
      </div>
      <div
        [hidden]="step!=='step_3'"
      >
        <app-preview (status)='onNotify($event)'></app-preview>
      </div>
      <div
        [hidden]="step!=='step_4'"
      >
        <app-sign
          [comittee_details]="comittee_details"
          (status)='onNotify($event)'
        ></app-sign>
      </div>
      <div
        [hidden]="step!=='step_5'"
      >
        <app-submit
          [comittee_details]="comittee_details"
        ></app-submit>
      </div>
    </div>
  </div> <!-- ./form__container -->
</div> <!-- ./forms__wizard -->
