<div class="form__type-container">
  <div class="form__type">
    <form [formGroup]="frmType" (ngSubmit)="doValidateType()" (blur)="doValidateType()">
      <header>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <h1 class="text-left" *ngIf="!typeSelected">
              Type
            </h1>
            <h1 class="text-left" *ngIf="typeSelected">
              Form 99 / {{ typeSelected }}
            </h1>            
          </div>
        </div>
      </header>
      <section>
        <div class="content">
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="text-error text-center" 
                *ngIf="(frmType.invalid && (frmType.dirty || frmType.touched)) || (typeFailed)">
                You must select a type for filing.
              </div>
            </div>
          </div>  
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <ul class="type-list">
                <li class="type-item"
                  [ngClass]="{'selected': typeSelected === 'mst'}"
                >
                  <div class="type-item__box">
                    <div class="type-item__box--top">
                      <input
                        type="radio"
                        id="mst-radio"
                        value="MST"
                        (change)="updateTypeSelected($event)"
                        formControlName="reasonTypeRadio"
                      />
                      <label
                        for="mst-radio"
                        class="type-text"
                      >
                        Miscellaneous Report to FEC (MST)
                      </label>
                      <div class="type__info">
                        <button
                          type="button"
                          class="btn btn-link"
                          [ngbTooltip]="mstContent"
                          #mstTooltip="ngbTooltip"
                          (click)="toggleToolTip(mstTooltip)"                          
                          triggers="manual"
                          tooltipClass="info-tooltip"
                          placement="{{ tooltipPosition }}"
                        >
                          <i class="info-icon" aria-hidden="true"></i>
                          <span class="sr-only">
                            Click for more information
                          </span>
                        </button>
                        <ng-template #mstContent>
                          A Miscellaneous Text Submission (Form 99) may be used for narrative responses that do not affect actual entries within a report (for example, when outlining the committee’s procedures for making “best efforts” to obtain contributor information.)           
                        </ng-template>                          
                      </div>
                    </div>
                  </div>
                </li>
                <li class="type-item" 
                  [ngClass]="{'selected': typeSelected === 'msm'}"
                >
                  <div class="type-item__box">
                    <div class="type-item__box--top">
                      <input
                        type="radio"
                        id="msm-radio"
                        value="MSM"
                        (change)="updateTypeSelected($event)"
                        formControlName="reasonTypeRadio"
                      />
                      <label
                        for="msm-radio"
                        class="type-text"
                      >
                        Filing Frequency Change Notice (MSM)
                      </label>
                      <div class="type__info">
                        <button
                          type="button"
                          class="btn btn-link"
                          [ngbTooltip]="msmContent"
                          #msmTooltip="ngbTooltip"
                          (click)="toggleToolTip(msmTooltip)"                          
                          triggers="manual"
                          tooltipClass="info-tooltip"
                          placement="{{ tooltipPosition }}"
                        >
                          <i class="info-icon" aria-hidden="true"></i>
                          <span class="sr-only">
                            Click for more information
                          </span>
                        </button>
                        <ng-template #msmContent>
                          Notification to the FEC in writing where committees may change their filing schedule from quarterly to monthly (or vice versa) only once per calendar year.          
                        </ng-template>                          
                      </div>
                    </div>
                  </div>
                </li>
                <li class="type-item"
                  [ngClass]="typeSelected === 'msi'? 'selected' : ''"
                >
                  <div class="type-item__box">
                    <div class="type-item__box--top">
                      <input
                        type="radio"
                        id="msi-radio"
                        value="MSI"
                        (change)="updateTypeSelected($event)"
                        formControlName="reasonTypeRadio"
                      />
                      <label
                        for="msi-radio"
                        class="type-text"
                        (click)="updateTypeSelected($event)"
                      >
                        Disavowal Response (MSI)
                      </label>
                      <div class="type__info">
                        <button
                          type="button"
                          class="btn btn-link"
                          [ngbTooltip]="msiContent"
                          #msiTooltip="ngbTooltip"
                          (click)="toggleToolTip(msiTooltip)"                          
                          triggers="manual"
                          tooltipClass="info-tooltip"
                          placement="{{ tooltipPosition }}"
                        >
                          <i class="info-icon" aria-hidden="true"></i>
                          <span class="sr-only">
                            Click for more information
                          </span>
                        </button>
                        <ng-template #msiContent>
                          A letter to the FEC where a candidate disavows unauthorized campaign activity within 30 days after being notified by the agency that another person or group has received contributions or made expenditures of more than $5,000 on the individual’s behalf. 100.3(a)(3) and 102.13(a)(2).          
                        </ng-template>                         
                      </div>
                    </div>
                  </div>
                </li>
                <li class="type-item"  
                  [ngClass]="typeSelected === 'msw'? 'selected' : ''"
                >
                  <div class="type-item__box">
                    <div class="type-item__box--top">
                      <input
                        type="radio"
                        id="msw-radio"
                        value="MSW"
                        (change)="updateTypeSelected($event)"
                        formControlName="reasonTypeRadio"
                      />
                      <label
                        for="msw-radio"
                        class="type-text"
                      >
                        C1 Loan Agreement (MSW)
                      </label>
                      <div class="type__info">
                        <button
                          type="button"
                          class="btn btn-link"
                          aria-controls="msw_collapse"
                          [ngbTooltip]="mswContent"
                          #mswTooltip="ngbTooltip"
                          (click)="toggleToolTip(mswTooltip)"                          
                          triggers="manual"
                          tooltipClass="info-tooltip"
                          placement="{{ tooltipPosition }}"
                        >
                          <i class="info-icon" aria-hidden="true"></i>
                          <span class="sr-only">
                            Click for more information
                          </span>
                        </button>
                        <ng-template #mswContent>
                          Loans and Line of Credit from Lending Institutions, including copies of loan agreements.          
                        </ng-template>                      
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>                  
        </div>
      </section>
      <footer>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12 text-center">
              <div class="forms__btn-container">
                <button
                  class="btn btn-default btn-left"
                  type="button"
                  (click)="cancel()"
                >
                  Cancel
                </button>
                <button
                  class="btn btn-primary btn-right"
                  type="submit"
                >
                  Next
                </button>
              </div>
          </div>
        </div>        
      </footer>
    </form>
  </div> <!-- ./form__type -->
</div> <!-- ./form__type-container -->
