
/**
 * Standard screen sizes for desktop and mobile devices.
 */
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1399px;
$screen-lg-min: 1400px;

$mainFontFamily: 'Lato', sans-serif;


$sideBarWidth: 275px;
$topNavHeight: 60px;
$mainContentHeight: 75vh;

$footerMobileHeight: 160px;
$footerDesktopHeight: 80px;
$footerContactInfoWidth: 80%;
$footerLegalDisclaimerWidth: 18%;


