// FEC Colors
$alto: #D8D8D8; // gray
$iron: #D6D7D9;
$bombay: #AEB0B5; // middle gray
$dustyGray: #9B9B9B; // dark gray
$shuttleGray: #5B616B; //really dark gray
$mercury: #E6E6E6; // really light gray

$blueZodiac: #112E51; // primary blue
$horizon: #5F82A4; // secondary blue
$pelorous: #35BDBB; // light green
$dodgerBlue: #30B9FB;

$primaryBlue: $blueZodiac;
$secondaryBlue: $horizon;

$white: #fff;
$black: #000;
$red: #f00;

$silverChalice: #AAAAAA;
