// FEC Colors
$blueZodiac: #112E51; // primary blue
$horizon: #5F82A4; // secondary blue
$alto: #D8D8D8; // gray
$dustyGray: #9B9B9B; // dark gray


$white: #fff;
$black: #000;
$red: #f00;

$primaryBlue: $blueZodiac;
$secondaryBlue: $horizon;
