// FEC Colors
$alto: #D8D8D8; // gray
$iron: #D6D7D9;
$bombay: #AEB0B5; // middle gray
$dustyGray: #9B9B9B; // dark gray
$shuttleGray: #5B616B; //really dark gray
$mercury: #E6E6E6; // really light gray
$ghost: #ced4da; // light gray
$seaShell: #F1F1F1; // really light gray, almost like white

$pictonBlue: #39B9F7; // really light blue for links
$blueZodiac: #112E51; // primary blue
$horizon: #5F82A4; // secondary blue
$pelorous: #35BDBB; // light green
$dodgerBlue: #30B9FB; // light blue
$spindle: #B4DAEC; // really light blue
$crusta: #F77B42; // orange
$mineShaft: #212121;


$primaryBlue: $blueZodiac;
$secondaryBlue: $horizon;

$white: #fff;
$black: #000;
$red: #f00;
$fecRed: #CA1A0F;

$silverChalice: #AAAAAA;






