
/**
 * Standard screen sizes for desktop and mobile devices.
 */
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$mainFontFamily: 'Karla';
$titleFontFamily: 'Gandhi Serif Regular';
$labelFontFamily: 'Gandhi Serif Bold';
$committeeInfoFontFamily: 'Gandhi Serif Regular';

$sideBarWidth: 275px;
$topNavHeight: 60px;
$mainContentHeight: 75vh;


