
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';
@import '../../../../node_modules/bootstrap/scss/grid';
@import '../../../../node_modules/bootstrap/scss/dropdown';
@import '../../../../node_modules/bootstrap/scss/tooltip';
@import '../../../../node_modules/bootstrap/scss/card';
@import '../../../../node_modules/bootstrap/scss/nav';
@import '../../../../node_modules/bootstrap/scss/navbar';
@import '../../../../node_modules/bootstrap/scss/modal';
@import '../../../../node_modules/bootstrap/scss/utilities';
@import '../../../../node_modules/bootstrap/scss/forms';
@import '../../../../node_modules/bootstrap/scss/input-group';
@import '../../../../node_modules/bootstrap/scss/progress';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap&subset=latin-ext');



@import '../../../../node_modules/@ng-select/ng-select/scss/default.theme.scss';

@import './custom-variables';
@import './custom-colors';
@import './custom-mixins';
@import './custom-classes';

/**
 * Setting fonts for site.
 */
input,
textarea,
select,
button,
nav,
li,
ol,
p {
  font-family: $mainFontFamily;
 }


 .h1 {
  font-family: 'Lato','sans-serif';
font-size: 2rem;
  color: #212121;
  font-weight: 700;
}
.h2 {
  font-family: 'Lato','sans-serif';
  font-size: 2.8rem;
  color: #212121;
  font-weight: 700;
}

.h3 {
  font-family: 'Lato','sans-serif';
  font-size: 2.5rem;
  font-weight: 700;
}
.h4 {
  font-family: 'Lato','sans-serif';
  font-size: 2.3rem;
  font-weight: 700;
}
.h5 {
  font-family: 'Lato','sans-serif';
  font-size: 1rem;
  font-weight: 700;
  color: #212121
}

.label {
  font-family: 'Lato','sans-serif';
  font-size: 1rem;
  font-weight: 400;
  color: #212121;
}

.subtitle {
  font-family: 'Lato','sans-serif';
  font-size: 1.1rem;
  font-weight: 400;
  color: #212121;
}

.subtitle-indv {
  font-family: 'Lato','sans-serif';
  font-size: 1.1rem;
  font-weight: 400;
  color: #212121;
  margin-bottom: 20px;
}

.paragraph {
  font-family: 'Lato', 'sans-serif';
  font-size: 1rem;
  font-weight: 400;
  color: #212121;
}

.h2a {
  font-family: 'Lato','sans-serif';
  font-size: 2.8rem;
  font-weight:200;
  color: #212121;
}
.h2b {
  font-family: 'Lato','sans-serif';
  font-size: 2.8rem;
  font-weight:300;
  color: #212121;
}

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #e9ecef;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

input.searchHighlight{
  border: 3px solid #73b8f9;
}

