.import_done_contacts__container {
  .import_done_contacts__complete {
    padding: 4% 25%;
    text-align: center;
    font-size: 26px;
  }
  .import_done_contacts__spinner_container_outer {
    padding-top: 2em;
    .import_done_contacts__spinner_container {
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 200px;
    }
  }
}
