<div class="financial-summary-container">
     <header class="header-content">
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--6">
            <h1>&nbsp;&nbsp;Financial Summary</h1>
          </div>
         <div class="grid-row__col grid-row__col--12 text-right">
            <div class="float-right"   ngbDropdown role="group" aria-label="Action dropdown">
              <button
                type="button"
                class="btn btn-link btn-options"
                id="actionsMenu"
                ngbDropdownToggle
              >
                <span class="ellipsis-icon" aria-hidden="true"></span>
                <span class="sr-only">Click for more options</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="actionsMenu">
                <button class="dropdown-item" (click)="printPreview()"><i class="print-icon"></i> Print</button>
                <button class="dropdown-item"><i class="file-import-icon" (click)="ImportTransactions()"></i> Import</button>
               </div>
            </div>
          </div>
        </div>
        <hr />
      </header>
      
  <section>
    <div class="financial-summary-content">
      <div class="row" *ngIf="formType === '3X'">
        <div class="col text-center">
          <button
            type="button"
            (click)="viewMode = 'tab1'"
            [ngClass]="viewMode === 'tab1' ? 'btn btn-block btn-primary' : 'btn btn-block btn-link btn-secondary-gray'"
          >
            <h2>Total Raised

            </h2>
          </button>
        </div>
        <div class="col text-center">
          <button
            type="button"
            (click)="viewMode = 'tab2'"
            [ngClass]="viewMode === 'tab2' ? 'btn btn-block btn-primary' : 'btn btn-block btn-secondary-gray'"
          >
          <h2>Total Spent     
          </h2>
          </button>
        </div>
        <div class="col text-center">
          <button
            type="button"
            (click)="viewMode = 'tab3'"
            [ngClass]="viewMode === 'tab3' ? 'btn btn-block btn-primary' : 'btn btn-block btn-secondary-gray'"
          >
        <h2> Summary

        </h2>
          </button>
        </div>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="grid-row__col grid-row__col-- text-right">
          <div *ngIf ="viewMode === 'tab1'">
          <button
            type="button"
            class="btn btn-secondary-gray btn-left"
            (click)="viewTransactions('receipts')"
          >
           {{viewTransactionsBtnLabel}}
          </button>
        </div>
         <div *ngIf ="viewMode === 'tab2'">
          <button
            type="button"
            class="btn btn-secondary-gray btn-left"
            (click)="viewTransactions('disbursements')"
          >
           Browse Disbursements
          </button>
        </div>      
      </div>
      </div>
      <div class="row">
      <div class="tab-container" [ngSwitch]="viewMode">
        <div id="tab1" *ngSwitchDefault>
          <table class="summary_table_text" *ngIf="formType === '3X'">
            <thead>
              <tr  >
                  <th width=50% class="summary_text_amt">&nbsp;</th>
                  <th width=25% class="summary_text_amt"><h3>Total This Period</h3></th>
                  <th width=25% class="summary_text_amt"><h3>Calendar Year-to-Date</h3></th>
              </tr>
            </thead>
            <tbody *ngIf="tab1Data" class="summary_text">
                <tr *ngFor="let row of tab1Data.period_receipts"  >
                  <td>
                    <div *ngIf=" row.level === 1 " id="level_1" class="summary_text_level_1" >
                        {{ row.description }}
                        <button type="button" class="btn-info " ngbTooltip="Represents the total receipts. 
                        Calculated by adding total contributions, transfers, loans received, loan repayments 
                        received, offsets to operating expenditures, refunds, other federal receipts, and
                        transfers from non-federal and Levin accounts.">
                          <i class="info-icon" aria-hidden="true"></i>
                          <span class="sr-only">
                            Click for more information
                          </span>
                        </button>
                    </div>
                    <div *ngIf=" row.level === 2 " id="level_2" class="summary_text_level_2" >
                        {{ row.description }}
                    </div>
                    <div *ngIf=" row.level === 3 " id="level_3" class="summary_text_level_3" >
                        {{ row.description }}
                    </div>
                    <div *ngIf=" row.level === 4 " id="level_4" class="summary_text_level_4" >
                        {{ row.description }}
                    </div>
                  </td>
                  <td>
                    <div *ngIf=" row.level === 1 "  class="summary_text_amt_level_1" >
                        <a href="javascript:void(0);" (click)="viewTransactions()">{{ row.amt | currency:'USD':'symbol-narrow':'1.2-2'}}</a>
                    </div>
                    <div *ngIf=" row.level === 2 "  class="summary_text_amt_level_2" >
                        <a  href="javascript:void(0);" (click)="viewTransactions()">{{ row.amt | currency:'USD':'symbol-narrow':'1.2-2'}}</a>                  
                      </div>
                    <div *ngIf=" row.level === 3 "  class="summary_text_amt_level_3" >
                        <a  href="javascript:void(0);" (click)="viewTransactions()">{{ row.amt | currency:'USD':'symbol-narrow':'1.2-2'}}</a>                  
                      </div>
                    <div *ngIf=" row.level === 4 "  class="summary_text_amt_level_4" >
                        <a  href="javascript:void(0);" (click)="viewTransactions()">{{ row.amt | currency:'USD':'symbol-narrow':'1.2-2'}}</a>                  
                      </div>                  
                  </td>  
                  <td>
                      <div *ngIf=" row.level === 1 "  class="summary_text_amt_level_1" >
                          {{ row.amt_ytd | currency:'USD':'symbol-narrow':'1.2-2'}}
                      </div>
                      <div *ngIf=" row.level === 2 "  class="summary_text_amt_level_2" >
                          {{ row.amt_ytd | currency:'USD':'symbol-narrow':'1.2-2'}}
                      </div>
                      <div *ngIf=" row.level === 3 "  class="summary_text_amt_level_3" >
                          {{ row.amt_ytd | currency:'USD':'symbol-narrow':'1.2-2'}}
                      </div>
                      <div *ngIf=" row.level === 4 "  class="summary_text_amt_level_4" >
                          {{ row.amt_ytd | currency:'USD':'symbol-narrow':'1.2-2'}}
                      </div>                          
                  </td>  
               </tr>
            </tbody>
          </table>
          <table class="summary_table_text" *ngIf="formType === '3L'">
            <thead>
              <tr  >
                <th width=50% class="summary_text_amt">&nbsp;</th>
                <th width=25% class="summary_text_amt"><h3>Total This Period</h3></th>
              </tr>
            </thead>
            <tbody *ngIf="tab1Data" class="summary_text">
                <tr>
                  <td>
                    <div class="summary_text_level_1" >
                      Quarterly/Monthly/ Pre-election or Post Election Covered Period
                    </div>
                  </td>
                  <td>
                    <div class="summary_text_amt_level_1" >
                        {{tab1Data.quarterly_monthly_total | currency:'USD':'symbol-narrow':'1.2-2'}}
                    </div>
                  </td>  
               </tr>
               <tr>
                <td>
                  <div class="summary_text_level_1" >
                    Semi-Annual Covered Period Amount
                  </div>
                </td>
                <td>
                  <div class="summary_text_amt_level_1" >
                    {{tab1Data.semi_annual_total | currency:'USD':'symbol-narrow':'1.2-2'}}
                  </div>
                </td>  
             </tr>
            </tbody>
          </table>
        </div>
        <div id="tab2" *ngSwitchCase="'tab2'">
          <table class="summary_table_text" cellspacing="0" cellpadding="0">
            <thead>
              <tr  >
                <th width=50% class="summary_text_amt">&nbsp;</th>
                <th width=25% class="summary_text_amt"><h3>Total This Period</h3></th>
                <th width=25% class="summary_text_amt"><h3>Calendar Year-to-Date</h3></th>
             </tr>
            </thead>
            <tbody *ngIf="tab1Data" class="summary_text">
                <tr *ngFor="let row of tab2Data.period_disbursements"  >
                  <td>
                    <div *ngIf=" row.level === 1 " id="level_1" class="summary_text_level_1" >
                        {{ row.description }}
                        <button type="button" class="btn-info " ngbTooltip="Represents the total disbursements. 
                        Calculated by adding total operating expenditures, transfers, contributions to federal 
                        candidates/committees, independent expenditures, coordinated party expenditures, loan repayments 
                        made, loans made, refunds, other disbursements, and federal election activity.">
                          <i class="info-icon" aria-hidden="true"></i>

                          <span class="sr-only">
                            Click for more information
                          </span>
                        </button>
                    </div>
                    <div *ngIf=" row.level === 2 " id="level_2" class="summary_text_level_2" >
                        {{ row.description }}
                    </div>
                    <div *ngIf=" row.level === 3 " id="level_3" class="summary_text_level_3" >
                        {{ row.description }}
                    </div>
                    <div *ngIf=" row.level === 4 " id="level_4" class="summary_text_level_4" >
                        {{ row.description }}
                    </div>
                  </td>
                  <td>
                      <div *ngIf=" row.level === 1 "  class="summary_text_amt_level_1" >
                          <a href="javascript:void(0);" (click)="viewTransactions()">{{ row.amt | currency:'USD':'symbol-narrow':'1.2-2'}}</a>
                      </div>
                      <div *ngIf=" row.level === 2 "  class="summary_text_amt_level_2" >
                          <a  href="javascript:void(0);" (click)="viewTransactions()">{{ row.amt | currency:'USD':'symbol-narrow':'1.2-2'}}</a>                  
                        </div>
                      <div *ngIf=" row.level === 3 "  class="summary_text_amt_level_3" >
                          <a  href="javascript:void(0);" (click)="viewTransactions()">{{ row.amt | currency:'USD':'symbol-narrow':'1.2-2'}}</a>                  
                        </div>
                      <div *ngIf=" row.level === 4 "  class="summary_text_amt_level_4" >
                          <a  href="javascript:void(0);" (click)="viewTransactions()">{{ row.amt | currency:'USD':'symbol-narrow':'1.2-2'}}</a>                  
                        </div>                  
                  </td>  
                  <td>
                      <div *ngIf=" row.level === 1 "  class="summary_text_amt_level_1" >
                          {{ row.amt_ytd | currency:'USD':'symbol-narrow':'1.2-2'}}
                      </div>
                      <div *ngIf=" row.level === 2 "  class="summary_text_amt_level_2" >
                          {{ row.amt_ytd | currency:'USD':'symbol-narrow':'1.2-2'}}
                      </div>
                      <div *ngIf=" row.level === 3 "  class="summary_text_amt_level_3" >
                          {{ row.amt_ytd | currency:'USD':'symbol-narrow':'1.2-2'}}
                      </div>
                      <div *ngIf=" row.level === 4 "  class="summary_text_amt_level_4" >
                          {{ row.amt_ytd | currency:'USD':'symbol-narrow':'1.2-2'}}
                      </div>                          
                  </td>  
               </tr>
            </tbody>
          </table>
        </div>
        <div id="tab3" *ngSwitchCase="'tab3'">
          <table class="summary_table_text">            
              <tbody *ngIf="tab3Data" class="summary_text">
                  <tr>
                      <td>
                          <div class="summary_text_level_1 summary_bg_color_gray_blue">Cash on Hand as of January 1</div>
                          <div class="summary_text_level_1 summary_bg_color_gray_blue">Beginning Cash on Hand</div>
                          <div class="summary_text_level_1 summary_bg_color_gray_blue">Ending Cash on Hand</div>
                          <div class="summary_text_level_1 summary_bg_color_white"></div>
                          <div class="summary_text_level_1 summary_bg_color_gray_blue">Debts/Loans Owed to Committee</div>
                          <div class="summary_text_level_1 summary_bg_color_gray_blue">Debts/Loans Owed by Committee</div>
                      </td>
  
                      <td>
                        <div id="level_1" class="summary_text_amt_level_3" >
                            {{ tab3Data['COH AS OF JANUARY 1'] | currency:'USD':'symbol-narrow':'1.2-2' }}
                        </div>
                        <div id="level_2" class="summary_text_amt_level_3" >
                            {{ tab3Data['BEGINNING CASH ON HAND'] | currency:'USD':'symbol-narrow':'1.2-2' }}
                        </div>
                        <div id="level_3" class="summary_text_amt_level_3" >
                            {{ tab3Data['ENDING CASH ON HAND'] | currency:'USD':'symbol-narrow':'1.2-2' }}
                        </div>
                        <div class="summary_text_level_1 summary_bg_color_white text-right"><b>Total This Period</b></div>
                        <div class="summary_text_level_1 summary_bg_color_gray_blue text-right">{{ tab3Data['DEBTS/LOANS OWED TO COMMITTEE'] | currency:'USD':'symbol-narrow':'1.2-2' }}</div>
                        <div class="summary_text_level_1 summary_bg_color_gray_blue text-right">{{ tab3Data['DEBTS/LOANS OWED BY COMMITTEE'] | currency:'USD':'symbol-narrow':'1.2-2' }}</div>                      
                      </td>                    

                  </tr>                  
              </tbody>
          </table>
        </div>
      </div>
      </div>  
    </div>
  </section>
  <footer>
        <div class="grid-row" *ngIf="formType === '3X'">
            <div class="grid-row__col grid-row__col--12">
            <div class="forms__btn-container">
                   <button id="extended_summary" class="btn btn-previous btn-right" type="button" (click)="expanded_Summary()">
                    Extended Summary
                  </button>
                  <!--<button id="all_transactions" class="btn btn-previous btn-right" type="button" (click)="all_Transactions()">
                      All Transactions
                  </button>-->
            </div>
            </div>
        </div>
  </footer> 
</div>
