<div class="">
  <header>
    <h3 class="text-center">Select Election Year Type</h3>
    <hr />
    
  </header>
  <div class="sidebar-body pb-1" style="padding: 0 1.25em;">
    <div class="sidebar-item">
      <label for="electionYearType">
        Election Year Type
        <button type="button" class="btn-info" ngbTooltip="Language will be provided by RAD">
          <i class="info-icon" aria-hidden="true"></i>
          <span class="sr-only">
            Click for more information
          </span>
        </button>
      </label>
      <select class="form-control" (change)="selectElectionYearTypeChange($event)">
        <option [value]="'election-year'">Election Year</option>
        <option [value]="'non-election-year'">Non-Election Year</option>
      </select>
    </div>
  </div>
  <hr>
</div>

<div class="report-type-sidebar">
  <header>
    <h3 class="text-center">Report Coverage Dates</h3>
    <hr />
  </header>



  <section>
    <form class="sidebar-form-content" [formGroup]="frmReportSidebar">
      <div class="sidebar-body" style="padding: 0 1.25em;">
        <ng-container *ngIf="specialReports === true">
          <div class="sidebar-item">
            <label for="State">
              State*
              <button type="button" class="btn-info" ngbTooltip="Language will be provided by RAD">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">
                  Click for more information
                </span>
              </button>
            </label>
            <select formControlName = "state" id="state" name="state" class="form-control" (change)="selectStateChange($event)">
              <option
                *ngFor="let state of electionStates"
                [value]="state.state"
              >
                {{ state.state_description }}
              </option>
            </select>
          </div>
          <!-- <div class="sidebar-item" *ngIf="formType !== '3L'">
            <label for="electionDate">
              Election Date
              <button type="button" class="btn-info" ngbTooltip="Language will be provided by RAD">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">
                  Click for more information
                </span>
              </button>
            </label>
            <select
              formControlName = "election_date"
              id="electionDate"
              name="electionDate"
              class="form-control"
              (change)="selectElectionDateChange($event)"
              
            >
              <option value="0" [selected]="specialReports === true && (selectedElectionState === null || selectedElectionState === '0')">---</option>
              <option
                *ngFor="let dateSelected of electionDates"
                [attr.data-startdate]="dateSelected.cvg_start_date"
                [attr.data-enddate]="dateSelected.cvg_end_date"
                [attr.data-duedate]="dateSelected.due_date"
                
                [value]="dateSelected.election_date"
              >
                {{ dateSelected.election_date | date: 'MM/dd/yyyy' }}
              </option>
            </select>
          </div> -->
          <div class="sidebar-item" *ngIf="formType === '3L' || formType === '3X'">
              <label for="electionDate">
                Election Date*
                <button type="button" class="btn-info" ngbTooltip="Language will be provided by RAD">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">
                    Click for more information
                  </span>
                </button>
              </label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="election_date">
                    <i class="calendar-icon" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  formControlName = "election_date"
                  type="date"
                  name="txtElectionDate"
                  class="form-control"
                  id="electionDate"
                  [value]="electionDate"
                  (change)="selectElectionDateChange($event)"
                />
              </div>
            </div>
        </ng-container>
        <div class="sidebar-item">
          <label for="dateFrom"
            >Date From*
            <button type="button" class="btn-info" ngbTooltip="Language will be provided by RAD">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">
                Click for more information
              </span>
            </button>
          </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="dateFrom">
                <i class="calendar-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              formControlName = "fromDate"
              type="date"
              name="txtFromDate"
              class="form-control"
              id="fromDate"
              [value]="fromDate"
              (change)="fromDateChange($event.target.value)"
              
            />
          </div>
        </div>
        <div class="sidebar-item">
          <label for="dateTo">
            Date To*
            <button type="button" class="btn-info" ngbTooltip="Language will be provided by RAD">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">
                Click for more information
              </span>
            </button>
          </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="dateTo">
                <i class="calendar-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              formControlName = "toDate"
              type="date"
              name="txtToDate"
              class="form-control"
              id="toDate"
              [value]="toDate"
              (change)="toDateChange($event.target.value)"
            />
          </div>
        </div>
        <ng-container *ngIf="selectedReport && (selectedReport['semi-annual_dates'] || selectedReport['semi-annual_dates_optional'])">
          <div class="sidebar-item py-3">
            <label for="dateTo">
              Semi-annual Dates<span *ngIf="!selectedReport['semi-annual_dates_optional']">*</span>
              <button type="button" class="btn-info" ngbTooltip="Language will be provided by RAD">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">
                  Click for more information
                </span>
              </button>
            </label>
            <div class="input-group">
              <div class="py-2">
                <input formControlName="semiAnnualDatesOption"  id="firstHalf" type="radio" value="0" (change)="semiAnnualDateChange($event)"> 
                {{selectedReport['semi-annual_dates'][0].start_date | date : 'MM/dd/yyyy'}} - {{selectedReport['semi-annual_dates'][0].end_date | date : 'MM/dd/yyyy'}}
              </div>
              <div class="py-2">
                <input formControlName="semiAnnualDatesOption"  id="secondHalf" type="radio" value="1" (change)="semiAnnualDateChange($event)">
                {{selectedReport['semi-annual_dates'][1].start_date | date : 'MM/dd/yyyy'}} - {{selectedReport['semi-annual_dates'][1].end_date | date : 'MM/dd/yyyy'}}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </section>
  <!--<footer>
    <div class="form-sidebar__item">
      <div class="form-sidebar-item__text">
        Cash On Hand
      </div>
      <div class="form-sidebar-item__value">
        $0
      </div>
    </div>
    <div class="form-sidebar__btns">
      <div class="btn-row">
        <button type="button" class="btn btn-secondary-gray">
          Summary
        </button>
      </div>
      <div class="btn-row">
        <button type="button" class="btn btn-secondary">
          Sign &amp; Submit
        </button>
      </div>
    </div>
  </footer>-->
</div>
