<div class="form3X-reporttype-sidebar">
  <header>
    <h3 class="text-center">{{ title }}</h3>
    <hr />
  </header>
  <section><!-- Start: Wizard Sidebar Report Coverage Dates -->
    <form class="sidebar-form-content">
       <div class="form-row" *ngIf="(regularreports===true)">
 
        <div class="form-row">
          <label for="dateFrom">Date From* </label>
          <button
          type="button"
          class="btn-info"
          ngbTooltip="Language will be provided by RAD"
  
        >
          <i class="info-icon" aria-hidden="true"></i>
          <span class="sr-only">
            Click for more information
          </span>
        </button>
        </div>
        <div class="form-row">
          <i class="fas fa-calendar-alt"></i>
          <input type="date" 
          name="txttodate" 
          value=""
          class="form-control" 
          aria-label="Contribution Date"/>
        </div>
        <div class="form-row">
          <label for="dateTo">Date To* </label>
          <button
          type="button"
          class="btn-info"
          ngbTooltip="Language will be provided by RAD"
  
        >
          <i class="info-icon" aria-hidden="true"></i>
          <span class="sr-only">
            Click for more information
          </span>
        </button>
        </div>
        <div class="form-row">
          <i class="fas fa-calendar-alt"></i>
          <input type="date" 
          name="txtfromdate" 
          value=""
          class="form-control" 
          aria-label="Contribution Date">
        </div>
          
          <div class="form-row" *ngIf="cashOnHand?.showCashOnHand"> 
          <div class="form-sidebar-item__text">
            {{ cashOnHand.text }}
          </div>
          <div class="form-sidebar-item__value">
            ${{ cashOnHand.amount }}
          </div>
        </div>  
    </div> <!-- regular reports-->
    
    <div class="form-row" *ngIf="specialreports===true">
        <div class="form-row">
            <label for="State">State*</label>
            <button
        type="button"
        class="btn-info"
        ngbTooltip="Language will be provided by RAD"

      >
        <i class="info-icon" aria-hidden="true"></i>
        <span class="sr-only">
          Click for more information
        </span>
      </button>
        </div>

     <div class="form-row">
          <select id="state" [(ngModel)]="selectedElectionState" name="state" class="form-control" #electionState (change)="selectStateChange($event.target.value)">
          <option value="---">--- </option>
          <option *ngFor='let state of selectedreporttype.election_state' [value]="state.state">{{state.state_description}}</option>
         </select>
      </div>
      <div class="form-row">
        <label for="electionDate">
          Election Date
          <i class="fas fa-info-circle"></i>
        </label>
        <button
        type="button"
        class="btn-info"
        ngbTooltip="Language will be provided by RAD"

      >
        <i class="info-icon" aria-hidden="true"></i>
        <span class="sr-only">
          Click for more information
        </span>
      </button>
     
      </div>
      <div class="form-row">
          <select id="electiondate" name="electiondate" [(ngModel)]="selectedElectionDate" class="form-control" #electionDate (change)="selectElectionDateChange($event.target.value)">
              <option value="---">--- </option>
              <option *ngFor='let electionDate of electionDates.dates' [value]="electionDate.election_date">{{electionDate.election_date}}</option>
          </select> 
        
      </div>
      <div class="form-row">
        <label for="dateFrom">Date From* <i class="fas fa-info-circle"></i></label>
        <button
        type="button"
        class="btn-info"
        ngbTooltip="Language will be provided by RAD"

      >
        <i class="info-icon" aria-hidden="true"></i>
        <span class="sr-only">
          Click for more information
        </span>
      </button>
      </div>
      <div class="form-row">
        <i class="fas fa-calendar-alt"></i>
        <input type="date" 
        name="txttodate" 
        value=""
        class="form-control" 
        aria-label="Contribution Date"/>
      </div>
      <div class="form-row">
        <label for="dateTo">Date To* <i class="fas fa-info-circle"></i></label>
        <button
        type="button"
        class="btn-info"
        ngbTooltip="Language will be provided by RAD"

      >
        <i class="info-icon" aria-hidden="true"></i>
        <span class="sr-only">
          Click for more information
        </span>
      </button>
      </div>
      <div class="form-row">
        <i class="fas fa-calendar-alt"></i>
        <input type="date" 
        name="txtfromdate" 
        value=""
        class="form-control" 
        aria-label="Contribution Date">
      </div>
  
      <div class="form-row" *ngIf="cashOnHand?.showCashOnHand"> 
      <div class="form-sidebar-item__text">
        {{ cashOnHand.text }}
      </div>
      <div class="form-sidebar-item__value">
        ${{ cashOnHand.amount }}
      </div>
    </div>  
  </div> <!-- special reports-->
   <!-- buttons started here-->
    <div class="form-sidebar__btns">
    <div class="btn-row">
      <button
        type="button"
        class="btn btn-secondary-gray"
      >
        Summary
      </button>
    </div>
    <br />
    <div class="btn-row">
      <button
        type="button"
        class="btn btn-secondary"
      >
        Sign &amp; Submit
      </button>
    </div>
  </div>
    </form>
  </section>
</div>
