@import '../../../shared/scss/global';

.form3X-reporttype-sidebar {
  .sidebar-form-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .form-row {
      &:nth-child(even) {
        margin-bottom: 25px;
      }
    }
  }
}
