<div class="form-sidebar">
  <header>
    <h3 class="text-center transactions__filter-header">{{ title }}</h3>
  </header>
  <section>
    <div class="transactions__filter-sidebar-set">
      <div class="card" *ngIf="showTypeFilter">
        <div class="card-header transactions__filter-title" (click)="toggleTypeFilterItem()">
          Type
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideTypeFilter)">
          </i>          
        </div>
        <div class="card-body" 
          [@openCloseScroll]="determineScrollState()">            
          <div class="input-group py-1 transacions__filter-scroll-to-input">
            <input class="form-control" [(ngModel)]="filterCategoriesText" type="text" 
              placeholder="Search Type" aria-label="Search">
            <div class="input-group-append" (click)="scrollToType()">
              <span class="input-group-text">
                  <!-- <i class="search-icon text-grey" aria-hidden="true"></i> no longer working?-->
                  <i class="fas fa-search text-grey" aria-hidden="true"></i>
              </span>
            </div>              
          </div>            
          <div class="transactions__filter-type-list-body">
              <ul *ngFor="let categoryGroup of transactionCategories" class="transactions__filter-type-list">
                <li class="transactions__filter-type-group">{{ categoryGroup.text }}</li>
                <app-transactions-filter-type
                  [categoryType]="categoryType"
                  #categoryElements *ngFor="let categoryType of categoryGroup.options">
                </app-transactions-filter-type>
            </ul>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="showReportTypeFilter">
        <div class="card-header transactions__filter-title" (click)="toggleReportTypeFilterItem()">
          Report Type
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideReportTypeFilter)">
          </i>          
        </div>
        <div class="card-body" [@openCloseScroll]="!isHideReportTypeFilter ? 'open' : 'closed'">
          <div class="transactions__filter-type-list-body">
            <ul class="transactions__filter-type-list">
              <li *ngFor="let reportType of reportTpes">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="{{ reportType?.rpt_type }}" 
                    [(ngModel)]="reportType.selected">
                  <label class="form-check-label" for="{{ reportType?.rpt_type }}">
                    {{ reportType?.rpt_type }} - {{ reportType?.rpt_type_desc}}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="showDateFilter">
        <div class="card-header transactions__filter-title" (click)="toggleDateFilterItem()">
          Date
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideDateFilter)">
          </i>
        </div>
        <div class="card-body" [@openClose]="!isHideDateFilter ? 'open' : 'closed'">
          <div *ngIf="dateFilterValidation.isError" class="text-error text-center">
            {{ dateFilterValidation.message }}
          </div>
          <label for="filter-date-from">From</label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-from-date">
                  <i class="calendar-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="date"
              name="txtfromdate"
              [(ngModel)]="filterDateFrom"
              class="form-control"
              id="filter-date-from"
              aria-label="Filter From Date"
              aria-describedby="filter-from-date"
            >                        
          </div>
          <label for="filter-date-to">To</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-to-date">
                  <i class="calendar-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="date"
              name="txttodate"
              [(ngModel)]="filterDateTo"
              class="form-control"
              id="filter-date-to"
              aria-label="Filter To Date"
              aria-describedby="filter-to-date"
            >                        
          </div>          
        </div>
      </div>
      <div class="card" *ngIf="isRecycleBinViewActive()">
        <div class="card-header transactions__filter-title" (click)="toggleDeletedDateFilterItem()">
          Deleted Date
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideDeletedDateFilter)">
          </i>
        </div>
        <div class="card-body" [@openClose]="!isHideDeletedDateFilter ? 'open' : 'closed'">
          <div *ngIf="deletedDateFilterValidation.isError" class="text-error text-center">
            {{ deletedDateFilterValidation.message }}
          </div>
          <label for="filter-deleteted-date-from">From</label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-from-deleted-date">
                  <i class="calendar-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="date"
              name="txtFromDeletetedDate"
              [(ngModel)]="filterDeletedDateFrom"
              class="form-control"
              id="filter-deleted-date-from"
              aria-label="Filter From Deleted Date"
              aria-describedby="filter-from-deleted-date"
            >                        
          </div>
          <label for="filter-deleted-date-to">To</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-to-deleted-date">
                  <i class="calendar-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="date"
              name="txtToDeletedDate"
              [(ngModel)]="filterDeletedDateTo"
              class="form-control"
              id="filter-deleted-date-to"
              aria-label="Filter To Deleted Date"
              aria-describedby="filter-to-deleted-date"
            >                        
          </div>          
        </div>
      </div> 
      <div class="card" *ngIf="showAmountFilter">
        <div class="card-header transactions__filter-title" (click)="toggleAmountFilterItem()">
          Amount
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideAmountFilter)">
          </i>
        </div>
        <div class="card-body" [@openClose]="!isHideAmountFilter ? 'open' : 'closed'">
          <div *ngIf="amountFilterValidation.isError" class="text-error text-center">
            {{ amountFilterValidation.message }}
          </div>            
          <label for="filter-amount-min">Minimum</label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-amount-min">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              min="0" value="0"
              name="minamount"
              [(ngModel)]="filterAmountMin"
              class="form-control"
              id="filter-amount-min"
              aria-label="Filter Min Amount"
              aria-describedby="filter-min-amount"
            >                        
          </div>
          <label for="filter-amount-max">Maximum</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-max-amount">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              name="maxamount"
              min="0" value="0"
              [(ngModel)]="filterAmountMax"
              class="form-control"
              id="filter-amount-max"
              aria-label="Filter Max Amount"
              aria-describedby="filter-max-amount"
            >                        
          </div>          
        </div>
      </div>
      <div class="card" *ngIf="showPeriodAmountFilter">
        <div class="card-header transactions__filter-title" (click)="toggleAmountFilterItem()">
          Period Amount
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideAmountFilter)">
          </i>
        </div>
        <div class="card-body" [@openClose]="!isHideAmountFilter ? 'open' : 'closed'">
          <div *ngIf="amountFilterValidation.isError" class="text-error text-center">
            {{ amountFilterValidation.message }}
          </div>            
          <label for="filter-amount-min">Minimum</label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-amount-min">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              min="0" value="0"
              name="minamount"
              [(ngModel)]="filterAmountMin"
              class="form-control"
              id="filter-amount-min"
              aria-label="Filter Min Amount"
              aria-describedby="filter-min-amount"
            >                        
          </div>
          <label for="filter-amount-max">Maximum</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-max-amount">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              name="maxamount"
              min="0" value="0"
              [(ngModel)]="filterAmountMax"
              class="form-control"
              id="filter-amount-max"
              aria-label="Filter Max Amount"
              aria-describedby="filter-max-amount"
            >                        
          </div>          
        </div>
      </div>
      <div class="card" *ngIf="showSemiAnnualAmountFilter">
        <div class="card-header transactions__filter-title" (click)="toggleSemiAnnualAmountFilterItem()">
          Semi-Annual Amount
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideSemiAnnualAmountFilter)">
          </i>
        </div>
        <div class="card-body" [@openClose]="!isHideSemiAnnualAmountFilter ? 'open' : 'closed'">
          <div *ngIf="semiAnnualAmountFilterValidation.isError" class="text-error text-center">
            {{ semiAnnualAmountFilterValidation.message }}
          </div>            
          <label for="filter-amount-min">Minimum</label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-amount-min">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              min="0" value="0"
              name="minamount"
              [(ngModel)]="filterSemiAnnualAmountMin"
              class="form-control"
              id="filter-amount-min"
              aria-label="Filter Min Amount"
              aria-describedby="filter-min-amount"
            >                        
          </div>
          <label for="filter-amount-max">Maximum</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-max-amount">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              name="maxamount"
              min="0" value="0"
              [(ngModel)]="filterSemiAnnualAmountMax"
              class="form-control"
              id="filter-amount-max"
              aria-label="Filter Max Amount"
              aria-describedby="filter-max-amount"
            >                        
          </div>          
        </div>
      </div>
      <div class="card" *ngIf="showLoanAmountFilter">
        <div class="card-header transactions__filter-title" (click)="toggleAmountFilterItem()">
          Loan Amount (C)
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideAmountFilter)">
          </i>
        </div>
        <div class="card-body" [@openClose]="!isHideAmountFilter ? 'open' : 'closed'">
          <div *ngIf="amountFilterValidation.isError" class="text-error text-center">
            {{ amountFilterValidation.message }}
          </div>            
          <label for="filter-amount-min">Minimum</label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-amount-min">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              min="0" value="0"
              name="minamount"
              [(ngModel)]="filterLoanAmountMin"
              class="form-control"
              id="filter-amount-min"
              aria-label="Filter Min Amount"
              aria-describedby="filter-min-amount"
            >                        
          </div>
          <label for="filter-amount-max">Maximum</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-max-amount">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              name="maxamount"
              min="0" value="0"
              [(ngModel)]="filterLoanAmountMax"
              class="form-control"
              id="filter-amount-max"
              aria-label="Filter Max Amount"
              aria-describedby="filter-max-amount"
            >                        
          </div>          
        </div>
      </div>
      <div class="card" *ngIf="showBalanceAtCloseFilter">
        <div class="card-header transactions__filter-title" (click)="toggleBalanceAtCloseFilterItem()">
          Balance at Close (C & D)
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideloanClosingBalanceFilter)">
          </i>
        </div>
        <div class="card-body" [@openClose]="!isHideloanClosingBalanceFilter ? 'open' : 'closed'">
          <div *ngIf="loanClosingBalanceFilterValidation?.isError" class="text-error text-center">
            {{ loanClosingBalanceFilterValidation.message }}
          </div>            
          <label for="filter-amount-min">Minimum</label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-amount-min">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              min="0" value="0"
              name="minamount"
              [(ngModel)]="filterLoanClosingBalanceMin"
              class="form-control"
              id="filter-amount-min"
              aria-label="Filter Min Amount"
              aria-describedby="filter-min-amount"
            >                        
          </div>
          <label for="filter-amount-max">Maximum</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-max-amount">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              name="maxamount"
              min="0" value="0"
              [(ngModel)]="filterLoanClosingBalanceMax"
              class="form-control"
              id="filter-amount-max"
              aria-label="Filter Max Amount"
              aria-describedby="filter-max-amount"
            >                        
          </div>          
        </div>
      </div> 
      <div class="card" *ngIf="showBeginningBalanceFilter">
        <div class="card-header transactions__filter-title" (click)="toggleDebtBeginningBalanceFilterItem()">
          Beginning Balance (D)
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideDebtBeginningBalanceFilter)">
          </i>
        </div>
        <div class="card-body" [@openClose]="!isHideDebtBeginningBalanceFilter ? 'open' : 'closed'">
          <div *ngIf="debtBeginningBalanceFilterValidation?.isError" class="text-error text-center">
            {{ debtBeginningBalanceFilterValidation.message }}
          </div>            
          <label for="filter-amount-min">Minimum</label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-amount-min">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              min="0" value="0"
              name="minamount"
              [(ngModel)]="filterDebtBeginningBalanceMin"
              class="form-control"
              id="filter-amount-min"
              aria-label="Filter Min Amount"
              aria-describedby="filter-min-amount"
            >                        
          </div>
          <label for="filter-amount-max">Maximum</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-max-amount">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="number"
              name="maxamount"
              min="0" value="0"
              [(ngModel)]="filterDebtBeginningBalanceMax"
              class="form-control"
              id="filter-amount-max"
              aria-label="Filter Max Amount"
              aria-describedby="filter-max-amount"
            >                        
          </div>          
        </div>
      </div>
      <div class="card" *ngIf="showAggregateFilter">
          <div class="card-header transactions__filter-title" (click)="toggleAggregateAmountFilterItem()" *ngIf="transactionCategory === 'receipts'">
            Aggregate Amount
            <i class="float-right" aria-hidden="true" 
              [ngClass]="toggleFilterDirection(isHideAggregateAmountFilter)">
            </i>
          </div>
          <div class="card-body" [@openClose]="!isHideAggregateAmountFilter ? 'open' : 'closed'" *ngIf="transactionCategory === 'receipts'">
            <div *ngIf="aggregateAmountFilterValidation.isError" class="text-error text-center">
              {{ aggregateAmountFilterValidation.message }}
            </div>            
            <label for="filter-aggregate-amount-min">Minimum</label>
            <div class="input-group transactions__filter-multi-input">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">
                    <i class="dollar-sign-icon" aria-hidden="true"></i>
                </span>
              </div>
              <input
                type="number"
                min="0" value="0"
                name="minAggreateAmount"
                [(ngModel)]="filterAggregateAmountMin"
                class="form-control"
                id="filter-aggregate-amount-min"
                aria-label="Filter Min Aggregate Amount"
              >                        
            </div>
            <label for="filter-aggregate-amount-max">Maximum</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">
                    <i class="dollar-sign-icon" aria-hidden="true"></i>
                </span>
              </div>
              <input
                type="number"
                name="maxAggregateAmount"
                min="0" value="0"
                [(ngModel)]="filterAggregateAmountMax"
                class="form-control"
                id="filter-aggregate-amount-max"
                aria-label="Filter Max Aggregate Amount"
              >                        
            </div>          
          </div>
      </div> 
      <div class="card" *ngIf="showStateFilter">
        <div class="card-header transactions__filter-title" (click)="toggleStateFilterItem()">
          State
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideStateFilter)">
          </i>          
        </div>
        <div class="card-body" [@openCloseScroll]="!isHideStateFilter ? 'open' : 'closed'">
          <div class="transactions__filter-type-list-body">
            <ul class="transactions__filter-type-list">
              <li *ngFor="let state of states">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="{{ state?.code }}" 
                    [(ngModel)]="state.selected">
                  <label class="form-check-label" for="{{ state?.code }}">
                    {{ state?.code }} - {{ state?.name}}</label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="showMemoCodeFilter">
        <div class="card-header transactions__filter-title" (click)="toggleMemoFilterItem()">
          Memo Code
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideMemoFilter)">
          </i>           
        </div>
        <div class="card-body" [@openClose]="!isHideMemoFilter ? 'open' : 'closed'">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="memo_code" 
                  [(ngModel)]="filterMemoCode">
                <label class="form-check-label" for="memo_code">
                  Check to filter Transactions with Memo Code
                </label>
              </div>
        </div>
      </div> 
      <div class="card" *ngIf="showItemizationFilter">
        <div class="card-header transactions__filter-title" (click)="toggleItemizationFilterItem()">
          Itemization
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideItemizationFilter)">
          </i>          
        </div>
        <div class="card-body" [@openCloseScroll]="!isHideItemizationFilter ? 'open' : 'closed'">
          <div class="transactions__filter-type-list-body">
            <ul class="transactions__filter-type-list">
              <li *ngFor="let itemization of itemizations">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="{{ itemization?.itemized }}" 
                    [(ngModel)]="itemization.selected">
                  <label class="form-check-label" for="{{ itemization?.itemized }}">
                    {{ itemization?.itemized }} - {{ itemization?.itemization_desc}}</label>
                 </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="showElectionCodeFilter">
        <div class="card-header transactions__filter-title" (click)="toggleElectionCodeFilterItem()">
          Election Code
          <i class="float-right" aria-hidden="true" [ngClass]="toggleFilterDirection(isHideElectionCode)">
          </i>
        </div>
        <div class="card-body" [@openCloseScroll]="!isHideElectionCode ? 'open' : 'closed'">
          <div class="transactions__filter-type-list-body">
            <ul class="transactions__filter-type-list">
              <li *ngFor="let electionCode of electionCodes">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="{{ electionCode?.option }}" 
                    [(ngModel)]="electionCode.selected">
                  <label class="form-check-label" for="{{ electionCode?.selected }}">
                    {{electionCode.option | titlecase}}</label>
                 </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="showElectionYearFilter">
        <div class="card-header transactions__filter-title" (click)="toggleElectionYearFilterItem()">
          Election Year
          <i class="float-right" aria-hidden="true" [ngClass]="toggleFilterDirection(isHideElectionYear)">
          </i>
        </div>
        <div class="card-body" [@openClose]="!isHideElectionYear ? 'open' : 'closed'">
          <div *ngIf="yearFilterValidation.isError" class="text-error text-center">
            {{ yearFilterValidation.message }}
          </div>            
          <label for="filter-amount-min">From</label>
          <div class="input-group transactions__filter-multi-input">
            <input
              type="number"
              min="1901" value="1901"
              name="minamount"
              [(ngModel)]="filterElectionYearFrom"
              class="form-control"
              id="filter-amount-min"
              aria-label="Filter Min Amount"
              aria-describedby="filter-min-amount"
            >                        
          </div>
          <label for="filter-amount-max">To</label>
          <div class="input-group">
            <input
              type="number"
              name="maxamount"
              min="1901" value="1901"
              [(ngModel)]="filterElectionYearTo"
              class="form-control"
              id="filter-amount-max"
              aria-label="Filter Max Amount"
              aria-describedby="filter-max-amount"
            >                        
          </div>          
        </div>
      </div>
      <div class="card" *ngIf="showScheduleFilter">
        <div class="card-header transactions__filter-title" (click)="toggleScheduleFilterItem()">
          Schedule
          <i class="float-right" aria-hidden="true" [ngClass]="toggleFilterDirection(isHideScheduleFilter)">
          </i>
        </div>
        <div class="card-body" 
          [@openCloseScroll]="determineScrollState()">            
          <div class="input-group py-1 transacions__filter-scroll-to-input">
            <input class="form-control" [(ngModel)]="filterSchedule" type="text" 
              placeholder="Search Schedule" aria-label="Search">
            <div class="input-group-append">
              <span class="input-group-text">
                  <!-- <i class="search-icon text-grey" aria-hidden="true"></i> no longer working?-->
                  <i class="fas fa-search text-grey" aria-hidden="true"></i>
              </span>
            </div>              
          </div>
        </div>
      </div>
    </div> 
  </section>
  <footer>
    <div class="form-sidebar__btns">
      <div class="btn-row">
        <a
          class="btn btn-secondary-gray"
          (click)="clearAndApplyFilters()"
        >
          Clear Filters
        </a>
      </div>
      <div class="btn-row">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="applyFilters(false)"
        >
          Apply Filters
        </button>
      </div>
    </div>
  </footer>
</div>
