@import '../../shared/scss/global';

/* taken from f3x - is it all needed? */
.forms__wizard {
  display: table;
  table-layout: fixed;
  min-height: $mainContentHeight;
  margin: 0;
  padding: 0;
  width: 100%;
.form__sidebar {
  background-color: $bombay;
  flex-grow: 1;
  display: none;
  padding-left: 0;
  @include media(tablet) {
    display: none;
  }
  @include media(mediumDesktop) {
    display: table-cell;
    width: 250px;
  }
  @include media(largeDesktop) {
    display: table-cell;
    width: 250px;
  }
}
.form__container {
  display: table-cell;
  min-height: 100vh;
  width: 99%;
  @include media(tablet) {
    min-height: 100vh;
  }
  @include media(mediumDesktop) {
    margin-left: 5px;
    min-height: 100vh;
    width: 70%;
  }
  @include media(largeDesktop) {
    margin-left: 5px;
    min-height: 100vh;
    width: 76%;
  }
  section {
    .form-content {
      .options-list {
        list-style-type: none;
        .options-list__item {
          border-bottom: 1px solid $iron;
          border-top: 1px solid $iron;
          padding-bottom: 20px;
          padding-left: 10px;
          padding-top: 20px;
          &:nth-child(even) {
            background-color: $seaShell;
          }
        }
      }
    }
  }
  footer {
    div {
      margin-top: 15px;
    }
  }
} // .form__container
/* taken from f3x - is it all needed? end */

.transactions-container {
  .grid-row {
    margin-left: 0;
    margin-right: 0;
    .grid-row__col {
      padding-left: 0;
      padding-right: 0;
    }
  }
  header {
    .header-content {
      display: block;
      margin: 0 auto;
      width: 96%;
      @include clearfix();
      .btn-options {
        color: $shuttleGray;
        text-decoration: none;
        &:hover,
        &:visited,
        &:active {
          color: $shuttleGray;
          text-decoration: none;
        }
      }
    }
  }
  .forms__btn-container {
    height: 100%;
    margin-bottom: 10px;
  }

  .forms__trx-btn {
    margin: 5px;
    width: 10em;
  }

  .forms__trx-search {
    width: 27%;
    float: right;
    margin-right: 5px;
  }

  .forms__trx-applied-filter-row {
    min-height: 48px;
  }

  .forms__trx-table {
    width: 100%;
  }

  .forms__trx-table-checkbox {
    width: 3%;
  }

}
