<div class="transactions__main-container">

  <!-- <div *ngIf="routeData.accessedByRoute" class="form__sidebar">
    <transaction-sidebar
      [hidden]="isShowFilters"
      [step]="step"
      title="Transaction Categories new"
      [transactionCategories]="transactionCategories"
      (status)="onNotify($event)">
    </transaction-sidebar>
    <div class="transactions__sidebar_filters">
      <app-transactions-filter [hidden]="!isShowFilters" 
        title="Filters"
        [formType]="formType">
      </app-transactions-filter>
    </div>
  </div> -->



  <div class="transactions__container">
    <header>
      <div class="header-content">
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="float-left">
              <h1 *ngIf="!isEditViewActive(); else editHeading">
                <span *ngIf="!allTransactions">Form {{ formType }} / Transactions / {{transactionCategory | titlecase}}</span>
                <span *ngIf="allTransactions">All Transactions for All Reports / {{transactionCategory | titlecase}}</span>
                <span  *ngIf="isRecycleBinViewActive()">
                  / Recycling Bin
                  <span class="trash-icon"></span>
                </span>
              </h1>
              <ng-template #editHeading>
                <h1  *ngIf="isEditViewActive()">
                  <span>
                    Form {{ formType }} / {{ transactionToEdit.type }} / Edit
                  </span>
                </h1>
              </ng-template>
            </div>
            <div class="float-right">
              <button
                
                *ngIf="isShowFilters"
                class="btn btn-primary btn-right"
                type="submit"
                (click)="showCategories()"
                [hidden]="allTransactions === 'true'"
              >
                Return to Transaction Categories
              </button>
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="float-right" ngbDropdown role="group" aria-label="Action dropdown">
              <button type="button" class="btn btn-link btn-options" id="actionsMenu" ngbDropdownToggle>
                <span class="ellipsis-icon" aria-hidden="true"></span>
                <span class="sr-only">Click for more options</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="actionsMenu">
                <button class="dropdown-item" (click)="printPreview()"><i class="print-icon"></i> Print</button>
                <button class="dropdown-item"><i class="far fa-file-import"></i> Import</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </header>
    <div>
      <div *ngIf="!isEditViewActive()">
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="transactions__btn-container">
              <button
                
                *ngIf="isTransactionViewActive()"
                class="btn btn-primary btn-left transactions__trx-btn"
                type="button"
                (click)="showPinColumns()"
              >
                <i class="thumbtack-icon"></i>
                Pin Columns
              </button>
              <button
                
                *ngIf="isTransactionViewActive()"
                class="btn btn-primary btn-left transactions__trx-btn"
                type="button"
                (click)="showRecycleBin()"
              >
                <i class="trash-icon"></i>
                Recycle Bin
              </button>
              <button
                
                *ngIf="isTransactionViewActive() && !allTransactions"
                class="btn btn-primary btn-left transactions__trx-btn"
                type="button"
                (click)="showFilters()"
                [hidden] = "allTransactions === 'true'"
              >
                <i class="filter-icon"></i>
                Filter
              </button>
              <button
                
                *ngIf="isRecycleBinViewActive()"
                class="btn btn-primary btn-left transactions__trx-btn"
                type="button"
                (click)="showTransactions()"
              >
                <i class="table-icon"></i>
                Transactions
              </button>
              <button
                
                *ngIf="isRecycleBinViewActive() && !allTransactions"
                class="btn btn-primary btn-left transactions__trx-btn"
                type="button"
                (click)="showFilters()"
              >
                <i class="filter-icon"></i>
                Filter
              </button>
              <div class="input-group pl-0 transactions__trx-search">
                <div
                  class="input-group-append"
                  (click)="clearSearchAndFilters()"
                  ngbTooltip="Clear Keywords and Filters"
                  tooltipClass="form-tooltip"
                >
                  <span class="input-group-text" id="">
                    <i class="fas fa-eraser text-grey" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  class="form-control py-1"
                  type="text"
                  placeholder="Search All"
                  [(ngModel)]="searchText"
                  aria-label="Search"
                />
                <div class="input-group-append" (click)="search()" ngbTooltip="Search All" tooltipClass="form-tooltip">
                  <span class="input-group-text" id="">
                    <!-- <i class="search-icon text-grey" aria-hidden="true"></i> no longer working?-->
                    <i class="fas fa-search text-grey" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="transactions__btn-container">
              <div class="transactions__tag-outer-wrapper">
                <div id="button-container" class="transactions__tag_wrapper">
                  <div *ngFor="let tag of tagArray">
                    <div *ngIf="tag.group.length > 0" class="transactions__tag_group">
                      <span *ngFor="let gTag of tag.group; let i = index">
                        <button
                          class="btn transactions__tag_btn transactions__btn-search-filter"
                          (click)="removeTag(tag.type, i, gTag)"
                        >
                          <i class="fas fa-window-close transactions__close-tag"></i>
                          <span *ngIf="tag.type !== 'amount' && tag.type !== 'aggregateAmount' && tag.type !=='loanClosingBalance' &&
                          tag.type !== 'loanAmount' && tag.type !== 'date' && tag.type !== 'deletedDate' && tag.type !== 'electionYear'">
                            <span *ngIf="tag.prefix">{{ tag.prefix }}: </span>{{ gTag }}
                          </span>
                          <span *ngIf="tag.type === 'date'"
                            >{{ tag.prefix }}: {{ gTag.filterDateFrom | date: 'MM/dd/yyyy' }} -
                            {{ gTag.filterDateTo | date: 'MM/dd/yyyy' }}
                          </span>
                          <span *ngIf="tag.type === 'deletedDate'"
                            >{{ tag.prefix }}: {{ gTag.filterDeletedDateFrom | date: 'MM/dd/yyyy' }} -
                            {{ gTag.filterDeletedDateTo | date: 'MM/dd/yyyy' }}
                          </span>
                          <span *ngIf="tag.type === 'amount'"
                            >{{ tag.prefix }}: {{ gTag.filterAmountMin | currency: 'USD':'symbol-narrow':'1.2-2' }} -
                            {{ gTag.filterAmountMax | currency: 'USD':'symbol-narrow':'1.2-2' }}
                          </span>
                          <span *ngIf="tag.type === 'aggregateAmount'"
                            >{{ tag.prefix }}:
                            {{ gTag.filterAggregateAmountMin | currency: 'USD':'symbol-narrow':'1.2-2' }} -
                            {{ gTag.filterAggregateAmountMax | currency: 'USD':'symbol-narrow':'1.2-2' }}
                          </span>
                          <span *ngIf="tag.type === 'loanClosingBalance'"
                            >{{ tag.prefix }}:
                            {{ gTag.filterLoanClosingBalanceMin | currency: 'USD':'symbol-narrow':'1.2-2' }} -
                            {{ gTag.filterLoanClosingBalanceMax | currency: 'USD':'symbol-narrow':'1.2-2' }}
                          </span>
                          <span *ngIf="tag.type === 'loanAmount'"
                            >{{ tag.prefix }}:
                            {{ gTag.filterLoanAmountMin | currency: 'USD':'symbol-narrow':'1.2-2' }} -
                            {{ gTag.filterLoanAmountMax | currency: 'USD':'symbol-narrow':'1.2-2' }}
                          </span>
                          <span *ngIf="tag.type === 'electionYear'"
                            >{{ tag.prefix }}:
                            {{ gTag.filterElectionYearFrom }} -
                            {{ gTag.filterElectionYearTo }}
                          </span>
                        </button>
                        <span class="transactions__btn-search-filter-join" *ngIf="i < tag.group.length - 1">
                          or
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-transactions-table
        *ngIf="view === 'transactions'"
        formType="{{ formType }}"
        [routeData]="routeData"
        [reportId]="reportId"
        [tableType]="'transactions'"
      >
      </app-transactions-table>
      <app-transactions-table
        *ngIf="view === 'recycleBin'"
        formType="{{ formType }}"
        [routeData]="routeData"
        [reportId]="reportId"
        [tableType]="'recycleBin'"
      >
      </app-transactions-table>


      <!-- <f3x-individual-receipt *ngIf="showEditTransaction"
        [transactionTypeText]="'Test Child Component'"
        [transactionType]="'INDV_REC'"
        [scheduleAction]="'edit'"
      >
      </f3x-individual-receipt> -->

    </div>
  </div>
</div>
