@import '../../../shared/scss/global';

.form-sidebar {
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
  position: relative;
  .search-field {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    .search-icon {
      color: $shuttleGray;
      position: absolute;
      right: 30px;
      top: 10px;
      z-index: 1;
    }
    input[type='text'] {
      @include make-text-input(175px, 1.5em, 1em, 1em);
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }
  section {
    .transactions__search-filter {
      width: 97%;
    }
    .transactions__filter-sidebar-set {
      .card-body {
          z-index: 1;
      }
      .transactions__filter-multi-input {
        padding-bottom: 3px;
      }
    }    
    .card-header {
      background-color: $bombay;
      cursor: pointer;
      .up-arrow-icon:before, .down-arrow-icon:before{
        color: $white;
      } 
    }
    .transactions__filter-type-list-body {
      max-height: 150px !important; // override the amination 
      .transactions__filter-type-list {
        list-style-type: none;
        .form-check {
          padding-bottom: 15px;
        }
      }
    }
  }
  footer {
    background-color: $mineShaft;
    bottom: 0;
    position: relative;
    width: 100%;
    .form-sidebar__item {
      border-bottom: 1px solid $white;
      color: $white;
      height: 25px;
      line-height: 25px;
      padding-bottom: 10px;
      vertical-align: middle;
      .form-sidebar-item__text {
        color: $white;
        float: left;
        padding-left: 5px;
      }
      .form-sidebar-item__value {
        color: $white;
        float: right;
        padding-right: 8px;
      }
    }
    .form-sidebar__btns {
      padding-bottom: 10px;
      padding-top: 15px;
      text-align: center;
      .btn-row {
        padding-top: 15px;
      }
    }
  }
}
