<div class="form-sidebar">
  <header>
    <h3 class="text-center">{{ title }}</h3>
  </header>
  <section>
      <div class="mx-auto" style="width:97%">
        <div class="input-group py-1">
          <input class="form-control" type="text" placeholder="Search by Name, ID or Zip" aria-label="Search">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header transactions__filter-title" (click)="toggleTypeFilterItem()">
          Type
          <i class="fas float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideTypeFilter)">
          </i>          
        </div>
        <div class="card-body" [hidden]="isHideTypeFilter">
          <ul class="transactions__filter-type-list">
            <li *ngFor="let categoryType of transactionCategories">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span>
                    {{ categoryType?.text }}
                  </span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header transactions__filter-title" (click)="toggleDateFilterItem()">
          Date
          <i class="fas float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideDateFilter)">
          </i>
        </div>
        <div class="card-body" [hidden]="isHideDateFilter">
          <h5 class="card-title">Put Dates here</h5>
        </div>
      </div> 
      <div class="card">
        <div class="card-header transactions__filter-title" (click)="toggleAmountFilterItem()">
          Amount
          <i class="fas float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideAmountFilter)">
          </i>
        </div>
        <div class="card-body" [hidden]="isHideAmountFilter">
          <h5 class="card-title">Put Amount here</h5>
        </div>
      </div> 
      <div class="card">
        <div class="card-header transactions__filter-title" (click)="toggleStateFilterItem()">
          State
          <i class="fas float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideStateFilter)">
          </i>          
        </div>
        <div class="card-body" [hidden]="isHideStateFilter">
          <h5 class="card-title">Put State here</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-header transactions__filter-title" (click)="toggleMemoFilterItem()">
          Memo Code
          <i class="fas float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideMemoFilter)">
          </i>           
        </div>
        <div class="card-body" [hidden]="isHideMemoFilter">
          <h5 class="card-title">Put Memo Code here</h5>
          <h5 class="card-title">Put Memo Code here</h5>
          <h5 class="card-title">Put Memo Code here</h5>
          <h5 class="card-title">Put Memo Code here</h5>
          <h5 class="card-title">Put Memo Code here</h5>
          <h5 class="card-title">Put Memo Code here</h5>
        </div>
      </div>                      

    <!-- <ul class="form-sidebar__links" >
      <li class="form-sidebar-item">
        <div class="float-left transactions__filter-title">
          Type
        </div>  
        <div class="input-group pl-0 transactions__filter-search">
          <input class="form-control py-1" type="text" placeholder="Search by Transaction" aria-label="Search">
        </div>    
      </li>
      <li class="form-sidebar-item transactions__filter-title">
        <div class="float-left">
          Date
        </div>       
      </li>
      <li class="form-sidebar-item transactions__filter-title">
        <div class="float-left">
          Amount
        </div>       
      </li>
      <li class="form-sidebar-item transactions__filter-title">
        <div class="float-left">
          State
        </div>       
      </li>
      <li class="form-sidebar-item transactions__filter-title">
        <div class="float-left">
          Memo Code
        </div>       
      </li>                  
    </ul>     -->
  </section>
  <footer>
    <div class="form-sidebar__btns">
      <div class="btn-row">
        <a
          class="btn btn-secondary-gray"
        >
          Clear Filters
        </a>
      </div>
      <div class="btn-row">
        <button
          type="button"
          class="btn btn-secondary"
        >
          Apply Filters
        </button>
      </div>
    </div>
  </footer>
</div>
