@import '../../shared/scss/global';

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.sched-c1-container {
  padding-right: 10px;
  .row {
    margin-left: 0;
    margin-right: 0;
    .col-md-4,
    .col-lg-4 {
      flex: 0 0 28.33333333%;
      max-width: 28.33333333%;
    }
  }
  form {
    margin-bottom: 15px;
    header {
      .header-content {
        display: block;
        margin: 0 auto;
        width: 96%;
        h1 {
          font-family: sans-serif;
        }
        @include clearfix();
        .btn-options {
          color: $shuttleGray;
          text-decoration: none;
          &:hover,
          &:visited,
          &:active {
            color: $shuttleGray;
            text-decoration: none;
          }
        }
        .dropdown-toggle {
          &:after {
            display: none;
          }
        }
        .dropdown-menu {
          min-width: 0px !important;
          &.show {
            .dropdown-item {
              &:focus,
              &:hover,
              &:active,
              &:visited {
                background-color: $white;
                color: $black;
                cursor: pointer;
                outline: none;
              }
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      @include clearfix();
    }
    section {
      .section_b_label {
        float: left;
        padding-top: .4em;
      }
      .c1_verbiage_lg {
        font-size: 20px;
      }
      .c1_verbiage_sm {
        font-size: 16px;
      }
      .section_i_verbiage_container {
        padding-left: 1.5em;
      }
      .section_i_list_items {
        padding-left: 3em;
        padding-top: 0.5em;
      }
      .section_i_checkbox_container {
        padding: 0 1em 0 1.5em;
        .section_i_checkbox {
          -webkit-transform: scale(1.9);
          -ms-transform: scale(1.9);
          -moz-transform: scale(1.9);
          -webkit-transform: scale(1.9);
          -o-transform: scale(1.9);
          margin: 10px;
        }
      }
      .section_i_checkbox_verbiage {
        padding-top: 0.35em;
      }
      padding-top: 1em;
      .coord_expenditure_text {
        // padding-top: 3em;
        padding-bottom: 1em;
      }
      .content {
        min-height: 100vh;
        position: relative;
      }
      .row {
        margin-bottom: 20px;
        .forms__candidate-title {
          font-size: 1.25em;
          font-family: sans-serif;
          font-weight: bold;
        }
        .col {
          &.info-text {
            padding-top: 45px;
          }
          &.fieldset {
            font-size: 1.5rem;
            font-family: sans-serif;
            font-weight: bold;
          }
          &.childForm {
            padding-top: 30px;
          }
          label {
            display: block;
            padding-bottom: 0.75em;
          }
          textarea {
            &.form-control {
              resize:none;
              // overflow: scroll;
              width: 400px;
            }
          }
          .ng-select.forms__select ::ng-deep .ng-select-container  {            
            height: 45px;
          }
          .ng-select.disable-arrow .ng-arrow-wrapper .ng-arrow {
            display: none;
          }
          .forms__big_checkbox {
            -webkit-transform: scale(1.9);
            -ms-transform: scale(1.9); /* IE */
            -moz-transform: scale(1.9); /* FF */
            -webkit-transform: scale(1.9); /* Safari and Chrome */
            -o-transform: scale(1.9); /* Opera */
            margin: 10px;
          }
          .forms__big_radio {
            -webkit-transform: scale(2.9);
            -ms-transform: scale(2.9); /* IE */
            -moz-transform: scale(2.9); /* FF */
            -webkit-transform: scale(2.9); /* Safari and Chrome */
            -o-transform: scale(2.9); /* Opera */
            margin: 23px;
          }
          label {
            font-family: sans-serif;
            font-size: 1rem;
          }
          .input-group-prepend {
            .input-group-text {
              color: $blueZodiac;
            }
          }
          .ng-select.forms__select {
            &.forms__select-error {
              .ng-select-container {
                border: 1px solid $red;
              }
            }
            .ng-select-container {
              height: 45px;
            }
          }
          .ng-dropdown-panel {
            .ng-dropdown-panel-items {
              .ng-option {
                &.ng-option-marked {
                  background-color: $mercury;
                }
              }
            }
          }
        }
      }
      .forms__btn-container {
        margin: 0 auto;
        padding: 0;
        width: 80%;
        #jfMemoDropdown {
          &:after {
            display: none;
          }
        }
        #jfMemoDropdown {
          width: 16em;
        }
        #jfMemoDropdown-menu {
          min-width: 16em;
          left: 0 !important;
        }
        @include media(tablet) {
          margin: 0;
          padding: 0;
          width: 95%;
        }
        @include media(mediumDesktop) {
          width: 95%;
          .btn-right {
            margin-right: 20px;
          }
        }
        @include media(largeDesktop) {
          width: 95%;
          .btn-right {
            margin-right: 20px;
          }
        }
        @include clearfix();
      }
    }
  }

  footer {
    .forms__btn-container {
      margin: 0 auto;
      padding: 0;
      width: 80%;
      @include media(tablet) {
        margin: 0;
        padding: 0;
        width: 95%;
      }
      @include media(mediumDesktop) {
        width: 95%;
        .btn-right {
          margin-right: 20px;
        }
      }
      @include media(largeDesktop) {
        width: 95%;
        .btn-right {
          margin-right: 20px;
        }
      }
      @include clearfix();
    }
  }
}
