<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadItem(r)" [term]="t"></ngb-highlight>
</ng-template>
<div class="sched-c1-container">
  <form [formGroup]="c1Form">
    <header>
      <div class="header-content">
        <div class="float-left">
          <h2>
            Loans and Lines of Credit from Lending Institutions
            <ng-container *ngIf="sectionType && sectionType !== initialSection">
              - {{ formatSectionType() }} </ng-container>
            <ng-container *ngIf="scheduleAction === editScheduleAction"> / Edit </ng-container>
          </h2>
        </div>
        <div class="float-right" ngbDropdown>
          <button type="button" class="btn btn-link btn-options" id="dropdownBasic2" ngbDropdownToggle>
            <span class="ellipsis-icon" aria-hidden="true"></span>
            <span class="sr-only">Click for more options</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="printPreview()"><i class="print-icon"></i> Print</button>
            <button class="dropdown-item">
              <i class="file-import-icon" (click)="importTransactions()"></i> Import
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
    </header>

    <section *ngIf="sectionType === initialSection">
      <div class="row">
        <div class="col col-md-5">
          <div class="form-group">
            <label for="lending_institution">
              Lending Institution (Lender)
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </label>
            <input id="lending_institution" class="form-control" type="text" [formControlName]="'lending_institution'"
              [attr.name]="'lending_institution'" [attr.readonly]="true" [style.width]="'100%'" [style.height]="'30px'"
              [attr.maxlength]="'100'" [ngClass]="
                c1Form.get('lending_institution')?.invalid &&
                (c1Form.touched || c1Form.dirty)
                  ? 'input-field-error'
                  : ''
              " />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-5">
          <div class="form-group">
            <label for="mailing_address">
              Mailing Address
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </label>
            <input id="mailing_address" class="form-control" type="text" [formControlName]="'mailing_address'"
              [attr.name]="'mailing_address'" [attr.readonly]="true" [style.width]="'100%'" [style.height]="'30px'"
              [attr.maxlength]="'100'" [ngClass]="
                c1Form.get('mailing_address')?.invalid &&
                (c1Form.touched || c1Form.dirty)
                  ? 'input-field-error'
                  : ''
              " />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="form-group">
            <label for="city">
              City
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </label>
            <input class="form-control" id="city" type="text" [formControlName]="'city'" [attr.readonly]="true"
              [attr.maxlength]="'30'" [attr.name]="'city'" [style.width]="'66%'" [style.height]="'30px'" [ngClass]="
                c1Form.get('city')?.invalid &&
                (c1Form.touched || c1Form.dirty)
                  ? 'input-field-error'
                  : ''
              " />
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group" [style.width]="'235px'">
            <label for="state">
              State
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </label>
            <ng-select #stateSelect [items]="states" class="forms__select disable-arrow" [formControlName]="'state'"
              bindValue="state_code" bindLabel="state_code" [selectOnTab]="true" [ngClass]="
                c1Form.get('state')?.invalid &&
                (c1Form.touched || c1Form.dirty)
                  ? 'forms__select-error'
                  : ''
              ">
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                <span>{{ item.state_code + ' - ' + item.state_description }}</span>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label for="">
              Zip
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </label>
            <input class="form-control" type="text" [formControlName]="'zip'" [attr.name]="'zip'" [attr.readonly]="true"
              [style.width]="'33%'" [style.height]="'30px'" [attr.maxlength]="'9'" [ngClass]="
                c1Form.get('zip')?.invalid && (c1Form.touched || c1Form.dirty)
                  ? 'input-field-error'
                  : ''
              " />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="form-group">
            <label for="loan_amount">
              Original Loan Amount
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
                </span>
              </div>
              <input class="form-control" id="loan_amount" type="text" [formControlName]="'loan_amount'"
                [attr.name]="'loan_amount'" [style.width]="'66%'" [attr.readonly]="true" [style.height]="'30px'"
                [ngClass]="
                  c1Form.get('loan_amount')?.invalid &&
                  (c1Form.touched || c1Form.dirty)
                    ? 'input-field-error'
                    : ''
                " (blur)="handleOnBlurEvent($event, 'loan_amount')" />
            </div>
          </div>
        </div>
        <div class="col col-md-2">
          <div class="form-group">
            <label for="loan_intrest_rate">
              Interest Rate (APR)
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </label>
            <div class="input-group">
              <input class="form-control" id="loan_intrest_rate" type="text" 
                [formControlName]="'loan_intrest_rate'" [attr.name]="'loan_intrest_rate'" [attr.readonly]="true"
                [style.width]="'33%'" [style.height]="'30px'" [ngClass]="
                  c1Form.get('loan_intrest_rate')?.invalid &&
                  (c1Form.touched || c1Form.dirty)
                    ? 'input-field-error'
                    : ''
                " />
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="percent-icon" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="form-group">
            <label for="loan_incurred_date">
              Date Incurred
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="calendar-icon" aria-hidden="true"></i>
                </span>
              </div>
              <input class="form-control" id="loan_incurred_date" type="date" [formControlName]="'loan_incurred_date'"
                [attr.name]="'loan_incurred_date'" [attr.readonly]="true" [style.width]="'66%'" [style.height]="'30px'"
                [ngClass]="
                  c1Form.get('loan_incurred_date')?.invalid &&
                  (c1Form.touched || c1Form.dirty)
                    ? 'input-field-error'
                    : ''
                " />
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label for="loan_due_date">
              Due Date
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="calendar-icon" aria-hidden="true"></i>
                </span>
              </div>
              <input class="form-control" id="loan_due_date" type="date" [formControlName]="'loan_due_date'"
                [attr.name]="'loan_due_date'" [attr.readonly]="true" [style.width]="'66%'" [style.height]="'30px'"
                [ngClass]="
                  c1Form.get('loan_due_date')?.invalid &&
                  (c1Form.touched || c1Form.dirty)
                    ? 'input-field-error'
                    : ''
                " />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Please provide your paper Loan Agreement by filing Form 99 in the C1 Agreement.</p>
        </div>
      </div>
    </section>

    <section *ngIf="sectionType === sectionA">
      <div class="col coord_expenditure_text">
        <div class="c1_verbiage_lg ">Has this loan been restructured?
          <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD" tooltipClass="form-tooltip">
            <i class="info-icon" aria-hidden="true"></i>
            <span class="sr-only">Click here for more information</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-5">
          <div class="form-check form-check-inline">
            <label for="is_loan_restructured_y" [ngClass]="
              c1Form.get('is_loan_restructured')?.invalid &&
              (c1Form.touched)
                ? 'input-field-label-error'
                : ''
              ">
              <input id="is_loan_restructured_y" type="radio" formControlName="is_loan_restructured" value="Y" />
              Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label for="is_loan_restructured_n" [ngClass]="
              c1Form.get('is_loan_restructured')?.invalid &&
              (c1Form.touched)
                ? 'input-field-label-error'
                : ''
            ">
              <input id="is_loan_restructured_n" type="radio" formControlName="is_loan_restructured" value="N" />
              No
            </label>
          </div>

        </div>
      </div>
      <div class="row" *ngIf="c1Form?.get('is_loan_restructured')?.value === 'Y'">
        <div class="col col-md-4">
          <div class="form-group">
            <div class="c1_verbiage_lg pb-3">Original Date Incurred
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="calendar-icon" aria-hidden="true"></i>
                </span>
              </div>
              <input class="form-control" id="original_loan_date" type="date" [formControlName]="'original_loan_date'"
                [attr.name]="'original_loan_date'" [style.width]="'66%'" [style.height]="'30px'" [ngClass]="
                    c1Form.get('original_loan_date')?.invalid &&
                    (c1Form.touched || c1Form.dirty)
                      ? 'input-field-error'
                      : ''
                  " />
            </div>
          </div>
        </div>
      </div>

    </section>

    <section *ngIf="sectionType === sectionB">
      <div class="row">
        <div class="col col-md-5">
          <div class="form-group">
            <div for="credit_amount_this_draw" class="section_b_label c1_verbiage_lg">
              If this is a line of credit, the Amount of this draw is:
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input class="form-control" id="credit_amount_this_draw" type="text"
              [formControlName]="'credit_amount_this_draw'" [attr.name]="'credit_amount_this_draw'"
              [style.width]="'66%'" [style.height]="'30px'" [ngClass]="
                c1Form.get('credit_amount_this_draw')?.invalid &&
                (c1Form.touched)
                  ? 'input-field-error'
                  : ''
              " (blur)="handleOnBlurEvent($event, 'credit_amount_this_draw')" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-5">
          <div for="total_outstanding_balance" class="section_b_label c1_verbiage_lg">
            Total Outstanding Balance:
            <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input class="form-control" id="total_outstanding_balance" type="text"
              [formControlName]="'total_outstanding_balance'" [attr.name]="'total_outstanding_balance'"
              [style.width]="'66%'" [style.height]="'30px'" [ngClass]="
              c1Form.get('total_outstanding_balance')?.invalid &&
              (c1Form.touched)
                ? 'input-field-error'
                : ''" (blur)="handleOnBlurEvent($event, 'total_outstanding_balance')" />
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="sectionType === sectionC">
      <div class="row">
        <div class="col">
          <div class="c1_verbiage_lg">Are other parties secondarily liable for the debt incurred?
            <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-5">
          <div class="form-check form-check-inline">
            <label for="other_parties_liable_y" [ngClass]="
              c1Form.get('other_parties_liable')?.invalid &&
              (c1Form.touched)
                ? 'input-field-label-error'
                : ''
              ">
              <input id="other_parties_liable_y" type="radio" formControlName="other_parties_liable" value="Y" />
              Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label for="other_parties_liable_n" [ngClass]="
              c1Form.get('other_parties_liable')?.invalid &&
              (c1Form.touched)
                ? 'input-field-label-error'
                : ''
            ">
              <input id="other_parties_liable_n" type="radio" formControlName="other_parties_liable" value="N" />
              No
            </label>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="c1_verbiage_lg">(Endorsers and guarantors must be recorded on Schedule C)
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="sectionType === sectionD">
      <div class="row">
        <div class="col col-md-6">
          <div class="c1_verbiage_lg">Are any of the following pledged as collateral for the loan: real estate, personal
            property,
            goods, negotiable instruments, certificate of deposit, chattel papers, stocks, accounts receivable,
            cash on deposit, or other traditional collateral?
            <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-5">
          <div class="form-check form-check-inline">
            <label for="pledged_collateral_ind_y" [ngClass]="
              c1Form.get('pledged_collateral_ind')?.invalid &&
              (c1Form.touched)
                ? 'input-field-label-error'
                : ''
              ">
              <input id="pledged_collateral_ind_y" type="radio" formControlName="pledged_collateral_ind" value="Y" />
              Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label for="pledged_collateral_ind_n" [ngClass]="
              c1Form.get('pledged_collateral_ind')?.invalid &&
              (c1Form.touched)
                ? 'input-field-label-error'
                : ''
            ">
              <input id="pledged_collateral_ind_n" type="radio" formControlName="pledged_collateral_ind" value="N" />
              No
            </label>
          </div>

        </div>
      </div>
      <ng-container *ngIf="c1Form?.get('pledged_collateral_ind')?.value === 'Y'">
        <div class="row">
          <div class="col col-md-6">
            <div class="form-group">
              <textarea rows="5" placeholder="Explanation" class="form-control" [style.height]="'100%'"
                [style.width]="'100%'" [style.overflow]="''" [attr.name]="'pledge_collateral_desc'"
                [attr.maxlength]="'100'" [formControlName]="'pledge_collateral_desc'" [ngClass]="
                      c1Form.get('pledge_collateral_desc')?.invalid &&
                      (c1Form.touched)
                        ? 'input-field-error'
                        : ''
                    "></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-4">
            <div class="form-group">
              <div for="pledge_collateral_amount" class="section_b_label c1_verbiage_lg">
                What is the value of this collateral:
                <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                  tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-md-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
                </span>
              </div>
              <input class="form-control" id="pledge_collateral_amount" type="text"
                [formControlName]="'pledge_collateral_amount'" [attr.name]="'pledge_collateral_amount'"
                [style.width]="'70%'" [style.height]="'30px'" [ngClass]="
                      c1Form.get('pledge_collateral_amount')?.invalid &&
                      (c1Form.touched)
                        ? 'input-field-error'
                        : ''
                    " (blur)="handleOnBlurEvent($event, 'pledge_collateral_amount')" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-4">
            <div class="c1_verbiage_lg">Does the lender have a perfected security interest in it?
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </div>
          </div>
          <div class="col col-md-2">
            <div class="form-check form-check-inline">
              <label for="perfected_intrest_ind" [ngClass]="
                        c1Form.get('perfected_intrest_ind')?.invalid &&
                        (c1Form.touched)
                          ? 'input-field-label-error'
                          : ''
                        ">
                <input id="perfected_intrest_ind" type="radio" formControlName="perfected_intrest_ind" value="Y" />
                Yes
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label for="perfected_intrest_ind" [ngClass]="
                        c1Form.get('perfected_intrest_ind')?.invalid &&
                        (c1Form.touched)
                          ? 'input-field-label-error'
                          : ''
                      ">
                <input id="other_parties_liable_n" type="radio" formControlName="perfected_intrest_ind" value="N" />
                No
              </label>
            </div>
          </div>
        </div>

      </ng-container>
    </section>

    <section *ngIf="sectionType === sectionE">
      <div class="row">
        <div class="col">
          <div class="c1_verbiage_lg">Are any future contributions or future receipts of interest income,
            pledged as collateral for the loan?
            <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-check form-check-inline">
            <label for="future_income_ind_y" [ngClass]="
              c1Form.get('future_income_ind')?.invalid &&
              (c1Form.touched)
                ? 'input-field-label-error'
                : ''
              ">
              <input id="future_income_ind_y" type="radio" formControlName="future_income_ind" value="Y" />
              Yes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label for="future_income_ind_n" [ngClass]="
              c1Form.get('future_income_ind')?.invalid &&
              (c1Form.touched)
                ? 'input-field-label-error'
                : ''
            ">
              <input id="future_income_ind_n" type="radio" formControlName="future_income_ind" value="N" />
              No
            </label>
          </div>

        </div>
      </div>
      <ng-container *ngIf="c1Form?.get('future_income_ind')?.value === 'Y'">
        <div class="row pb-4">
          <div class="col col-md-9">
            <textarea class="form-control" rows="4" placeholder="Explanation" [style.height]="'100%'"
              [style.width]="'94%'" [attr.name]="'future_income_desc'" [attr.maxlength]="'100'"
              [formControlName]="'future_income_desc'" [ngClass]="
                      c1Form.get('future_income_desc')?.invalid &&
                      (c1Form.touched)
                        ? 'input-field-error'
                        : ''
                    "></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-4">
            <div class="form-group">
              <div for="future_income_estimate" class="c1_verbiage_lg">
                What is the estimated value:
                <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                  tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-md-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="dollar-sign-icon" aria-hidden="true"></i>
                </span>
              </div>
              <input class="form-control" id="future_income_estimate" type="text"
                [formControlName]="'future_income_estimate'" [attr.name]="'future_income_estimate'"
                [style.width]="'70%'" [style.height]="'30px'" [ngClass]="
                        c1Form.get('future_income_estimate')?.invalid &&
                        (c1Form.touched)
                          ? 'input-field-error'
                          : ''
                      " (blur)="handleOnBlurEvent($event, 'future_income_estimate')" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-4">
            <div class="row">
              <div class="c1_verbiage_lg">A depository account must be established pursuant to 11 CFR 100.82 (e)(2) and
                100.142(e)(2).</div>
            </div>
            <div class="row">
              <div class="form-group">
                <div for="depository_account_auth_date" class="c1_verbiage_lg pb-3">
                  Date Account Established:
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="calendar-icon" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input class="form-control" id="depository_account_auth_date" type="date"
                    [formControlName]="'depository_account_auth_date'" [attr.name]="'depository_account_auth_date'"
                    [style.width]="'66%'" [style.height]="'30px'" [ngClass]="
                              c1Form.get('depository_account_auth_date')?.invalid &&
                              (c1Form.touched || c1Form.dirty)
                                ? 'input-field-error'
                                : ''
                            " />
                </div>
              </div>
            </div>
          </div>
          <div class="col col-md-5">
            <div class="row">
              <div for="future_income_estimate" class="c1_verbiage_lg">
                Location of Account:
              </div>
              <input id="depository_account_location" class="form-control" type="text"
                [formControlName]="'depository_account_location'" [attr.maxlength]="'200'"
                [attr.name]="'depository_account_location'" [style.width]="'100%'" [style.height]="'30px'" [ngClass]="
                          c1Form.get('depository_account_location')?.invalid &&
                          (c1Form.touched || c1Form.dirty)
                            ? 'input-field-error'
                            : ''
                        " />
            </div>
            <div class="row">
              <div for="depository_account_street_1" class="c1_verbiage_lg">
                Street Address 1
              </div>
              <input id="depository_account_street_1" class="form-control" type="text"
                [formControlName]="'depository_account_street_1'" [attr.name]="'depository_account_street_1'"
                [attr.maxlength]="'34'" [style.width]="'100%'" [style.height]="'30px'" [ngClass]="
                        c1Form.get('depository_account_street_1')?.invalid &&
                        (c1Form.touched || c1Form.dirty)
                          ? 'input-field-error'
                          : ''
                      " />
            </div>
            <div class="row">
              <div for="depository_account_street_2" class="c1_verbiage_lg">
                Street Address 2
              </div>
              <input id="depository_account_street_2" class="form-control" type="text" [attr.maxlength]="'34'"
                [formControlName]="'depository_account_street_2'" [attr.name]="'depository_account_street_2'"
                [style.width]="'100%'" [style.height]="'30px'" [ngClass]="
                          c1Form.get('depository_account_street_2')?.invalid &&
                          (c1Form.touched || c1Form.dirty)
                            ? 'input-field-error'
                            : ''
                        " />
            </div>
            <div class="row">
              <div class="col col-md-6 px-0">
                <div for="depository_account_city" class="c1_verbiage_lg">
                  City
                </div>
                <input class="form-control" id="depository_account_city" type="text" [attr.maxlength]="'30'"
                  [formControlName]="'depository_account_city'" [attr.name]="'depository_account_city'"
                  [style.width]="'90%'" [style.height]="'30px'" [ngClass]="
                            c1Form.get('depository_account_city')?.invalid &&
                            (c1Form.touched || c1Form.dirty)
                              ? 'input-field-error'
                              : ''
                          " />
              </div>
              <div class="col col-md-2 pr-1">
                <div for="depository_account_state" class="c1_verbiage_lg">
                  State
                </div>
                <ng-select #stateSelect [items]="states" class="forms__select"
                  [formControlName]="'depository_account_state'" bindValue="state_code" bindLabel="state_code"
                  [ngStyle]="{width:'80px'}" [selectOnTab]="true" [ngClass]="
                              c1Form.get('depository_account_state')?.invalid &&
                              (c1Form.touched || c1Form.dirty)
                                ? 'forms__select-error'
                                : ''
                            ">
                  <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                    <span>{{ item.state_code}}</span>
                  </ng-template>
                </ng-select>
              </div>
              <div class="col col-md-3 pr-0">
                <div for="depository_account_zip" class="c1_verbiage_lg">
                  Zip
                </div>
                <input class="form-control" type="text" [formControlName]="'depository_account_zip'"
                  [attr.maxlength]="'9'" [attr.name]="'depository_account_zip'" [style.width]="'100%'"
                  [style.height]="'30px'" [ngClass]="
                              c1Form.get('depository_account_zip')?.invalid && (c1Form.touched || c1Form.dirty)
                                ? 'input-field-error'
                                : ''
                            " />
              </div>
            </div>
          </div>
        </div>

      </ng-container>
    </section>

    <section *ngIf="sectionType === sectionF">
      <div class="row">
        <div class="col col-md-6">
          <div class="c1_verbiage_lg">If neither of the types of collateral described above was pledged for this loan,
            or if the amount pledged does not equal or exceed the loan amount, state the basis
            upon which this loan was made and the basis on which it assures repayment.
            <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <textarea rows="6" [style.height]="'100%'" class="form-control" [style.width]="'100%'" [style.overflow]="''"
            [attr.name]="'basis_of_loan_desc'" [attr.maxlength]="'100'" [formControlName]="'basis_of_loan_desc'"
            [ngClass]="
              c1Form.get('basis_of_loan_desc')?.invalid &&
              (c1Form.touched)
                ? 'input-field-error'
                : ''
            "></textarea>
        </div>
      </div>
    </section>

    <section *ngIf="sectionType === sectionG">
      <div class="row">
        <div class="subtitle-indv">
          <div class="col col-md-12 fieldset">Committee Treasurer</div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="form-group">
            <label for="treasurer_last_name">
              Last Name
            </label>
            <input id="treasurer_last_name" class="form-control" type="text" [formControlName]="'treasurer_last_name'"
              [attr.maxlength]="'30'" [attr.name]="'treasurer_last_name'" [style.width]="'75%'" [style.height]="'30px'"
              [ngClass]="
                c1Form.get('treasurer_last_name')?.invalid &&
                (c1Form.touched)
                  ? 'input-field-error'
                  : ''
              " (selectItem)="handleSelectedIndividual($event)" id="typeahead-template-last-name"
              [ngbTypeahead]="searchLastName" [focusFirst]=false [resultTemplate]="rt"
              [inputFormatter]="formatterLastName" />
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label for="treasurer_first_name">
              First Name
            </label>
            <input id="treasurer_first_name" class="form-control" [attr.maxlength]="'20'" type="text"
              [formControlName]="'treasurer_first_name'" [attr.name]="'treasurer_first_name'" [style.width]="'75%'"
              [style.height]="'30px'" [ngClass]="
                c1Form.get('treasurer_first_name')?.invalid &&
                (c1Form.touched)
                  ? 'input-field-error'
                  : ''
              " (selectItem)="handleSelectedIndividual($event)" id="typeahead-template-first-name"
              [ngbTypeahead]="searchFirstName" [focusFirst]=false [resultTemplate]="rt"
              [inputFormatter]="formatterFirstName" />
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label for="treasurer_middle_name">
              Middle Name (Optional)
            </label>
            <input id="treasurer_middle_name" class="form-control" type="text" [attr.maxlength]="'20'"
              [formControlName]="'treasurer_middle_name'" [attr.name]="'treasurer_middle_name'" [style.width]="'75%'"
              [style.height]="'30px'" [ngClass]="
                c1Form.get('treasurer_middle_name')?.invalid &&
                (c1Form.touched)
                  ? 'input-field-error'
                  : ''
              " />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="form-group">
            <label for="treasurer_prefix">
              Prefix (Optional)
            </label>
            <input id="treasurer_prefix" class="form-control" type="text" [formControlName]="'treasurer_prefix'"
              [attr.name]="'treasurer_prefix'" [style.width]="'35%'" [style.height]="'30px'" [ngClass]="
                c1Form.get('treasurer_prefix')?.invalid &&
                (c1Form.touched)
                  ? 'input-field-error'
                  : ''
              " [attr.maxlength]="'10'" />
          </div>
        </div>
        <div class="col col-md-4">
          <div class="form-group">
            <label for="treasurer_suffix">
              Suffix (Optional)
            </label>
            <input id="treasurer_suffix" class="form-control" type="text" [formControlName]="'treasurer_suffix'"
              [attr.maxlength]="'10'" [attr.name]="'treasurer_suffix'" [style.width]="'35%'" [style.height]="'30px'"
              [ngClass]="
                c1Form.get('treasurer_suffix')?.invalid &&
                (c1Form.touched)
                  ? 'input-field-error'
                  : ''
              " />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="form-group">
            <label for="treasurer_signed_date">
              Date
              <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </div>
            </label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="calendar-icon" aria-hidden="true"></i>
                </span>
              </div>
              <input class="form-control" id="treasurer_signed_date" type="date"
                [formControlName]="'treasurer_signed_date'" [attr.name]="'treasurer_signed_date'" [style.width]="'66%'"
                [style.height]="'30px'" [ngClass]="
                  c1Form.get('treasurer_signed_date')?.invalid &&
                  (c1Form.touched)
                    ? 'input-field-error'
                    : ''
                " />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
    </section>

    <section *ngIf="sectionType === sectionH">
      <div class="row">
        <div class="col col-md-6">
          <div class="c1_verbiage_lg">
            Filers should submit their signed C-1 and Loan Agreement via Form 99, specifically by choosing the option
            for MS-W. The Form 99 provides the ability for the filer to upload their document as a PDF
            <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="sectionType === sectionI">
      <div class="row">
        <div class="col col-md-8 c1_verbiage_lg section_i_verbiage_container">
          <div>To be signed by the Lending Institution:
            <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </div>
          </div>
          <div class="section_i_list_items">
            <ul>
              <li>
                To the best of this institution's knowledge, the terms of the loan and other
                information regarding the extension of the loan are accurate as state above.
              </li>
              <li>
                The loan was made on terms and conditions (including interest rate) no more
                favorable at the time than those imposed for similar extensions of credit to
                other borrowers of comparable credit worthiness.
              </li>
              <li>
                This institution is aware of the requirement that a loan must be made on a
                basis which assures repayment, and has complied with the requirements set
                forth at 11 CFR 100-82 and 100.142 in making this loan.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div *ngIf="c1Form.get('final_authorization')?.invalid && (c1Form.touched)" 
        class="row"> 
          <div class="col" style="color: red">Please check the box before finalizing</div>
      </div> -->
      <div class="row">
        <div col col-md-8>
          <div class="d-inline-flex">
            <div class="section_i_checkbox_container">
              <input id="final_authorization" type="checkbox" class="section_i_checkbox"
                formControlName="final_authorization" />
            </div>
            <label for="final_authorization" class="c1_verbiage_sm section_i_checkbox_verbiage" [ngClass]="c1Form.get('final_authorization')?.invalid && (c1Form.touched) 
                ? 'input-field-label-error': ''
              ">
              I acknowledge and understand the above statements and submit this information as
              a matter of permanent record.
            </label>
          </div>
        </div>
      </div>
      <ng-container *ngIf="c1Form.get('final_authorization').value">
        <div class="c1_verbiage_lg section_i_verbiage_container">
          <div class="row">
            <div class="col col-md-4">
              <div class="form-group">
                <label for="authorized_last_name">
                  Last Name
                </label>
                <input id="authorized_last_name" class="form-control" type="text"
                  [formControlName]="'authorized_last_name'" [attr.name]="'authorized_last_name'" [style.width]="'75%'"
                  [style.height]="'30px'" [attr.maxlength]="'30'" [ngClass]="
                        c1Form.get('authorized_last_name')?.invalid &&
                        (c1Form.touched)
                          ? 'input-field-error'
                          : ''
                      " (selectItem)="handleSelectedIndividualForFinalAuthorization($event)"
                  id="typeahead-template-last-name" [ngbTypeahead]="searchLastName" [focusFirst]=false
                  [resultTemplate]="rt" [inputFormatter]="formatterLastName" />
              </div>
            </div>
            <div class="col col-md-4">
              <div class="form-group">
                <label for="authorized_first_name">
                  First Name
                </label>
                <input id="authorized_first_name" class="form-control" type="text"
                  [formControlName]="'authorized_first_name'" [attr.maxlength]="'20'"
                  [attr.name]="'authorized_first_name'" [style.width]="'75%'" [style.height]="'30px'" [ngClass]="
                        c1Form.get('authorized_first_name')?.invalid &&
                        (c1Form.touched)
                          ? 'input-field-error'
                          : ''
                      " (selectItem)="handleSelectedIndividualForFinalAuthorization($event)"
                  id="typeahead-template-first-name" [ngbTypeahead]="searchFirstName" [focusFirst]=false
                  [resultTemplate]="rt" [inputFormatter]="formatterFirstName" />
              </div>
            </div>
            <div class="col col-md-4">
              <div class="form-group">
                <label for="authorized_middle_name">
                  Middle Name (Optional)
                </label>
                <input id="authorized_middle_name" class="form-control" type="text"
                  [formControlName]="'authorized_middle_name'" [attr.maxlength]="'20'"
                  [attr.name]="'authorized_middle_name'" [style.width]="'75%'" [style.height]="'30px'" [ngClass]="
                        c1Form.get('authorized_middle_name')?.invalid &&
                        (c1Form.touched)
                          ? 'input-field-error'
                          : ''
                      " />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-4">
              <div class="form-group">
                <label for="authorized_prefix">
                  Prefix (Optional)
                </label>
                <input id="authorized_prefix" class="form-control" type="text" [attr.maxlength]="'10'"
                  [formControlName]="'authorized_prefix'" [attr.name]="'authorized_prefix'" [style.width]="'35%'"
                  [style.height]="'30px'" [ngClass]="
                      c1Form.get('authorized_prefix')?.invalid &&
                      (c1Form.touched)
                        ? 'input-field-error'
                        : ''
                    " />
              </div>
            </div>
            <div class="col col-md-4">
              <div class="form-group">
                <label for="authorized_suffix">
                  Suffix (Optional)
                </label>
                <input id="authorized_suffix" class="form-control" type="text" [attr.maxlength]="'10'"
                  [formControlName]="'authorized_suffix'" [attr.name]="'authorized_suffix'" [style.width]="'35%'"
                  [style.height]="'30px'" [ngClass]="
                      c1Form.get('authorized_suffix')?.invalid &&
                      (c1Form.touched)
                        ? 'input-field-error'
                        : ''
                    " />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-4">
              <div class="form-group">
                <label for="authorized_entity_title">
                  Title
                </label>
                <input id="authorized_entity_title" class="form-control" type="text" [attr.maxlength]="'20'"
                  [formControlName]="'authorized_entity_title'" [attr.name]="'authorized_entity_title'"
                  [style.width]="'85%'" [style.height]="'30px'" [ngClass]="
                        c1Form.get('authorized_entity_title')?.invalid &&
                        (c1Form.touched)
                          ? 'input-field-error'
                          : ''
                      " />
              </div>
            </div>
            <div class="col col-md-4">
              <div class="form-group">
                <label for="authorized_signed_date">
                  Date Signed
                  <div type="button" class="btn btn-info" ngbTooltip="Request language from RAD"
                    tooltipClass="form-tooltip">
                    <i class="info-icon" aria-hidden="true"></i>
                    <span class="sr-only">Click here for more information</span>
                  </div>
                </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="calendar-icon" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input class="form-control" id="authorized_signed_date" type="date"
                    [formControlName]="'authorized_signed_date'" [attr.name]="'authorized_signed_date'"
                    [style.width]="'66%'" [style.height]="'30px'" [ngClass]="
                            c1Form.get('authorized_signed_date')?.invalid &&
                            (c1Form.touched)
                              ? 'input-field-error'
                              : ''
                          " />
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-container>
    </section>

    <footer>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12 pl-0 pb-3">
          <!--clean up these classes if not needed-->
          <div class="forms__btn-container">
            <button *ngIf="sectionType === initialSection" class="btn btn-previous btn-left" type="button"
              (click)="cancel()">
              Return to Loan
            </button>
            <button *ngIf="sectionType !== initialSection" class="btn btn-previous btn-left" type="button"
              (click)="showPreviousSection()">
              Previous
            </button>
            <button *ngIf="sectionType !== sectionI" class="btn btn-secondary btn-right" (click)="showNextSection()">
              Next
            </button>
            <button *ngIf="sectionType === sectionI" class="btn btn-secondary btn-right" (click)="finish()">
              Finished
            </button>
            <button *ngIf="sectionType === sectionI" class="btn btn-previous btn-right" (click)="printPreview()">
              Print
            </button>
          </div>
        </div>
      </div>
    </footer>

  </form>
</div>