<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadItem(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtOrg let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadOrgItem(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCommitteeId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCommitteeId(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCandidateId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCandidateId(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCommitteeName let-r="result" let-t="term">
    <ngb-highlight [result]="formatTypeaheadCommitteeName(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCandidate let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCandidate(r)" [term]="t"></ngb-highlight>
</ng-template>

<div class="add_new_endorser-container">
  <form [formGroup]="endorserForm">
    <header>
      <div class="header-content">
        <!--<div class="float-left">-->
          <h2>
              Form 3X / Loans / Schedule-C Endorser
          </h2>
          <br />
        <!--</div>-->
       </div>

      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <div class="forms__btn-container">
          <br />
          <br />
          </div>
        </div>
      </div>
    </header>
    <section>
       <ng-container *ngFor="let hiddenField of hiddenFields">
        <input type="hidden" [name]="hiddenField?.name" [value]="hiddenField?.value" />
      </ng-container>
      <ng-container *ngFor="let row of formFields; let i = index">
      <div class="row" *ngIf="row.cols">
          <ng-container *ngIf="row.cols | isArray">
            <div [class]="row.colClassName" *ngFor="let col of row.cols">
              <div class="form-group">
                <label [for]="col?.name">
                  {{ col?.text }}
                  <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}"
                    tooltipClass="form-tooltip" *ngIf="col?.infoIcon">
                    <i class="info-icon" aria-hidden="true"></i>
                    <span class="sr-only">Click here for more information</span>
                </button>
                  <ng-container *ngIf="!col?.validation?.required">
                    (Optional)
                  </ng-container>
                </label>
                <ng-container *ngIf="col?.type === 'text' || col?.type === 'date'">
                  <div [ngClass]="{ 'input-group': col?.inputGroup }">
                    <ng-container *ngIf="col?.inputGroup">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i [class]="col?.inputIcon" aria-hidden="true"></i>
                        </span>
                      </div>
                    </ng-container>
                    <!-- [attr.readonly]="isReadOnly(col?.name, col.type)" -->
                    <input
                      *ngIf="col?.name !== 'first_name' 
                          && col?.name !== 'last_name'
                          && col?.name !== 'entity_name'"
                      class="form-control"
                      [style.width]="col?.width"
                      [style.height]="col?.height"
                      [attr.type]="col?.type"
                      [attr.name]="col?.name"                      
                      [attr.readonly]="col?.name === 'contribution_aggregate' && col.type === 'text' ? true : null"
                      [attr.value]="col?.value"
                      [maxlength]="col?.name === 'contribution_amount' ? col?.validation?.max + 5: col?.validation?.max"
                      [formControlName]="col?.name"
                      (blur)="col?.name === 'contribution_amount' ? contributionAmountChange($event) : null"
                      [ngClass]="
                        endorserForm.get(col?.name)?.invalid &&
                        (endorserForm.touched || endorserForm.dirty)
                          ? 'input-field-error'
                          : ''
                      "
                    />
                    <input
                      *ngIf="col?.name === 'last_name'"
                      class="form-control"
                      [style.width]="col?.width"
                      [style.height]="col?.height"
                      [attr.type]="col?.type"
                      [attr.name]="col?.name"
                      [attr.value]="col?.value"
                      [maxlength]="col?.validation?.max"
                      [formControlName]="col?.name"
                      [ngClass]="
                        endorserForm.get(col?.name)?.invalid &&
                        (endorserForm.touched || endorserForm.dirty)
                          ? 'input-field-error'
                          : ''
                      "
                      id="typeahead-template-last-name"
                      [ngbTypeahead]="searchLastName"
                      [focusFirst]=false
                      [resultTemplate]="rt"
                      [inputFormatter]="formatterLastName"
                      (selectItem)="handleSelectedItem($event)"
                    />
                    <input
                      *ngIf="col?.name === 'first_name'"
                      class="form-control"
                      [style.width]="col?.width"
                      [style.height]="col?.height"
                      [attr.type]="col?.type"
                      [attr.name]="col?.name"
                      [attr.value]="col?.value"
                      [maxlength]="col?.validation?.max"
                      [formControlName]="col?.name"
                      [ngClass]="
                        endorserForm.get(col?.name)?.invalid &&
                        (endorserForm.touched || endorserForm.dirty)
                          ? 'input-field-error'
                          : ''
                      "
                      id="typeahead-template-first-name"
                      [ngbTypeahead]="searchFirstName"
                      [focusFirst]=false
                      [resultTemplate]="rt"
                      [inputFormatter]="formatterFirstName"
                      (selectItem)="handleSelectedItem($event)"
                    />

                    <input
                    *ngIf="col?.name === 'entity_name'"
                    class="form-control"
                    [style.width]="col?.width"
                    [style.height]="col?.height"
                    [attr.type]="col?.type"
                    [attr.name]="col?.name"
                    [attr.value]="col?.value"
                    [maxlength]="col?.validation?.max"
                    [formControlName]="col?.name"
                    [ngClass]="
                      endorserForm.get(col?.name)?.invalid &&
                      (endorserForm.touched || endorserForm.dirty)
                        ? 'input-field-error'
                        : ''
                    "
                    id="typeahead-template-entity-name"
                    [ngbTypeahead]="searchOrg"
                    [focusFirst]=false
                    [resultTemplate]="rtOrg"
                    [inputFormatter]="formatterOrgName"
                    (selectItem)="handleSelectedOrgItem($event)"
                  />

                  </div>
                  <div
                    class="error-text"
                    *ngIf="
                      (endorserForm.touched || endorserForm.dirty) &&
                      endorserForm.get(col?.name).invalid
                    "
                  >
                    <ng-container *ngIf="endorserForm.get(col?.name).errors?.maxlength">
                      <div
                        class="text-error text-left"
                        *ngIf="
                          endorserForm.get(col?.name).errors.maxlength?.requiredLength <
                          endorserForm.get(col?.name).errors.maxlength?.actualLength
                        "
                      >
                        Only {{ endorserForm.get(col?.name).errors.maxlength?.requiredLength }} characters
                        allowed.
                      </div>
                    </ng-container>
                    <ng-container *ngIf="endorserForm.get(col?.name).errors">
                      <div
                        class="text-error text-left"
                        *ngIf="endorserForm.get(col?.name).errors?.nonAlphaNumeric"
                      >
                        Alphanumeric characters only.
                      </div>
                    </ng-container>
                    <ng-container *ngIf="endorserForm.get(col?.name).errors">
                      <div
                        class="text-error text-left"
                        *ngIf="endorserForm.get(col?.name).errors?.nonFloatingPoint"
                      >
                        Only numerical values are allowed.
                      </div>
                    </ng-container>
     
                  </div>
                </ng-container>
                <ng-container *ngIf="col?.type === 'checkbox'">
                  <input
                    class="form-control"
                    [style.width]="col?.width"
                    [style.height]="col?.height"
                    [attr.type]="col?.type"
                    [attr.name]="col?.name"
                    [attr.value]="col?.value"
                    [checked]="col?.name === 'memo_code' ? memoCode : null"
                    [formControlName]="col?.name"
                    (change)="col?.name === 'memo_code' ? memoCodeChange($event) : null"
                    [ngClass]="
                      endorserForm.get(col?.name)?.invalid &&
                      (endorserForm.touched || endorserForm.dirty)
                        ? 'input-field-error'
                        : ''
                    "
                  />
                </ng-container>
                <ng-container *ngIf="col?.type === 'textarea'">
                  <textarea
                    [style.height]="col?.height"
                    [style.width]="col?.width"
                    [style.overflow]="col.scroll ? col.scroll : null"
                    [attr.name]="col?.name"
                    [attr.maxlength]="col?.validation?.max"
                    [formControlName]="col?.name"
                  ></textarea>
                </ng-container>

                <ng-container *ngIf="col?.type === 'select' && 
                    (isFieldName(col?.name, 'state') ||
                    isFieldName(col?.name, 'cand_office_state'))">
                    <ng-select #stateSelect 
                      [items]="states" 
                      (change)="handleStateChange($event, col)"
                      class="state-select" 
                      [formControlName]="col?.name" 
                      bindValue="code" 
                      bindLabel="code" 
                      [selectOnTab]="true"
                      [ngClass]="
                          endorserForm.get(col?.name)?.invalid &&
                          (endorserForm.touched || endorserForm.dirty)
                            ? 'forms__select-error'
                            : ''
                        ">
                      <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                        <span>{{ item.code + ' - ' + item.name }}</span>
                      </ng-template>
                    </ng-select>
               </ng-container>


                

             </div>
            </div>
            <!-- ./col -->
          </ng-container>
        </div>
        <!-- ./row -->
        <ng-container *ngIf="row.seperator">
          <div class="row">
            <div class="col-md-12">
              <hr />
            </div>
          </div>
        </ng-container>
      </ng-container>  
    </section>

    <footer>
      <footer>

        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="forms__btn-container">
              <br />
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="forms__btn-container">
              <button class="btn btn-previous btn-left" type="button" (click)="cancelStep()">
                Cancel
              </button>
<!--               <button class="btn btn-secondary btn-right" type="button"  (click)="goToEndorserSummary()">
                Endorser Summary
              </button> -->
              <button class="btn btn-secondary btn-right" type="button"  (click)="saveEndorser(false)">
                Save
              </button>
              <button *ngIf="scheduleAction !== 'edit'" class="btn btn-secondary btn-right" type="button" (click)=saveEndorser(true)>
                Add Endorsers
              </button>
            </div>
          </div>          
        </div>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="forms__btn-container">
              <br />
            </div>
          </div>
        </div>
      </footer>
    </footer>


  </form>
</div>
