<style>
  @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');
</style>
<div class="main-box">
  <div class="main-content">
    <form [formGroup]="form">
      <header>
        <div class="text-center">
          <img class="fec-title" src="assets/img/FECtitleNew.png" draggable="false" alt="FECTitle" />
        </div>
        <div class="title-front-main">Electronic Filing Enrollment and Password Assignment</div>
        <div class="title-front-sub">
          Create a strong password for {{userEmail}}
        </div>
        <br><br>
        <hr><br>
      </header>

      <div>
        <div class="form__container">
          <div class="form-group optionHeader">
            <label class="user-info" for="email">Password</label>
          </div>
          <div class="form-group row form-inline">
            <input [type]="show ? 'text' : 'password'" class="form-control" formControlName="password" id="email"
              style="width:60%">
            <div *ngIf="!show" class="grid-row__col grid-row__col--1 text-left">
              <img class="eye-logo" src="assets/img/eye-icon.svg" draggable="false" (click)="showPassword()" />
            </div>
            <div *ngIf="show" class="grid-row__col grid-row__col--1 text-left">
              <img class="eye-logo" src="assets/img/eye-icon-red.svg" draggable="false" (click)="showPassword()" />
            </div>
          </div>
    
          <div class="form-group optionHeader">
            <label class="user-info" for="email">Confirm Password</label>
          </div>
          <div class="form-group row form-inline">
            <input [type]="show ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" id="email"
              style="width:60%">
            <div *ngIf="!show" class="grid-row__col grid-row__col--1 text-left">
              <img class="eye-logo" src="assets/img/eye-icon.svg" draggable="false" (click)="showPassword()" />
            </div>
            <div *ngIf="show" class="grid-row__col grid-row__col--1 text-left">
              <img class="eye-logo" src="assets/img/eye-icon-red.svg" draggable="false" (click)="showPassword()" />
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="form?.controls['confirmPassword']?.errors?.mustMatch">
          <div class="text-error">
            Entered passwords must match.
          </div>
      </ng-container>
      <ng-container *ngIf="form?.controls['password']?.errors?.pattern">
        <div class="text-error">
          Password Requirements not met.
        </div>
      </ng-container>
      <div class="passwordStrengthContainer">
          <span>Password Strength</span>
          <password-strength-meter [enableFeedback]="true" [password]="password"></password-strength-meter>
      </div>

      <div class="user-info-actions">
        <button [disabled]="form.invalid" class="btn btn-primary mx-2" (click)="submit()"> Submit</button>
      </div>
    </form>
    <div class="accordion_container">
      <ngb-accordion #acc1="ngbAccordion" closeOthers="true" (panelChange)="toggleAccordion($event,acc1,'passwordAccordion')">
          <ngb-panel >
            <ng-template ngbPanelTitle>
                <span><b>Password Requirements <i [ngClass]="passwordAccordionExpanded ? 'down-arrow-icon' : 'up-arrow-icon'"></i></b></span>
            </ng-template>
            <ng-template ngbPanelContent>
                <p><strong>Your password must contain the following:</strong></p>
                <p>A minimum of 8 characters, to a maxium of 16 characters.</p>
                <p>At least one upper case letter (A-Z)</p>
                <p>At least one lower case letter (a-z)</p>
                <p>At least one digit (0-9)</p>
                <p>At least one special character of ! @ # $ % & * ( )</p>
            </ng-template>
          </ngb-panel>
      </ngb-accordion>
      <ngb-accordion #acc2="ngbAccordion" closeOthers="true" (panelChange)="toggleAccordion($event,acc2,'cmteDetailsAccordion')">
        <ngb-panel>
          <ng-template ngbPanelTitle>
              <span><b>Confirm Committee Information <i [ngClass]="cmteDetailsAccordionExpanded ? 'down-arrow-icon' : 'up-arrow-icon'"></i></b></span>
          </ng-template>
          <ng-template ngbPanelContent>
              <p>If any information below is incorrect you will need to refile a Form 1 Amendment to correct it. As long as at least one email is correct you can continue with the password creation process with that correct email address.</p>
              <hr>
              <div class="row">
                <div class="col">
                  Committee ID:
                </div>
                <div class="col">
                  {{cmteDetails.committeeid}}
                </div>
              </div>
              <div class="row">
                  <div class="col">
                    Committee Name:
                  </div>
                  <div class="col">
                    {{cmteDetails.committeename}}
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    Treasurer's Name:
                  </div>
                  <div class="col">
                    {{cmteDetails.treasurerlastname}}, {{cmteDetails.treasurerfirstname}} {{cmteDetails.treasurermiddlename}}
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    Email Address:
                  </div>
                  <div class="col">
                    {{cmteDetails.email_on_file}}
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    Other Email Address:
                  </div>
                  <div class="col">
                    {{cmteDetails.email_on_file_1}}
                  </div>
              </div>
              <hr>
          </ng-template>
        </ngb-panel>
    </ngb-accordion>
    </div>
  </div>
</div>
