@import '../../../shared/scss/global';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// .non-connected-committee-container input {
//     width: 100%;
//     clear: both;
//   }

// form  { display: table;      }
// ng-container    { display: table-row;  }

// .text  { display: table-row;  }
// label { display: table-cell; }
// input { display: table-cell; }
header {
  // margin-left:15px;
  width:80%;
  display: block;
  margin-left: 15px;
  // margin-right: auto15;
}
button {
  // right: 10px;
  margin: 15px;
}
.radio {
  margin:15px;
}
.form-group {
  margin:10px;
}
input[type="text"]
{
    margin-left: 10px;
    margin-top: 10px;
}

ng-container {
  margin-top: 15px;
}

.summary_text_level_3{
  //background-color: #E5E7E9  !important;
  padding-left: 40% !important;
  height: 35px !important;
  padding-top: 10px !important;
  vertical-align: middle !important;
  margin-top: 1px  !important;
 // margin-bottom: 1px  !important;
  text-align: left;
}

.summary_text_level_4{
  //background-color: #E5E7E9  !important;
 // padding-left: 40% !important;
  height: 35px !important;
  padding-top: 10px !important;
  vertical-align: middle !important;
  margin-top: 1px  !important;
 // margin-bottom: 1px  !important;
  text-align: left;
}

.summary_text{
  //background-color: #E5E7E9  !important;
  padding-left: 10% !important;
  height: 35px !important;
  padding-top: 10px !important;
  vertical-align: middle !important;
  margin-top: 1px  !important;
 // margin-bottom: 1px  !important;
  text-align: left;
}

.sub-title{
  padding-bottom: 50px;
}

footer {
  .forms__btn-container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    @include media(tablet) {
      margin: 0;
      padding: 0;
      width: 95%;
    }
    @include media(mediumDesktop) {
      width: 95%;
      .btn-right {
        margin-right: 20px;
      }
    }
    @include media(largeDesktop) {
      width: 95%;
      .btn-right {
        margin-right: 20px;
      }
    }
    @include clearfix();
  }
}

.input-group-prepend {
  .input-group-text {
    color: $blueZodiac;
  }
}

form {
  margin-bottom: 15px;
  header {
    .header-content {
      display: block;
      margin: 0 auto;
      width: 96%;
      h1 {
        font-family: sans-serif;
      }
      @include clearfix();
      .btn-options {
        color: $shuttleGray;
        text-decoration: none;
        &:hover,
        &:visited,
        &:active {
          color: $shuttleGray;
          text-decoration: none;
        }
      }
      .dropdown-toggle::after {
        display:none;
      }
      #sched-h2__dropdown-action > button > i {
        padding-right: 3px;
      }
      .dropdown-menu {
        min-width: 0px !important;
        &.show {
          .dropdown-item {
            &:focus,
            &:hover,
            &:active,
            &:visited {
              background-color: $white;
              color: $black;
              cursor: pointer;
              outline: none;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    @include clearfix();
  }
  section {
    .coord_expenditure_text {
      padding-top: 3em;
      padding-bottom: 1em;
    }
    .content {
      min-height: 100vh;
      position: relative;
    }
    .row {
      margin-bottom: 20px;
      .forms__candidate-title {
        font-size: 1.25em;
        font-family: sans-serif;
        font-weight: bold;
      }
      .col {
        &.info-text {
          padding-top: 45px;
        }
        &.fieldset {
          font-size: 1.5rem;
          font-family: sans-serif;
          font-weight: bold;
        }
        &.childForm {
          padding-top: 30px;
        }
        label {
          display: block;
          padding-bottom: 0.75em;
        }
        textarea {
          &.form-control {
            overflow: scroll;
            width: 400px;
          }
        }
        .forms__big_checkbox {
          -webkit-transform: scale(1.9);
          -ms-transform: scale(1.9); /* IE */
          -moz-transform: scale(1.9); /* FF */
          -webkit-transform: scale(1.9); /* Safari and Chrome */
          -o-transform: scale(1.9); /* Opera */
          margin: 10px;
        }
        .forms__big_radio {
          -webkit-transform: scale(2.9);
          -ms-transform: scale(2.9); /* IE */
          -moz-transform: scale(2.9); /* FF */
          -webkit-transform: scale(2.9); /* Safari and Chrome */
          -o-transform: scale(2.9); /* Opera */
          margin: 23px;
        }
        label {
          font-family: sans-serif;
          font-size: 1rem;
        }
        .input-group-prepend {
          .input-group-text {
            color: $blueZodiac;
          }
        }
        .ng-select.forms__select {
          &.forms__select-error {
            .ng-select-container {
              border: 1px solid $red;
            }
          }
          .ng-select-container {
            height: 45px;
          }
        }
        .ng-dropdown-panel {
          .ng-dropdown-panel-items {
            .ng-option {
              &.ng-option-marked {
                background-color: $mercury;
              }
            }
          }
        }
      }
    }
    .forms__btn-container {
      margin: 0 auto;
      padding: 0;
      width: 80%;
      #jfMemoDropdown {
        &:after {
          display: none;
        }
      }
      #jfMemoDropdown {
        width: 16em;
      }
      #jfMemoDropdown-menu {
        min-width: 16em;
        left: 0 !important;
      }
      @include media(tablet) {
        margin: 0;
        padding: 0;
        width: 95%;
      }
      @include media(mediumDesktop) {
        width: 95%;
        .btn-right {
          margin-right: 20px;
        }
      }
      @include media(largeDesktop) {
        width: 95%;
        .btn-right {
          margin-right: 20px;
        }
      }
      @include clearfix();
    }
  }
}