boto3==1.35.72
celery==5.4.0
cfenv==0.5.3
cryptography==44.0.1
dj_database_url==2.3.0
django-cors-headers==4.7.0
django-deprecate-fields==0.2.1
django-migration-linter==5.2.0
django-structlog==9.1.1
Django==5.2.2
djangorestframework==3.16.0
drf-spectacular==0.28.0
gevent==25.5.1
git+https://github.com/fecgov/fecfile-validate@4eec31ae99999bd9febbb9783eca0e73cdcb1957#egg=fecfile_validate&subdirectory=fecfile_validate_python
github3.py==4.0.1
GitPython==3.1.43
gunicorn==23.0.0
invoke==2.2.0
jwcrypto==1.5.6
psycopg2-binary==2.9.10
PyJWT==2.10.1
redis==4.5.5
requests==2.32.4
structlog==25.3.0
zeep==4.2.1
