boto3==1.26.20
celery[redis]==5.2.7
cfenv==0.5.3
coreapi==2.3.3
coreschema==0.0.4
decorator==5.1.1
dj-database-url==1.0.0
dj-static==0.0.6
Django==4.1.3
django-cors-headers==3.13.0
django-storages==1.13.1
djangorestframework==3.14.0
drf-spectacular==0.24.2
git+https://github.com/fecgov/fecfile-validate@d80914467838ea1230a2ca331972babea2a9fb62#egg=fecfile_validate&subdirectory=fecfile_validate_python
GitPython==3.1.30
gunicorn==20.1.0
Jinja2==3.1.2
invoke==1.7.3
itypes==1.2.0
MarkupSafe==2.1.1
openapi-codec==1.3.2
psycopg2-binary==2.9.5
pytz==2022.6
retry==0.9.2
static3==0.7.0
django-otp==1.1.4
git+https://github.com/fecgov/mozilla-django-oidc.git@main#egg=mozilla_django_oidc
zeep==4.2.1

