cfenv~=0.5.3
Django~=5.1.1
requests~=2.32.3
structlog~=24.4.0
djangorestframework~=3.15.2
PyJWT~=2.10.1
jwcrypto~=1.5.6
boto3~=1.35.25
cryptography~=44.0.0
drf-spectacular~=0.27.2
github3.py~=4.0.1
django-cors-headers~=4.4.0
celery~=5.4.0
django-structlog~=8.1.0
psycopg2-binary~=2.9.9
zeep~=4.2.1
gunicorn~=23.0.0
redis~=4.3.4
invoke~=2.2.0
dj_database_url~=2.2.0
GitPython~=3.1.43
git+https://github.com/fecgov/fecfile-validate@36385817b8a16b59c257f8ce963f5edaa42f9a5c#egg=fecfile_validate&subdirectory=fecfile_validate_python
