@import '../../shared/scss/global';

::ng-deep .maxWidthClass .modal-dialog {
  max-width: 1200px;
   width: 1200px;
}
.modal-user-info{
  color: black;
}

.modal-body {
  color: #1d2124;
  ul li{
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .fec-logo{
    width: 100px;
    height: 100px;
  }

  .reports-table{
    max-width: 850px;
    tbody{
      display: block;
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
    }
   .wider-row tr,td{
      width: 800px;
    }
    table {
      border-collapse:separate;
      border:solid black 1px;
      border-radius:6px;
      -moz-border-radius:6px;
    }
    td, th {
      border-left:solid black 1px;
      border-top:solid black 1px;
    }
    tr:first-child > td {
      border: none;
    }
    td:first-child, td:first-child {
      border-left: none;
    }
  }
.notes{
  input {
    height: 15px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    font-size: 12pt;
    width: 80%;
    height: 100%;
  }

}
}
