<div bsModal #errorsModal="bs-modal" class="modal fade column-options-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" id="error-contacts__modal-header">
        <h4 class="modal-title pull-left">Import Failed</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-modal-footer btn-right" (click)="proceed()">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>