@import '../../scss/global';

.session-timed-out.modal-backdrop {
  background-color: #5B616B;
  opacity: 1.0 !important;
  background-image:url("../../../../assets/img/fec-logo-5opac.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.modal {
  .modal-dialog {
    .modal-content {
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      @include media(tablet) {
        width: 100%;
      }
      @include media(mediumDesktop) {
        width: 100%;
      }         
      @include media(largeDesktop) {
        width: 100%;
      }       
      .modal-header {
        // background-color: $crusta; 
        color: $white;
        .btn-link {
          color: $white;
          &:hover,
          &:active,
          &:visited {
            color: $white;
            text-decoration: none;
          }
        }
      }
      .modal-title {
        margin: 0!important;
      }
      .warning-header {
        background-color: $crusta;
      }      
      .success-header {
        background-color: #99cc63;
      }
      .error-header {
        background-color: #b52b27;
      }
      .info-header {
        background-color: $dodgerBlue;
      }
      .info-header-dark {
        background-color: #112e51;
      }            
      .modal-body {
        color: $black;
        white-space: pre-wrap;
      }
    }
  }
}
