<div #content>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Warning</h4>
    <button 
    	type="button" 
    	class="close btn btn-link" 
    	aria-label="Close" 
    	(click)="activeModal.close('cancel')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div *ngIf="message; else default">
        {{message}}
    </div>
    <ng-template #default>You have unsaved changes! If you leave, your changes will be lost.</ng-template>
  </div>
  <div class="modal-footer">
    <button 
    	type="button" 
    	class="btn btn-primary" 
    	(click)="activeModal.close('okay')"
    >Ok</button>
    <button 
    type="button" 
    (click)="activeModal.close('cancel')"
    class="btn btn-secondary"
  >Cancel</button>    
  </div>
</div>
