<div class="account-container">
	<header>
		<div class="header-container">
			<div class="header__text">
				<h1>Account</h1>
			</div>
		</div>
		<div class="grid-row">
			<div class="grid-row__col grid-row__col--12">
				<hr />
			</div>
		</div>
	</header>
	<section>
		<div class="content">
			<div class="grid-row">
				<div class="grid-col">
					<p>
						<b>Committee Name</b>
					</p>
					<p>
						{{ accounts?.committeename }}
					</p>
				</div>
				<div class="grid-col">
					<p>
						<b>Committee ID</b>
					</p>
					<p>
						{{ accounts?.committeeid }}
					</p>
				</div>
			</div>
			<div class="grid-row">
				<div class="grid-col">
					<p><b>Address Line 1</b></p>
					<p>
						{{ accounts?.street1 }}
					</p>
				</div>
				<div class="grid-col">
					<p><b>Address Line 2</b></p>
					<p>
						{{ accounts?.street2 }}
					</p>
				</div>
			</div>
			<div class="grid-row">
				<div class="grid-col">
					<p>
						<b>City</b>
					</p>
					<p>
						{{ accounts?.city }}
					</p>
				</div>
				<div class="grid-col">
					<p>
						<b>State</b>
					</p>
					<p>
						{{ accounts?.state }}
					</p>
				</div>
				<div class="grid-col">
					<p>
						<b>Zip Code</b>
					</p>
					<p>
						{{ accounts?.zipcode }}
					</p>
				</div>
			</div>
			<div class="grid-row-btn">
				<div class="grid-col-1">
					<p></p>
					<button type="button" (click)="goToForms1()"><i class="fas fa-edit"></i>Edit</button>
				</div>
			</div>
			<div class="grid-row" style="height: 35px;"></div>
			<div class="grid-row">
				<div class="grid-row__col grid-row__col--12">
					<hr />
				</div>
			</div>
			<div class="grid-row">
				<div class="grid-col" *ngIf="accounts?.treasurerfirstname != ''">
					<p>
						<b>Treasurer First Name</b>
					</p>
					<p>
						{{ accounts?.treasurerfirstname }}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.treasurermiddlename != ''">
					<p>
						<b>Treasurer Middle Name</b>
					</p>
					<p>
						{{ accounts?.treasurermiddlename }}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.treasurerlastname != ''">
					<p>
						<b>Treasurer Last Name</b>
					</p>
					<p>
						{{ accounts?.treasurerlastname }}
					</p>
				</div>
			</div>
			<div class="grid-row">
				<div class="grid-col" *ngIf="accounts?.treasurerprefix != ''">
					<p>
						<b>Treasurer Prefix</b>
					</p>
					<p>
						{{ accounts?.treasurerprefix }}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.treasurersuffix != ''">
					<p>
						<b>Treasurer Sufix</b>
					</p>
					<p>
						{{ accounts?.treasurersuffix }}
					</p>
				</div>
			</div>
			<div class="grid-row">
				<div class="grid-col" *ngIf="accounts?.treasurerstreet1 != ''">
					<p><b>Address Line 1</b></p>
					<p>
						{{ accounts?.treasurerstreet1 }}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.treasurerstreet2 != ''">
					<p><b>Address Line 2</b></p>
					<p>
						{{ accounts?.treasurerstreet2 }}
					</p>
				</div>
			</div>
			<div class="grid-row">
				<div class="grid-col" *ngIf="accounts?.treasurercity != ''">
					<p>
						<b>City</b>
					</p>
					<p>
						{{ accounts?.treasurercity }}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.treasurerstate != ''">
					<p>
						<b>State</b>
					</p>
					<p>
						{{ accounts?.treasurerstate }}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.treasurerzipcode != ''">
					<p>
						<b>Zip Code</b>
					</p>
					<p>
						{{ accounts?.treasurerzipcode }}
					</p>
				</div>
			</div>
			<div class="grid-row" *ngIf="accounts?.email_on_file != ''">
				<div class="grid-col">
					<p>
						<b>Email</b>
					</p>
					<p>
						{{ accounts?.email_on_file }}
					</p>
				</div>
			</div>


			<div class="grid-row-btn">
				<div class="grid-col-1">
					<button type="button" (click)="goToForms1()"><i class="fas fa-edit "></i>Edit</button>
				</div>
			</div>

			<div class="grid-row" style="height: 20px;"></div>

			<div class="grid-row">
				<div class="grid-row__col grid-row__col--12">

					<hr />
				</div>
			</div>

			<div class="grid-row">
				<div class="grid-col" *ngIf="accounts?.bankName != ''">
					<p>
						<b>Bank Name</b>
					</p>
					<p>
						{{ accounts?.bankName}}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.bankAddress1 != ''">
					<p>
						<b>Address Line 1</b>
					</p>
					<p>
						{{ accounts?.bankAddress1}}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.bankAddress2 != ''">
					<p>
						<b>Address Line 2</b>
					</p>
					<p>
						{{ accounts?.bankAddress2}}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.bankCity != ''">
					<p>
						<b>City</b>
					</p>
					<p>
						{{ accounts?.bankCity}}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.bankState != ''">
					<p>
						<b>State</b>
					</p>
					<p>
						{{ accounts?.bankState}}
					</p>
				</div>
				<div class="grid-col" *ngIf="accounts?.bankZip != ''">
					<p>
						<b>Zip Code</b>
					</p>
					<p>
						{{ accounts?.bankZip}}
					</p>
				</div>
			</div>

			<div class="grid-row-btn">
				<div class="grid-col-1">
					<button type="button" (click)="goToForms1()"><i class="fas fa-edit"></i>Edit</button>
				</div>
			</div>
			<div class="grid-row" style="height: 20px;"></div>

			<div class="grid-row">
				<div class="grid-row__col grid-row__col--12">
					<hr />
				</div>
			</div>


			<div *ngIf="accounts?.candidatePrefix != ''">
				<div class="grid-row">
					<div class="grid-col" *ngIf="accounts?.candidatePrefix != ''">
						<p>
							<b>Candidate Prefix</b>
						</p>
						<p>
							{{ accounts?.candidatePrefix}}
						</p>
					</div>
					<div class="grid-col" *ngIf="accounts?.candidateFirstName != ''">
						<p>
							<b>Candidate First Name</b>
						</p>
						<p>
							{{ accounts?.candidateFirstName}}
						</p>
					</div>
					<div class="grid-col" *ngIf="accounts?.candidateLastName != ''">
						<p>
							<b>Candidate Last Name</b>
						</p>
						<p>
							{{ accounts?.candidateLastName}}
						</p>
					</div>
					<div class="grid-col" *ngIf="accounts?.candidateSuffix != ''">
						<p>
							<b>Candidate Suffix</b>
						</p>
						<p>
							{{ accounts?.candidateSuffix}}
						</p>
					</div>
					<div class="grid-col" *ngIf="accounts?.partyAffiliation != ''">
						<p>
							<b>Party Affiliation</b>
						</p>
						<p>
							{{ accounts?.partyAffiliation}}
						</p>
					</div>
					<div class="grid-col" *ngIf="accounts?.officeSought != ''">
						<p>
							<b>Office Sought</b>
						</p>
						<p>
							{{ accounts?.officeSought}}
						</p>
					</div>
					<div class="grid-col" *ngIf="accounts?.officeSought != ''">
						<p>
							<b>State</b>
						</p>
						<p>
							{{ accounts?.candidateState}}
						</p>
					</div>
					<div class="grid-col" *ngIf="accounts?.officeSought != ''">
						<p>
							<b>District</b>
						</p>
						<p>
							{{ accounts?.candidateDistrict}}
						</p>
					</div>
				</div>


				<div class="grid-row-btn">
					<div class="grid-col-1">
						<button type="button" (click)="goToForms1()"><i class="fas fa-edit"></i>Edit</button>
					</div>
				</div>
				<div class="grid-row" style="height: 20px;"></div>

				<div class="grid-row">
					<div class="grid-row__col grid-row__col--12">
						<hr />
					</div>
				</div>
			</div>


		</div> <!-- ./content -->
	</section>
	<section>
		<!-- adding the levin acct section here -->
		<h3>Committee Levin Accounts</h3>
		<form action="">
			<label for="levin_acct_name">
				<ng-container *ngIf="levinAction === 'add'"> Add New </ng-container>
				<ng-container *ngIf="levinAction === 'edit'"> Edit </ng-container>
				Levin Account:
			</label>
			<div class="input-group">
				<!-- <div class="form-group"> -->

				<input ngModel type="text" name="levin_acct_name" id="levin_acct_name" #levin_name class="form-control"
					maxlength="50" value="" />

				<!-- </div> -->
				<!-- <div class="grid-row">
			<div class="grid-row__col grid-row__col--12">
				<div class="forms__btn-container"> -->
				<span class="input-group-button right">
					<ng-container *ngIf="levinAction === 'add'">
						<button type="submit" class="btn btn-secondary" (click)="saveLevinAccount(levin_name)">
							Add and Save
						</button>
					</ng-container>
					<ng-container *ngIf="levinAction === 'edit'">
						<button type="submit" class="btn btn-previous btn-left" (click)="cancelEditLevinAccount()">
							Cancel
						</button>
						<button type="submit" class="btn btn-secondary btn-right" (click)="saveEdit(levin_name)">
							Save
						</button>
					</ng-container>
				</span>
			</div>
			<!-- </div>
			</div>
		</div> -->
		</form>

		<!-- div class="grid-row" id="levin_accounts_list">
			<ul class="list-group">
				<li *ngFor="let levin_acct of levin_accounts" class="list-group-item">
					{{levin_acct.levin_account_name}}
				</li>
			</ul-->

			<table class="table table-striped table-hover table__sortable">
				<thead>
				  <tr>
					<th>
						Levin Account Name
					</th>
				  </tr>
				</thead>
				<tbody>
					<tr *ngFor="let levin_acct of levin_accounts">
						<td width="90%">
							{{levin_acct.levin_account_name}}
						</td>
						<td class="bulk_action" width="10%">
							<div  class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
							  <button class="btn btn-sm btn-primary" ngbDropdownToggle>
								<i class="fas fa-ellipsis-h"></i>
							  </button>

							  <div id="forms__trx-dropdown-action1" ngbDropdownToggle class="dropdown-menu" ngbDropdownMenu>
								<button class="dropdown-item" (click)="editLevinAccount(levin_acct)">
								  <i class="fas fa-edit"></i>
								  Edit
								</button>
								<button class="dropdown-item" (click)="trashLevinAccount(levin_acct)">
								  <i class="fas fa-trash"></i>
								  Trash
								</button>
							  </div>
							</div>
						  </td>
					</tr>
				</tbody>
			</table>

		<!-- /div -->
	</section>
</div>