@import '../shared/scss/global';

.account-container {
	margin-left: 10px;
		margin-right: 10px;
	.grid-row {
		margin-left: 0;
		margin-right: 0;
		
		.grid-row__col {
			padding-left: 0;
			padding-right: 0;			
		}
	}
	.grid-row-btn {
		margin-left: 0;
		margin-right: 0;
		position: relative;
		
	}
	header {    
	    .header-container {
	      display: block;
	      width: 100%;
	      .header__text {
	        display: block;
	        float: none;
	        width: 100%;       
	        width: 100%;      
	      }
	      @include clearfix();	
		}
	}
	section {
		.content {

			.grid-row {
				margin: 0;
				.grid-row__col {
					padding: 0;
				}
			}

			.grid-col-1 {
				position: absolute;
				right: 0;

			}

			.grid-col {
				float: none;
				display: block;
				max-width: 100%;
				padding-left: 20px;
				width: 100%;				
				@include media(tablet) {
					display: block;
					padding-left: 10px;
					max-width: 100%;
					width: 100%;
				}
				@include media(mediumDesktop) {
				    flex: 0 0 33.33333333%;
				    max-width: 33.33333333%;
				    min-height: 1px;
				    padding-left: 0;
					position: relative;
					width: 100%;					
				}         
				@include media(largeDesktop) {
				    flex: 0 0 33.33333333%;
				    max-width: 33.33333333%;
				    min-height: 1px;
				    padding-left: 0;
					position: relative;
					width: 100%;				    				
				} 								
			}	
			.validate__form {
			&.show-alerts {
			  display: block;
			  @include media(tablet) {
			    display: block;
			  }
			  @include media(mediumDesktop) {
			    display: none;
			  }         
			  @include media(largeDesktop) {
			    display: none;
			  }           
			}
			background-color: $bombay;
			display: none;
			height: 80px;
			margin-top: 10px;
			width: 100%;
			@include media(tablet) {
			  background-color: $bombay;
			  display: none;
			  height: 80px;
			  margin-top: 10px;
			  width: 100%;        
			}
			@include media(mediumDesktop) {
			  display: none;
			}         
			@include media(largeDesktop) {
			  display: none;
			}         
			}			
		}
	}

	.md-button-right .button-group {
		position: absolute;
		right: 0px;
		margin: 0;
	  }

	footer {
		.footer {
			bottom: 0;
			position: relative;
			width: 100%;
			.legal-disclaimer {
				text-align: center;
				.btn {
					color: $black;
				}
			}
		}
	}
}


#levin_accounts_list {
margin-left: 20%;
margin-top: 20px;
}

.input-group {
	width: 80%;
}

.input-group-button {
margin-left:15px;
margin-top:10px;
}

#levin_acct_name {
	margin-top: 5px;


}

@include form-btns();

.dropdown-toggle:after {
    border: none;
}

.btn-left {
	margin-right: 20px;
}

.dropdown-menu {
	min-width: 0px !important;
	&.show {
	  .dropdown-item {
		&:focus,
		&:hover,
		&:active,
		&:visited {
		  background-color: $white;
		  color: $black;
		  cursor: pointer;
		  outline: none;
		}
		&:hover {
		  text-decoration: underline;
		}
	  }
	}
  } 