<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadItem(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtOrg let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadOrgItem(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCommitteeId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCommitteeId(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtPayeeCommitteeId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadPayeeCommitteeId(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCandidateId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCandidateId(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCommitteeName let-r="result" let-t="term">
    <ngb-highlight [result]="formatTypeaheadCommitteeName(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCandidate let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCandidate(r)" [term]="t"></ngb-highlight>
</ng-template>
<div class="individual-receipt-container">
  <form [formGroup]="frmIndividualReceipt">
    <header>
      <div class="header-content">
        <div class="float-left">
          <h2>
            Form 3X
            <ng-container *ngIf="transactionTypeText"> / {{ transactionTypeText }} </ng-container>
            <ng-container *ngIf="scheduleAction === editScheduleAction && !cloned"> / Edit </ng-container>
            <ng-container *ngIf="scheduleAction === editScheduleAction && cloned"> / Clone </ng-container>
          </h2>
        </div>
        <div class="float-right" ngbDropdown>
          <button type="button" class="btn btn-link btn-options" id="dropdownBasic2" ngbDropdownToggle>
            <span class="ellipsis-icon" aria-hidden="true"></span>
            <span class="sr-only">Click for more options</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="printPreview()"><i class="print-icon"></i> Print</button>
            <button class="dropdown-item"><i class="file-import-icon" (click)="ImportTransactions()"></i> Import</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
    </header>

    <section *ngIf="loaded">
      <div [hidden]="showPart2" class="paragraph">
        <div class="col coord_expenditure_text">
          <h3>Has filer been designated to make a Coordinated Expenditure?</h3>
        </div>
        <div class="row">
          <div class="col col-md-5">
            <div class="form-check form-check-inline">                  
              <label for="coord_expenditure_y"                   
                [ngClass]="
                frmIndividualReceipt.get('coordinated_exp_ind')?.invalid &&
                (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                  ? 'input-field-label-error'
                  : ''
                ">
                <input
                  id="coord_expenditure_y"
                  type="radio"
                  formControlName="coordinated_exp_ind"
                  value="Y"
                  (change)="onFilerChange('Y')"
                />
                Yes
              </label>
            </div>
            <div class="form-check form-check-inline">                 
              <label for="coord_expenditure_n"
                [ngClass]="
                frmIndividualReceipt.get('coordinated_exp_ind')?.invalid &&
                (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                  ? 'input-field-label-error'
                  : ''
              ">
                <input
                  id="coord_expenditure_n"
                  type="radio"
                  formControlName="coordinated_exp_ind"
                  value="N"
                  (change)="onFilerChange('N')"
                />
                No
              </label>
            </div>
          </div>            
        </div>
        <div class="row">
          <div class="col col-md-5">
            <div class="form-group">
              <label for="designating_cmte_id">
                Designating Committee ID Number
              </label>
              <input class="form-control" 
                type="text" 
                [formControlName]="'designating_cmte_id'"
                [attr.name]="'designating_cmte_id'"
                id="designating_cmte_id"
                (keyup)="handleFormFieldKeyup($event, findFormField('designating_cmte_id'))"
                [ngbTypeahead]="searchCommitteeId"
                [focusFirst]=false
                [resultTemplate]="rtCommitteeId" 
                [inputFormatter]="formatterCommitteeId"
                (selectItem)="handleSelectedSFCommittee($event, 'designating_cmte_id')"
                [style.width]="'45%'" 
                [style.height]="'30px'"
                [maxlength]="'9'"
                [ngClass]="
                  frmIndividualReceipt.get('designating_cmte_id')?.invalid && isDesignatedFiler &&
                  (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                    ? 'input-field-error'
                    : ''
                " 
                />
            </div>
          </div>
          <div class="col col-md-5">
            <div class="form-group">
              <label for="designating_cmte_name">
                Designating Committee Name
              </label>
              <input class="form-control" 
                type="text" 
                [formControlName]="'designating_cmte_name'"
                [attr.name]="'designating_cmte_name'"
                id="designating_cmte_name"
                (keyup)="handleFormFieldKeyup($event, findFormField('designating_cmte_name'))"
                [ngbTypeahead]="searchCommitteeName"
                [focusFirst]=false 
                [resultTemplate]="rtCommitteeName" 
                [inputFormatter]="formatterCommitteeName"
                (selectItem)="handleSelectedSFCommittee($event, 'designating_cmte_name')"
                [style.width]="'100%'" 
                [style.height]="'30px'"
                [maxlength]="'200'"
                [ngClass]="
                  frmIndividualReceipt.get('designating_cmte_name')?.invalid && isDesignatedFiler &&
                  (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                    ? 'input-field-error'
                    : ''
                "
                />
            </div>
          </div>        
        </div>
        <div class="row">
          <div class="col col-md-5">
            <div class="form-group">
              <label for="subordinate_cmte_id">
                Subordinate Committee ID Number
              </label>
              <input class="form-control" 
                type="text"
                [formControlName]="'subordinate_cmte_id'"
                [attr.name]="'subordinate_cmte_id'"
                id="subordinate_cmte_id"
                (keyup)="handleFormFieldKeyup($event, findFormField('subordinate_cmte_id'))"
                [ngbTypeahead]="searchCommitteeId"
                [focusFirst]=false
                [resultTemplate]="rtCommitteeId" 
                [inputFormatter]="formatterCommitteeId"
                (selectItem)="handleSelectedSFCommittee($event, 'subordinate_cmte_id')"
                [style.width]="'45%'" 
                [style.height]="'30px'"
                [maxlength]="'9'"
              />
            </div>
          </div>
          <div class="col col-md-5">
            <div class="form-group">
              <label for="">
                  Subordinate Committee Name
              </label>
              <input class="form-control"
                type="text"
                [formControlName]="'subordinate_cmte_name'"
                [attr.name]="'subordinate_cmte_name'"
                [style.width]="'100%'" 
                [style.height]="'30px'"
                [maxlength]="'200'"
                id="subordinate_cmte_name"
                (keyup)="handleFormFieldKeyup($event, findFormField('subordinate_cmte_name'))"
                [ngbTypeahead]="searchCommitteeName"
                [focusFirst]=false 
                [resultTemplate]="rtCommitteeName" 
                [inputFormatter]="formatterCommitteeName"
                (selectItem)="handleSelectedSFCommittee($event, 'subordinate_cmte_name')"
              />
            </div>
          </div>        
        </div>
        <div class="row">
          <div class="col col-md-5">
            <div class="form-group">
              <label for="subordinate_cmte_street_1">
                Street 1
              </label>
              <input class="form-control" 
                type="text" 
                [formControlName]="'subordinate_cmte_street_1'"
                [attr.name]="'subordinate_cmte_street_1'"
                [style.width]="'80%'" 
                id="subordinate_cmte_street_1"
                [style.height]="'30px'"
                [maxlength]="'34'"
              />
            </div>
          </div>
          <div class="col col-md-5">
            <div class="form-group">
              <label for="subordinate_cmte_street_2">
                  Street 2 (Optional)
              </label>
              <input class="form-control" 
                type="text" 
                [formControlName]="'subordinate_cmte_street_2'"
                [attr.name]="'subordinate_cmte_street_2'"
                [style.width]="'80%'" 
                [style.height]="'30px'"
                id="subordinate_cmte_street_2"
                [maxlength]="'34'"
              />
            </div>
          </div>        
        </div>
        <div class="row">
          <div class="col col-md-4">
            <div class="form-group">
              <label for="subordinate_cmte_city">
                City
              </label>
              <input class="form-control" 
                type="text" 
                [formControlName]="'subordinate_cmte_city'"
                [attr.name]="'subordinate_cmte_city'"
                id="subordinate_cmte_city"
                [style.width]="'66%'" 
                [style.height]="'30px'"
                [maxlength]="'30'"
              />
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group" [style.width]="'235px'">
              <label for="subordinate_cmte_state">
                  State
              </label>
              <ng-select #stateSelect 
                [items]="states"                   
                class="forms__select" 
                [formControlName]="'subordinate_cmte_state'" 
                id="subordinate_cmte_state"
                bindValue="code" 
                bindLabel="code" 
                [selectOnTab]="true"
                >
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                  <span>{{ item.code + ' - ' + item.name }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label for="subordinate_cmte_zip">
                  Zip
              </label>
              <input class="form-control" 
                type="text" 
                [formControlName]="'subordinate_cmte_zip'"
                [attr.name]="'subordinate_cmte_zip'"
                id="subordinate_cmte_zip"
                [style.width]="'33%'" 
                [style.height]="'30px'"
                [maxlength]="'10'"
              />
              <div class="error-text" *ngIf="
                (frmIndividualReceipt.touched || frmIndividualReceipt.dirty) &&
                frmIndividualReceipt.get('subordinate_cmte_zip').invalid
              ">
                <ng-container *ngIf="frmIndividualReceipt.get('subordinate_cmte_zip').errors">
                  <div class="text-error text-left"
                    *ngIf="frmIndividualReceipt.get('subordinate_cmte_zip').errors?.nonAlphaNumeric">
                    Alphanumeric characters only.
                  </div>
                </ng-container>
              </div>
            </div>
          </div>                
        </div>                     
      </div>
    </section>
    <section [hidden]="!showPart2" class="paragraph">
      <ng-container *ngFor="let hiddenField of hiddenFields">
        <input type="hidden" [name]="hiddenField?.name" [value]="hiddenField?.value" />
      </ng-container>
      <ng-container *ngFor="let row of formFields; let i = index">
        <ng-container *ngIf="titles[i]?.fieldset">
          <div class="subtitle-indv">
            <div [class]="titles[i]?.colClassName">
              {{ titles[i]?.label }}
            </div>
          </div>
        </ng-container>
        <div class="row" *ngIf="row.cols">
          <ng-container *ngIf="row.cols | isArray">
            <ng-container *ngFor="let col of row.cols">
              <div [class]="row.colClassName" *ngIf="isToggleShow(col)">
                <div class="form-group" [style.width]="setSelectTypeWidth(col)">
                  <label [for]="col?.name">
                    {{ col?.text }}
                    <!-- replace button with div below to resolve tab issue into button -->
                    <!-- <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}"
                      tooltipClass="form-tooltip" *ngIf="col?.infoIcon">
                      <i class="info-icon" aria-hidden="true"></i>
                      <span class="sr-only">Click here for more information</span>
                    </button> -->
                    <div type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}"
                      tooltipClass="form-tooltip" *ngIf="col?.infoIcon">
                      <i class="info-icon" aria-hidden="true"></i>
                      <span class="sr-only">Click here for more information</span>
                    </div>
                    <ng-container *ngIf="!col?.validation?.required 
                      && !col?.isReadonly && col?.name !== 'activity_event_identifier'">
                      (Optional)
                    </ng-container>
                  </label>
                  <ng-container *ngIf="col?.type === 'text' || col?.type === 'date'">
                    <div [ngClass]="{ 'input-group': col?.inputGroup }">
                      <ng-container *ngIf="col?.inputGroup">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i *ngIf="col?.inputIcon" [class]="col?.inputIcon" aria-hidden="true"></i>
                            <span *ngIf="col?.preText">{{col?.preText}}</span>
                          </span>
                        </div>
                      </ng-container>
                      <!-- [attr.readonly]="isReadOnly(col?.name, col.type)" -->
                      <!-- && col?.name !== 'child*entity_name'
                        && col?.name !== 'child*donor_cmte_id'" -->
                        <!-- (blur)="(isFieldName(col?.name, 'contribution_amount') || isFieldName(col?.name, 'expenditure_amount')) 
                                  ? contributionAmountChange($event, col?.name, col?.validation?.dollarAmountNegative) : populatePurpose(col?.name)" -->
                      <!-- [attr.readonly]="(col.type === 'text' && col?.isReadonly) || isTotalAmountReadOnly(col) ?  true : null"                                     -->
                      <input *ngIf="col?.name !== 'first_name' 
                              && col?.name !== 'last_name'
                              && !isFieldName(col?.name, 'cand_first_name')
                              && !isFieldName(col?.name, 'cand_last_name')
                              && !isFieldName(col?.name, 'entity_name')
                              && !isFieldName(col?.name, 'donor_cmte_id')
                              && !isFieldName(col?.name, 'donor_cmte_name')
                              && !isFieldName(col?.name, 'beneficiary_cmte_id')
                              && !isFieldName(col?.name, 'beneficiary_cmte_name') 
                              && !isFieldName(col?.name, 'beneficiary_cand_id')
                              && !isFieldName(col?.name, 'payee_cmte_id')
                              " class="form-control" [style.width]="col?.width" [style.height]="col?.height"
                        [attr.type]="col?.type" [attr.name]="col?.name"
                        [attr.readonly]="isFieldReadOnly(col)"
                        [attr.value]="col?.value"
                        [maxlength]="(isFieldName(col?.name, 'contribution_amount') || isFieldName(col?.name, 'expenditure_amount') 
                                      || isFieldName(col?.name, 'contribution_aggregate'))? col?.validation?.max + 5: col?.validation?.max"
                        [formControlName]="col?.name"
                        (blur)="handleOnBlurEvent($event, col)"    
                        [ngClass]="
                            frmIndividualReceipt.get(col?.name)?.invalid &&
                            (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                              ? 'input-field-error'
                              : ''
                          " (keyup)="handleFormFieldKeyup($event, col)" (change)="(isFieldName(col?.name, 'contribution_date') || isFieldName(col?.name, 'expenditure_date')) 
                                    ? dateChange(col?.name) : null;" />
                      <input *ngIf="col?.name === 'last_name'" class="form-control" [style.width]="col?.width"
                        [style.height]="col?.height" [attr.type]="col?.type" [attr.name]="col?.name"
                        [attr.value]="col?.value" [maxlength]="col?.validation?.max" [formControlName]="col?.name"
                        [attr.readonly]="isFieldReadOnly(col)"
                        [ngClass]="
                            frmIndividualReceipt.get(col?.name)?.invalid &&
                            (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                              ? 'input-field-error'
                              : ''
                          " id="typeahead-template-last-name" [ngbTypeahead]="searchLastName" [focusFirst]=false
                        [resultTemplate]="rt" [inputFormatter]="formatterLastName"
                        (selectItem)="handleSelectedIndividual($event, col)" (keyup)="handleFormFieldKeyup($event, col)"
                        (blur)="populatePurpose(col?.name)" />
                      <input *ngIf="col?.name === 'first_name'" class="form-control" [style.width]="col?.width"
                        [style.height]="col?.height" [attr.type]="col?.type" [attr.name]="col?.name"
                        [attr.value]="col?.value" [maxlength]="col?.validation?.max" [formControlName]="col?.name"
                        [attr.readonly]="isFieldReadOnly(col)"
                        [ngClass]="
                            frmIndividualReceipt.get(col?.name)?.invalid &&
                            (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                              ? 'input-field-error'
                              : ''
                          " id="typeahead-template-first-name" [ngbTypeahead]="searchFirstName" [focusFirst]=false
                        [resultTemplate]="rt" [inputFormatter]="formatterFirstName"
                        (selectItem)="handleSelectedIndividual($event, col)" (keyup)="handleFormFieldKeyup($event, col)"
                        (blur)="populatePurpose(col?.name)" />
                      <input *ngIf="isFieldName(col?.name, 'cand_last_name')" class="form-control"
                        [style.width]="col?.width" [style.height]="col?.height" [attr.type]="col?.type"
                        [attr.name]="col?.name" [attr.value]="col?.value" [maxlength]="col?.validation?.max"
                        [formControlName]="col?.name" [ngClass]="
                            frmIndividualReceipt.get(col?.name)?.invalid &&
                            (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                              ? 'input-field-error'
                              : ''
                          " id="typeahead-template-cand-last-name" [ngbTypeahead]="searchCandLastName" [focusFirst]=false
                        [resultTemplate]="rtCandidate" [inputFormatter]="formatterCandLastName"
                        (selectItem)="handleSelectedCandidate($event, col)" (keyup)="handleFormFieldKeyup($event, col)"
                        (blur)="populatePurpose(col?.name)" />
                      <input *ngIf="isFieldName(col?.name, 'cand_first_name')" class="form-control"
                        [style.width]="col?.width" [style.height]="col?.height" [attr.type]="col?.type"
                        [attr.name]="col?.name" [attr.value]="col?.value" [maxlength]="col?.validation?.max"
                        [formControlName]="col?.name" [ngClass]="
                            frmIndividualReceipt.get(col?.name)?.invalid &&
                            (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                              ? 'input-field-error'
                              : ''
                          " id="typeahead-template-cand-first-name" [ngbTypeahead]="searchCandFirstName"
                        [focusFirst]=false [resultTemplate]="rtCandidate" [inputFormatter]="formatterCandFirstName"
                        (selectItem)="handleSelectedCandidate($event, col)" (keyup)="handleFormFieldKeyup($event, col)"
                        (blur)="populatePurpose(col?.name)" />
                      <input *ngIf="isFieldName(col?.name, 'entity_name')" class="form-control" [style.width]="col?.width"
                        [style.height]="col?.height" [attr.type]="col?.type" [attr.name]="col?.name"
                        [attr.value]="col?.value" [maxlength]="col?.validation?.max" [formControlName]="col?.name"
                        [ngClass]="
                            frmIndividualReceipt.get(col?.name)?.invalid &&
                            (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                              ? 'input-field-error'
                              : ''
                          " id="typeahead-template-org" [ngbTypeahead]="searchOrg" [focusFirst]=false
                        [resultTemplate]="rtOrg" [inputFormatter]="formatterOrgName"
                        (selectItem)="handleSelectedOrg($event, col)" (keyup)="handleFormFieldKeyup($event, col)" 
                        [attr.readonly]="isFieldReadOnly(col)" />
                      <input *ngIf="isFieldName(col?.name, 'payee_cmte_id')" class="form-control"
                             [style.width]="col?.width" [style.height]="col?.height" [attr.type]="col?.type"
                             [attr.name]="col?.name" [attr.value]="col?.value" [maxlength]="col?.validation?.max"
                             [formControlName]="col?.name" [ngClass]="
                              frmIndividualReceipt.get(col?.name)?.invalid &&
                              (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                                ? 'input-field-error'
                                : ''
                            " id="typeahead-template-payee-committee-id"
                             [ngbTypeahead]="searchPayeeCommitteeId"
                             [focusFirst]=false
                             [resultTemplate]="rtPayeeCommitteeId"
                             [inputFormatter]="formatterPayeeCommitteeId"
                             (selectItem)="handleSelectedCandidate($event, col)" (keyup)="handleFormFieldKeyup($event, col)" />
                      <input *ngIf="isFieldName(col?.name, 'donor_cmte_id') ||
                                isFieldName(col?.name, 'beneficiary_cmte_id') ||
                                isFieldName(col?.name, 'beneficiary_cand_id')" class="form-control"
                        [style.width]="col?.width" [style.height]="col?.height" [attr.type]="col?.type"
                        [attr.name]="col?.name" [attr.value]="col?.value" [maxlength]="col?.validation?.max"
                        [formControlName]="col?.name" [ngClass]="
                            frmIndividualReceipt.get(col?.name)?.invalid &&
                            (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                              ? 'input-field-error'
                              : ''
                          " id="typeahead-template-committee-id"
                        [ngbTypeahead]="isFieldName(col?.name, 'beneficiary_cand_id') ? searchCandidateId : searchCommitteeId"
                        [focusFirst]=false
                        [resultTemplate]="isFieldName(col?.name, 'beneficiary_cand_id') ? rtCandidateId : rtCommitteeId" 
                        [inputFormatter]="isFieldName(col?.name, 'beneficiary_cand_id') ? formatterCandidateId: formatterCommitteeId"
                        (selectItem)="handleSelectedOrg($event, col)" (keyup)="handleFormFieldKeyup($event, col)" />
                      <input *ngIf="isFieldName(col?.name, 'donor_cmte_name') ||
                                isFieldName(col?.name, 'beneficiary_cmte_name')" class="form-control"
                        [style.width]="col?.width" [style.height]="col?.height" [attr.type]="col?.type"
                        [attr.name]="col?.name" [attr.value]="col?.value" [maxlength]="col?.validation?.max"
                        [formControlName]="col?.name" [ngClass]="
                            frmIndividualReceipt.get(col?.name)?.invalid &&
                            (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                              ? 'input-field-error'
                              : ''
                          " id="typeahead-template-committee-name" [ngbTypeahead]="searchCommitteeName"
                        [focusFirst]=false [resultTemplate]="rtCommitteeName" [inputFormatter]="formatterCommitteeName"
                        (selectItem)="handleSelectedOrg($event, col)" (keyup)="handleFormFieldKeyup($event, col)" />
                    </div>
                    <div class="error-text" *ngIf="
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty) &&
                          frmIndividualReceipt.get(col?.name).invalid
                        ">
                      <ng-container *ngIf="frmIndividualReceipt.get(col?.name).errors?.maxlength">
                        <div class="text-error text-left" *ngIf="
                              frmIndividualReceipt.get(col?.name).errors.maxlength?.requiredLength <
                              frmIndividualReceipt.get(col?.name).errors.maxlength?.actualLength
                            ">
                          Only {{ frmIndividualReceipt.get(col?.name).errors.maxlength?.requiredLength }} characters
                          allowed.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmIndividualReceipt.get(col?.name).errors">
                        <div class="text-error text-left"
                          *ngIf="frmIndividualReceipt.get(col?.name).errors?.nonValidAmount">
                          Please enter a valid amount.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmIndividualReceipt.get(col?.name).errors">
                        <div class="text-error text-left"
                          *ngIf="frmIndividualReceipt.get(col?.name).errors?.nonAlphaNumeric">
                          Alphanumeric characters only.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmIndividualReceipt.get(col?.name).errors">
                        <div class="text-error text-left"
                          *ngIf="frmIndividualReceipt.get(col?.name).errors?.nonFloatingPoint">
                          Only numerical values are allowed.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmIndividualReceipt.get(col?.name).errors">
                        <div class="text-error text-left"
                          *ngIf="frmIndividualReceipt.get(col?.name).errors?.contributionDateInvalid">
                          The date entered falls outside of the report coverage period. Transactions for this report
                          should fall within {{ cvgStartDate }} and {{ cvgEndDate }} (Coverage Dates of Report). If you
                          need to add a transaction with a date that falls outside of the coverage period for this report,
                          you will need to check the memo code box.
                          <!-- Entered date is outside of the report coverage period. Please enter transactions for this
                            coverage period only. -->
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'checkbox'">
                    <!-- [attr.disabled]="isMemoCodeReadOnly(col?.name)" -->
                    <input class="form-control forms__big_checkbox" [style.width]="col?.width"
                      [style.height]="col?.height" [attr.type]="col?.type" [attr.name]="col?.name"
                      [attr.value]="col?.value"
                      [checked]="isFieldName(col?.name, 'memo_code') ? checkForMemoCode(col?.name) : null"
                      [formControlName]="col?.name"
                      (change)="isFieldName(col?.name, 'memo_code') ? memoCodeChange($event, col?.name) : null" [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'input-field-error'
                            : ''
                        " />
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'textarea'">
                    <textarea [style.height]="col?.height" [style.width]="col?.width"
                      [style.overflow]="col.scroll ? col.scroll : null" [attr.name]="col?.name"
                      [attr.maxlength]="col?.validation?.max" [formControlName]="col?.name"></textarea>
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'select' && isFieldName(col?.name, 'cand_office')">
                    <ng-select #candOfficeTypeSelect 
                      [items]="candidateOfficeTypes"
                      (change)="handleCandOfficeChange($event, col)" 
                      class="forms__select" 
                      [formControlName]="col?.name"
                      bindValue="code" 
                      bindLabel="name"
                      [selectOnTab]="true"
                      [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'forms__select-error'
                            : ''
                        ">
                    </ng-select>
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'select' && 
                        (isFieldName(col?.name, 'state') ||
                        isFieldName(col?.name, 'cand_office_state'))">
                    <ng-select #stateSelect 
                      [items]="states" 
                      (change)="handleStateChange($event, col)"
                      class="forms__select" 
                      [formControlName]="col?.name" 
                      bindValue="code" 
                      bindLabel="code" 
                      [selectOnTab]="true"
                      [attr.readonly]="isSelectFieldReadOnly(col)"
                      [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'forms__select-error'
                            : ''
                        ">
                      <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                        <span>{{ item.code + ' - ' + item.name }}</span>
                      </ng-template>
                    </ng-select>
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'select' && isFieldName(col?.name, 'election_code')">
                    <ng-select #electionCodeSelect 
                      [items]="electionTypes"
                      (change)="handleElectionCodeChange($event, col)" 
                      class="forms__select election-code-select"
                      [formControlName]="col?.name" 
                      bindValue="electionType" 
                      bindLabel="electionTypeDescription"
                      [selectOnTab]="true"
                      [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'forms__select-error'
                            : ''
                        ">
                    </ng-select>
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'select' && isFieldName(col?.name, 'entity_type')">
                    <ng-select #entityTypeSelect 
                      [items]="entityTypes" 
                      (change)="handleEntityTypeChange($event)"
                      class="forms__select entity-type-select" 
                      [formControlName]="col?.name" 
                      bindValue="entityType"
                      bindLabel="entityTypeDescription" 
                      [selectOnTab]="true"
                      [readonly]="isSelectFieldReadOnly(col)"
                      [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'forms__select-error'
                            : ''
                        ">
                    </ng-select>
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'select' && isFieldName(col?.name, 'activity_event_type')">
                    <ng-select #activityEventTypeSelect 
                      [items]="activityEventTypes" 
                      (change)="handleActivityEventTypeChange($event, col)"
                      class="forms__select activity-event-type-select" 
                      [formControlName]="col?.name" 
                      bindValue="eventType"
                      bindLabel="eventTypeDescription" 
                      [selectOnTab]="true"
                      [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'forms__select-error'
                            : ''
                        ">
                    </ng-select>                     
                  </ng-container>
                  <ng-container 
                    *ngIf="col?.type === 'select' && isFieldName(col?.name, 'activity_event_identifier')
                      && activityEventNames"
                  >
                  <!-- bindValue="activityEventDescription" -->
                  <!-- activityEventType -->
                    <ng-select #activityEventNameSelect 
                      [items]="activityEventNames"
                      (change)="handleActivityEventNameChange($event, col)" 
                      class="forms__select activity-event-name-select" 
                      [formControlName]="col?.name" 
                      bindValue="activityEventDescription"
                      bindLabel="activityEventDescription" 
                      [selectOnTab]="true"
                      [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'forms__select-error'
                            : ''
                        ">
                    </ng-select>
                  </ng-container>                                         
                  <ng-container *ngIf="col?.type === 'select' && 
                        (isFieldName(col?.name, 'levin_account_id'))">
                    <ng-select #levinAccountSelect 
                      [items]="levinAccounts" 
                      class="forms__select" 
                      [formControlName]="col?.name" 
                      bindValue="levin_account_id" 
                      bindLabel="levin_account_name" 
                      [selectOnTab]="true"
                      [readonly]="isSelectFieldReadOnly(col)"
                      [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'forms__select-error'
                            : ''
                        ">
                    </ng-select>
                  </ng-container>
                </div>
              </div>
            </ng-container>
            <!-- ./col -->
          </ng-container>
        </div>
        <!-- ./row -->
        <ng-container *ngIf="row.seperator">
          <div class="row">
            <div class="col-md-12">
              <hr />
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="row.childForm">
          <div class="row">
            <div [class]="row.colClassName">
              {{ row.childFormTitle }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr />
            </div>
          </div>
        </ng-container>
      </ng-container>
      <app-sub-transactions-table [hidden]="!isShowChildTransactions()" 
        [subTransactions]="subTransactions"
        [formType]="formType"
        [subTransactionsTableType]="subTransactionsTableType">
      </app-sub-transactions-table>
      <div class="forms__btn-container">
        <button id="addSingleChildButton" *ngIf="!subTransactionInfo?.isEarmark &&
                      subTransactionInfo?.isParent && !multipleSubTransactionInfo" 
          class="btn btn-primary btn-left"
          (click)="saveForAddSub()">
          <i class="plus-icon-circle" aria-hidden="true"></i>
          Add {{ subTransactionInfo.subTransactionTypeDescription }}
        </button>
      </div>
    </section>
    <footer>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <div class="forms__btn-container">
            <ng-container *ngIf="!showPart2">
              <button *ngIf="scheduleAction === addScheduleAction"
                class="btn btn-previous btn-left" type="button" 
                (click)="previousStep()">
                Previous
              </button>
              <button *ngIf="scheduleAction === editScheduleAction"
                class="btn btn-previous btn-left" type="button" (click)="cancel()">
                Cancel
              </button>
              <button class="btn btn-secondary btn-right" (click)="next()">
                Next
              </button>                                        
            </ng-container>
            <ng-container *ngIf="showPart2">
              <button class="btn btn-previous btn-left" (click)="back()">
                Previous
              </button>
              <ng-container>
                <a *ngIf="subTransactionInfo?.isParent === false" class="btn btn-primary btn-right"
                   (click)="saveAndReturnToParent()">
                  Save &amp; Return to {{ subTransactionInfo.transactionTypeDescription }}
                </a>
                <button *ngIf="scheduleAction === addScheduleAction"
                        class="btn btn-secondary btn-right"
                        [disabled]="!frmIndividualReceipt.valid"
                        (click)="saveOnly()">
                  Save &amp; Add Transaction
                </button>
                <button *ngIf="scheduleAction === editScheduleAction"
                        class="btn btn-secondary btn-right"
                        [disabled]="!frmIndividualReceipt.valid"
                        (click)="updateOnly()">
                  Save
                </button>
                <button *ngIf="scheduleAction === addScheduleAction" 
                  class="btn btn-previous btn-right" 
                  (click)="(frmIndividualReceipt.dirty) ? saveOrWarn() : viewTransactions()">
                  View Transactions
                </button>                       
              </ng-container>  
            </ng-container> 
          </div>
        </div>
      </div>
    </footer>
  </form>
</div>
