.import_trx__heading {
    padding: 40px 0 20px 0;
  }
  .import_trx__sub-section-title {
    padding-top: 20px;
  }
  .import_trx__heading-list {
    padding: 40px 0 0 0;
  }
  .import_trx__import-directions {
    padding-left: 25px;
    ol {
      padding: 0;
      margin-left: 1em;
      margin-bottom: 0;
      li {
        padding-top: 20px;
      }
      .import_trx__first-item {
        padding-top: 0px;
      }
    }
    .import_trx__alpha-list {
      list-style-type: lower-alpha;
    }
  }
  .import_trx__begin-import-msg {
    padding: 5px 0;
  }
  .import_trx__begin-import-links li {
    padding: 5px 0 5px 25px;
    list-style-type: none;
  }