<div class="submit-container">
  <header>
    <h1 class="text-left">Accepted!</h1><br>
    <hr />
  </header>
  <section>
    <div class="content">
      <div class="grid-row">
       <div class="validate__form show-alerts">
        <div class="grid-row__col grid-row__col--12">
          <app-validate></app-validate>
        </div>
       </div>
      </div>
      <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">    
              Your filling ID is {{FEC_Id}}<br>
              The form has been successfully filed and you will receive an email confirmation shortly. <br>
              If you don't receive a confirmation email, please contact the Electronic Filing Office at (202) 694-1307.        
        </div>
      </div>
      <div class="grid-row" *ngIf="!checkStatus">
          <div class="grid-row__col grid-row__col--12">
              <br />
            Your filling ID is FEC-{{FEC_Id}}
            <br />
          </div>
      </div>     
      
      <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <br />
              <button
              type="button"
              class="btn btn-previous btn-left"
              (click)="goToDashboard()"
            >
              Back to Dashboard
            </button>
          </div>
      </div>

   </div> 
  </section>
</div>
