<ng-template #rtCommitteeId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCommitteeId(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCommitteeName let-r="result" let-t="term">
    <ngb-highlight [result]="formatTypeaheadCommitteeName(r)" [term]="t"></ngb-highlight>
</ng-template>
<div class="form__type-container">
  <div class="form__type">
    <form [formGroup]="form">
      <header>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12 pt-2">
            <h1 class="text-left">
                Form 1M / By Affiliation
            </h1>
          </div>
        </div>
      </header>
      <section>
        <div class="content">
          <div class="grid-row">
            <div class="grid-row__col space-bottom pt-5">
              <h3>
                Committee Information
              </h3>
            </div>
          </div>
          <div class="grid-row">
            <div class="grid-row__col space-bottom pt-5 pl-5">
              <span>
                Multicandidate status is established by?
              </span>
            </div>
          </div>
          <div class="row pt-5">
            <div class="form-group col col-md-3 offset-md-1">
              <label for="expenditure_date">Affiliated - Date Form F1 Filed
                <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="input-group transactions__filter-multi-input">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="affiliated_dateIcon">
                    <i class="calendar-icon" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="date" name="affiliation_date" [formControlName]="'affiliation_date'" class="form-control"
                [ngClass]=" form.get('affiliation_date')?.invalid &&
                              (form.touched || form.dirty)
                                ? 'input-field-error'
                                : ''"
                  id="affiliation_date" aria-label="Enter F1 affiliated date" aria-describedby="affiliation_date"
                  required>
              </div>
              <div class="text-error text-left"
                *ngIf="form.controls?.affiliation_date?.errors && form.controls?.affiliation_date?.errors['contributionDateInvalid']">
                Placeholder error. 
              </div>
            </div>
            <div class="form-group col col-md-3">
              <label for="committee_id">Affiliated Committee FEC ID
                <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="input-group transactions__filter-multi-input">
                <input type="text" name="committee_id" [formControlName]="'committee_id'" class="form-control"
                  id="committee_id" aria-label="Committee Id" aria-describedby="committee_id" required
                  [ngClass]=" form.get('committee_id')?.invalid &&
                              (form.touched || form.dirty)
                                ? 'input-field-error'
                                : ''"
                  [ngbTypeahead]="searchCommitteeId" 
                  [focusFirst]=false
                  [resultTemplate]="rtCommitteeId" 
                  [inputFormatter]="formatterCommitteeId"
                  (selectItem)="handleSelectedCommittee($event)" 
                  >
              </div>
            </div>
            <div class="form-group col col-md-3">
              <label for="committee_name">Affiliated Committee Name
                <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="input-group transactions__filter-multi-input">
                <input type="text" name="committee_name" [formControlName]="'committee_name'" class="form-control"
                  id="committee_name" aria-label="Committee Name" aria-describedby="committee_name" required
                  [ngClass]=" form.get('committee_name')?.invalid &&
                              (form.touched || form.dirty)
                                ? 'input-field-error'
                                : ''"
                  [ngbTypeahead]="searchCommitteeName" 
                  [focusFirst]=false
                  [resultTemplate]="rtCommitteeName" 
                  [inputFormatter]="formatterCommitteeName"
                  (selectItem)="handleSelectedCommittee($event)" 
                  >
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div> <!-- ./form__type -->
</div> <!-- ./form__type-container -->
