<div class="app-container" [ngClass]="{ active: showSideBar }">
  <div class="app__top">
    <nav class="navbar py-0 navbar-expand-lg">
      <div class="navbar-brand app__top-logo">
        <a href="http://www.fec.gov/" draggable="false" target="_blank">
          <img src="assets/img/logo-transparent.png" draggable="false"/>
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleTopNav()"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="bars-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse app__top-nav"
        id="navbarSupportedContent"
        [ngClass]="{ toggleMenuStyle: toggleMenu === true }"
      >
        <div class="form-group ml-1 mt-2">
          <input type="text" name="search" class="form-control-sm" placeholder="Search for..." />
          <i class="search-icon" aria-hidden="true"></i>
        </div>
        <app-header class="container"
          [formType]="formType"
        ></app-header>
      </div>
    </nav>
  </div>
  <div class="app__side-nav">
    <app-sidebar (status)="onNotify($event)"></app-sidebar>
  </div>
  <main>
    <div class="app__content-wrapper">
      <div class="app__committee-info">
        <div class="float-left">
          <h1 class="committee-id">
            {{ committeeId }}
          </h1>
          <h2 class="committee-name">
            {{ committeeName }}
          </h2> 
        </div>
        <div class="float-right" [hidden]="_activatedRoute?.snapshot?.queryParams?.allTransactions === 'true'">
          <div class="float-right" *ngIf="showFormDueDate">
            <div>
              <div>
                Form {{ formType }} | {{ formDescription }} | {{ formStartDate | date: 'MM/dd/yyyy' }} -
                {{ formEndDate | date: 'MM/dd/yyyy' }}
              </div>              
              <ng-container *ngIf="reportOverDue && dueDate">
                <span class="text-error">
                  Overdue by {{ formDaysUntilDue }} days ({{ dueDate | date: 'MM/dd/yyyy' }})
                </span>
              </ng-container>
              <ng-container *ngIf="!reportOverDue && dueDate">
                Due in {{ formDaysUntilDue }} days ({{ dueDate | date: 'MM/dd/yyyy' }})
              </ng-container>
              <span *ngIf="!dueDate">Edit Report</span>
              <a class="btn btn-link btn-edit" (click)="editFrom()"
                 [style.pointer-events]="_authService.isReadOnly() ?'none':'auto'"
                 tabindex="{{_authService.isReadOnly()?-1:0}}">
                <i class="edit-icon" aria-hidden="true"></i>
                <span class="sr-only">Click to edit date.</span>
              </a>
            </div>
          </div>
          <div class="float-right py-3" *ngIf="!showFormDueDate && formType">
            <div>
              <div>
                Form {{ formType }} 
              </div>              
            </div>
          </div>
        </div>
      </div>
      <div class="app__content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <footer>
    <div class="app__footer">
      <div class="contact-info">
        <div class="contact-info__item">
          <h6>
            <label>Federal Election Commission</label>
            <br />
            <address>
              1050 First Street NE, Washington DC, 20002
              <br />
              <a href="https://fec.gov" draggable="false" target="_blank">fec.gov</a>
            </address>
          </h6>
        </div>
        <div class="contact-info__item">
          <h6>
            <label>Main Office</label>
            <br />
            <address>
              Toll free: 1-800-424-9530
              <br />
              Local: (202) 694-1000
            </address>
          </h6>
        </div>
        <div class="contact-info__item">
          <h6>
            <label>
              RAD Analyst,
              {{ radAnalystInfo?.first_name }}
              {{ radAnalystInfo?.last_name }}
            </label>
            <br />
            <address>
              <ng-container *ngIf="radAnalystInfo"> (202) 694-1000 x{{ radAnalystInfo?.telephone_ext }} </ng-container>
              <br />
              <ng-container>
                <a href="https://www.fec.gov/help-candidates-and-committees/question-rad/" draggable="false" target="_blank">
                  Find & contact your committee's analyst
                </a>
              </ng-container>
            </address>
          </h6>
        </div>
        <div class="contact-info__item">
          <h6>
            <label>Tech Support</label>
            <br />
            <address>
              (202) 694-1307
            </address>
            <a href="mailto:eFiletechsupport@fec.gov">
              eFiletechsupport@fec.gov
            </a>
          </h6>
        </div>
      </div>
      <!-- ./contact-info -->
      <div class="legal-disclaimer">
        <button type="button" class="btn btn-link" (click)="open(legalDisclaimer)">
          Legal Disclaimer
        </button>
        <ng-template #legalDisclaimer let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">
              Legal Disclaimer
            </h4>
          </div>
          <div class="modal-body">
            <p>
              Please be advised that knowingly and willfully making any materially false, fictitious, or fraudulent
              statement or representation to a federal government agency, including the Federal Election Commission, is
              punishable under the provisions of 18 U.S.C. § 1001. The Commission may report apparent violations to the
              appropriate law enforcement authorities. 52 U.S.C. § 30107(a)(9).
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="d('Close click')">Close</button>
          </div>
        </ng-template>
      </div>
    </div>
    <!-- ./app__footer -->
  </footer>
</div>
