<div 
  class="app-container"
  [ngClass]="sideBarClass"
>
  <div class="app__top">
    <nav class="navbar py-0 navbar-expand-lg">
      <div class="navbar-brand app__top-logo">
        <a [routerLink]="['/dashboard']">
          <img src="assets/img/logo-transparent.png" />
        </a>
      </div>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        (click)="toggleTopNav()"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="bars-icon"></span>
      </button>             
      <div 
        class="collapse navbar-collapse app__top-nav" 
        id="navbarSupportedContent"
        [ngClass]="{ 'toggleMenuStyle' : toggleMenu === true }"
      >       
        <app-header></app-header>
      </div>
    </nav>
  </div>
  <div class="app__side-nav">
    <app-sidebar (status)='onNotify($event)'></app-sidebar>
  </div>
  <main>
    <div class="app__content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
