 @import '../shared/scss/global';

.app-container {
  background-color: white;
  color: $mineShaft;
  font-family: $mainFontFamily;
  min-height: 100vh;
  overflow-y: hidden;
  transition: all 0.4s ease 0s;
  &.active {
    padding-left: 0;
    @include media(tablet) {
      padding-left: 0
    }
    @include media(mediumDesktop) {
      padding-left: 220px;
      overflow-x: hidden;
    }
    @include media(largeDesktop) {
      padding-left: 220px;
      overflow-x: hidden;
    }
    .app__side-nav {
      left: 0;
    }
    main {
      .app__content-wrapper {
        padding-left: 10px;
        .app__content {
          clear: left;
          margin-left: 50px;
          width: 95%;
        }
      }
    }
    footer {
      .app__footer {
        padding-left: 80px;
        @include media(tablet) {
          padding-left: 100px;
        }
        @include media(mediumDesktop) {
          padding-left: 80px;
        }
        @include media(largeDesktop) {
          padding-left: 80px;
        }
      }
    }
  }
  &.dashboard.active {
    padding-left: 0;
    @include media(tablet) {
      padding-left: 0
    }
    @include media(mediumDesktop) {
      padding-left: 240px;
    }
    @include media(largeDesktop) {
      padding-left: 240px;
    }
    .app__side-nav {
      left: 0;
    }
    main {
      .app__content-wrapper {
        padding-right: 20px;
      }
    }
    footer {
      .app__footer {
        font-family: $mainFontFamily;
        font-size: 1.1rem;
        @include media(mediumDesktop) {
          padding-left: 75px;
        }
        @include media(largeDesktop) {
          padding-left: 75px;
        }
        .contact-info {
          width: $footerContactInfoWidth;
        }
        .legal-disclaimer {
          width: $footerLegalDisclaimerWidth;
        }
      }
    }
  }
 .app__top {
    background-color: $dustyGray;
    font-family: $mainFontFamily;
    height: $topNavHeight;
    position: fixed;
    right: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 1001;
    .navbar {
      background-color: $navBarGray;
      height: $topNavHeight;
      font-family: 'Lato', 'sans-serif';
    font-size: 1rem;
    font-weight: 400;
    color: #212121;
      margin: 0 !important;
      padding: 0 !important;
      .navbar-toggler {
        margin-left: auto;
        @include media(tablet) {
          padding-right: 10px;
        }
        @include media(mediumDesktop) {
          padding-right: 0;
        }
        @include media(largeDesktop) {
          padding-right: 0;
        }
      }
      .app__top-logo {
        float: left;
        margin-bottom: -28px;
        padding: 0 !important;
        img {
          @include media(tablet) {
            width: 225px;
          }
          @include media(mediumDesktop) {
            width: 225px;
          }
          @include media(largeDesktop) {
            width: 250px;
            padding-bottom:2%;
          }
          
          // padding-bottom:2%;
        }
      } // .app__top-logo
      .app__top-nav {
        float: left;
        width: auto;
        &.toggleMenuStyle {
          background: $dustyGray;
          display: block;
          float: none;
          height: 675px;
          position: absolute;
          top: 60px;
          width: 100%;
          @include media(tablet) {
            display: block;
            float: none;
            height: 675px;
            position: absolute;
            top: 60px;
            width: 100%;
          }
          @include media(mediumDesktop) {
            height: 60px;
            position: relative;
            top: 0;
          }
          @include media(largeDesktop) {
            height: 60px;
            position: relative;
            top: 0;
          }
        }
        @include media(tablet) {
          width: auto;
        }
        @include media(mediumDesktop) {
          width: 80%;
        }
        @include media(largeDesktop) {
          width: 90%;
        }
      }
      @include clearfix();
    }
    @include clearfix();
  } // .app__top
  .app__side-nav {
    font-family: $mainFontFamily;
    height: 100%;
    left: -235px;
    position: fixed;
    top: 60px;
    transition: all 0.4s ease 0s;
    width: $sideBarWidth;
    z-index: 1000;
  } // .app__side-nav
  main {
    height: 80%;
    .app__content-wrapper {
      background-color: white;
      font-family: $mainFontFamily;
      margin: 0 auto;
      min-height: $mainContentHeight;
      padding-left: 40px;
      padding-top: 60px;
      transition: all 0.4s ease 0s;
      z-index: 0;
      .app__committee-info {
        background-color: white;
        margin-bottom:1%;
        height: 150px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 35px;
        position: relative;
        vertical-align: bottom;
        border-bottom: 1px solid black;
        @include media(tablet) {
          height: 100%;
          padding-top: 10px;
        }
        @include media(mediumDesktop) {
          height: 100%;
          padding-top: 10px;
        }
        @include media(largeDesktop) {
          height: 100%;
          padding-top: 10px;
        }
        .committee-name,
        .committee-id {
          display: inline-block;
          position: relative;
        }
        .committee-id {
          
          font-family: $mainFontFamily;
          margin-right: 25px;
        }
        .committee-name {
          
          font-family: $mainFontFamily;
        }
        .btn-edit {
          color: $black;
          text-decoration: none;
          &:hover,
          &:visited,
          &:active {
            color: black;
            text-decoration: none;
          }
        }
        @include clearfix();
      }
      .app__content {
        background-color: $white;
        margin: 0 auto;
        min-height: $mainContentHeight;
        width: 98%;
      }
    }
  } // main
  .app__footer {
    background-color:$alto;
    color: $black;
    height: $footerMobileHeight;
    margin-top: 5px;
    padding-top:1%;
    // overflow-y: hidden;
    padding-left: 80px;
    @include media(tablet) {
      height: $footerMobileHeight;
      padding-left: 100px;
    }
    @include media(mediumDesktop) {
      height: $footerDesktopHeight;
      padding-left: 70px;
    }
    @include media(largeDesktop) {
      height: $footerDesktopHeight;
      padding-left: 70px;
    }
    .contact-info {
      float:left;
      width: $footerContactInfoWidth;
      .contact-info__item {
        font-size: 1.21269rem;
        display: block;
        @include media(tablet) {
          display: block;
          padding-right: 0px;
        }
        @include media(mediumDesktop) {
          display: inline-block;
          padding-right: 0px;
        }
        @include media(largeDesktop) {
          display: inline-block;
          padding-right: 100px;
        }
        
        padding-left: 10px;
        &:last-child {
          padding-right: 0;
        }
        address{
          font-style: normal;
          font-weight:normal;
          a{
            border-bottom: 1px dotted black;
            color: black
          }
          a:hover{
            border-bottom: 1px dotted $pelorous;
            text-decoration: none;
            color: $pictonBlue;
          }
        }
        /* a {
          color: $pictonBlue;
          text-decoration: none;
          &:hover,
          &:active,
          &:visited {
            color: $pictonBlue;
          }
          &:hover,
          &:active {
            text-decoration: underline;
          }
        } */
      }
    }
    .legal-disclaimer {
      float: left;
      text-align: right;
      padding-right: 20px;
      width: $footerLegalDisclaimerWidth;
      font-style: normal;
      font-weight:normal;
          .btn-link {
            padding:0;
            margin:0;
            border-bottom: 1px dotted black;
            // color: $pictonBlue;
            &:hover,
            &:active,
            &:visited {
              //color: $pictonBlue;
              text-decoration: none;
              border-bottom: 1px dotted $pictonBlue;
              color: $pictonBlue;
        }
      }
    }
    @include clearfix();
  }
} // .app-container
.modal-dialog {
  color: $black;
}
