 @import '../shared/scss/global';

.app-container {
  color: $black;
  height: 100%;
  padding-left: $sideBarWidth;
  transition: all 0.4s ease 0s;
  &.active {
    padding-left: 0;
    .app__side-nav {
      left: 35px;
    }
  }
 .app__top {
    background-color: $dustyGray;
    height: 60px;
    left: 0;
    position: fixed;
    right: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 1001;    
    .navbar {
      background-color: $dustyGray;
      height: 60px;
      margin: 0 !important;
      padding: 0 !important;   
      @include media(tablet) {
        height: 60px;
      }
      @include media(mediumDesktop) {
        height: 60px;
      }         
      @include media(largeDesktop) {
        height: 60px;
      }       
      &.toggleMenuStyle {
        height: 335px;
        @include media(tablet) {
          height: 335px;
        }
        @include media(mediumDesktop) {
          height: 60px !important;
        }         
        @include media(largeDesktop) {
          height: 60px !important;
        }   
        .app__top-nav {
          display: block;
          height: 335px;
          @include media(tablet) {
            display: block;
            height: 345px;
          }
          @include media(mediumDesktop) {
            height: 60px;
          }         
          @include media(largeDesktop) {
            height: 60px;
          }           
        }      
      }
      .app__top-logo {
        float: left;
        margin-right: 25px;
        width: 10%;
        @include media(tablet) {
          width: 20%;
        }
        @include media(mediumDesktop) {
          width: 25%;
        }         
        @include media(largeDesktop) {
          width: 25%;
        }         
        img {
          padding-top: 5px;
          width: 250px;
          @include media(tablet) {
            width: 270px;
          }
          @include media(mediumDesktop) {
            width: 280px;
          }         
          @include media(largeDesktop) {
            width: 350px;
          }           
        }
      } // .app__top-logo
      .app__top-nav {
        float: left;
        width: auto;
        @include media(mediumDesktop) {
          width: auto;
        }           
        @include media(mediumDesktop) {
          width: 65%;
        }         
        @include media(largeDesktop) {
          width: 73%;
        }         
      }
    } 
    @include clearfix();
  } // .app__top  
  .app__side-nav {
    height: 100%;
    left: $sideBarWidth;
    margin-left: -$sideBarWidth;
    position: fixed;
    top: 60px;
    transition: all 0.4s ease 0s;
    width: $sideBarWidth;
    z-index: 1000;
  } // .app__side-nav  
  main {
    height: 98%;
    .app__content-wrapper {
      padding-top: 60px;
      transition: all 0.4s ease 0s;
      width: 100%;
      z-index: 0;
    }
  }      
}