@import '../../../shared/scss/global';

footer {
    .forms__btn-container {
        bottom: 0;
        position: relative;
        padding-top:5%;
        width: 100%;
    }
}

.ng-select .ng-select-container {
    min-height: 45px;
  }
  
  .ng-select.ng-select-single .ng-select-container {
    height: 45px;
  }

.candidate-footer{
  width: 90%;
  padding-left: 15px;
  padding-top: 15px;
}