<style>
  @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');
</style>
<div class="main-box">
  <div class="main-content">
    <form [formGroup]="frmUserInfo">
      <header>
        <div class="text-center">
          <img class="fec-title" src="assets/img/FECtitleNew.png" draggable="false" alt="FECTitle" />
        </div>
        <div class="title-front">Electronic Filing Enrollment and Password Assignment</div>
      </header>

      <div class="user-info">
        <div class="container">
          <label>Enter Committee ID</label>
          <input formControlName="committeeID"
                 placeholder="Enter Committee ID"
                 type="text"
                 [ngClass]="frmUserInfo.get('committeeID')?.invalid &&
                 (frmUserInfo.touched || frmUserInfo.dirty) ? 'input-field-error': ''">
          <div class="example">Example: C00123456; C30001234; C90001234.</div>
          <div *ngIf="frmUserInfo.get('committeeID').invalid && frmUserInfo.get('committeeID').touched">
            <div class="error__email-id" *ngIf="frmUserInfo.get('email').hasError('required')">
              Please enter Committee ID
            </div>
          </div>
        </div>
        <div class="container">
          <label>Enter Email</label>
          <input formControlName="email"
                 placeholder="Enter Email Address"
                 type="text"
                 [ngClass]="frmUserInfo.get('email')?.invalid &&
                 (frmUserInfo.touched || frmUserInfo.dirty) ? 'input-field-error': ''">
          <div *ngIf="frmUserInfo.get('email').invalid && frmUserInfo.get('email').touched">
            <div class="error__email-id" *ngIf="frmUserInfo.get('email').hasError('required')">
              Please enter Email ID.
            </div>
            <div class="error__email-id" *ngIf="frmUserInfo.get('email').hasError('email')">
              Invalid Email Format.
            </div>
          </div>
        </div>
      </div>

      <div class="user-info-actions">
        <button class="action__btn clear" (click)="gotoLogin()"> Back</button>
        <button class="action__btn clear" (click)="clearForm()"> Clear</button>
        <button class="action__btn next" (click)="resetNextPage()"> Next</button>
      </div>
    </form>
  </div>
</div>
