
@import 'src/app/shared/scss/global';

.main-box {
  background: #ece8e8 url("../../../assets/img/fec-logo-5opac.png") no-repeat center;
  height: 100%;
  padding-top: 15px;
  background-size: 50% auto;
  header {
    .logo {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  .fec-title {
    height: 50%;
    width: 50%;
    margin-bottom: 50px;
    align-content: center;
  }
  .title-front {
    font-size: 32px;
    font-family: 'Lato Black ', 'Lato Black';
    font-weight: bold;
    font-style: normal;
    color: #333333;

  }
  .main-content{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 120px;
    text-align: center;
    color: black;
    @include media(tablet) {
      width: 500px;
    }
    @include media(mediumDesktop) {
      width: 500px;
    }
    @include media(largeDesktop) {
      width: 800px;
    }
    .user-info{
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      margin-top: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 500px;
      font-weight: bold;
      .container{
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .bold{
        font-weight: bold;
      }
      .example{
        font-weight: lighter;
        font-size: small;
      }
      input {
        font-size: 16px;
        width: 100%;
        height: 30px;
        padding-bottom: 5px;

      }
      input:focus {
        border-color: green
      }
      .input-field-error{
        border: 1px solid red;
      }

      .error__committee-id,
      .error__email-id {
        @extend .text-error;
      }
    }
    .action__btn {
      cursor: pointer;
      font-family: $mainFontFamily;
      width: 140px;
      height: 40px;
      margin-bottom: 40px;
      margin-top: 30px;
      margin-left: 30px;
      color: #ffffff;
      background-color: #164F85;
      font-family: 'Lato-Bold', sans-serif;
      font-size: 20px;
      font-weight: 700;
      border-radius: 5px;
      border-style: solid;
    }
    .action__btn:hover {
      background-color: #C80505;
    }
  }
}
