@import '../../scss/global';

.sidebar {
  background-color: $primaryBlue;
  min-height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  // overflow-y: scroll;
  &.sidebar-hidden {
    .sidebar__toggle {
      .toggle-sidebar {
        margin-right: 5px;
      }
      @include clearfix();
    }
    .sidebar__nav {
    
    
      .sidebar__nav--header {
        position: relative;
        .sidebar-form-icon {
          display: block;
          position: absolute;
          right: 20px;
          top: -20px;
        }
        .header-text {
          width: 230px;
          
        }
      }
      .sidebar__nav--links {
        .links-list {
          .links-list__item {
            &.links-list__item--selected {
              background-color: $mercury;
              padding-left: 2px;
              .list-item__info {
                padding-top: 10px;
                .form-name {
                  color: $black;
                  a {
                    color: $black;
                    &:hover,
                    &:active,
                    &:visited {
                      color: $black;
                    }
                  }
                }
              }
            }
            .list-item__link {
              font-family: $mainFontFamily;
              width: 197px;
            }
            .list-item__info {
              .form-name {
                display: block;
                a {
                  color: $white;
                  &:hover,
                  &:active,
                  &:visited {
                    color: $white;
                  }
                }
                //a.disabled {
                //  pointer-events: none;
                //  cursor: default;
                //}
              }
              .btn-link {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .sidebar__toggle {
    color: $white;
    display: block;
    height: 50px;
    margin-bottom: 10px;
    padding-right: 25px;
    padding-top: 55px;
    width: 100%;
    .toggle-sidebar {
      color: $white;
      cursor: pointer;
      float: right;
      text-decoration: none;
      &:hover ,
      &:visited,
      &:active {
        color: $white;
        text-decoration: none;
      }
    }
    @include clearfix();
  }
  .sidebar__logo {
    padding-top: 15px;
    text-align: center;
  }
  .sidebar__nav {
  	color: $white;
    text-align: left;
    .sidebar__nav--header {
      font-weight: bold;
      margin-bottom: 5px;
      margin-left: 10px;
      .sidebar-form-icon {
        display: inline-block;
        position: relative;
      }
      .header-text {
        display: inline-block;
        font-family: mainFontFamily;
        margin-left: 5px;
        width: 202px;
        cursor: pointer;
      }
      .btn-hide-form-nav {
        color: $white;
        display: inline-block;
        padding: 0;
        line-height: inherit;
        margin: 0;
        &:hover,
        &:active,
        &:visited {
          color: $white;
        }
      }
    }
    .sidebar__nav--links {
      margin-bottom: 50px;
      .links-list {
        .links-list__item {
          background-color: none;
          margin-bottom: 15px;
          margin-left: 30px;
          &.links-list__item--selected {
            background-color: none;
          }
          .list-item__link {
            float: left;
            width: 185px;
            a {
              color: $white;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .list-item__info {
            float: left;
            .form-name {
              display: none;
              padding-left: 10px;
              padding-right: 6px;
            }
            .btn-link {
              color: $white;
              &:hover,
              &:active,
              &:visited {
                color: $white;
              }
              margin-top: -10px;
            }
            .sidebar-tooltip {
              top: 0;
              width: 300px;
              .tooltip-inner {
                max-width: 300px;
                text-align: left;
                a {
                  color: $white;
                  text-decoration: none;
                  &:hover {
                    text-decoration: underline;
                  }
                }
                .external-link-icon {
                  margin-left: 5px;
                }
              }
            }
          }
          @include clearfix();
        }
      }
    }
  }
}
