<aside>
  <div class="sidebar" [ngClass]="sidebarVisibleClass">
    <div class="sidebar__toggle">
      <button
       type="button"
       class="btn btn-link toggle-sidebar"
       (click)="toggleSideNav()"
      >
        <i [ngClass]="iconClass">
          <span class="sr-only">Toggle Sidebar</span>
        </i>
      </button>
    </div>
    <nav>
      <div class="sidebar__nav">
        <div class="sidebar__nav--header">
          <div class="sidebar-form-icon">
            <i class="file-alt-icon" aria-hidden="true"></i>
          </div>
          <div class="header-text">
            My Forms
          </div>
          <button
            type="button"
            class="btn btn-link btn-hide-form-nav"
            (click)="toggleFormNav('my-forms')"
          >
            <i
              aria-hidden="true"
              style="margin-left: 2px"
            ></i>
            <span class="sr-only">Click to hide Other Forms</span>
          </button>
        </div>
        <div class="sidebar__nav--links"  [ngClass]="{'d-none': myFormsHidden === true}">
          <ul class="links-list" *ngFor="let committee_form of committee_forms">
            <li
              class="links-list__item"
              *ngIf="(committee_form.category === 'My Forms')"
              [ngClass]="formType === committee_form.form_type_mini ? 'links-list__item--selected' : ''"
            >
              <div *ngIf="!_authService.isReadOnly()" class="list-item__link">
                <a
                   draggable="false"
                  [routerLink]="['/forms/form/', committee_form.form_type_mini]"
                  [queryParams]="{ step: 'step_1' }"
                  (click)="formSelected(committee_form.form_type_mini)"
                >
                {{committee_form.form_description}}
                <br />
                due {{committee_form.due_date}}
                </a>
              </div>
              <div *ngIf="_authService.isReadOnly()" class="list-item__link">
                <a draggable="false"
                   [style.pointer-events]="'none'"
                   >
                  {{committee_form.form_description}}
                  <br />
                  due {{committee_form.due_date}}
                </a>
              </div>
              <div class="list-item__info">
                <div class="form-name">
                  <ng-container *ngIf="formType === committee_form.form_type_mini">
                    {{committee_form.form_type}}
                  </ng-container>
                  <ng-container *ngIf="formType !== committee_form.form_type_mini">
                    <a
                      draggable="false"
                      [style.pointer-events]="_authService.isReadOnly() ?'none':'auto'"
                      tabindex="{{_authService.isReadOnly()?-1:0}}"
                      [routerLink]="['/forms/form/', committee_form.form_type_mini]"
                      [queryParams]="{ step: 'step_1' }"
                      (click)="formSelected(committee_form.form_type_mini)"
                    >
                      {{committee_form.form_type}}
                    </a>
                  </ng-container>
                </div>
                 <button
                   type="button"
                   class="btn btn-link"
                   [ngbTooltip]="myFormsToolTips"
                   triggers="click"
                   tooltipClass="sidebar-tooltip"
                   placement="{{ tooltipPosition }}"
                 >
                   <i class="info-icon" aria-hidden="true"></i>
                   <span class="sr-only">Click here for more information</span>
                 </button>
                <ng-template #myFormsToolTips>
                  {{committee_form.form_info}}
                  <a href= "{{committee_form.form_pdf_url}}"  draggable="false" target="_blank">Instructions</a>.
                  <i class="external-link-icon" aria-hidden="true">
                   <span class="sr-only">Link opens in new window.</span>
                  </i>
                </ng-template>
              </div>
            </li>
          </ul>
        </div>
        <div class="sidebar__nav--header">
          <div class="sidebar-form-icon">
            <i class="file-copy-icon" aria-hidden="true"></i>
          </div>
          <div class="header-text" (click)="toggleFormNav('other-forms')">
           Other Forms
          </div>
          <button
            type="button"
            class="btn btn-link btn-hide-form-nav"
            (click)="toggleFormNav('other-forms')"
          >
            <i
              aria-hidden="true"
              [ngClass]="{'down-arrow-icon': otherFormsHidden === true, 'up-arrow-icon': otherFormsHidden === false}"
            ></i>
            <span class="sr-only">Click to hide Other Forms</span>
          </button>
        </div>
        <div class="sidebar__nav--links" [ngClass]="{'d-none': otherFormsHidden === true}">
          <ul class="links-list" *ngFor="let committee_form of committee_forms " >
            <li
              class="links-list__item"
              [attr.data-FormType]="committee_form.form_type_mini"
              *ngIf="(committee_form.category === 'Other Forms')"
              [ngClass]="formType === committee_form.form_type_mini ? 'links-list__item--selected' : ''"
            >
              <div class="list-item__link" >
                <ng-container *ngIf="formType === committee_form.form_type_mini">
                  {{committee_form.form_description}}
                </ng-container>
                <ng-container *ngIf="formType !== committee_form.form_type_mini">
                  <a
                    draggable="false"
                    [style.pointer-events]="_authService.isReadOnly() ?'none':'auto'"
                    tabindex="{{_authService.isReadOnly()?-1:0}}"
                    [routerLink]="['/forms/form/', committee_form.form_type_mini]"
                    [queryParams]="{ step: 'step_1' }"
                    (click)="formSelected(committee_form.form_type_mini)"
                  >
                  {{committee_form.form_description}}
                  </a>
                </ng-container>
              </div>
              <div class="list-item__info">
                <div class="form-name">
                  <ng-container *ngIf="formType === committee_form.form_type_mini">
                    {{committee_form.form_type}}
                  </ng-container>
                  <ng-container *ngIf="formType !== committee_form.form_type_mini">
                    <a
                      draggable="false"
                      [style.pointer-events]="_authService.isReadOnly() ?'none':'auto'"
                      tabindex="{{_authService.isReadOnly()?-1:0}}"
                      [routerLink]="['/forms/form/', committee_form.form_type_mini]"
                      [queryParams]="{ step: 'step_1' }"
                      (click)="formSelected(committee_form.form_type_mini)"
                    >
                      {{committee_form.form_type}}
                    </a>
                  </ng-container>
                </div>
                 <button
                   type="button"
                   class="btn btn-link"
                   [ngbTooltip]="otherFormsToolTips"
                   triggers="click"
                   tooltipClass="sidebar-tooltip"
                   placement="{{ tooltipPosition }}"
                 >
                   <i class="info-icon" aria-hidden="true"></i>
                   <span class="sr-only">Click here for more information</span>
                 </button>
                 <ng-template #otherFormsToolTips>
                    {{committee_form.form_info}}
                    <a href="{{ committee_form.form_pdf_url }}"  draggable="false" target="_blank">Instructions</a>.
                    <i class="external-link-icon" aria-hidden="true">
                      <span class="sr-only">Link opens in new window.</span>
                    </i>
                 </ng-template>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</aside>
