@import '../../scss/global';

.sidebar {
  background-color: $primaryBlue;
  min-height: 100vh;
  &.sidebar-hidden {
    .sidebar__nav {
      .sidebar__nav--links {
        .links-list {
          .links-list__item {
            .list-item__link {
              width: 200px;
            }
            .list-item__info {
              .form-name {
                display: block;
              }
              .btn-info {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .sidebar__toggle {
    color: $white;
    display: block;
    height: 50px;
    width: 100%;
    .toggle-sidebar {
      cursor: pointer;
      float: right;
      margin-right: 10px;
    }
    @include clearfix();
  }  
  .sidebar__logo {
    padding-top: 15px;
    text-align: center;
  }
  .sidebar__nav {
  	color: $white;
    text-align: left;
    .sidebar__nav--header {
      font-weight: bold;
      margin-left: 10px;
    }
    .sidebar__nav--links {
      margin-bottom: 50px;
      .links-list {
        .links-list__item {
          margin-bottom: 15px;
          margin-left: 30px;
          .list-item__link {
            float: left;
            width: 190px;
            a {
              color: $white;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }            
          }
          .list-item__info {
            float: left;
            .form-name {
              //background-color: $mercury;
              display: none;
              padding-left: 10px;
              padding-right: 6px;
            }
            .btn-info {
              display: block;
              .info-icon {
                color: $white;
              }
            }
          }
          @include clearfix();
        }
      }
    }
  }
}