<aside>
  <div class="sidebar" [ngClass]="sidebarVisibleClass">
    <div class="sidebar__toggle">
      <a class="toggle-sidebar"
        role="button"
        (click)="toggleSideNav()"
      >
        <i [ngClass]="iconClass">
          <span class="sr-only">Toggle Sidebar</span>
        </i>
      </a>           
    </div>    
    <nav>
      <div class="sidebar__nav">
        <div class="sidebar__nav--header">
          <i class="folder-icon" aria-hidden="true"></i>
          My Forms
        <br />
        </div>
        <div class="sidebar__nav--links">
          <ul class="links-list">
            <li class="links-list__item">
              <div class="list-item__link">
                PAC & Party Report of Receipts & Disbursements (F3X)
              </div>
              <div class="list-item__info">
                <div class="form-name">
                  F3X
                </div>
                 <button 
                   type="button" 
                   class="btn btn-link"
                   [ngbTooltip]="f3xContent"
                   #f3xtoolTip="ngbTooltip"
                   (click)="toggleToolTip(f3xtoolTip)"
                   triggers="manual"
                   tooltipClass="sidebar-tooltip"
                   placement="right"
                 >
                   <i class="info-icon" aria-hidden="true"></i>
                   <span class="sr-only">Click here for more information</span>
                 </button>
                <ng-template #f3xContent>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae metus mollis, interdum erat ac, placerat turpis. Duis tincidunt diam vel sapien semper, sed mattis nibh facilisis.    
                </ng-template>                
              </div>
            </li>
            <li class="links-list__item">
              <div class="list-item__link">
                Report of Contributors Bundled (F3L)
              </div>
              <div class="list-item__info">
                <div class="form-name">
                  F3L
                </div>
                 <button                 
                   type="button" 
                   class="btn btn-link"
                   [ngbTooltip]="f3lContent"
                   #f3LtoolTip="ngbTooltip"
                   (click)="toggleToolTip(f3LtoolTip)"
                   triggers="manual"
                   tooltipClass="sidebar-tooltip"
                   placement="right"
                 >
                   <i class="info-icon" aria-hidden="true"></i>
                   <span class="sr-only">Click here for more information</span>
                 </button>
                <ng-template #f3lContent>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae metus mollis, interdum erat ac, placerat turpis. Duis tincidunt diam vel sapien semper, sed mattis nibh facilisis.    
                </ng-template>                  
              </div>
            </li>
          </ul>
        </div>
         <div class="sidebar__nav--header">
          <br />
          <i class="plus-icon" aria-hidden="true"></i>
            Other Forms
            <br />
        </div>
        <div class="sidebar__nav--links">
          <ul class="links-list">
            <li class="links-list__item" [ngClass]="formType === 99 ? 'links-list__item--selected' : ''">
              <div class="list-item__link">
                <a
                  [routerLink]="['/forms/form/', '99']"
                  [queryParams]="{ step: 'step_1' }"
                  (click)="formSelected(99)"
                >
                  Miscellaneous Report to the FEC (F99)
                </a>                
              </div>
              <div class="list-item__info">
                <div class="form-name">
                  F99
                </div>
                 <button 
                   type="button" 
                   class="btn btn-link"
                   [ngbTooltip]="f99Content"
                   #f99toolTip="ngbTooltip"
                   (click)="toggleToolTip(f99toolTip)"
                   triggers="manual"
                   tooltipClass="sidebar-tooltip"
                   placement="right"
                 >
                   <i class="info-icon" aria-hidden="true"></i>
                   <span class="sr-only">Click here for more information</span>
                 </button>
                <ng-template #f99Content>
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae metus mollis, interdum erat ac, placerat turpis. Duis tincidunt diam vel sapien semper, sed mattis nibh facilisis.    
                </ng-template>                                    
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</aside>
