<div
  class="forms__wizard"
  *ngIf="!loadingSteps && !loadingCategories && !loadingSearchField && !loadingCashOnHand"
>
	<div class="form__sidebar">
     <form-sidebar
      title="Transaction Categories"
      [sidebarLinks]="sidebarLinks"
      [searchField]="searchField"
      [cashOnHand]="cashOnHand"
      (status)='onNotify($event)'
     ></form-sidebar>
  </div>
	<div class="form__container">
    <header>
      <app-steps
        [steps]="steps"
        current_step="step_1"
      ></app-steps>
    </header>
    <main>
      <div class="form-content">
        <form>
          <ul class="options-list">
            <li
              class="options-list__item"
              *ngFor="let option of selectedOptions"
            >
              <input
                type="radio"
                name="option-radio"
                id="{{ option?.value }}"
                class="option-radio"
                value="{{ option?.value }}"
              />
              <label
                for="{{ option?.value }}"
              >
                {{ option?.name }}
              </label>
              <button
                type="button"
                class="btn-info"
                ngbTooltip="{{ option?.info }}"
                *ngIf="option.infoIcon"
              >
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">
                  Click for more information
                </span>
              </button>
            </li>
          </ul>
        </form>
      </div>
    </main>
	</div>
</div>
