@import '../../shared/scss/global';

.forms__wizard {
    display: table;
    table-layout: fixed;
    min-height: $mainContentHeight;
    margin: 0;
    padding: 0;
    width: 100%;
 .form__sidebar {
    background-color: $bombay;
    flex-grow: 1;
  	display: none;
  	padding-left: 0;
  	@include media(tablet) {
  		display: none;
  	}
  	@include media(mediumDesktop) {
  		display: table-cell;
  		width: 230px;
  	}
  	@include media(largeDesktop) {
  		display: table-cell;
  		width: 230px;
  	}
  }
  .form__container {
    display: table-cell;
    min-height: 100vh;
    width: 99%;
    @include media(tablet) {
      min-height: 100vh;
      // width: 99%;
    }
    @include media(mediumDesktop) {
      margin-left: 5px;
      min-height: 100vh;
      width: 70%;
    }
    @include media(largeDesktop) {
      margin-left: 5px;
      min-height: 100vh;
      width: 76%;
    }
   } // .form__container
}
