@import '../../shared/scss/global';

.forms__wizard {
    display: table;
    table-layout: fixed;
    min-height: $mainContentHeight;
    margin: 0;
    padding: 0;
    width: 100%;
 .form__sidebar {
    background-color: $bombay;
    flex-grow: 1;
  	display: none;
  	padding-left: 0;
  	@include media(tablet) {
  		display: none;
  	}
  	@include media(mediumDesktop) {
  		display: table-cell;
  		width: 250px;
  	}
  	@include media(largeDesktop) {
  		display: table-cell;
  		width: 250px;
  	}
  }
  .form__container {
    display: table-cell;
    min-height: 100vh;
    width: 99%;
    @include media(tablet) {
      min-height: 100vh;
      // width: 99%;
    }
    @include media(mediumDesktop) {
      margin-left: 5px;
      min-height: 100vh;
      width: 70%;
    }
    @include media(largeDesktop) {
      margin-left: 5px;
      min-height: 100vh;
      width: 76%;
    }
    main {
      .form-content {
        .options-list {
          list-style-type: none;
          .options-list__item {
            border-bottom: 1px solid $iron;
            border-top: 1px solid $iron;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-top: 20px;
            &:nth-child(even) {
              background-color: $seaShell;
            }
          }
        }
      }
    }
   } // .form__container
}
