@import '../../shared/scss/global';

.contacts__table-container {
  padding-right: 5px;
  .contacts__page-item-range {
    padding: .5em .1em 0 0 ;
  }

  .contacts__table {
    width: 100%;
    .contacts__amount {
      text-align: right;
    }
  }

  .contacts__table-checkbox {
    width: 3%;
  }
  .contacts__table-angleDown {
    width: 3%;
  }

  .contacts__table-pagination-container {
    padding: 1em;
  }  

  /** hide the dropdown caret **/
  .dropdown-toggle:after {
    border: none;
  }  

  #contacts__dropdown-action > button > i {
    padding-right: 3px;
  }

  .bulk_action {
    text-align: left;
  }

  .contacts__bulk_action_btn[disabled] {
    background:#6c757d;
    border-color: #6c757d;
  }

  .dropdown-menu {
    min-width: 6em;
  }  

  .contacts__item-range {
    font-size: 13px;
    color: grey;
    margin: 0 5px;
  }

  .contacts__total-amount {
    float: left;
  }

  .contacts__total-amount-val {
    float: right;
  }

  .contacts__total-amount-tip {
    color: #112E51;
    padding-left: 3px;
    float: right;
  }

  .contacts__tooltip {
    top: 0;
    width: 300px;
    .tooltip-inner {
      max-width: 300px;
      text-align: left;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .external-link-icon {
        margin-left: 5px;
      }
    }
  }

  // .contacts__total-amount-container {
  //   margin: 1.5em 0;
  // }


  /* style ngx-pagination - start */
  /* override some styling where use of !important is made. */

  .ngx-pagination .current{
    padding: 0.1875rem 0.625rem;
    background: #9B9B9B !important;;
    color: #fefefe;
    cursor: default;
  }

  .ngx-pagination a, .ngx-pagination button {
    color: #9B9B9B !important;;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
  }	

  .ngx-pagination {
    margin-bottom: 0;
  }

  /* style ngx-pagination - end */

  ng-select { 
    .ng-dropdown-panel { 
      width: auto;
      min-width: 100%; 
    } 
  }

  .column-options-modal {

    #contacts__pin-modal-header {
      background-color: $crusta;
    }

    .btn-modal-footer {
      width: 6em;
    }

    .row{
      height: 3em;
    }

    input[type="checkbox" i]:disabled, .disabled-column-option{
      color: #cccccc;
    } 

    input[type=checkbox] {
      transform: scale(1.5);
    }
  }
  .inner_table {
    background: #D7D7D7;
    table.log_table{
      border-spacing: 0px;
      background-color: white !important;
      color: black !important;
      tbody, thead {
        display: block;
      }
      tbody{
        height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
        width: inherit;
        tr td.text-red{
          color: red !important;
        }
      };
      .tr,.th, .td{
        border-collapse: collapse;
        background-color: white;
      }
      table, th,td {
        border-collapse: collapse;
        border: 1px solid black;

      }
    }
  }
.contact_link{
  a{
    color: #0062cc;

  a:hover{
    color: #0000FF;
  }
    cursor: pointer;
  }
}
}
