<div class="contacts__table-container">
  <div class="grid-row d-flex justify-content-between contacts__page-item-range">
    <div class="d-flex" *ngIf="showPageSizes()">
      <div class="d-inline mr-1 my-auto text-muted">Items per page:</div>
      <ng-select #pageNumber [items]="pageSizes" [clearable]="false" [hideSelected]="true"
        (change)="onMaxItemsPerPageChanged($event)" [(ngModel)]="maxItemsPerPage" class="border border-light">
      </ng-select>
    </div>
    <div class="contacts__item-range" *ngIf="showPageSizes()">
      {{determineItemRange()}} of {{config.totalItems}}
    </div>
  </div>
  <table class="table table-striped table-hover table__sortable contacts__table">
    <thead>
      <tr>
        <th class="contacts__table-checkbox">
          <!-- *ngIf="isContactViewActive()" -->
          <input [(ngModel)]="allContactsSelected" type="checkbox" (change)="changeAllContactsSelected()">
        </th>
        <th class="contacts__table-angleDown">
        </th>
        <th *ngIf="isColumnVisible('name')" [class]="getSortClass('name')" (click)="changeSortDirection('name')">Name
        </th>
        <th *ngIf="isColumnVisible('entity_type')" [class]="getSortClass('entity_type')"
          (click)="changeSortDirection('entity_type')">Entity Type
        </th>
        <th *ngIf="isColumnVisible('id')" [class]="getSortClass('id')" (click)="changeSortDirection('id')">Entity Number
        </th>
        <th *ngIf="isColumnVisible('candCmteId')" [class]="getSortClass('candCmteId')"
          (click)="changeSortDirection('candCmteId')">Candidate/Committee <br /> ID
        </th>
        <th *ngIf="isColumnVisible('street')" [class]="getSortClass('street')" (click)="changeSortDirection('street')">
          Address
        </th>
        <th *ngIf="isColumnVisible('city')" [class]="getSortClass('city')" (click)="changeSortDirection('city')">City
        </th>
        <th *ngIf="isColumnVisible('state')" [class]="getSortClass('state')" (click)="changeSortDirection('state')">
          State
        </th>
        <th *ngIf="isColumnVisible('zip')" [class]="getSortClass('zip')" (click)="changeSortDirection('zip')">zip
        </th>
        <th *ngIf="isColumnVisible('employer')" [class]="getSortClass('employer')"
          (click)="changeSortDirection('employer')">Employer
        </th>
        <th *ngIf="isColumnVisible('occupation')" [class]="getSortClass('occupation')"
          (click)="changeSortDirection('occupation')">Occupation
        </th>
        <th *ngIf="isColumnVisible('candOffice')" [class]="getSortClass('candOffice')"
          (click)="changeSortDirection('candOffice')">Candidate Office
        </th>
        <th *ngIf="isColumnVisible('candOfficeState')" [class]="getSortClass('candOfficeState')"
          (click)="changeSortDirection('candOfficeState')">Candidate Office <br /> State
        </th>
        <th *ngIf="isColumnVisible('candOfficeDistrict')" [class]="getSortClass('candOfficeDistrict')"
          (click)="changeSortDirection('candOfficeDistrict')">Candidate Office <br /> District
        </th>
        <th *ngIf="isRecycleBinViewActive()" [class]="getSortClass('deletedDate')"
          (click)="changeSortDirection('deletedDate')">Deleted Date <br />and time
        </th>

        <th class="bulk_action">
          <div *ngIf="isContactViewActive()" class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
            <button class="btn btn-sm btn-primary contacts__bulk_action_btn" ngbDropdownToggle
              [disabled]="bulkActionDisabled">
              <i class="ellipsis-icon"></i>
            </button>
            <div id="contacts__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" (click)="printAllSelected()">
                <i class="print-icon"></i> Print
              </button>
              <button class="dropdown-item" (click)="viewActivityAllSelected()">
                <i class="table-icon"></i> View Activity
              </button>
              <!-- <button [appExport]="contactsModel" fileName="contacts" class="dropdown-item">
                <i class="file-export-icon"></i> Export (Dev)
              </button> -->
              <button class="dropdown-item" (click)="exportAllSelected()">
                <i class="file-export-icon"></i> Export
              </button>
              <!-- <button class="dropdown-item" (click)="trashAllSelected()">
                <i class="trash-icon"></i> Trash
              </button> -->
            </div>
          </div>
          <div *ngIf="isRecycleBinViewActive()">
            <button class="btn btn-sm btn-primary contacts__bulk_action_btn" (click)="deleteRecyleBin()"
              [disabled]="bulkActionDisabled || _authService.isReadOnly()">
              <i class="trash-icon"></i>
            </button>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let cnt of contactsModel | paginate: config; let i = index">
        <tr>
          <td>
            <input [(ngModel)]="cnt.selected" type="checkbox" (click)="checkForMultiChecked($event, cnt)">
          </td>
          <td>
            <a (click)="toggleContactLog(cnt)">
              <i *ngIf="!cnt.toggleLog" class="fas fa-angle-down"></i>
              <i *ngIf="cnt.toggleLog" class="fas fa-angle-up"></i>
            </a>
          </td>
          <td *ngIf="isColumnVisible('name')" class="contact_link"><a (click)="showContactDetails(cnt)">{{cnt.name}}</a>
          </td>
          <td *ngIf="isColumnVisible('entity_type')">{{cnt.entity_type}}</td>
          <td *ngIf="isColumnVisible('id')">{{cnt.id}}</td>
          <td *ngIf="isColumnVisible('candCmteId')">{{cnt.candCmteId}}</td>
          <td *ngIf="isColumnVisible('street')">{{cnt.street1}} {{cnt.street2}}</td>
          <td *ngIf="isColumnVisible('city')">{{cnt.city}}</td>
          <td *ngIf="isColumnVisible('state')">{{cnt.state}}</td>
          <td *ngIf="isColumnVisible('zip')">{{cnt.zip | zipCode}}</td>
          <td *ngIf="isColumnVisible('employer')">{{cnt.employer}}</td>
          <td *ngIf="isColumnVisible('occupation')">{{cnt.occupation}}</td>
          <td *ngIf="isColumnVisible('candOffice')">{{cnt.candOffice}}</td>
          <td *ngIf="isColumnVisible('candOfficeState')">{{cnt.candOfficeState}}</td>
          <td *ngIf="isColumnVisible('candOfficeDistrict')">{{cnt.candOfficeDistrict}}</td>
          <td *ngIf="isRecycleBinViewActive()">
            {{cnt.deletedDate === ''? '': (cnt.deletedDate| date: 'MM/dd/yyyy @ hh:mm:ss a')}}
          </td>
          <!--<td  *ngIf="(isColumnVisible('deletedDate') && isRecycleBinViewActive())">{{cnt.deletedDate}}
        </td>-->
          <td>
            <div *ngIf="isRecycleBinViewActive()">
              <button *ngIf="!_authService.isReadOnly()" class="btn btn-sm btn-primary" (click)="restoreContact(cnt)">
                <i class="undo-icon"></i>
              </button>
            </div>
            <div *ngIf="isContactViewActive()" class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
              <button class="btn btn-sm btn-primary" ngbDropdownToggle [disabled]="!bulkActionDisabled">
                <i class="ellipsis-icon"></i>
              </button>
              <div id="contacts__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
                <button *ngIf="!_authService.isReadOnly()" class="dropdown-item" (click)="editContact(cnt)">
                  <i class="edit-icon"></i> Edit
                </button>
                <button class="dropdown-item" (click)="viewActivity(cnt)">
                  <i class="view-icon"></i> View Activity
                </button>
                <button *ngIf="cnt.activeTransactionsCnt == 0 && !_authService.isReadOnly()" class="dropdown-item"
                  (click)="trashContact(cnt)">
                  <i class="trash-icon"></i> Trash
                </button>
              </div>
            </div>
          </td>
        </tr>
        <!--  Nested table that shows the contact Log -->
        <tr *ngIf="cnt.toggleLog === true" class="inner_table">
          <td colspan="90%">
            <b>Contact History Log</b>
            <br>
            <table class="log_table" style="width: 100%">
              <thead>
          <th class="col_date_time" style="width: 180px">
            Date/Time
          </th>
          <th class="col_contact_info" style="width: 1100px">
            Contact Information
          </th>
          <th class="col_user" style="width: 180px">
            User
          </th>
          </thead>
    <tbody>
      <tr *ngFor="let i of cnt.getContactLog()">
        <td class="" style="width: 180px">
          {{i.dateTime}}
        </td>
        <td class="text-red" style="width: 1100px">
          {{i.info}}
        </td>
        <td class="" style="width: 180px">
          {{i.user}}
        </td>
      </tr>
    </tbody>
  </table>
  </td>
  </tr>
  </ng-container>
  <!--<tr *ngIf="isContactViewActive()">
        <td></td>
        <td *ngIf="isColumnVisible('name')"></td>
        <td *ngIf="isColumnVisible('type')"></td>
        <td *ngIf="isColumnVisible('id')"></td>
        <td *ngIf="isColumnVisible('canCmteId')"></td>
        <td *ngIf="isColumnVisible('street')"></td>
        <td *ngIf="isColumnVisible('city')"></td>
        <td *ngIf="isColumnVisible('state')"></td>
        <td *ngIf="isColumnVisible('zip')"></td>
        <td *ngIf="isColumnVisible('employer')"></td>
        <td *ngIf="isColumnVisible('occupation')"></td>
        <td *ngIf="isColumnVisible('candOffice')"></td>
        <td *ngIf="isColumnVisible('candOfficeState')"></td>
        <td *ngIf="isColumnVisible('candOfficeDistrict')"></td>
        <td></td>
      </tr>-->
  </tbody>

  </table>
  <hr />
  <div *ngIf="showPagination()" class="d-flex justify-content-center contacts__table-pagination-container">
    <div class="my-auto">
      <pagination-controls [id]="config.id" (pageChange)="getPage($event)" [maxSize]="paginationControlsMaxSize">
      </pagination-controls>
    </div>
    <div *ngIf="pageNumbers.length > 1" class="d-flex ml-1">
      <div class="mr-1 my-auto text-muted">Go to page:</div>
      <ng-select #pageNumber [items]="pageNumbers" [clearable]="false" [hideSelected]="true"
        (change)="onGotoPageChange($event)" [(ngModel)]="gotoPage" [ngModelOptions]="{standalone: true}"
        class="border border-light">
      </ng-select>
    </div>
  </div>
  <div *ngIf="!showPageSizes()" class="d-flex justify-content-center reports__table-pagination-container">
    <div class="text-muted">No records found</div>
  </div>

  <div bsModal #columnOptionsModal="bs-modal" class="modal fade column-options-modal" tabindex="-1" role="dialog"
    aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" id="contacts__pin-modal-header">
          <h4 class="modal-title pull-left">Column Options (Select up to {{maxColumnOption}})</h4>
          <button aria-label="Close" class="close btn btn-link" type="button" (click)="cancelColumnOptions()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('name').checked" (change)="toggleVisibility('name', $event)"
                      type="checkbox" [disabled]="getSortableColumn('name').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('name').disabled}">
                      Name
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('entity_type').checked"
                      (change)="toggleVisibility('entity_type', $event)" type="checkbox"
                      [disabled]="getSortableColumn('entity_type').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('entity_type').disabled}">
                      Entity Type
                    </span>
                  </label>
                </div>
              </div>


              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('id').checked" (change)="toggleVisibility('id', $event)"
                      type="checkbox" [disabled]="getSortableColumn('id').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('id').disabled}">
                      Entity Number
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('street').checked"
                      (change)="toggleVisibility('street', $event)" type="checkbox"
                      [disabled]="getSortableColumn('street').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('street').disabled}">
                      Address
                    </span>
                  </label>
                </div>
              </div>

              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('state').checked" (change)="toggleVisibility('state', $event)"
                      type="checkbox" [disabled]="getSortableColumn('state').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('state').disabled}">
                      State
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('city').checked" (change)="toggleVisibility('city', $event)"
                      type="checkbox" [disabled]="getSortableColumn('city').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('city').disabled}">
                      City
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('zip').checked" (change)="toggleVisibility('zip', $event)"
                      type="checkbox" [disabled]="getSortableColumn('zip').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('zip').disabled}">
                      Zip
                    </span>
                  </label>
                </div>
              </div>

              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('employer').checked"
                      (change)="toggleVisibility('employer', $event)" type="checkbox"
                      [disabled]="getSortableColumn('employer').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('employer').disabled}">
                      Employer
                    </span>
                  </label>
                </div>
              </div>

              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('occupation').checked"
                      (change)="toggleVisibility('occupation', $event)" type="checkbox"
                      [disabled]="getSortableColumn('occupation').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('occupation').disabled}">
                      Occupation
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('candOffice').checked"
                      (change)="toggleVisibility('candOffice', $event)" type="checkbox"
                      [disabled]="getSortableColumn('candOffice').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('candOffice').disabled}">
                      Candidate Office
                    </span>
                  </label>
                </div>
              </div>

              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('candOfficeState').checked"
                      (change)="toggleVisibility('candOfficeState', $event)" type="checkbox"
                      [disabled]="getSortableColumn('candOfficeState').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('candOfficeState').disabled}">
                      Candidate Office State
                    </span>
                  </label>
                </div>
              </div>

              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('candOfficeDistrict').checked"
                      (change)="toggleVisibility('candOfficeDistrict', $event)" type="checkbox"
                      [disabled]="getSortableColumn('candOfficeDistrict').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('candOfficeDistrict').disabled}">
                      Candidate Office District
                    </span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('candCmteId').checked"
                      (change)="toggleVisibility('candCmteId', $event)" type="checkbox"
                      [disabled]="getSortableColumn('candCmteId').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('candCmteId').disabled}">
                      Candidate/Committee ID
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md">
                <div class="checkbox" *ngIf="isRecycleBinViewActive()">
                  <label>
                    <input [(ngModel)]="getSortableColumn('deletedDate').checked"
                      (change)="toggleVisibility('deletedDate', $event)" type="checkbox"
                      [disabled]="getSortableColumn('deletedDate').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('deletedDate').disabled}">
                      Deleted Date
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md">
                <div class="checkbox">
                  &nbsp;
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-modal-footer btn-right" (click)="saveColumnOptions()">
              Save
            </button>
            <button type="button" class="btn btn-modal-footer btn-right btn-secondary-gray"
              (click)="cancelColumnOptions()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>