<div class="import_contacts__main-container">
  <div class="import_contacts__container">
    <header>
      <div class="header-content">
        <div class="float-left">
          <h1>Import Contacts</h1>
        </div>
      </div>
      <div class="header-content-sep">
        <hr />
      </div>
    </header>
    <section>
      <div class="form__steps">
        <app-steps [steps]="steps" [current_step]="currentStep">
        </app-steps>
      </div>
      <div class="import_contacts__body">
        <app-upload-contacts *ngIf="currentStep === step1Upload"></app-upload-contacts>
        <app-configure-contacts *ngIf="currentStep === step2Configure"></app-configure-contacts>
        <app-clean-contacts *ngIf="currentStep === step3Clean"></app-clean-contacts>
        <app-import-done-contacts *ngIf="currentStep === step4ImportDone"></app-import-done-contacts>
      </div>
    </section>
    <footer>
      <div class="forms__btn-container">
        <button *ngIf="currentStep !== step1Upload" class="btn btn-previous btn-left" type="button"
          (click)="showPreviousStep()">
          Previous for dev
        </button>
        <button *ngIf="currentStep !== step4ImportDone" class="btn btn-secondary btn-right" (click)="showNextStep()">
          Next for dev
        </button>
      </div>
    </footer>
  </div>
</div>