@import '../shared/scss/global';

.dashboard {
  background-color: $mercury;
  min-height: $mainContentHeight;
  position: relative;
  
  .row {
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    .col {
      background-color: $white;
      display: block;
      &:first-child {
        margin-right: 5px;
      }
      @include media(tablet) {
        display: block;
      }
      @include media(mediumDesktop) {
        flex: 0 0 46%;
        max-width: 46%;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include media(largeDesktop) {
        flex: 0 0 46%;
        max-width: 46%;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  section {
    .content {
      min-height: 70vh;
      position: relative;
      .row {
        min-height: 350px;
        position: relative;
        .col {
          background-color: $white;
          margin: 0 auto;
        }
      }
    }
  }
  footer {
    .footer {
      //bottom: 0;
      position: absolute;
      width: 100%;
      .legal-disclaimer {
        text-align: center;
        .btn {
          color: $black;
        }
      }
    }
  }
} // .dashboard


.modal-header{
  color:$blueZodiac;
}