<div class="dashboard">
  <section>
    <div class="content">
      <div>
      </div>
      <div class="row my-0">
        <div class="col">
          <div class="card border-dark mx-1">
            <div class="card-header text-center font-weight-bold">
              Upcoming Reports
            </div>
            <div class="card-body">
              <ng-container *ngIf="!upcomingReportsListError && !upcomingReportsListEmpty">
                <p *ngFor="let report of upcomingReportsList">Due Date: {{report.due_date}} - {{report.form_type}} - {{report.rpt_type_desc}} ({{report.cvg_start_date}} - {{report.cvg_end_date}}) due in {{report.days_until_due}} days</p>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-0">
        <div class="col">
          <div class="card border-dark mx-1">
            <div class="card-header text-center font-weight-bold">
              Recent Saved Reports
            </div>
            <div class="card-body">
              <table *ngIf="!recentlySavedReportsError && !recentlySavedReportsEmpty" class="table table-striped table-hover table__sortable transactions__table">
                <thead>
                  <tr>
                    <th>
                      Form Type
                    </th>
                    <th>
                      Report Type
                    </th>
                    <th>
                      Status
                    </th>
                    <th>
                      Last Saved Date
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let report of recentlySavedReports">
                    <td>{{ report.form_type }}</td>
                    <td>{{ report.report_type }}</td>
                    <td>{{ report.status }}</td>
                    <td>{{ report.last_saved }}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="recentlySavedReportsError" class="text-error text-center">
                There was an error loading data.
              </div>
              <div *ngIf="recentlySavedReportsEmpty" class="text-info text-center">
                There are no recently submitted reports.
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-dark mx-1">
            <div class="card-header text-center font-weight-bold">
              Submitted Reports
            </div>
            <div class="card-body">
              <table *ngIf="!recentlySubmittedReportsError && !recentlySubmittedReportsEmpty" class="table table-striped table-hover table__sortable transactions__table">
                <thead>
                  <tr>
                    <th>
                      Form Type
                    </th>
                    <th>
                      Report Type
                    </th>
                    <th>
                      Filing Id
                    </th>
                    <th>
                      Filed Date
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let report of recentlySubmittedReports">
                    <td>{{ report.form_type }}</td>
                    <td>{{ report.report_type }}</td>
                    <td>{{ report.fec_id }}</td>
                    <td>{{ report.filed_date }}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="recentlySubmittedReportsError" class="text-error text-center">
                There was an error loading data.
              </div>
              <div *ngIf="recentlySubmittedReportsEmpty" class="text-info text-center">
                There are no recently submitted reports.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row my-0">
        <div class="col">
          <div class="card border-dark mx-1">
            <div class="card-header text-center font-weight-bold">
              Tips for Treasurers
            </div>
            <div class="card-body">
              <ul>
                <li><a href="fec.gov: https://www.fec.gov/updates/?update_type=tips-for-treasurers" target="_blank">Register now for October</a></li>
                <li><a href="fec.gov: https://www.fec.gov/updates/?update_type=tips-for-treasurers" target="_blank">Contribution limits in special elections</a></li>
                <li><a href="fec.gov: https://www.fec.gov/updates/?update_type=tips-for-treasurers" target="_blank">Monthly filing reminder</a></li>
                <li><a href="fec.gov: https://www.fec.gov/updates/?update_type=tips-for-treasurers" target="_blank">Back to school with the FEC</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-dark mx-1">
            <div class="card-header text-center font-weight-bold">
              Helpful Resources
            </div>
            <div class="card-body">
              <ul>
                <li><a href="https://www.fec.gov/data/committee/C00013136/" target="_blank">Roger Smith's Profile Page on fec.gov</a></li>
                <li><a href="https://www.fec.gov/help-candidates-and-committees/" target="_blank">Contribution limits in special elections</a></li>
                <li><a href="https://www.fec.gov/efiling" target="_blank">Electronic Filing</a></li>
                <li><a href="https://www.fec.gov/help-candidates-and-committees/question-rad/" target="_blank">Submit a Question to Your Assigned Analyst</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-dark mx-1">
            <div class="card-header text-center font-weight-bold">
              Latest News from the FEC
            </div>
            <div class="card-body">
              <ul>
                <li><a href="fec.gov - https://www.fec.gov/updates/" target ="_blank">Register now for October</a></li>
                <li><a href="fec.gov - https://www.fec.gov/updates/" target ="_blank">Help for Your Committee</a></li>
                <li><a href="fec.gov - https://www.fec.gov/updates/" target ="_blank">Electronic Filing</a></li>
                <li><a href="fec.gov - https://www.fec.gov/updates/" target ="_blank">Back to school with FEC</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- ./content -->
  </section>
</div> <!-- ./dashboard -->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="signee-container" style="padding-left: 0px;padding-right:0px;">
      <div class="modal-header">
        <h2 style="color: #112E51">Initial Setup</h2>
        <button vertical-align="top" style="color: #112E51" pull-right class="close-icon" (click)="d('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="row pb-3" style="margin: auto; width:70%">
              If you need to set up your cash on hand you can do so by doing the following:
            </div>
            <div class="row" style="font-size: larger; margin: auto; width:70%">
              Select: Tools   >   First Time COH
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Close</button>
      </div>
  </div>
</ng-template>

