@import '../shared/scss/global';

.dashboard {
  background-color: white;
  min-height: $mainContentHeight;
  position: relative;
  
   .row {
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    .col {
      background-color: $white;
      display: block;
      @include media(tablet) {
        display: block;
      }
      @include media(mediumDesktop) {
        // flex: 0 0 46%;
        // max-width: 46%;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include media(largeDesktop) {
        // flex: 0 0 46%;
        // max-width: 46%;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  a {
    color: $black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  section {
    .content {
      min-height: 70vh;
      position: relative;
      .row {
        // min-height: 350px;
        position: relative;
        .col {
          background-color: $white;
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 1%;
          .card{
            // css for fixed header table start
            table {
              width: 100%;
              border-spacing: 0;
            }

            thead, tbody, tr, th, td { display: block; }

            thead tr {
              /* fallback */
              width: 97%;
              /* minus scroll bar width */
              width: -webkit-calc(100% - 16px);
              width:    -moz-calc(100% - 16px);
              width:         calc(100% - 16px);
              text-align: left;
            }

            tr:after {  /* clearing float */
              content: ' ';
              display: block;
              visibility: hidden;
              clear: both;
            }

            tbody {
              height: 250px;
              overflow-y: auto;
              overflow-x: hidden;
            }

            tbody td, thead th {
              width: 19%;  /* 19% is less than (100% / 5 cols) = 20% */
              float: left;
            }
            // css for fixed header table end

            // margin:2%;
            ul{
              list-style-type: none;
              li{
                a{
                  border-bottom: 1px dotted black;
                }
                a:hover{
                  border-bottom: 1px dotted $pelorous;
                  text-decoration: none;
                  color: $pictonBlue;
                }
              }
            }
            a{
              color:black;
              cursor: pointer;
            }
            .card-header{
              background-color:$tertiaryBlue;
              color:white;
            }
          }
        }
      }
    }
  }
  footer {
    .footer {
      //bottom: 0;
      position: absolute;
      width: 100%;
      .legal-disclaimer {
        text-align: center;
        .btn {
          color: $black;
        }
      }
    }
  }
} // .dashboard


.modal-header{
  color:$blueZodiac;
}
