<div class="dashboard">
  <section>
    <div class="content">
      <div class="row">
        <div class="col">
          <h3 class="pb-3 pt-3 border-bottom">Upcoming Reports</h3>
          <p><span><strong>12/29/2019</strong></span> - PAC & Party Report of Receipts & Disbursements (F3X) due in <span>XX</span> days</p>

          <p><span><strong>12/31/2019</strong></span> - PAC & Party Report of Receipts & Disbursements (F3X) due in <span>XX</span> days</p>

          <p><span><strong>12/31/2019</strong></span> - PAC & Party Report of Receipts & Disbursements (F3X) due in <span>XX</span> days</p>
        </div>
        <div class="col">
          <h3 class="pb-3 pt-3 border-bottom">Upcoming Reports</h3>
          <p><span><strong>11/28/2019</strong></span> - PAC & Party Report of Receipts & Disbursements (F3X) due in <span>XX</span> days</p>

          <p><span><strong>11/29/2019</strong></span> - PAC & Party Report of Receipts & Disbursements (F3X) due in <span>XX</span> days</p>

          <p><span><strong>11/30/2019</strong></span> - PAC & Party Report of Receipts & Disbursements (F3X) due in <span>XX</span> days</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="pb-3 pt-3 border-bottom">Helpful Resources</h3>
          <p></p>
        </div>
        <div class="col">
          <h3 class="pb-3 pt-3 border-bottom">Recently Saved & Submitted Reports</h3>
          <table class="table table-striped forms-table">
            <thead>
              <tr>
                <th scope="col">Form <i class="fas fa-sort"></i></th>
                <th scope="col">Status <i class="fas fa-sort"></i></th>
                <th scope="col">Filed Date <i class="fas fa-sort"></i></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>F99</td>
                <td>Saved</td>
                <td>10/14/2018</td>
                <td>
                  <div class="btn-group float-right" role="group" aria-label="action buttons">
                    <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-eye"></i></button>
                    <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>F3X</td>
                <td>Submitted</td>
                <td>07/14/2018</td>
                <td>
                  <div class="btn-group float-right" role="group" aria-label="action buttons">
                    <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-eye"></i></button>
                    <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>F99</td>
                <td>Submitted</td>
                <td>04/20/2018</td>
                <td>
                  <div class="btn-group float-right" role="group" aria-label="action buttons">
                    <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-eye"></i></button>
                    <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>F24</td>
                <td>Saved</td>
                <td>09/15/2018</td>
                <td>
                  <div class="btn-group float-right" role="group" aria-label="action buttons">
                    <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-eye"></i></button>
                    <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-sm btn-secondary"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- ./content -->
  </section>
</div> <!-- ./dashboard -->

