@import '../../../shared/scss/global';

.header-content {
  display: block;
  margin: 0 auto;
  width: 96%;
  padding: 0.75em 0 0.25em 0;
}

.loanSumamry__table-container {
  padding-right: 15px;
  .loanSumamry__page-item-range {
    margin: 0 auto;
    width: 96%;
    padding: 0.75em 0 0.25em 0;
  }

  .loanSumamry__table {
    width: 100%;
    .loanSumamry__amount {
      text-align: right;
    }
  }

  .loanSumamry__table-checkbox {
    width: 3%;
  }

  .loanSumamry__table-pagination-container {
    padding: 1em;
  }

  /** hide the dropdown caret **/
  .dropdown-toggle:after {
    border: none;
  }

  #loanSumamry__dropdown-action > button > i {
    padding-right: 3px;
  }

  .bulk_action {
    text-align: left;
  }

  .loanSumamry__bulk_action_btn[disabled] {
    background: #6c757d;
    border-color: #6c757d;
  }

  .dropdown-menu {
    min-width: 6em;
  }

  .loanSumamry__item-range {
    font-size: 13px;
    color: grey;
    margin: 0 5px;
  }

  .loanSumamry__total-amount {
    float: left;
  }

  .loanSumamry__total-amount-val {
    float: right;
  }

  .loanSumamry__total-amount-tip {
    color: #112e51;
    padding-left: 3px;
    float: right;
  }

  .loanSumamry__tooltip {
    top: 0;
    width: 300px;
    .tooltip-inner {
      max-width: 300px;
      text-align: left;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .external-link-icon {
        margin-left: 5px;
      }
    }
  }

  /* arrow common style */
  .arrow {
    // display: inline-block;
    width: 5px;
    height: 5px;
    margin-top: 0.4rem;
    border-top: 0.2rem solid #112e51;
    border-right: 0.2rem solid #112e51;
    margin-right: 1rem;
    float: right;
  }
  .arrow-top {
    transform: rotate(-45deg);
  }
  .arrow-right {
    transform: rotate(45deg);
  }
  .arrow-bottom {
    transform: rotate(135deg);
  }
  .arrow-left {
    transform: rotate(-135deg);
  }
  .arrow-top-narrow {
    transform: rotate(-45deg) skew(-15deg, -15deg);
  }
  .arrow-top-wide {
    transform: rotate(-45deg) skew(7deg, 7deg);
  }
  .arrow-top-left {
    transform: rotate(-90deg) skew(-10deg, -10deg);
  }
  .arrow-top-right {
    transform: rotate(0) skew(-10deg, -10deg);
  }
  .arrow-bottom-left {
    transform: rotate(180deg) skew(-10deg, -10deg);
  }
  .arrow-bottom-right {
    transform: rotate(90deg) skew(-10deg, -10deg);
  }

  .parent:hover {
    cursor: pointer !important;
  }

  .child-bg {
    padding-left: 80px;
    background-color: #d9edf6 !important;
  }

  .payment-bg {
    padding-left: 80px;
    background-color: #d9ecde !important;
  }

  // .loanSumamry__total-amount-container {
  //   margin: 1.5em 0;
  // }

  /* style ngx-pagination - start */
  /* override some styling where use of !important is made. */

  .ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #9b9b9b !important;
    color: #fefefe;
    cursor: default;
  }

  .ngx-pagination a,
  .ngx-pagination button {
    color: #9b9b9b !important;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
  }

  .ngx-pagination {
    margin-bottom: 0;
  }

  /* style ngx-pagination - end */

  ng-select { 
    .ng-dropdown-panel { 
      width: auto !important; 
      max-width: 550px; 
    } 
  }

  .column-options-modal {
    #loanSumamry__pin-modal-header {
      background-color: $crusta;
    }

    .btn-modal-footer {
      width: 6em;
    }

    .row {
      height: 3em;
    }

    input[type='checkbox' i]:disabled,
    .disabled-column-option {
      color: #cccccc;
    }

    input[type='checkbox'] {
      transform: scale(1.5);
    }
  }
}
