<div class="header-content">
  <!--<div class="float-left">-->
  <h2>
    Form 3X / Loans / Schedule-C Summary
  </h2>
  <br />
  <!--</div>-->
</div>
<div class="loanSumamry__table-container">
  <div class="grid-row d-flex justify-content-between loanSumamry__page-item-range">
    <div class="d-flex">
      <div class="d-inline mr-1 my-auto text-muted">Items per page:</div>    
      <ng-select #pageNumber [items]="pageSizes" [clearable]="false" [hideSelected]="true"
        (change)="onMaxItemsPerPageChanged($event)" [(ngModel)]="maxItemsPerPage"
        class="border border-light">
      </ng-select>
    </div>
    <div class="contacts__item-range">
      {{determineItemRange()}} of {{config.totalItems}}
    </div>
  </div>
  <table class="table table-striped table-hover table__sortable loanSumamry__table">
    <thead>
      <tr>
        <th class="loanSumamry__table-checkbox">
          <!-- *ngIf="isLoanSummryViewActive()" -->
          <input  [(ngModel)]="allLoanSelected" type="checkbox"
            (change)="changeAllLoanSummrysSelected()">
        </th>
        <th  *ngIf="isColumnVisible('name')" [class]="getSortClass('name')"
          (click)="changeSortDirection('name')">Name/Bank
        </th>
        <th  *ngIf="isColumnVisible('loan_amount_original')" [class]="getSortClass('loan_amount_original')"
          (click)="changeSortDirection('loan_amount_original')">Original Loan
        </th>
        <th  *ngIf="isColumnVisible('loan_payment_to_date')" [class]="getSortClass('loan_payment_to_date')"
          (click)="changeSortDirection('loan_payment_to_date')">Cumulative Payment <br> to Date
        </th>
        <th  *ngIf="isColumnVisible('loan_balance')" [class]="getSortClass('loan_balance')"
          (click)="changeSortDirection('loan_balance')">Outstanding Balance at <br>the Close of Period
        </th>
        <th  *ngIf="isColumnVisible('loan_due_date')" [class]="getSortClass('loan_due_date')"
          (click)="changeSortDirection('loan_due_date')">Due Date
        </th>

        <th class="bulk_action">
          <div  *ngIf="isLoanSummryViewActive()" class="btn-group" ngbDropdown role="group"
            aria-label="Action dropdown">
            <button class="btn btn-sm btn-primary loanSumamry__bulk_action_btn" ngbDropdownToggle
              [disabled]="bulkActionDisabled">
              <i class="ellipsis-icon"></i>
            </button>
            <div id="loanSumamry__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" (click)="printAllSelected()">
                <i class="print-icon"></i> Print
              </button>
              <button class="dropdown-item" (click)="exportAllSelected()">
                <i class="file-export-icon"></i> Export
              </button>
              <button class="dropdown-item" (click)="trashAllSelected()">
                <i class="trash-icon"></i> Trash
              </button>
            </div>
          </div>
          <!-- <div [@fadeInOut] *ngIf="isRecycleBinViewActive()">
            <button class="btn btn-sm btn-primary loanSumamry__bulk_action_btn" (click)="deleteRecyleBin()"
              [disabled]="bulkActionDisabled">
              <i class="trash-icon"></i>
            </button>
          </div> -->
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let ln of LoanModel | paginate: config">
        <tr>
          <td>
            <input [(ngModel)]="ln.selected" type="checkbox" (click)="checkForMultiChecked($event)">
          </td>
          <!-- <td  *ngIf="isColumnVisible('name')">{{ln.entity_type === 'IND' ? ln.last_name + ', ' + ln.first_name : ln.entity_nm}}</td> -->
          <td  [ngClass]="(ln.entity_type === 'ORG') ? 'parent': ''"
            (click)="ln.entity_type === 'ORG' ? ln.toggleChild = !ln.toggleChild : ''" *ngIf="isColumnVisible('name')">
            {{ln.name}}
            <div *ngIf="ln.entity_type === 'ORG' && (ln.hasC1 || ln.hasC2)" class="align_right arrow"
              [ngClass]="ln.toggleChild ? 'arrow-top' : 'arrow-bottom'"></div>
          </td>
          <td  *ngIf="isColumnVisible('loan_amount_original')">
            {{ln.loan_amount_original | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
          <td  *ngIf="isColumnVisible('loan_payment_to_date')" [ngClass]="(ln?.payments?.length > 0) ? 'parent': ''"
          (click)="ln?.payments?.length > 0 ? ln.togglePayments = !ln.togglePayments : ''">
            {{ln.loan_payment_to_date | currency:'USD':'symbol-narrow':'1.2-2'}}
            <div *ngIf="ln?.payments?.length > 0" class="align_right arrow"
              [ngClass]="ln.togglePayments ? 'arrow-top' : 'arrow-bottom'"></div>
          </td>
          <td  *ngIf="isColumnVisible('loan_balance')">
            {{ln.loan_balance | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
          <td  *ngIf="isColumnVisible('loan_due_date')">{{ln.loan_due_date | date: 'MM/dd/yyyy' }}</td>

          <td>
            <div  *ngIf="isLoanSummryViewActive()" class="btn-group" ngbDropdown role="group"
              aria-label="Action dropdown">
              <button class="btn btn-sm btn-primary" ngbDropdownToggle [disabled]="!bulkActionDisabled">
                <i class="ellipsis-icon"></i>
              </button>
              <div id="loanSumamry__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="editLoanPayment(ln)">
                  <i class="edit-icon"></i> Edit
                </button>
                <button class="dropdown-item" (click)="goToLoanRepayment(ln)">
                  <i class="edit-icon"></i> Loan Repayment
                </button>
                <button class="dropdown-item" (click)="printLoan(ln)">
                  <i class="print-icon"></i> Print
                </button>
                <button class="dropdown-item" (click)="trashLoan(ln)">
                  <i class="trash-icon"></i> Trash
                </button>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="ln.entity_type === 'ORG' && ln.hasC1" [ngbCollapse]="ln.entity_type === 'ORG' ? !ln.toggleChild: ''"
          class="child-bg">
          <td style="padding-left: 70px;" colspan="6">Schedule C1</td>
          <td>
            <div  class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
              <button class="btn btn-sm btn-primary" ngbDropdownToggle [disabled]="!bulkActionDisabled">
                <i class="ellipsis-icon"></i>
              </button>
              <div id="loanSumamry__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="goToC1(ln)">
                  <i class="edit-icon"></i> Edit
                </button>
                <button class="dropdown-item" (click)="printLoan(ln)">
                  <i class="print-icon"></i> Print
                </button>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="ln.entity_type === 'ORG' && ln.hasC2" [ngbCollapse]="ln.entity_type === 'ORG' ? !ln.toggleChild: ''"
          class="child-bg">
          <td style="padding-left: 70px;" colspan="6">Endorsers</td>
          <td>
            <div  class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
              <button class="btn btn-sm btn-primary" ngbDropdownToggle [disabled]="!bulkActionDisabled">
                <i class="ellipsis-icon"></i>
              </button>
              <div id="loanSumamry__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="goToEndorserSummary(ln)">
                  <i class="edit-icon"></i> Edit
                </button>
                <button class="dropdown-item" (click)="printLoan(ln)">
                  <i class="print-icon"></i> Print
                </button>
              </div>
            </div>
          </td>
        </tr>

        <ng-container *ngIf="ln?.payments?.length > 0">
          <tr [ngbCollapse]="ln?.payments?.length > 0 ? !ln.togglePayments: ''" class="payment-bg">
            <th style="padding-left: 70px;" colspan="2">Type</th>
            <th colspan = "2">Payment Date</th>
            <th colspan="3">Payment Amount</th>
          </tr>
          <tr [ngbCollapse]="ln?.payments?.length > 0 ? !ln.togglePayments: ''" 
            *ngFor="let payment of ln.payments;" class="payment-bg">
            <td style="padding-left: 70px;" colspan="2">Loan Payment</td>
            <td  colspan="2">{{payment.expenditure_date | date: 'MM/dd/yyyy'}}</td>
            <td  colspan="2">{{payment.expenditure_amount | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
            <td>
              <div  class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
                <button class="btn btn-sm btn-primary" ngbDropdownToggle [disabled]="!bulkActionDisabled">
                  <i class="ellipsis-icon"></i>
                </button>
                <div id="loanSumamry__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
                  <button class="dropdown-item" (click)="editLoanRepayment(payment)">
                    <i class="edit-icon"></i> Edit
                  </button>
                  <button class="dropdown-item" (click)="deleteLoanRepayment(payment)">
                    <i class="print-icon"></i> Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
        
      </ng-container>

    </tbody>

  </table>
  <hr />
  <div *ngIf="showPagination()" class="d-flex justify-content-center loanSumamry__table-pagination-container">
    <div class="my-auto">
      <pagination-controls [id]="config.id" (pageChange)="getPage($event)" [maxSize]="paginationControlsMaxSize">
      </pagination-controls>
    </div>
    <div *ngIf="pageNumbers.length > 1" class="d-flex ml-1">
      <div class="mr-1 my-auto text-muted">Go to page:</div>
      <ng-select #pageNumber [items]="pageNumbers" [clearable]="false" [hideSelected]="true"
        (change)="onGotoPageChange($event)" [(ngModel)]="gotoPage"
        class="border border-light">
      </ng-select>
    </div>
  </div>