.import-done-container {
  padding: 7em 15em;
  .complete-message {
    font-size: 1.5em;
  }
  .import-done-button {
    width: 20em;
    padding: 1em;
    margin: 1em 0;
  }
  .import-done-notifications {
    padding: 4% 25%;
    text-align: center;
    font-size: 26px;
  }
}
