<div class="import-done-container">
  <div
    *ngIf="!allFilesDone && (uploadFile.status === importingStatus || uploadFile.status === completeStatus)"
    class="import-done-progress-container"
  >
    <p>{{ uploadingText }}</p>
    <ngb-progressbar
      type="dark"
      textType="white"
      animated="true"
      [value]="progressPercent"
      showValue="true"
      height="2rem"
    >
    </ngb-progressbar>
    <p>
      The system is now importing your import file. Depending upon the size of your import file the process may run for
      a few minutes. Once the import is complete you will also receive a notice in the Notifications section.
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div *ngIf="!allFilesDone && uploadFile.status === completeStatus">
          <div class="complete-message">Your Import is now Complete!</div>
          <button class="btn btn-secondary import-done-button" (click)="proceed()">
            Proceed
          </button>
        </div>
        <div *ngIf="allFilesDone && !allFailed" class="import-done-notifications" (click)="goToNotifications()">
          Your Import is now Complete. Click here to View.
        </div>
        <div *ngIf="allFilesDone && allFailed" class="import-done-notifications">
          Your Import is now Complete. All files have failed.
        </div>
        <button *ngIf="allFilesDone && hasFailure" class="btn btn-secondary import-done-button" (click)="showErrorLog()">
          View Error Logs for Failed Files
        </button>
      </div>
    </div>
  </div>
</div>
