<div class="import_contacts__main-container">
  <div [hidden]="isShowInfo" class="import_contacts__container">
    <header>
      <div class="header-content">
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="float-left">
              <div class="import_contacts__header-1">Import FECFile</div>
            </div>
            <div class="float-left">
              <div class="import_contacts__header-2">(Importing DCF data into FECfile)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-content-sep">
        <hr />
      </div>
    </header>
    <section>
      <div class="import_contacts__body">
        <div *ngIf="currentStep === start">
          <h3 class="import_contacts__heading">To Begin Importing</h3>
          <div class="import_contacts__begin-import-msg">
            You can start your Import by taking clicking "Begin Upload" below, or by taking any of the additional
            actions provided below:
          </div>
          <ul class="import_contacts__begin-import-links">
            <li>
              <button (click)="beginUpload()" class="btn btn-link" type="button">
                <i aria-hidden="true" class="file-upload-icon"></i>
                Begin Upload
              </button>
            </li>
          </ul>
          <h3 class="import_contacts__heading">Importing Files</h3>
          <div class="import_contacts__import-directions">
            1. At the top right of the screen, select "Tools" and then "Import FECFile". You will then be taken to the Import FECFile page 
            (this page).
            <br /><br />
            2. Click "Begin Upload" to navigate to the Upload Page.
            <br /><br />
            3. Locate your import file using your computer's file explorer, and drag and drop that file into the
            grey-shaded area, or use the "Upload" button to open the file explorer to locate the file you would like to
            upload. The import file should have a .DCF extension, or it wil not be accepted.
            <br /><br />
            4. Once the upload begins the file will be scanned for formatting errors. If there are any errors the upload
            will be cancelled and an error message will be displayed listing all of the errors found. If no errors are
            found you will proceed to the next page.
            <br /><br />
            5. The Import will begin after the previous step is completed. A loader with the a completion percentage
            will be displayed to allow the user to visually assess the progress of the import. Once the import is
            complete the user can navigate to the Notifications Modal (Top Menu/Notifications) to view the Import and
            others via the link provided.
          </div>
<!--           <h3 class="import_contacts__heading">How to enter data into the DCF templates</h3>
          <div>
            When entering data into a DCF template, ensure the fields within the template match with what you are
            planning to import. DCF files will not always save information within the DCF format, so you may need to
            save the file as an excel document first, and then when complete save in a CSV format. Further Import
            Instructions and Information is provided below.
          </div>
          <h3 class="import_contacts__heading">Additional Import Information and Instructions</h3>
          <div class="import_contacts__import-directions">
            a. Always clean the Contacts Database for possible duplicates.
            <br /><br />
            b. You can only attach only 1 CSV file at a time.
            <br /><br />
            c. You can only import Individual & Organization entities.
            <br /><br />
            d. Zip codes: If the user wants to do the 5+4 zip code they should be instructed to not include a hyphen
            (-).
            <br /><br />
            e. Always refer to the Contacts Specs for required fields.
            <br /><br />
            f. Once a contact has been imported and saved to the Committee’s Contacts Database, a filer will be able to
            pull that contact’s information while entering transactions.
            <br /><br />
            g. Filer must always include their Committee ID for each contact row.
            <br /><br />
            <ul style="padding-left: 60px;">
              <li>Committee ID column must have the same ID for this file.</li>
            </ul>
          </div> -->
        </div>
         <app-upload-contacts
          *ngIf="currentStep === step1Upload"
          [forceChangeDetection]="forceChangeDetectionUpload"
          [screenType]="'fecfile'" 
          (uploadResultEmitter)="noErrorsAcknowleged($event)"
          (saveStatusEmitter)="receiveSavedStatus($event)"
        >
        </app-upload-contacts>
        <app-import-fecfile-success *ngIf="currentStep === step4ImportDone" [successMessage]="successResponse">

        </app-import-fecfile-success>
      </div>
    </section>
    <footer></footer>
  </div>
</div>

<!-- <div
  bsModal
  #errorsModal="bs-modal"
  class="modal fade error__contacts-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" id="error-contacts__modal-header_1">
        <h2 class="modal-title pull-left">Import Failed</h2>
      </div>
      <div class="modal-body">
        <p class="error-contacts__description">
          The system found errors within the import file, and will not be able to complete the import. Please check your
          file and ensure formatting is correct.
        </p>
        <h3 class="error-contacts__body-title">Import Errors</h3>
        <ul class="error-contacts__list">
          <li *ngFor="let error of contactErrors; let i = index" class="error-contacts__error">
            Error {{ i + 1 }}: {{ error.field_name }} {{ error.msg }}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal-footer btn-right" (click)="errorsAcknowleged()">
          Ok
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div
  bsModal
  #noErrorslModal="bs-modal"
  class="modal fade error__contacts-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="error-contacts__modal-header_2">
        <h2 class="modal-title pull-left">Upload Complete</h2>
      </div>
      <div class="modal-body">
        <p>
          No errors were detected. Please proceed to see if your data was previously imported or has any duplicate
          contacts.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal-footer btn-right" (click)="noErrorsAcknowleged()">
          Ok
        </button>
      </div>
    </div>
  </div>
</div> -->
