.upload_contacts__progress_container {
  padding: 0 15em;
  text-align: center;
}
.upload_contact__spinner_container_outer {
  padding-top: 2em;
  .upload_contact__spinner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 200px;
  }
}
  