@import 'src/app/shared/scss/global';

.review-main {
  .duplicate-message {
    margin: 0 0 2em 0;
  }
  .review-button {
    width: 11em;
    height: 3em;
    margin: 1.2em 0.25em;
  }

  .review-cancel-button {
    background-color: $fecRed;
    color: white;
  }
}
.upload_contact__spinner_container_outer {
  padding-top: 2em;
  p {
    text-align: center;
  }
  .upload_contact__spinner_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
