.btn {
  cursor: pointer;
}

.btn-primary {
  background-color: $blueZodiac;
  border-color: $blueZodiac;
  color: $white;
  font-family: $mainFontFamily;
  &:hover {
    background-color: darken($blueZodiac, 10%);
    border-color: darken($blueZodiac, 10%);
  }
}

.btn-secondary {
  background-color: $pelorous;
  border-color: $pelorous;
  color: $white;
  font-family: $mainFontFamily;
  &:hover {
    background-color: darken($pelorous, 10%);
    border-color: darken($pelorous, 10%);
  }
}

.btn-secondary-gray {
  background-color: $mercury;
  border-color: $mercury;
  color: $shuttleGray;
  font-family: $mainFontFamily;
  &:hover {
    background-color: darken($mercury, 10%);
    border-color: darken($mercury, 10%);
  }
}

.btn-previous {
  @extend .btn-secondary-gray;
}

.btn-submit {
  @extend .btn-secondary;
}

.btn-edit {
  @extend .btn-secondary-gray;
}

.btn-info {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
  overflow: hidden;
  outline: none;
  padding-bottom: 0;
  &:hover,
  &:active,
  &:focus {
    background-color: Transparent !important;
    background-repeat: no-repeat;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  .info-icon {
    color: $blueZodiac;
    outline: none;
  }
}

.btn-right {
  float: right;
}

.btn-left {
  float: left;
}
