.link {
  color: $secondaryBlue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.links-list {
	list-style-type: none;
}

.icon-link {
  cursor: pointer;
  .icon {
    padding-right: 5px;
  }
  .icon-link-text {
    display: none;
    @include media(tablet) {
      display: inline;
      &:hover {
        text-decoration: underline;
      }
    }
    @include media(mediumDesktop) {
      display: inline;
      &:hover {
        text-decoration: underline;
      }
    }
    @include media(largeDesktop) {
      display: inline;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
