// error classes
.text-error {
  color: $red !important;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-info {
  color: $blue !important;
  font-weight: bold;
  margin-bottom: 10px;  
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-required {
  color: $bombay;
}
