<div class="import_contacts__main-container">
  <div class="import_contacts__container">
    <header>
      <div class="header-content">
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="float-left">
              <h1>Import Contacts</h1>
            </div>
            <div class="float-left import_contacts__info" (click)="showInfo()">For more
              information click here
              <i class="info-icon" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="header-content-sep">
        <hr />
      </div>
    </header>
    <section>
      <div *ngIf="currentStep !== start" class="import_contacts__steps">
        <app-steps [steps]="steps" [current_step]="currentStep">
        </app-steps>
      </div>
      <div class="import_contacts__body">
        <div *ngIf="currentStep === start">
          <h4 style="color:brown">"FOLLOWING INFORMATION BELOW IS PLACEHOLDER AND WILL BE UPDATED."</h4>
          <br><br>
          <h4>To Begin Importing</h4>
          <p>You can start your Import by taking 1 of the 3 actions provided below:</p>
          <ul style="list-style-type:none">
            <li (click)="beginUpload()">Begin Upload</li>
            <li (click)="viewFormatSpecs()">View Format Specs</li>
            <li (click)="viewCsvTemplate()">View CSV Template</li>
          </ul>
        </div>
        <app-upload-contacts *ngIf="currentStep === step1Upload" [forceChangeDetection]="forceChangeDetectionUpload"
          (uploadResultEmitter)="receiveUploadResult($event)">
        </app-upload-contacts>
        <!-- <app-configure-contacts *ngIf="currentStep === step2Configure" [userContactFields]="userContactFields">
        </app-configure-contacts> -->
        <!-- <app-review-upload *ngIf="currentStep === step2Review" [duplicateFile]="duplicateFile"
          (reviewEmitter)="receiveReviewAction($event)">
        </app-review-upload> -->
        <!-- <app-clean-contacts *ngIf="currentStep === step3Clean" [duplicates]="duplicateContacts"
          (cancelEmitter)="receiveCleanCancel()">
        </app-clean-contacts> -->
        <app-duplicate-contacts *ngIf="currentStep === step3Clean" [fileName]="fileName"
          (dupeProceedEmitter)="receiveDupeProceed($event)" (dupeCancelEmitter)="receiveDupeCancel()">
        </app-duplicate-contacts>
        <app-import-done-contacts *ngIf="currentStep === step4ImportDone" [fileName]="fileName"
          [action]="importDoneAction">
        </app-import-done-contacts>
      </div>
    </section>
    <footer>
      <!-- <div class="import_contacts__btn-container">
        <button *ngIf="currentStep !== step1Upload" class="btn btn-previous btn-left" type="button"
          (click)="showPreviousStep()">
          Previous for dev
        </button>
        <button *ngIf="currentStep !== step4ImportDone" class="btn btn-secondary btn-right" (click)="showNextStep()">
          Next for dev
        </button>
      </div> -->
    </footer>
  </div>
</div>

<div bsModal #errorsModal="bs-modal" class="modal fade error__contacts-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" id="error-contacts__modal-header_1">
        <h2 class="modal-title pull-left">Import Failed</h2>
      </div>
      <div class="modal-body">
        <p class="error-contacts__description">The system found errors within the import file, and will not be able to
          complete the import.
          Please check your file and ensure formatting is correct.
        </p>
        <h3 class="error-contacts__body-title">Import Errors</h3>
        <ul class="error-contacts__list">
          <li *ngFor="let error of contactErrors; let i = index" class="error-contacts__error">
            Error {{i + 1}}: {{error.field_name}} {{error.msg}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal-footer btn-right" (click)="errorsAcknowleged()">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #noErrorslModal="bs-modal" class="modal fade error__contacts-modal" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="error-contacts__modal-header_2">
        <h2 class="modal-title pull-left">Upload Complete</h2>
      </div>
      <div class="modal-body">
        <p>
          No errors were detected. Please proceed to see if your data was previously imported or
          has any duplicate contacts.
        </p>
        <p><i class="exclamation-triangle-icon clean_contacts__ignore-warn"></i>
          Caution: As you proceed your data has the potential of being duplicated upon import.
          Ensure your data integrity by opting to check the individual line items before importing.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal-footer btn-right" (click)="noErrorsAcknowleged()">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>