@import '../../shared/scss/global';

.import_contacts__main-container {
  display: table;
  table-layout: fixed;
  min-height: $mainContentHeight;
  margin: 0;
  padding: 0;
  width: 100%;
  .import_contacts__container {

    header {
      .header-content {
        display: block;
        margin: 2px auto;
        width: 98%;
        padding: .75em 0 .25em 0;
        @include clearfix();
        .btn-options {
          color: $shuttleGray;
          text-decoration: none;
          &:hover,
          &:visited,
          &:active {
            color: $shuttleGray;
            text-decoration: none;
          }
        }
      }
      .header-content-sep {
        margin: 2px auto;
        width: 98%;
      }
      .import_contacts__info {
        padding-top: 1em;
        padding-left: 1em;
      }
    }
    section {
      .import_contacts__steps {
        padding: 2em 0;
      }
      .import_contacts__body {
        margin: 2px auto;
        width: 98%;
        padding: .75em 0 .25em 0;
      }
    }
    footer {
      .import_contacts__btn-container {
        margin: 5px auto;
        padding: 0;
        width: 80%;
        @include media(tablet) {
          margin: 0;
          padding: 0;
          width: 95%;
        }
        @include media(mediumDesktop) {
          width: 95%;
          .btn-right {
            margin-right: 20px;
          }
        }
        @include media(largeDesktop) {
          width: 95%;
          .btn-right {
            margin-right: 20px;
          }
        }
        @include clearfix();
      }
    }
 
  }
}




