/**
 * Media query mixin.
 *
 * @param      {String}  $type   The type of device being used.
 *
 */
@mixin media($type) {
  @if $type == tablet {/* Small devices (tablets, >= 768px and <= 991px) */
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      @content;
    }
  }
  @else if $type == mediumDesktop {/* Medium devices (desktops, >= 992px and <= 1199px) */
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      @content;
    }
  }
  @else if $type == largeDesktop {/* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) {
      @content;
    }
  }
}

/**
 * Targets Webkit based browsers. (e.g. Chrome, Safari)
 *
 */
@mixin webkitBrowser() {
  @media screen and (-webkit-min-device-pixel-ratio:0) {
     @content;
  }
}

/**
 * Targets Safari only.
 *
 */
@mixin safariOnly() {
  @media not all and (min-resolution:.001dpcm) {
    @content;
  }
}