@import '../../scss/global';

$btnRowHeight: 45px;

.signee-container {
  header {
    .header-container {
      display: block;
      width: 100%;
      .header__text {
        float: left;
        width: 55%;
        @include media(tablet) {
          width: 40%;
        }
        @include media(mediumDesktop) {
          width: 40%;
        }         
        @include media(largeDesktop) {
          width: 40%;
        }         
      }
      .header__btns {
        float: left;
        padding-top: 0;
        text-align: right;
        width: 30%;
        @include media(tablet) {
          padding-top: 0;
          width: 50%;
        }
        @include media(mediumDesktop) {
          padding-top: 0;
          width: 50%;
        }         
        @include media(largeDesktop) {
          padding-top: 0;
          width: 50%;
        }         
        .btn-print-preview {
          @extend .btn-secondary-gray;
          margin-right: 5px;
        }
        .btn-validate {
          @extend .btn-primary;
        }
        .btn {
          padding-top: 10px;
        }
      }
      @include clearfix();
    }
  }
  section {
    .content {
      display: block;
      position: relative;
      width: 100%;
      .grid-r
      form {
        .form1-link {
          color: $dodgerBlue;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .additional-email__field {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          input[type='email'] {
            @include make-text-input(175px, 1.5em, 1em, 1em);
          }
          .error {
            margin-top: 5px;
          }
        }
        footer {
        }
      }
    }
  }
} // .signee-container
