@import '../../scss/global';

.signee-container {
  padding-left: 15px;
  padding-right: 15px;
  .grid-row {
    margin-left: 0;
    margin-right: 0;
    .grid-row__col {
      padding-left: 0;
      padding-right: 0;
      padding-top: 15px;
      padding-bottom: 15px;

      input[type='text'],
          input[type='date'],
          input[type='number']
          input[type='email']
           {
            &.form-control {
              height: 30px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 1px;
              padding-bottom: 1px;
            }
            
          }
    }

    input[type='email'] {
      @include make-text-input(180px, 30px, 1em, 1em);
    }
  }


  header {
    .header-container {
      display: block;
      width: 100%;
      border-bottom: 1px solid $bombay;
      padding-bottom: .50em;
      padding-top: .50em;
      margin-bottom: 1em;
      .header__text {
        display: block;
        float: none;
        width: 100%;
        @include media(tablet) {
          display: block;
          float: none;
          width: 100%;
        }
        @include media(mediumDesktop) {
          float: left;
          width: 40%;
        }         
        @include media(largeDesktop) {
          float: left;
          width: 40%;
        }         
      }
      .header__btns {
        float: right;
        @include media(tablet) {
          display: block;
          float: right;
          padding-top: 0;
        }         
        .btn-print-preview {
          @extend .btn-secondary-gray;
          margin-right: 5px;
        }
        .btn-validate {
          @extend .btn-primary;
        }
        .btn {
          padding-top: 10px;
        }
      }
      @include clearfix();
    }
  }
  section {
    .content {
      display: block;
      position: relative;
      width: 100%;
      .validate__form {
        &.show-alerts {
          display: block;
          @include media(tablet) {
            display: block;
          }
          @include media(mediumDesktop) {
            display: none;
          }         
          @include media(largeDesktop) {
            display: none;
          }           
        }
        background-color: $bombay;
        display: none;
        height: 80px;
        margin-top: 10px;
        width: 100%;
        @include media(tablet) {
          background-color: $bombay;
          display: none;
          height: 80px;
          margin-top: 10px;
          width: 100%;        
        }
        @include media(mediumDesktop) {
          display: none;
        }         
        @include media(largeDesktop) {
          display: none;
        }         
      }      
      form {
        .form1-link {
          color: $dodgerBlue;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .additional-email__field {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          input[type='email'] {
            @include make-text-input(300px, 1.5em, 1em, 1em);
          }
          .error {
            margin-top: 5px;
          }
        }
        footer {
        }
      }
      .tooltip-inner {
        text-align: left;
      }
    }
  }
} // .signee-container
