<!-- <p>
  sched-h5 works!
</p> -->
<!-- Transfers of Levin Funds Received for Allocated Federal Election Activity -->
<div class="h5-levin-transfer-container">
  <header class="header-content">

  </header>

  <section>
    <div class="levin-transfer-container" *ngIf=false>
      <form [formGroup]="frmOption" #f="ngForm" (ngSubmit)="submit(f)">
        <div class="float-left">
          <ng-container>
            <h1>Seperarate Segregated Funds and Non-connected Committees</h1>
          </ng-container>
        </div>
        <div class="text">
          <label>
            Account Name
            <input ngModel type="text" name="account_name" maxlength="30" value="" />
          </label>
        </div>
        <div class="text">
          <label>
            Date of Receipt
            <input ngModel type="text" name="date_of_receipt" maxlength="30" value="" />
          </label>
        </div>
        <div class="text">
          <label>
            Total Amount of Transfer
            <input ngModel type="text" name="total_amount" maxlength="30" value="" />
          </label>
        </div>

        <!-- dropdown of select list-->
        <div class="form-gropup">
          <label for="selectCategories">Select Categories</label>
          <select naModel name="selectCategories" id="selectCategories">
            <option *ngFor="let category of transferCategories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>


        <button class="btn bnt-primary" [disabled]="!f.valid">Add Another Entry</button>

      </form>
    </div>
  </section>
  <footer>
    <div class="grid-row">
      <div class="grid-row__col grid-row__col--12">
        <div class="forms__btn-container">
          <button id="cancel" class="btn btn-previous btn-right" type="button">
            cancel
          </button>
          <button id="summary" class="btn btn-previous btn-right" type="button" (click)="load_summary()">
            summary
          </button>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- transfer summary -->
<!-- header:Transfers from Levin Funds for Allocated Federal Election Activity -->

<div class="h5-levin-transfer-summary">
  <header class="header-content">

  </header>

  <section>
    <div class="levin-transfer-container" *ngIf=false>
      <form [formGroup]="frmOption" #f="ngForm" (ngSubmit)="submit(f)">
        <div class="float-left">
          <ng-container>
            <h1>Transfers from Levin Funds for Allocated Federal Election Activity</h1>
          </ng-container>
        </div>



        <div class="text">
          <label>
            Account Name
            <input ngModel type="text" name="account_name" maxlength="30" value="" />
          </label>
        </div>
        <div class="text">
          <label>
            Date of Receipt
            <input ngModel type="text" name="date_of_receipt" maxlength="30" value="" />
          </label>
        </div>
        <div class="text">
          <label>
            Total Amount of Transfer
            <input ngModel type="text" name="total_amount" maxlength="30" value="" />
          </label>
        </div>

        <!-- dropdown of select list-->
        <div class="form-gropup">
          <label for="selectCategories">Select Categories</label>
          <select naModel name="selectCategories" id="selectCategories">
            <option *ngFor="let category of transferCategories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>


        <button class="btn bnt-primary" [disabled]="!f.valid">Add Another Entry</button>

      </form>
    </div>
  </section>
  <footer>
    <div class="grid-row">
      <div class="grid-row__col grid-row__col--12">
        <div class="forms__btn-container">
          <button id="cancel" class="btn btn-previous btn-right" type="button">
            cancel
          </button>
          <button id="summary" class="btn btn-previous btn-right" type="button" (click)="load_summary()">
            summary
          </button>
        </div>
      </div>
    </div>
  </footer>
</div>


<!-- transfer breakdown page -->
<!-- Total For Breakdown of Transfers Received - Levin Funds -->