@import '../../shared/scss/global';
// @import '../../forms/form-3x/financial-summary/financial-summary.component.scss';

.sched-l-container {
  padding-right: 10px;
  .row {
    margin-left: 0;
    margin-right: 0;
    .col-md-4,
    .col-lg-4 {
      flex: 0 0 28.33333333%;
      max-width: 28.33333333%;
    }
  }
  form {
    margin-bottom: 15px;
    header {
      .header-content {
        display: block;
        margin: 0 auto;
        width: 96%;
        h1 {
          font-family: sans-serif;
        }
        @include clearfix();
        .btn-options {
          color: $shuttleGray;
          text-decoration: none;
          &:hover,
          &:visited,
          &:active {
            color: $shuttleGray;
            text-decoration: none;
          }
        }
        .dropdown-toggle {
          &:after {
            display: none;
          }
        }
        .dropdown-menu {
          min-width: 0px !important;
          &.show {
            .dropdown-item {
              &:focus,
              &:hover,
              &:active,
              &:visited {
                background-color: $white;
                color: $black;
                cursor: pointer;
                outline: none;
              }
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      @include clearfix();
    }
    section {
      .coord_expenditure_text {
        padding-top: 3em;
        padding-bottom: 1em;
      }
      .content {
        min-height: 100vh;
        position: relative;
      }
      .row {
        margin-bottom: 20px;
        .forms__candidate-title {
          font-size: 1.25em;
          font-family: sans-serif;
          font-weight: bold;
        }
        .col {
          &.info-text {
            padding-top: 45px;
          }
          &.fieldset {
            font-size: 1.5rem;
            font-family: sans-serif;
            font-weight: bold;
          }
          &.childForm {
            padding-top: 30px;
          }
          label {
            display: block;
            padding-bottom: 0.75em;
          }
          textarea {
            &.form-control {
              overflow: scroll;
              width: 400px;
            }
          }
          .forms__big_checkbox {
            -webkit-transform: scale(1.9);
            -ms-transform: scale(1.9); /* IE */
            -moz-transform: scale(1.9); /* FF */
            -webkit-transform: scale(1.9); /* Safari and Chrome */
            -o-transform: scale(1.9); /* Opera */
            margin: 10px;
          }
          .forms__big_radio {
            -webkit-transform: scale(2.9);
            -ms-transform: scale(2.9); /* IE */
            -moz-transform: scale(2.9); /* FF */
            -webkit-transform: scale(2.9); /* Safari and Chrome */
            -o-transform: scale(2.9); /* Opera */
            margin: 23px;
          }
          label {
            font-family: sans-serif;
            font-size: 1rem;
          }
          .input-group-prepend {
            .input-group-text {
              color: $blueZodiac;
            }
          }
          .ng-select.forms__select {
            &.forms__select-error {
              .ng-select-container {
                border: 1px solid $red;
              }
            }
            .ng-select-container {
              height: 45px;
            }
          }
          .ng-dropdown-panel {
            .ng-dropdown-panel-items {
              .ng-option {
                &.ng-option-marked {
                  background-color: $mercury;
                }
              }
            }
          }
        }
      }
      .forms__btn-container {
        margin: 0 auto;
        padding: 0;
        width: 80%;
        #jfMemoDropdown {
          &:after {
            display: none;
          }
        }
        #jfMemoDropdown {
          width: 16em;
        }
        #jfMemoDropdown-menu {
          min-width: 16em;
          left: 0 !important;
        }
        @include media(tablet) {
          margin: 0;
          padding: 0;
          width: 95%;
        }
        @include media(mediumDesktop) {
          width: 95%;
          .btn-right {
            margin-right: 20px;
          }
        }
        @include media(largeDesktop) {
          width: 95%;
          .btn-right {
            margin-right: 20px;
          }
        }
        @include clearfix();
      }
    }
  }

  footer {
    .forms__btn-container {
      margin: 0 auto;
      padding: 0;
      width: 80%;
      @include media(tablet) {
        margin: 0;
        padding: 0;
        width: 95%;
      }
      @include media(mediumDesktop) {
        width: 95%;
        .btn-right {
          margin-right: 20px;
        }
      }
      @include media(largeDesktop) {
        width: 95%;
        .btn-right {
          margin-right: 20px;
        }
      }
      @include clearfix();
    }
  }

  .subtitle {
    //font: 29;
    padding-left: 30px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .summary_text_amt{
    text-align: right;
    padding-right: 100px ;
  }

/*.summary_text_level_3{
    //background-color: #E5E7E9  !important;
    padding-left: 50px !important;
    
  }*/

  /*.summary_text_level_3:hover{
    cursor: pointer !important;
  }*/
  .child-options-label:hover{
    cursor: pointer !important;
  }
  input[type="radio"]:hover{
    cursor: pointer !important;
  }

  .ngx-pagination .current{
    padding: 0.1875rem 0.625rem;
    background: #9B9B9B !important;;
    color: #fefefe;
    cursor: default;
  }

  .ngx-pagination a, .ngx-pagination button {
    color: #9B9B9B !important;;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
  }
  
  .dropdown-toggle:after {
    border: none;
  }
}

  .td-arrow {
    margin-left: auto !important;
    .amend-arrow {
      margin-left: 20%;
      color: #0062cc;
    }
  }

  .summary_text_level_1{
    background-color: #979A9A  !important;
    padding-left: 50px;
    height: 35px !important;
    padding-top: 10px !important;
    vertical-align: middle !important;
    margin-top: 1px  !important;
    //margin-bottom: 1px  !important;
  }
  .summary_text_level_2{
    background-color: #D0D3D4    !important;
    padding-left: 50px;
    height: 35px !important;
    padding-top: 10px !important;
    vertical-align: middle !important;
    margin-top: 1px  !important;
   // margin-bottom: 1px  !important;
  }
  .summary_text_level_3{
    /*background-color: #E5E7E9  !important;*/
    padding-left: 40% !important;
    height: 35px !important;
    padding-top: 10px !important;
    vertical-align: middle !important;
    margin-top: 1px  !important;
   // margin-bottom: 1px  !important;
  }
  .summary_text_level_4{
    background-color: #E5E7E9  !important;
    padding-left: 150px;
    font-style: italic !important;
    height: 35px !important;
    padding-top: 10px !important;
    vertical-align: middle !important;
    margin-top: 1px  !important;
    //margin-bottom: 1px  !important;
  }
  .summary_table_text{
    background-color: #ffffff !important;
    //background-color: #E5E7E9 !important;
      
    /*margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;*/
    //padding-left: 5px;
    //width: 1200px;
    //border:none;
    //height:40px;
  
    //border-spacing: 0.25px !important;
    //border: 0.25 px !important;
  
    //padding-left: 10px;
    //padding-right: 100px;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    //border-spacing: .25px 0.25px !important;
    table-layout: fixed ;
    width: 98% ;
    border: none;
  }
  .summary_text_amt{
    text-align: right;
    //padding-right: 10px ;
  }
  .summary_text_amt_level_1{
    background-color: #979A9A  !important;
    text-align: right;
    height: 35px !important;
    padding-top: 10px !important;
    vertical-align: middle !important;
    padding-right: 4px !important;
    margin-top: 1px  !important;
    //margin-bottom: 1px  !important;
  }
  .summary_text_amt_level_2{
    background-color: #D0D3D4    !important;
    text-align: right;
    height: 35px !important;
    padding-top: 10px;
    vertical-align: middle !important;
    padding-right: 4px !important;
    margin-top: 1px  !important;
    //margin-bottom: 1px  !important;
  }
  .summary_text_amt_level_3{
    background-color: #E5E7E9  !important;
    text-align: right;
    height: 35px !important;
    padding-top: 10px !important;
    vertical-align: middle !important;
    padding-right: 4px !important;
    margin-top: 1px  !important;
    //margin-bottom: 1px  !important;
  }
  .summary_text_amt_level_4{
    background-color: #E5E7E9  !important;
    text-align: right;
    height: 35px !important;
    padding-top: 10px !important;
    vertical-align: middle !important;
    padding-right: 4px !important;
    margin-top: 1px  !important;
    //padding-right: 2px !important;
  }

  .summary_level_3{
    background-color: #E5E7E9  !important;
    padding-left: 50px;
  }

  .summary_bg_color_gray_blue{
    background-color: #E5E7E9  !important;
  }
  .summary_bg_color_white{
    background-color: #FFFFFF  !important;
  }

.space { margin:0; padding:0; height:15px; } // height as desired

table, tr, td {
  border: none;
}

table
{
  border-collapse: collapse; /* 'cellspacing' equivalent */
}

table td, table th
{
  padding: 0; /* 'cellpadding' equivalent */
}

.parent:hover{
  cursor: pointer !important;
}

.child-bg {
  padding-left: 3rem;
  background-color: #D9EDF6!important;
  font-style: italic;
}

/* arrow common style */
 .arrow {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-top:  0.4rem;
  border-top: 0.2rem solid #112E51;
  border-right: 0.2rem solid #112E51;
  margin-right: 1rem;
}
.arrow-top {
  transform: rotate(-45deg);
}
.arrow-right {
  transform: rotate(45deg);
}
.arrow-bottom {
  transform: rotate(135deg);
}
.arrow-left {
  transform: rotate(-135deg);
}
.arrow-top-narrow {
  transform: rotate(-45deg) skew(-15deg, -15deg);
}
.arrow-top-wide {
  transform: rotate(-45deg) skew(7deg, 7deg);
}
.arrow-top-left {
  transform: rotate(-90deg) skew(-10deg, -10deg);
}
.arrow-top-right {
  transform: rotate(0) skew(-10deg, -10deg);
}
.arrow-bottom-left {
  transform: rotate(180deg) skew(-10deg, -10deg);
}
.arrow-bottom-right {
  transform: rotate(90deg) skew(-10deg, -10deg);
}

.width-100 {
  width: 100%;
}
.width-25 {
  width: 25%;
}