

@import '../../../shared/scss/global';

.loan-payment-container {
  padding-right: 10px;
  padding-left: 50px;
  padding-right: 20px;

  form {
    margin-bottom: 15px;
    header {
      .header-content {
        /*margin-left: 0;
        display: block;
        margin: 0 auto;
        width: 98%;*/
        margin-left: 10px;
        display: block;
        width: 40%;
        h1 {
          //font-family: sans-serif;
        }
        @include clearfix();
        .btn-options {
          color: $shuttleGray;
          text-decoration: none;
          &:hover,
          &:visited,
          &:active {
            color: $shuttleGray;
            text-decoration: none;
          }
        }
        .dropdown-toggle {
          &:after {
            display: none;
          }
        }
        .dropdown-menu {
          min-width: 0px !important;
          &.show {
            .dropdown-item {
              &:focus,
              &:hover,
              &:active,
              &:visited {
                background-color: $white;
                color: $black;
                cursor: pointer;
                outline: none;
              }
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      @include clearfix();
    }
    section {
      .row {
        margin-bottom: 20px;
        
        .col,
        .col-md-3 {
          &.info-text {
            padding-top: 45px;
          }
          &.fieldset {
            font-size: 1.5rem;
            //font-family: sans-serif;
            font-weight: bold;
          }
          label {
            display: block;
            padding-bottom: 0.75em;
          }
          textarea {
            &.form-control {
            //   overflow: scroll;
              width: 400px;
            }
          }
          label {
            //font-family: 'sans-serif';
            font-size: 1rem;
          }
          .input-group-prepend {
            .input-group-text {
              color: $blueZodiac;
            }
          }
          input[type="checkbox" i]:disabled, .disabled-column-option{
            color: #cccccc;
          } 
        
          input[type=checkbox] {
            transform: scale(1.5);
          }

          input[type=text]{
            height: 30px;
          }
          .ng-select.custom ::ng-deep .ng-select-container  {            
            height: 45px;
          }

          /**
           * Custom CSS for state dropdown component.
           */
          .ng-select {
            &.state-select-error {
              ::ng-deep .ng-select-container {
                border: 1px solid $red;
              }
            }
            ::ng-deep .ng-select-container {
              height: 45px;
              //width: 350px;
              .ng-input {
                input[type='text'] {
                  border: none;
                }
              }
            }
          }
          .ng-dropdown-panel {
            //width: 350px;
            .ng-dropdown-panel-items {
              .ng-option {
                &.ng-option-marked {
                  background-color: $mercury;
                }
              }
            }
          }
        }
      }
    }
  }


  
  footer {
    .forms__btn-container {
      margin: 5px auto;
      padding: 0;
      width: 80%;
      @include media(tablet) {
        margin: 0;
        padding: 0;
        width: 98%;
      }
      @include media(mediumDesktop) {
        width: 98%;
        .btn-right {
          margin-right: 20px;
        }
      }
      @include media(largeDesktop) {
        width: 98%;
        .btn-right {
          margin-right: 20px;
        }
      }
      @include clearfix();
    }
  }
}

//custom scss for red highlighting
.form-control.ng-touched.ng-invalid{
  border-color: $red;
}

// .form-control.ng-invalid{
//   border-color: $red;
// }

.custom-control-input.ng-invalid.ng-touched + label.custom-control-label{
  color:$red;
}

.custom-control-input.ng-invalid.ng-touched + label.custom-control-label:before,
.custom-control-input.ng-invalid.ng-touched + label.custom-control-label:after
{
  border-color: $red;
}
.custom-control-input.ng-invalid.ng-touched:focus~label.custom-control-label:before{
   box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}

.state-select-error {
  .ng-select-container {
    border: 1px solid $red;
  }}