<div class="loan-payment-container">
  <form #f="ngForm" (ngSubmit)="saveLoanPayment(f.value)">
    <header>
      <div class="header-content">
        <h2>
          Form 3X / Loans / Schedule-C Loan Payment
        </h2>
      </div>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <div class="forms__btn-container">
            <br />
            <br />
          </div>
        </div>
      </div>
    </header>

    <section>
      <!-- Entity row -->
      <div class="row">
        <div class="form-group col col-md-3">
          <ng-select class="custom" [(ngModel)]="selectedEntity" [ngStyle]="{ 'width': '150px'}" [items]="entityTypes"
            bindValue="code" bindLabel="description" name="entity_type" (change)="handleTypeChange($event,f)" required
            type="text" [disabled]="true">
          </ng-select>
        </div>
        <input type="hidden" id="entity_id" name="entity_id" ngModel>
      </div>

      <!-- Individual Name Row -->
      <div class="row" [hidden]="selectedEntity !== 'IND'">
        <div class="form-group col col-md-3">
          <label for="last_Name">Last Name
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <input ngModel type="text" class="form-control" id="last_Name" name="last_Name" maxlength="30"
            style="width: 197px;" required disabled>
        </div>

        <div class="form-group col col-md-3">
          <label for="first_Name">First Name
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <input ngModel type="text" class="form-control" id="first_Name" name="first_Name" style="width: 197px;"
            maxlength="20" required disabled>
        </div>

        <div class="form-group col col-md-3">
          <label for="middle_Name">Middle Initial (Optional)</label>
          <input ngModel type="text" class="form-control" id="middle_Name" name="middle_Name" style="width: 197px;"
            maxlength="20" disabled>
        </div>

      </div>

      <!-- Organization Name Row -->
      <div class="row" [hidden]="selectedEntity !== 'ORG'">
        <div class="form-group col col-md-3">
          <label for="entity_Name">Banking Institution
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <input ngModel type="text" class="form-control" id="entity_Name" name="entity_Name" maxlength="200" required
            disabled>
        </div>
      </div>

      <!-- Prefix/Suffix Row -->
      <div class="row" [hidden]="selectedEntity !== 'IND'">
        <div class="form-group col col-md-3 ">
          <label for="prefix">Prefix (Optional)</label>
          <input ngModel type="text" class="form-control" id="prefix" name="prefix" style="width: 98px;" maxlength="10"
            disabled>
        </div>
        <div class="form-group col col-md-3">
          <label for="suffix">Suffix (Optional)</label>
          <input ngModel type="text" class="form-control" id="suffix" name="suffix" maxlength="10" style="width: 98px;"
            disabled>
        </div>
      </div>

      <hr><br>

      <!-- Street address row -->
      <div class="row">
        <div class="form-group col col-md-3 ">
          <label for="street_1">Street 1
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <input ngModel type="text" class="form-control" id="street_1" style="width: 275px;" name="street_1" required
            maxlength="34" disabled>
        </div>
        <div class="form-group col col-md-3 ">
          <label for="street_2">Street 2 (Optional)
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <input ngModel type="text" class="form-control" id="street_2" style="width: 275px;" name="street_2"
            maxlength="34" disabled>
        </div>
      </div>

      <!-- City/State/Zip row -->
      <div class="row">
        <div class="form-group col col-md-3 ">
          <label for="city">City
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <input ngModel type="text" class="form-control" id="city" name="city" required style="width: 197px;"
            maxlength="30" disabled>
        </div>
        <div class="form-group col col-md-3 ">
          <label for="state">State
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <ng-select class="state-select" ngModel name="state" [items]="states" bindValue="state_code"
            style="width: 235px;" [ngClass]="
                      f.control.get('state')?.invalid &&
                      (f.touched || f.dirty)
                        ? 'state-select-error'
                        : ''
                    " bindLabel="state_code" required [disabled]="true">
          </ng-select>
        </div>
        <div class="form-group col col-md-3">
          <label for="city">Zip
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <input ngModel type="text" class="form-control" id="zip" name="zip" style="width: 98px;" required
            maxlength="9" disabled>
        </div>
      </div>

      <hr><br>

      <!-- Expenditure Date Row -->
      <div class="row">
        <div class="form-group col col-md-3">
          <label for="expenditure_date">Expenditure Date
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="expenditure_dateIcon">
                <i class="calendar-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input type="date" name="expenditure_date" [(ngModel)]="filterexpenditure_date" class="form-control"
              id="expenditure_date" aria-label="Filter From Deleted Date" aria-describedby="filter-from-deleted-date"
              (change)="expenditureDateChanged($event.target.value)" required>
          </div>
          <div class="text-error text-left"
            *ngIf="f.controls?.expenditure_date?.errors && f.controls?.expenditure_date?.errors['contributionDateInvalid']">
            The date entered falls outside of the report coverage period. Transactions for this report
            should fall within {{ cvgStartDate }} and {{ cvgEndDate }} (Coverage Dates of Report). If you
            need to add a transaction with a date that falls outside of the coverage period for this report,
            you will need to check the memo code box.
            <!-- Entered date is outside of the report coverage period. Please enter transactions for this
                              coverage period only. -->
          </div>
        </div>
      </div>

      <!-- Expenditure Amount / Memo Code Row -->
      <div class="row">
        <div class="form-group col col-md-3 pr-5">
          <label for="expenditure_amount">Expenditure Amount
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="expenditure_amount">
                <i class="dollar-sign-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input ngModel (change)="expenditureAmountChanged($event)"
               type="text" min="0" value="0" name="expenditure_amount"
              class="form-control" id="expenditure_amount" aria-label="Expenditure Amount"
              aria-describedby="expenditure_amount" required>
          </div>
          <div class="text-error text-left"
            *ngIf="f.controls?.expenditure_amount?.errors && f.controls?.expenditure_amount?.errors['nonValidAmount']">
            Please enter a valid amount.
          </div>
          <div class="text-error text-left"
          *ngIf="f.controls?.expenditure_amount?.errors && f.controls?.expenditure_amount?.errors['amountExceeded']">
          Expenditure amount exceeds outstanding loan amount
        </div>
        </div>
        <!-- <div class="form-group col col-md-3">
          <div class="checkbox">
            <label for="memoCode">Memo Code
              <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}"
                tooltipClass="form-tooltip">
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">Click here for more information</span>
              </button>
            </label>
            <input type="checkbox" ngModel style="transform: scale(3.0); margin-top:15px;" name="memoCode">
          </div>
        </div> -->
      </div>

      <hr><br>

      <!-- Descriptions Row -->
      <div class="row">
        <div class="form-group col">
          <label for="expenditure_purpose">Expenditure Purpose Description (Optional)
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <textarea ngModel type="text" class="form-control" id="expenditure_purpose" name="expenditure_purpose"
            maxlength="100"></textarea>
        </div>
        <div class="form-group col">
          <label for="memo_text">Memo Text/Description (Optional)
            <button type="button" class="btn btn-info" ngbTooltip="{{tooltipPlaceholder}}" tooltipClass="form-tooltip">
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">Click here for more information</span>
            </button>
          </label>
          <textarea ngModel type="text" class="form-control" id="memo_text" name="memo_text" maxlength="100"></textarea>
        </div>
      </div>

    </section>
    <footer>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <div class="forms__btn-container">
            <button id="submit" class="btn btn-previous btn-left" (click)="cancelLoanPayment()">Cancel</button>
            <button id="submit" class="btn btn-primary btn-right" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </footer>
  </form>
</div>


<!-- transfer breakdown page -->
<!-- Total For Breakdown of Transfers Received - Levin Funds -->