<div class="form-sidebar">
  <header>
    <h3 class="text-center">Transaction Categories</h3>
    <hr/>
    <div class="search-field-container">
      <div class="input-group">              
        <input
          type="text"
          name="search"
          class="search-input"
          placeholder="Search by Type"
          class="form-control py-1"
        />
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="search-icon text-grey" aria-hidden="true"></i>
          </span>
        </div>
      </div> 
    </div>
  </header>
  <section>
    <ul class="form-sidebar__links" >
      <li
        [ngClass]="itemSelected === categoryType?.value ? 'form-sidebar-item selected' : 'form-sidebar-item'"
        *ngFor="let categoryType of transactionCategories"
      >
        <div class="float-left">
          <button
            type="button"
            class="btn btn-link"
            value="{{ categoryType?.value }}"
            (click)="selectItem($event)"
          >
            <i class="plus-icon" aria-hidden="true"></i>
           {{ categoryType?.text }}
          </button>
        </div>
        <span class="float-right amount" style="padding:.75em">
          $0.00
        </span>
      </li>
    </ul>
  </section>
  <footer>
    <div
      class="form-sidebar__item"
      *ngIf="cashOnHand?.showCashOnHand"
    >
      <div class="form-sidebar-item__text">
        {{ cashOnHand.text }}
      </div>
      <div class="form-sidebar-item__value">
        $0
      </div>
    </div>
    <div class="form-sidebar__btns">
      <div class="btn-row">
        <button
          type="button"
          class="btn btn-secondary-gray"
        >
          Summary
        </button>
      </div>
      <ng-container *ngIf="step!=='step_3'">
        <div class="btn-row">
          <button
            type="button"
            class="btn btn-secondary"
          >
            Sign &amp; Submit
          </button>
        </div>        
      </ng-container>
    </div>
  </footer>
</div>
