<div class="form-sidebar" *ngIf="!allTransactions">
  <header>
    <h2 class="text-center">Transaction Categories</h2>
    <!-- <ng-container *ngIf="step === 'step_2' || step === 'step_3'"> -->
    <hr />

    <div *ngIf="!_authService.isReadOnly() && formType !== '24'" class="search">

      <button class="fa fa-search" (click)="selectedTypeAheadValue(itemSelected)"></button>
      <ng-template #rt let-r="result" let-t="term">
        {{ r.text }}
      </ng-template>
      <div id="scrollable-dropdown-menu">
        <input
          type="search"
          #instance="ngbTypeahead"
          placeholder="Search by type"
          aria-label="Search by type"
          [(ngModel)]="itemSelected"
          [ngbTypeahead]="searchByType"
          [resultTemplate]="rt"
          [inputFormatter]="formatter"
          (focus)="focus$.next($event.target.value)"
          placement="right"
        />
      </div>
    </div>
    <!-- </ng-container> -->
  </header>
  <section class="paragraph">
    <!-- <ng-container *ngIf="step === 'step_2' || step === 'step_3'"> -->
    <ul class="form-sidebar__links">
      <li
        [ngClass]="itemSelected === categoryType?.value ? 'form-sidebar-item selected' : 'form-sidebar-item'"
        *ngFor="let categoryType of transactionCategories"
        (click)="selectItem(categoryType?.value)"
      >
        <div class="float-left">
          <button type="button" id="{{ categoryType?.text }}"
                  class="btn btn-link"
                  value="{{ categoryType?.value }}"
                  [disabled]="_authService.isReadOnly()">
            <i class="plus-icon" aria-hidden="true"></i>
            {{ categoryType?.text }}
          </button>
        </div>
        <ng-container *ngIf="categoryType?.value === 'receipts'">
          <span class="float-right amount"> ${{ receiptsTotal | number: '1.2-2' }} </span>
        </ng-container>
        <ng-container *ngIf="categoryType?.value === 'disbursements'">
          <span class="float-right amount"> ${{ disbursementsTotal | number: '1.2-2' }} </span>
        </ng-container>
        <ng-container *ngIf="categoryType?.value === 'loans-and-debts'">
          <span class="float-right amount"> ${{ loansanddebtsTotal | number: '1.2-2' }} </span>
        </ng-container>
        <ng-container *ngIf="categoryType?.value === 'other'">
          <!-- <span class="float-right amount"> ${{ othersTotal | number: '1.2-2' }} </span> -->
          <span class="float-right amount"></span>
        </ng-container>
      </li>
    </ul>
    <!-- </ng-container> -->
    <!-- <ng-container *ngIf="step !== 'step_2' && step !== 'step_3'">
      <ul class="form-sidebar__links">
        <li
          [ngClass]="itemSelected === categoryType?.value ? 'form-sidebar-item selected' : 'form-sidebar-item'"
          *ngFor="let categoryType of transactionCategories"
        >
          <div class="float-left">
            {{ categoryType?.text }}
          </div>
          <ng-container *ngIf="categoryType?.value === 'receipts'">
            <span class="float-right amount"> ${{ receiptsTotal | number: '1.2-2' }} </span>
          </ng-container>
          <ng-container *ngIf="categoryType?.value !== 'receipts'">
            <span class="float-right amount">
              $0.00
            </span>
          </ng-container>
        </li>
      </ul>
    </ng-container> -->
  </section>
  <footer>
    <div class="form-sidebar__item" *ngIf="formType !== '24'">
      <div class="form-sidebar-item__text">
        Cash on Hand
      </div>
      <div class="form-sidebar-item__value">${{ cashOnHandTotal | number: '1.2-2' }}</div>
    </div>
    <div class="form-sidebar__btns">
      <div class="btn-row">
        <div class="btn-toolbar">
          <button
            style="align-self:stretch;"
            type="button"
            class="btn btn-secondary-dark-gray mr-2"
            (click)="goToAllTransactions()"
          >
            All Transactions
          </button>
          <button style="align-self:stretch;" type="button" class="btn btn-secondary-gray" (click)="viewSummary()" *ngIf="formType !== '24'">
            Summary
          </button>
          <!-- [routerLink]="['/forms/form/', '3X']"
          [queryParams]="{ step: 'financial_summary', edit: editMode }" -->
        </div>
      </div>
      <ng-container *ngIf="step !== 'step_3'">
        <div class="btn-row signAndSubmit">
          <button *ngIf="_authService.isCommitteeAdmin() || _authService.isUploader() || _authService.isAdmin()"
            id="sidebar_signBtn"
            type="button"
            class="btn btn-secondary"
            [disabled]="isFiled"
            [routerLink]="['/signandSubmit', '3X']"
            [queryParams]="{ edit: editMode }"
          >
            Sign &amp; Submit
          </button>
        </div>
      </ng-container>
    </div>
  </footer>
</div>
