@import '../../../shared/scss/global';

.form-sidebar {
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
  position: relative;
  font-family: 'Roboto', 'sans-serif';
    font-size: 1rem;
    font-weight: 400;
    color: #212121;
 
 .search {
  margin: auto;
  width: 100%;
  position: relative;
  display: inline-block;
 }
 .search input {
  @include make-text-input(175px, 1.5em, 1em, 1em);
  margin: auto;
  width: 90%;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
 }
 .search input {
   text-indent: 5px;
   padding-right: 30px;
   box-sizing: border-box;
 }
 .search .fa-search {
   color: $shuttleGray;
   position: absolute;
   top: 12px;
   right: 10%;
 }
 .btn-toolbar button{
  margin: auto;
  width: 44%;
  position: relative;
  display: inline-block;
  
}
 #sidebar_signBtn{
  margin: auto;
  width: 90%;
  position: relative;
  display: inline-block;
 }
 .flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

  // }
  
  section {
    .form-sidebar-item:hover{
      cursor: pointer !important;
    }
    .form-sidebar__links {
      list-style-type: none;
      margin-top: 15px;
      position: relative;
      .form-sidebar-item {
        &:first-child {
          border-top: 1px solid $white;
        }
        border-bottom: 1px solid $white;
        display: block;
        padding-bottom: 15px;
        padding-top: 15px;
        vertical-align: middle;
        .amount {
          padding: 0.75em;
        }
        &.selected {
          background-color: $shuttleGray;
          color: $white;
          .btn-link {
            color: $white;
            &:hover,
            &:active,
            &:visited {
              color: $white;
            }
          }
        }
        .btn-link {
          color: $black;
          text-decoration: none;
          &:hover,
          &:active,
          &:visited {
            color: $black;
            text-decoration: none;
          }
        }
        @include clearfix();
      } // .form-sidebar-item
    } // .form-sidebar__links
  }
  footer {
    background-color: $mineShaft;
    bottom: 0; 
    position: absolute;
    width: 100%;
    .form-sidebar__item {
      border-bottom: 1px solid $white;
      color: $white;
      height: 45px;
      line-height: 45px;
      padding-bottom: 10px;
      vertical-align: middle;
      .form-sidebar-item__text {
        color: $white;
        float: left;
        padding-left: 65px;
      }
      .form-sidebar-item__value {
        color: $white;
        float: right;
        padding-right: 8px;
      }
    }
    .form-sidebar__btns {
      padding-bottom: 10px;
      padding-top: 15px;
      text-align: center;
      .btn-row {
        padding-top: 15px;
      }
    }
  }
}
