<div class="form-sidebar">
  <header>
    <h3 class="text-center">{{ title }}</h3>
  </header>
  <section>
    <ul class="form-sidebar__links" >
      <li
        [ngClass]="itemSelected === categoryType?.value ? 'form-sidebar-item selected' : 'form-sidebar-item'"
        *ngFor="let categoryType of transactionCategories"
      >
        <div class="float-left">
          {{ categoryType?.text }}
        </div>
        <div class="float-right amount">
          $0
        </div>
      </li>
    </ul>
  </section>
  <footer>
    <div
      class="form-sidebar__item"
      *ngIf="cashOnHand?.showCashOnHand"
    >
      <div class="form-sidebar-item__text">
        {{ cashOnHand.text }}
      </div>
      <div class="form-sidebar-item__value">
        $0
      </div>
    </div>
    <div class="form-sidebar__btns">
      <div class="btn-row">
        <a
          class="btn btn-secondary-gray"
          [routerLink]="['/forms/form/', '3X']"
          [queryParams]="{ step: 'financial_summary' }"
        >
          Summary
        </a>
      </div>
      <div class="btn-row">
        <button
          type="button"
          class="btn btn-secondary"
        >
          Sign &amp; Submit
        </button>
      </div>
    </div>
  </footer>
</div>
