@import '../../../shared/scss/global';

.form-sidebar {
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
  position: relative;

 
   .search-field-container {
    padding: 5px 15px 0 15px;
    position: relative;
  }

  .search-field-container input {
    @include make-text-input(175px, 1.5em, 1em, 1em);
    margin-left: auto;
    margin-right: auto;
    position: relative; 
  }
  .search-field-container .search-icon { 
    color: $shuttleGray;
    position: absolute;
    left: 200px;
    top: 22px;
  }
  // .search-field-container {
  //   padding: 5px 15px 0 15px;
  //   position: relative;
  //   .input-group {
  //     .form-control {
  //     border: none !important;
  //     }
  //     .input-group-append {
  //       .input-group-text {
  //       background-color: white !important;
  //         .search-icon {
  //           left: 205px !important;
  //         }
  //       }
  //     }
  //   }
  // }
  section {
    .form-sidebar__links {
      list-style-type: none;
      margin-top: 15px;
      position: relative;
      .form-sidebar-item {
        &:first-child {
          border-top: 1px solid $white;
        }
        border-bottom: 1px solid $white;
        display: block;
        padding-bottom: 15px;
        padding-top: 15px;
        vertical-align: middle;
        .amount {
          padding: 0.75em;
        }
        &.selected {
          background-color: $shuttleGray;
          color: $white;
          .btn-link {
            color: $white;
            &:hover,
            &:active,
            &:visited {
              color: $white;
            }
          }
        }
        .btn-link {
          color: $black;
          text-decoration: none;
          &:hover,
          &:active,
          &:visited {
            color: $black;
            text-decoration: none;
          }
        }
        @include clearfix();
      } // .form-sidebar-item
    } // .form-sidebar__links
  }
  footer {
    background-color: $mineShaft;
    //bottom: 0;
    position: absolute;
    width: 100%;
    .form-sidebar__item {
      border-bottom: 1px solid $white;
      color: $white;
      height: 25px;
      line-height: 25px;
      padding-bottom: 10px;
      vertical-align: middle;
      .form-sidebar-item__text {
        color: $white;
        float: left;
        padding-left: 5px;
      }
      .form-sidebar-item__value {
        color: $white;
        float: right;
        padding-right: 8px;
      }
    }
    .form-sidebar__btns {
      padding-bottom: 10px;
      padding-top: 15px;
      text-align: center;
      .btn-row {
        padding-top: 15px;
      }
    }
  }
}
