<div class="review_upload__container">
  <div class="review_upload__instructions">Listed below is the file you have just uploaded. Here the system will inform
    you if there has been a duplicate file previously uploaded with the same contents as this one to prevent
    replication. The <b>Checksum Value</b> will specify this. Please review before proceeding to the next step.
  </div>
  <h3 class="review_upload__table-title">Uploaded File</h3>
  <table class="table table-striped table-hover clean_contacts__table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date/Time</th>
        <th>Checksum</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>File 1</td>
        <td>8/22/2020 - 2:30pm</td>
        <td>(Warning message for duplicate file upload)</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-secondary review_upload__button" (click)="proceed()">
      Proceed
    </button>
    <button type="button" class="btn review_upload__button review_upload__cancel-button" (click)="cancel()">
      Cancel Import
    </button>
  </div>
</div>