@import 'src/app/shared/scss/global';

.import_contacts__main-container {
  display: table;
  table-layout: fixed;
  min-height: $mainContentHeight;
  margin: 0;
  padding: 0;
  width: 100%;
  .import_contacts__container {
    header {
      .header-content {
        display: block;
        margin: 2px auto;
        width: 98%;
        padding: 0.75em 0 0.25em 0;
        @include clearfix();
        .btn-options {
          color: $shuttleGray;
          text-decoration: none;
          &:hover,
          &:visited,
          &:active {
            color: $shuttleGray;
            text-decoration: none;
          }
        }
        .import_contacts__header-1 {
          font-size: 1.5em;
          font-weight: bold;
        }
        .import_contacts__header-2 {
          font-size: 1.5em;
          padding-left: 0.5em;
        }
      }
      .header-content-sep {
        margin: 2px auto;
        width: 98%;
      }
      .import_contacts__info {
        padding-top: 0.5em;
        padding-left: 2em;
      }
    }
    section {
      .import_contacts__steps {
        padding: 2em 0;
      }
      .import_contacts__body {
        margin: 2px auto;
        width: 98%;
        padding: 0.75em 0 4em 0;
        .import_contacts__heading {
          padding: 40px 0 20px 0;
        }
        .import_contacts__sub-section-title {
          padding-top: 20px;
        }
        .import_contacts__heading-list {
          padding: 40px 0 0 0;
        }
        .import_contacts__import-directions {
          padding-left: 25px;
          ol {
            padding: 0;
            margin-left: 1em;
            margin-bottom: 0;
            li {
              padding-top: 20px;
            }
            .import_contacts__first-item {
              padding-top: 0px;
            }
          }
          .import_contacts__alpha-list {
            list-style-type: lower-alpha;
          }
        }
        .import_contacts__begin-import-msg {
          padding: 5px 0;
        }
        .import_contacts__begin-import-links li {
          padding: 5px 0 5px 25px;
          list-style-type: none;
        }
      }
    }
    footer {
      .import_contacts__btn-container {
        margin: 5px auto;
        padding: 0;
        width: 80%;
        @include media(tablet) {
          margin: 0;
          padding: 0;
          width: 95%;
        }
        @include media(mediumDesktop) {
          width: 95%;
          .btn-right {
            margin-right: 20px;
          }
        }
        @include media(largeDesktop) {
          width: 95%;
          .btn-right {
            margin-right: 20px;
          }
        }
        @include clearfix();
      }
    }
  }
}
.error__contacts-modal {
  .error-contacts__description {
    padding: 0.5em 0;
  }
  #error-contacts__modal-header {
    color: black;
  }
  #error-contacts__modal-header_1,
  #error-contacts__modal-header_2 {
    background-color: $primaryBlue;
    color: $white;
    span {
      color: $white;
    }
  }
  .error-contacts__body-title {
    padding: 0.75em 0;
  }
  .error-contacts__list {
    max-height: 500px;
    overflow: auto;
  }
  .error-contacts__error {
    list-style-type: none;
    padding-top: 8px;
  }
}
