@import 'src/app/shared/scss/global';

.import_contacts__main-container {
  display: table;
  table-layout: fixed;
  min-height: $mainContentHeight;
  margin: 0;
  padding: 0;
  width: 100%;
  .import_contacts__container {
    .import_trx__sidebar {
      background-color: #aeb0b5;
      min-height: $mainContentHeight;
      padding-left: 0;
      float: left;
      transition: all 0.4s ease 0s;
      &.sidebar-visible {
        width: 25%;
      }
      &.sidebar-hidden {
        width: 3%;
      }
    }
    .right-side {
      float: right;
      transition: all 0.4s ease 0s;
      &.sidebar-visible {
        width: 75%;
      }
      &.sidebar-hidden {
        width: 95%;
      }
    }
    .lower-section {
      width: 100%;
    }
    header {
      .header-content {
        display: block;
        margin: 2px auto;
        width: 98%;
        padding: 0.75em 0 0.25em 0;
        @include clearfix();
        .btn-options {
          color: $shuttleGray;
          text-decoration: none;
          &:hover,
          &:visited,
          &:active {
            color: $shuttleGray;
            text-decoration: none;
          }
        }
        .import_contacts__header-1 {
          font-size: 1.5em;
          font-weight: bold;
        }
        .import_contacts__header-2 {
          font-size: 1.5em;
          padding-left: 0.5em;
        }
      }
      .header-content-sep {
        margin: 2px auto;
        width: 98%;
      }
      .import_contacts__info {
        padding-top: 0.5em;
        padding-left: 2em;
      }
    }
    section {
      .import_contacts__body_container {
        .import_contacts__body {
          margin: 2px auto;
          width: 98%;
          padding: 0.75em 0 4em 0;
          float: right;
          .import_contacts__steps {
            padding: 2em 0;
          }
        }
      }
    }
    footer {
      .import_contacts__btn-container {
        margin: 5px auto;
        padding: 0;
        width: 80%;
        @include media(tablet) {
          margin: 0;
          padding: 0;
          width: 95%;
        }
        @include media(mediumDesktop) {
          width: 95%;
          .btn-right {
            margin-right: 20px;
          }
        }
        @include media(largeDesktop) {
          width: 95%;
          .btn-right {
            margin-right: 20px;
          }
        }
        @include clearfix();
      }
    }
  }
}
.error__contacts-modal {
  .error-contacts__description {
    padding: 0.5em 0;
  }
  #error-contacts__modal-header {
    color: black;
  }
  #error-contacts__modal-header_1,
  #error-contacts__modal-header_2 {
    background-color: $primaryBlue;
    color: $white;
    span {
      color: $white;
    }
  }
  .error-contacts__body-title {
    padding: 0.75em 0;
  }
  .error-contacts__list {
    max-height: 500px;
    overflow: auto;
  }
  .error-contacts__error {
    list-style-type: none;
    padding-top: 8px;
  }
}
