<div class="import_contacts__main-container">
  <app-import-trx-how-to *ngIf="isShowInfo" (returnEmitter)="receiveReturnFromHowTo()"> </app-import-trx-how-to>
  <!-- use hidden to retain user input.  ngIf will destroy the instance -->
  <div [hidden]="isShowInfo" class="import_contacts__container">
    <div *ngIf="currentStep !== start" class="import_trx__sidebar" [ngClass]="sidebarVisibleClass">
      <app-import-trx-sidebar
        [fileQueue]="fileQueue"
        [currentFile]="currentFile"
        [currentStep]="currentStep"
        [forceChangeDetection]="forceSidebarChangeDetection"
        [open]="openSidebar"
        (toggleEmitter)="receiveToggleSidebar($event)"
        (proceedUploadEmitter)="receiveProceedUploadSidebar()"
        (proceedCancelEmitter)="receiveSidebarCancel($event)"
      ></app-import-trx-sidebar>
    </div>
    <div [ngClass]="rightSideClassArray" class="right-side">
      <header>
        <div class="header-content">
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="float-left">
                <div class="import_contacts__header-1">Import Transactions</div>
              </div>
              <div class="float-left">
                <div class="import_contacts__header-2">(Importing data into FECfile)</div>
              </div>
              <div class="float-left import_contacts__info" (click)="showInfo()">
                For more information click here
                <i class="info-icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="header-content-sep">
          <hr />
        </div>
      </header>
      <section>
        <div class="import_contacts__body_container">
          <div class="import_contacts__body">
            <div *ngIf="currentStep !== start" class="import_contacts__steps">
              <app-steps [steps]="steps" [current_step]="currentStep"> </app-steps>
            </div>
            <app-import-trx-start *ngIf="currentStep === start" (beginFileSelectEmitter)="receiveBeginFileSelect()">
            </app-import-trx-start>

            <app-import-trx-file-select
              *ngIf="currentStep === step1Upload && fileSelectStep1"
              (queueEmitter)="receiveSelectedFiles($event)"
            >
            </app-import-trx-file-select>

            <app-import-trx-upload
              *ngIf="currentStep === step1Upload && !fileSelectStep1"
              [uploadFile]="currentFile"
              (resultsEmitter)="receiveUploadResults($event)"
            >
            </app-import-trx-upload>

            <app-import-trx-review
              *ngIf="currentStep === step2Review"
              [uploadFile]="currentFile"
              (resultsEmitter)="receiveReviewResults($event)"
            >
            </app-import-trx-review>

            <app-import-trx-clean-info *ngIf="currentStep === step3Clean"> </app-import-trx-clean-info>

            <app-import-trx-done
              *ngIf="currentStep === step4ImportDone"
              [uploadFile]="currentFile"
              [fileQueue]="fileQueue"
              (proceedEmitter)="receiveProceedNextFile()"
            >
            </app-import-trx-done>
          </div>
        </div>
      </section>
      <!-- <footer>
        <div *ngIf="currentStep !== start" style="width: 100%">
          <button type="button" class="btn btn-secondary btn-modal-footer btn-right" (click)="showNextStep()">
            Next
          </button>
          <button type="button" class="btn btn-modal-footer btn-right btn-secondary-gray" (click)="showPreviousStep()">
            Previous
          </button>
        </div>
      </footer> -->
    </div>
  </div>
</div>
<div [hidden]="isShowInfo" class="import_trx__lower-container">
  <app-import-trx-clean
    *ngIf="currentStep === step3Clean"
    [uploadFile]="currentFile"
    (dupeProceedEmitter)="receiveCleanResults($event)"
  >
  </app-import-trx-clean>
</div>
