<div class="import_contacts__main-container">
  <app-import-trx-how-to *ngIf="isShowInfo" (returnEmitter)="receiveReturnFromHowTo()"> </app-import-trx-how-to>
  <!-- use hidden to retain user input.  ngIf will destroy the instance -->
  <div [hidden]="isShowInfo" class="import_contacts__container">
    <div *ngIf="currentStep !== start" class="import_trx__sidebar" [ngClass]="sidebarVisibleClass">
      <app-import-trx-sidebar
        [fileQueue_foo]="fileQueue"
        (toggleEmitter)="receiveToggleSidebar($event)"
      ></app-import-trx-sidebar>
    </div>
    <!-- <div [ngClass]="currentStep !== start ? 'right-side ' : ''"> -->
    <!-- <div [ngClass]="sidebarVisibleClass"> -->
    <div [ngClass]="rightSideClassArray">
      <header>
        <div class="header-content">
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="float-left">
                <div class="import_contacts__header-1">Import Transactions</div>
              </div>
              <div class="float-left">
                <div class="import_contacts__header-2">(Importing data into FECfile)</div>
              </div>
              <div class="float-left import_contacts__info" (click)="showInfo()">
                For more information click here
                <i class="info-icon" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="header-content-sep">
          <hr />
        </div>
      </header>
      <section>
        <div class="import_contacts__body_container">
          <div class="import_contacts__body">
            <div *ngIf="currentStep !== start" class="import_contacts__steps">
              <app-steps [steps]="steps" [current_step]="currentStep"> </app-steps>
            </div>
            <div *ngIf="currentStep === start">
              <app-import-trx-start (beginUploadEmitter)="receiveBeginUpload()"> </app-import-trx-start>
            </div>
            <div *ngIf="currentStep === step1Upload">
              <app-import-trx-upload (beginUploadEmitter)="receiveBeginUpload()" (queueEmitter)="receiveQueue($event)">
              </app-import-trx-upload>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <div *ngIf="currentStep !== start" style="width: 100%">
          <button type="button" class="btn btn-secondary btn-modal-footer btn-right" (click)="showNextStep()">
            Next
          </button>
          <button type="button" class="btn btn-modal-footer btn-right btn-secondary-gray" (click)="showPreviousStep()">
            Previous
          </button>
        </div>
      </footer>
    </div>
  </div>
</div>

<!-- <div
  bsModal
  #errorsModal="bs-modal"
  class="modal fade error__contacts-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" id="error-contacts__modal-header_1">
        <h2 class="modal-title pull-left">Import Failed</h2>
      </div>
      <div class="modal-body">
        <p class="error-contacts__description">
          The system found errors within the import file, and will not be able to complete the import. Please check your
          file and ensure formatting is correct.
        </p>
        <h3 class="error-contacts__body-title">Import Errors</h3>
        <ul class="error-contacts__list">
          <li *ngFor="let error of contactErrors; let i = index" class="error-contacts__error">
            Error {{ i + 1 }}: {{ error.field_name }} {{ error.msg }}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal-footer btn-right" (click)="errorsAcknowleged()">
          Ok
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div
  bsModal
  #noErrorslModal="bs-modal"
  class="modal fade error__contacts-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="error-contacts__modal-header_2">
        <h2 class="modal-title pull-left">Upload Complete</h2>
      </div>
      <div class="modal-body">
        <p>
          No errors were detected. Please proceed to see if your data was previously imported or has any duplicate
          contacts.
        </p>
        <p>
          <i class="exclamation-triangle-icon clean_contacts__ignore-warn"></i>
          Caution: As you proceed your data has the potential of being duplicated upon import. Ensure your data
          integrity by opting to check the individual line items before importing.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-modal-footer btn-right" (click)="noErrorsAcknowleged()">
          Ok
        </button>
      </div>
    </div>
  </div>
</div> -->
