@import '../../scss/global';

.validate-results {
  margin-top: 64px;
  .validate-results__errors {
    color: $red;
    margin-top: 15px;
    .validate-results__error {
      margin-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .validate-results__success {
    color: $white;
    margin-top: 15px;
  }
}
