<div class="report-type-container" *ngIf="showForm">
  <header>
    <div class="header-content">
      <div class="float-left">
        <h1>Report Type</h1>
      </div>
      <div class="float-right">
        <button
          type="button"
          class="btn btn-link btn-options"
        >
          <span class="ellipsis-icon" aria-hidden="true"></span>
          <span class="sr-only">Click for more options</span>
        </button>
      </div>
    </div>
    <hr />
  </header>
  <form
    [formGroup]="frmReportType"
    (ngSubmit)="doValidatereportType()"
    (blur)="doValidatereportType()"
  >
    <section>
      <div class="form-content">
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="text-error text-center"
              *ngIf="(frmReportType.invalid && (frmReportType.dirty || frmReportType.touched)) || (optionFailed)">
              You must select a report type for filing.
            </div>
          </div>
        </div>
          <ul class="options-list">
            <li
              class="options-list__item"
              *ngFor="let committee_form3x_reporttype of committee_form3x_reporttypes || async"
            >
              <input
                type="radio"
                name="reportTypeRadio"
                id="{{committee_form3x_reporttype.report_type}}"
                class="option-radio"
                value="{{committee_form3x_reporttype.report_type}}"
                (click)="updateTypeSelected($event)"
                formControlName="reportTypeRadio"

              />
              <label
                for="{{committee_form3x_reporttype.report_type_desciption}}"
              >
              {{committee_form3x_reporttype.report_type_desciption}}
              </label>
              <button
                type="button"
                class="btn-info"
                ngbTooltip=" {{committee_form3x_reporttype.report_type_info}}"

              >
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">
                  Click for more information
                </span>
              </button>
            </li>
          </ul>
      </div>
    </section>
    <footer>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--11 forms__btn-container">
          <button
            class="btn btn-default btn-left"
            type="button"
            (click)="cancel()"
          >
            Cancel
          </button>
          <button
            class="btn btn-primary btn-right"
            type="submit"
          >
            Next
          </button>
        </div>
      </div>
    </footer>
  </form>
</div>
