@import '../../../shared/scss/global';

.report-type-container {
  .grid-row {
    margin-left: 0;
    margin-right: 0;
    .grid-row__col {
      padding-left: 0;
      padding-right: 0;
    }
  }
  header {
    .header-content {
      display: block;
      margin: 0 auto;
      width: 96%;
      @include clearfix();
      .btn-options {
        color: $shuttleGray;
        text-decoration: none;
        &:hover,
        &:visited,
        &:active {
          color: $shuttleGray;
          text-decoration: none;
        }
      }
    }
  }
  section {
    .form-content {
        .options-list {
          list-style-type: none;
          .options-list__item {
            font-family: $mainFontFamily !important;
            border-bottom: 1px solid $iron;
            border-top: 1px solid $iron;
            padding-bottom: 20px;
            padding-left: 10px;
            padding-top: 20px;
            &:nth-child(even) {
              background-color: $seaShell;
            }
          }
        }
    }
  }
  .forms__btn-container {
    height: 100%;
    margin-bottom: 10px;
  }
  .options-list__item:hover{
     cursor: pointer !important;
  }
  .child-options-label {
    padding-left: 2em;
  }
  .child-options-label:hover{
     cursor: pointer !important;
  }
  input[type="radio"]:hover{
     cursor: pointer !important;
  }
}
