<div class="report-type" *ngIf="showForm">
  <form
    [formGroup]="frmreporttype"
    (ngSubmit)="doValidatereportType()"
    (blur)="doValidatereportType()"
  >
    <section>
      <div class="form-content">
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="text-error text-center"
              *ngIf="(frmreporttype.invalid && (frmreporttype.dirty || frmreporttype.touched)) || (optionFailed)">
              You must select a repoty type for filing.
            </div>
          </div>
        </div>
          <ul class="options-list">
            <li
              class="options-list__item"
              *ngFor="let committee_form3x_reporttype of committee_form3x_reporttypes || async"
            >
              <input
                type="radio"
                id="report-type-radio"
                name="reportTypeRadio"
                class="option-radio"
                value="{{committee_form3x_reporttype.report_type}}"
                (click)="updateTypeSelected($event)"
                formControlName="reportTypeRadio"
              />
              <label
                for="{{committee_form3x_reporttype.rpt_type_desc}}"
              >
              {{committee_form3x_reporttype.rpt_type_desc}}
              </label>
              <button
                type="button"
                class="btn-info"
                ngbTooltip=" {{committee_form3x_reporttype.rpt_type_info}}"

              >
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">
                  Click for more information
                </span>
              </button>
            </li>
          </ul>
      </div>
    </section>
    <footer>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--11">
            <div class="forms__btn-container">
              <button
                class="btn btn-default btn-left"
                type="button"
                (click)="cancel()"
              >
                Cancel
              </button>
              <button
                class="btn btn-primary btn-right"
                type="submit"
                (click)="Savadata()"
              >
                Next
              </button>
            </div>
        </div>
      </div>
    </footer>
  </form>
</div>
