<div class="manage-users-container" xmlns="http://www.w3.org/1999/html">
    <hr>
    <div class="committee-info">
        <h2>Your Committee Information</h2><br>
        <div class="row">
            <div class="col-md-3">
                <h4>Roger Smith for Congress</h4><br>
                19093 West Broad Street <br>
                Richmond, VA 23229<br>
            </div>
            <div class="col-md-3">
                <h4> Treasurer:</h4> {{treasurerName}} Alice Whitney <br>
                <h4>Email: </h4> {{treasurerEmail}} alice.whitney@rogerforcongress.org<br>
            </div>
            <div class="col-md-3">
                <h4>Telephone:</h4> {{treasurerTel}}(804) 294-2944<br>
                <h4> Facsimile: </h4>{{treasurerFax}}(804) 294-2945<br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <h4>Website :</h4> {{website}} RogerForCongress.org
            </div>
            <div class="col-md-3">
                <h4>Asst. Treasurer:</h4> {{asstTreasurerName}} James Madison <br>
                <h4>Email:</h4>{{asstTreasurerEmail}} jim.madison@rogerforcongress.org
            </div>
            <div class="col-md-3">
                <h4>Telephone:</h4> {{asstTreasurerTel}}(804) 294-2944<br>
                <h4> Facsimile: </h4>{{asstTreasurerFax}}(804) 294-2945<br>
            </div>
        </div>
    </div>
    <hr>
    <div class="add-user">
        <h2>Add a User to Manage your Committee's Functions</h2><br>
        <form [formGroup]="frmAddUser">
            <div class="form-group radio">
                <div class="col ">
                    <h3>Role</h3>
                </div>
                <div class="row">
                    <div class="col col-md-2">
                        <label>
                            <input formControlName="role-ind"
                                   name="role-ind"
                                   id="role-admin"
                                   type="radio">
                            Admin</label>
                    </div>
                    <div class="col col-md-2">
                        <label>
                            <input formControlName="role-ind"
                                   name="role-ind"
                                   id="role-entry"
                                   type="radio">
                            Entry</label>
                    </div>
                    <div class="col col-md-2">
                        <label>
                            <input formControlName="role-ind"
                                   name="role-ind"
                                   id="role-read-only"
                                   type="radio">
                            Read Only</label>
                    </div>
                </div>
            </div>

            <table class="user-input table table-borderless">
                <thead>
                <tr>
                    <th style="text-align: left;">Basic Information</th>
                    <th style="text-align: left;">Role Description</th>
                </tr>
                </thead>
                <tbody class="user-data">
                    <tr>
                        <td class="basic-info" >
                            <table class="basic-info">
                                <tr>
                                    <td class="label-info"><label>Last Name</label></td>
                                    <td class="user-text"><input placeholder="Enter Last Name" type="text"></td>
                                </tr>
                                <tr>
                                    <td><label>First Name</label></td>
                                    <td><input placeholder="Enter First Name" type="text"></td>
                                </tr>
                                <tr>
                                    <td><label>Contact Number</label></td>
                                    <td><input placeholder="Enter Phone Number" type="text"></td>
                                </tr>
                                <tr>
                                    <td><label>Email Address</label></td>
                                    <td><input placeholder="Enter Email Address" type="text"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="role-desc" >
                            <b>Administrator</b>
                                <ul>
                                    <li>Has full access.</li>
                                </ul>
                            <b>Entry</b>
                            <ul>
                                 <li>Has access to enter, edit and delete information, but cannot upload reports or create other
                                    users.</li>
                            </ul>
                            <b>Read Only</b>
                            <ul>
                               <li>
                                    Can only view data, and cannot perform any other functions.
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div style="padding-left: 35px;">
                <button
                    class="btn btn-primary">
                    Add User
                </button> &nbsp;
                <button
                    class="btn btn-secondary-dark-gray">
                    Clear Form
                 </button>
            </div>
        </form>
    </div>
    <hr>
    <div class="manage-users">
        <h2>Manage Existing Users</h2>
    <table class="table table-bordered sort-true" style="width:80%">
        <thead>
        <th>Last Name <i class="fas fa-sort"></i></th>
        <th>First Name <i class="fas fa-sort"></i></th>
        <th>Email Address <i class="fas fa-sort"></i></th>
        <th>Role <i class="fas fa-sort"></i></th>
        <th>Action <i class="fas fa-sort"></i></th>
        </thead>
    </table>
    </div>
</div>
