<div class="manage-users-container" xmlns="http://www.w3.org/1999/html">
    <hr>
    <div class="committee-info">
        <h2>Your Committee Information</h2><br>
        <div class="row">
            <div class="col-md-3">
                <h4>{{accounts?.committeename}}</h4><br>
                {{accounts?.street1}} <br>
                <span *ngIf="accounts?.street2">{{accounts?.street2}} <br></span>
                {{accounts?.city + ' ' + accounts?.state + ' ' + accounts?.zipcode}}<br>
            </div>
            <div class="col-md-3">
                <h4> Treasurer:</h4> {{accounts?.treasurerfirstname + ' ' + accounts?.treasurerlastname}}<br>
            </div>
            <div class="col-md-3">
                <h4> Email 1:</h4> {{accounts?.email_on_file ? accounts.email_on_file : 'NA'}}<br>
                <h4> Email 2: </h4>{{accounts?.email_on_file1 ? accounts.email_on_file1 : 'NA'}}<br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <h4>Website :</h4> {{accounts?.website ? accounts.website: 'NA'}}
            </div>
            <div class="col-md-3">
                <h4>Telephone:</h4> {{accounts?.treasurerphone? phoneNumber(accounts?.treasurerphone): ' NA'}}
            </div>
            <div class="col-md-3">
                <h4> Facsimile: </h4>{{accounts?.fax? phoneNumber(accounts?.fax) :  'NA'}}<br>
            </div>
        </div>
    </div>
    <hr>
    <div class="add-user">
        <h2>Add a User to Manage your Committee's Functions</h2><br>
        <form [formGroup]="frmAddUser">
            <div class="form-group radio">
                <div class="col ">
                    <h3>Role</h3> <br>
                </div>
                <div class="row">
                    <div class="col col-md-2" *ngIf="_authService.isCommitteeAdmin()">
                        <label [ngClass]="
                        frmAddUser.get('role')?.invalid &&
                        (frmAddUser.touched)
                          ? 'input-field-label-error'
                          : ''
                        ">
                            <input formControlName="role"
                                   id="role-bcadmin"
                                   type="radio"
                                   value="BC_ADMIN">
                            Backup Committee Administrator</label>
                    </div>
                    <div class="col col-md-2">
                        <label [ngClass]="
                        frmAddUser.get('role')?.invalid &&
                        (frmAddUser.touched)
                          ? 'input-field-label-error'
                          : ''
                        ">
                            <input formControlName="role"
                                   id="role-admin"
                                   type="radio"
                                   value="ADMIN">
                            Administrator</label>
                    </div>
                    <div class="col col-md-2">
                        <label [ngClass]="
                        frmAddUser.get('role')?.invalid &&
                        (frmAddUser.touched)
                          ? 'input-field-label-error'
                          : ''
                        ">
                            <input formControlName="role"
                                   id="role-entry"
                                   type="radio"
                                   value="EDITOR">
                            Editor</label>
                    </div>
                    <div class="col col-md-2">
                        <label [ngClass]="
                        frmAddUser.get('role')?.invalid &&
                        (frmAddUser.touched)
                          ? 'input-field-label-error'
                          : ''
                        ">
                            <input formControlName="role"
                                   id="role-read-only"
                                   type="radio"
                                   value="REVIEWER">
                            Reviewer</label>
                    </div>
                </div>
            </div>
            <span *ngIf="frmAddUser.get('role').valid">
                {{getSelectedRole()}}
            </span>
            <table class="user-input table table-borderless">
                <thead>
                <tr>
                    <th style="text-align: left;">Basic Information</th>
                    <th style="text-align: left;">Role Description</th>
                </tr>
                </thead>
                <tbody class="user-data">
                    <tr>
                        <td class="basic-info" >
                            <table class="basic-info">
                                <tr>
                                    <td class="label-info"><label>Last Name</label></td>
                                    <td class="user-text">
                                        <input formControlName="last_name"
                                               placeholder="Enter Last Name"
                                               type="text"
                                               [ngClass]=" frmAddUser.get('last_name')?.invalid &&
                                                (frmAddUser.touched || frmAddUser.dirty)
                                               ? 'input-field-error'
                                               : ''">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>First Name</label></td>
                                    <td class="user-text"><input formControlName="first_name"
                                               placeholder="Enter First Name"
                                               type="text"
                                               [ngClass]=" frmAddUser.get('first_name')?.invalid &&
                                                (frmAddUser.touched || frmAddUser.dirty)
                                               ? 'input-field-error'
                                               : ''">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Contact Number
                                        <button type="button" class="btn btn-info" ngbTooltip="Enter 10 digit phone number without any dashes" tabindex="-1"  tooltipClass="form-tooltip">
                                            <i class="info-icon" aria-hidden="true"></i>
                                            <span class="sr-only">Click here for more information</span>
                                        </button>
                                    </label></td>
                                    <td class="user-text"><input formControlName="contact"
                                               placeholder="Enter Phone Number (e.g. 4239999999)"
                                               type="text"
                                               [ngClass]=" frmAddUser.get('contact')?.invalid &&
                                                (frmAddUser.touched || frmAddUser.dirty)
                                               ? 'input-field-error'
                                               : ''">
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Email Address</label></td>
                                    <td class="user-text"><input formControlName="email"
                                               placeholder="Enter Email Address"
                                               type="text"
                                               [ngClass]=" frmAddUser.get('email')?.invalid &&
                                                (frmAddUser.touched || frmAddUser.dirty)
                                               ? 'input-field-error'
                                               : ''">
                                    </td>
                                </tr>
                                <tr>
                                        <td>
                                        <button (click)="addUser()"
                                                class="btn btn-primary">
                                            {{!isEdit ? 'Add User' : 'Save'}}
                                        </button> &nbsp;
                                        </td>
                                        <td>
                                        <button  (click)="clearForm()"
                                                 class="btn btn-secondary-dark-gray">
                                            Clear Form
                                        </button>
                                        </td>
                                </tr>
                            </table>
                        </td>
                        <td class="role-desc" >
                            <b>Committee Administrator</b>
                            <ul>
                                <li>{{_roleDesc.c_admin}}</li>
                            </ul>
                            <b>Backup Committee Administrator</b>
                            <ul>
                                <li>{{_roleDesc.bc_admin}}</li>
                            </ul>
                            <b>Administrator</b>
                                <ul>
                                    <li>{{_roleDesc.admin}}</li>
                                </ul>
                            <b>Editor</b>
                            <ul>
                                 <li>{{_roleDesc.editor}}</li>
                            </ul>
                            <b>Reviewer</b>
                            <ul>
                               <li>
                                   {{_roleDesc.reviewer}}
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <hr>
    <div class="manage-users">
        <h2>Manage Existing Users</h2>
    <table sortable-table (sorted)="onSorted($event)" class="table table-bordered sort-true" style="width:80%">
        <thead>
        <th sortable-column="lastName">Last Name</th>
        <th sortable-column="firstName">First Name</th>
        <th sortable-column="email">Email Address</th>
        <th sortable-column="role">Role</th>
        <th sortable-column="isActive">Active</th>
        <th sortable-column="status">Status</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.lastName}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.isActive ? 'Active':'Inactive'}}</td>
            <td>{{user.status}}</td>
            <td>
                <i class="fas fa-edit fa-2x" (click)="editUser(user)"></i>  &nbsp;
                <i [ngClass]="getStatusClass(user.isActive)" (click)="toggleStatus(user)"></i> &nbsp;
                <i class="fas fa-times-circle fa-2x" (click)="deleteUser(user)"></i>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
