@import '../../../shared/scss/global';

.transactions__table-container {

  .transactions__page-item-range {
    padding: .5em .1em 0 0 ;
  }

  .transactions__table {
    width: 100%;
    .transactions__amount {
      text-align: right;
    }
  }

  .transactions__table-checkbox {
    width: 3%;
  }

  .transactions__table-pagination-container {
    padding: 1em;
  }  

  /** hide the dropdown caret **/
  .dropdown-toggle:after {
    border: none;
  }  

  #transactions__dropdown-action > button > i {
    padding-right: 3px;
  }

  .bulk_action {
    text-align: left;
  }

  .transactions__bulk_action_btn[disabled] {
    background:#6c757d;
    border-color: #6c757d;
  }

  .dropdown-menu {
    min-width: 6em;
  }  

  .transactions__item-range {
    font-size: 13px;
    color: grey;
    margin: 0 5px;
  }

  .transactions__total-amount {
    float: left;
  }

  .transactions__total-amount-val {
    float: right;
  }

  .transactions__total-amount-tip {
    color: #112E51;
    padding-left: 3px;
    float: right;
  }

  .align_right {
    float: right;
    text-align: right;
    vertical-align: right;
  }

  .transactions__tooltip {
    top: 0;
    width: 300px;
    .tooltip-inner {
      max-width: 300px;
      text-align: left;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .external-link-icon {
        margin-left: 5px;
      }
    }
  }

  // .transactions__total-amount-container {
  //   margin: 1.5em 0;
  // }


  /* style ngx-pagination - start */
  /* override some styling where use of !important is made. */

  .ngx-pagination .current{
    padding: 0.1875rem 0.625rem;
    background: #9B9B9B !important;;
    color: #fefefe;
    cursor: default;
  }

  .ngx-pagination a, .ngx-pagination button {
    color: #9B9B9B !important;;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
  }	

  .ngx-pagination {
    margin-bottom: 0;
  }

  /* style ngx-pagination - end */

  ng-select { 
    .ng-dropdown-panel { 
      width: auto;
      min-width: 100%; 
    } 
  }

  .column-options-modal {

    #transactions__pin-modal-header {
      background-color: $crusta;
    }

    .btn-modal-footer {
      width: 6em;
    }

    .row{
      height: 3em;
    }

    input[type="checkbox" i]:disabled, .disabled-column-option{
      color: #cccccc;
    } 

    input[type=checkbox] {
      transform: scale(1.5);
    }
  }

  .parent:hover{
    cursor: pointer !important;
  }

  .child-bg {
    padding-left: 3rem;
    background-color: #D9EDF6!important;
    font-style: italic;
  }

  /* arrow common style */
  .arrow {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-top:  0.4rem;
    border-top: 0.2rem solid #112E51;
    border-right: 0.2rem solid #112E51;
    margin-right: 1rem;
  }
  .arrow-top {
    transform: rotate(-45deg);
  }
  .arrow-right {
    transform: rotate(45deg);
  }
  .arrow-bottom {
    transform: rotate(135deg);
  }
  .arrow-left {
    transform: rotate(-135deg);
  }
  .arrow-top-narrow {
    transform: rotate(-45deg) skew(-15deg, -15deg);
  }
  .arrow-top-wide {
    transform: rotate(-45deg) skew(7deg, 7deg);
  }
  .arrow-top-left {
    transform: rotate(-90deg) skew(-10deg, -10deg);
  }
  .arrow-top-right {
    transform: rotate(0) skew(-10deg, -10deg);
  }
  .arrow-bottom-left {
    transform: rotate(180deg) skew(-10deg, -10deg);
  }
  .arrow-bottom-right {
    transform: rotate(90deg) skew(-10deg, -10deg);
  }

  .width-100 {
    width: 100%;
  }
  .width-25 {
    width: 25%;
  }
}