<div  class="transactions__table-container">
  <div class="grid-row float-right transactions__page-item-range">
    <div class="float-right transactions__item-range">
      {{determineItemRange()}} of {{config.totalItems}}
    </div>
  </div>
  <table class="table table-striped table-hover table__sortable transactions__table">
    <thead>
      <tr>
        <th class="transactions__table-checkbox">
            <!-- *ngIf="isTransactionViewActive()" -->
          <input [@fadeInOut]  [(ngModel)]="allTransactionsSelected" type="checkbox"
            (change)="changeAllTransactionsSelected()">
        </th>
         <th [@fadeInOut] *ngIf="isColumnVisible('type')" [class]="getSortClass('type')" (click)="changeSortDirection('type')">Type
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('transactionId')" [class]="getSortClass('transactionId')" (click)="changeSortDirection('transactionId')">Transaction Id
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('name')" [class]="getSortClass('name')" (click)="changeSortDirection('name')">Name
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('street')" [class]="getSortClass('street')" (click)="changeSortDirection('street')">
          Street
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('city')" [class]="getSortClass('city')" (click)="changeSortDirection('city')">City
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('state')" [class]="getSortClass('state')" (click)="changeSortDirection('state')">
          State
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('zip')" [class]="getSortClass('zip')" (click)="changeSortDirection('zip')">Zip
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('date')" [class]="getSortClass('date')" (click)="changeSortDirection('date')">Date
        </th>
       <!--<th [@fadeInOut] *ngIf="isColumnVisible('aggregate')" [class]="getSortClass('aggregate')"
          (click)="changeSortDirection('aggregate')">Aggregate
        </th>-->
        <th [@fadeInOut] *ngIf="isColumnVisible('purposeDescription')" [class]="getSortClass('purposeDescription')"
          (click)="changeSortDirection('purposeDescription')">Purpose Description
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('contributorEmployer')" [class]="getSortClass('contributorEmployer')"
          (click)="changeSortDirection('contributorEmployer')">Contributor Employer
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('contributorOccupation')" [class]="getSortClass('contributorOccupation')"
          (click)="changeSortDirection('contributorOccupation')">Contributor Occupation
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('memoCode')" [class]="getSortClass('memoCode')"
          (click)="changeSortDirection('memoCode')">Memo Code
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('memoText')" [class]="getSortClass('memoText')"
          (click)="changeSortDirection('memoText')">Memo Text/Description
        </th>
        <th [@fadeInOut] *ngIf="isRecycleBinViewActive()" [class]="getSortClass('deletedDate')"
          (click)="changeSortDirection('deletedDate')">Deleted Date
        </th>
        <th [@fadeInOut] *ngIf="isColumnVisible('amount')" [class]="getSortClass('amount')" (click)="changeSortDirection('amount')">
          Amount
        </th>        
        <th [@fadeInOut] *ngIf="isColumnVisible('aggregate')" [class]="getSortClass('aggregate')"
          (click)="changeSortDirection('aggregate')">Aggregate Amount
        </th>
        <th class="bulk_action">
          <div [@fadeInOut] *ngIf="isTransactionViewActive()" class="btn-group" ngbDropdown role="group"
            aria-label="Action dropdown">
            <button class="btn btn-sm btn-primary transactions__bulk_action_btn" 
              ngbDropdownToggle [disabled]="bulkActionDisabled">
              <i class="ellipsis-icon"></i>
            </button>
            <div id="transactions__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" (click)="viewAllSelected()">
                <i class="view-icon"></i>View
              </button>
              <button class="dropdown-item" (click)="printAllSelected()">
                <i class="print-icon"></i>Print
              </button>
              <button class="dropdown-item" (click)="exportAllSelected()">
                <i class="file-export-icon"></i>Export
              </button>
              <button class="dropdown-item" (click)="linkAllSelected()">
                <i class="link-icon"></i>Link
              </button>
              <button class="dropdown-item" (click)="trashAllSelected()">
                <i class="trash-icon"></i>Trash
              </button>
            </div>
          </div>
          <div [@fadeInOut] *ngIf="isRecycleBinViewActive()">
            <button class="btn btn-sm btn-primary transactions__bulk_action_btn" 
              (click)="deleteRecyleBin()"
              [disabled]="bulkActionDisabled">
              <i class="trash-icon"></i>
            </button>
          </div>          
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trx of transactionsModel | paginate: config; let i = index">
        <td>
          <input [(ngModel)]="trx.selected" type="checkbox" (click)="checkForMultiChecked($event)">
        </td>
        <td [@fadeInOut] *ngIf="isColumnVisible('type')">{{trx.type}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('transactionId')">{{trx.transactionId}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('name')">{{trx.name}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('street')">{{trx.street}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('city')">{{trx.city}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('state')">{{trx.state}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('zip')">{{trx.zip | zipCode}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('date')">{{trx.date | date: 'MM/dd/yyyy'}}</td>
        <!--<td [@fadeInOut] *ngIf="isColumnVisible('aggregate')">{{trx.aggregate}}</td>-->
        <td [@fadeInOut] *ngIf="isColumnVisible('purposeDescription')">{{trx.purposeDescription}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('contributorEmployer')">{{trx.contributorEmployer}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('contributorOccupation')">{{trx.contributorOccupation}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('memoCode')">{{trx.memoCode}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('memoText')">{{trx.memoText}}</td>
        <td [@fadeInOut] *ngIf="isRecycleBinViewActive()">{{trx.deletedDate | date: 'MM/dd/yyyy'}}</td>
        <td [@fadeInOut] *ngIf="isColumnVisible('amount')" class="transactions__amount">
          {{trx.amount | currency:'USD':'symbol-narrow':'1.2-2'}}
        </td>
        <td [@fadeInOut] *ngIf="isColumnVisible('aggregate')" class="transactions__amount">
          {{trx.aggregate | currency:'USD':'symbol-narrow':'1.2-2'}}
        <td>
          <div [@fadeInOut] *ngIf="isRecycleBinViewActive()">
            <button class="btn btn-sm btn-primary" (click)="restoreTransaction(trx)">
              <i class="undo-icon"></i>
            </button>
          </div>
          <div [@fadeInOut] *ngIf="isTransactionViewActive()" class="btn-group" ngbDropdown role="group"
            aria-label="Action dropdown">
            <button class="btn btn-sm btn-primary" ngbDropdownToggle>
              <i class="ellipsis-icon"></i>
            </button>
            <div id="transactions__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" (click)="cloneTransaction(trx)">
                <i class="copy-icon"></i>Clone
              </button>
              <button class="dropdown-item" (click)="linkTransaction(trx)">
                <i class="link-icon"></i>Link
              </button>
              <button class="dropdown-item" (click)="viewTransaction(trx)">
                <i class="view-icon"></i>View
              </button>
              <button class="dropdown-item" (click)="editTransaction(trx)">
                <i class="edit-icon"></i>Edit
              </button>
              <button class="dropdown-item" (click)="trashTransaction(trx)">
                <i class="trash-icon"></i>Trash
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div [@fadeInOut] *ngIf="isTransactionViewActive()" class="container">
    <div class="row justify-content-end transactions__total-amount-container">
      <div class="transactions__total-amount">
        <b>Total Amount</b>
        <i class="info-icon transactions__total-amount" ngbTooltip="Represents the total amount of transactions entered on the report. 
                      Those transactions that are memo entries are not added into the total amount."
          tooltipClass="form-tooltip">
        </i>
      </div>
      <div class="transactions__total-amount-val">
        <b>{{totalAmount | currency:'USD':'symbol-narrow':'1.2-2'}}</b>
      </div>
    </div>
  </div>
  <hr/>
  <div *ngIf="showPagination()" class="d-flex justify-content-center transactions__table-pagination-container">
    <pagination-controls [id]="config.id" (pageChange)="getPage($event)">
    </pagination-controls>
  </div>
  <div bsModal #columnOptionsModal="bs-modal" class="modal fade column-options-modal" tabindex="-1" role="dialog"
    aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" id="transactions__pin-modal-header">
          <h4 class="modal-title pull-left">Column Options (Select up to 5)</h4>
          <button aria-label="Close" class="close btn btn-link" type="button" (click)="cancelColumnOptions()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('type').checked" (change)="toggleVisibility('type', $event)"
                      type="checkbox" [disabled]="getSortableColumn('type').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('type').disabled}">
                      Type
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md">
                  <div class="checkbox">
                    <label>
                      <input [(ngModel)]="getSortableColumn('transactionId').checked" (change)="toggleVisibility('transactionId', $event)"
                        type="checkbox" [disabled]="getSortableColumn('transactionId').disabled">
                      <span [ngClass]="{'disabled-column-option':getSortableColumn('transactionId').disabled}">
                        Transaction Id
                      </span>
                    </label>
                  </div>
                </div>
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('state').checked" (change)="toggleVisibility('state', $event)"
                      type="checkbox" [disabled]="getSortableColumn('state').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('state').disabled}">
                      State
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">              
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('contributorEmployer').checked"
                      (change)="toggleVisibility('contributorEmployer', $event)" type="checkbox"
                      [disabled]="getSortableColumn('contributorEmployer').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('contributorEmployer').disabled}">
                      Contributor Employer
                    </span>
                  </label>
                </div>                
              </div>
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('aggregate').checked"
                      (change)="toggleVisibility('aggregate', $event)" type="checkbox"
                      [disabled]="getSortableColumn('aggregate').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('aggregate').disabled}">
                      Aggregate Amount
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('zip').checked" (change)="toggleVisibility('zip', $event)"
                      type="checkbox" [disabled]="getSortableColumn('zip').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('zip').disabled}">
                      Zip
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                    <div class="checkbox">
                      <label>
                        <input [(ngModel)]="getSortableColumn('contributorOccupation').checked"
                          (change)="toggleVisibility('contributorOccupation', $event)" type="checkbox"
                          [disabled]="getSortableColumn('contributorOccupation').disabled">
                        <span [ngClass]="{'disabled-column-option':getSortableColumn('contributorOccupation').disabled}">
                          Contributor Occupation
                        </span>
                      </label>
                    </div>                
              </div>
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('name').checked" (change)="toggleVisibility('name', $event)"
                      type="checkbox" [disabled]="getSortableColumn('name').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('name').disabled}">
                      Name
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('date').checked" (change)="toggleVisibility('date', $event)"
                      type="checkbox" [disabled]="getSortableColumn('date').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('date').disabled}">
                      Date
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('street').checked"
                      (change)="toggleVisibility('street', $event)" type="checkbox"
                      [disabled]="getSortableColumn('street').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('street').disabled}">
                      Street
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-md">
                  <div class="checkbox">
                    <label>
                      <input [(ngModel)]="getSortableColumn('memoCode').checked"
                        (change)="toggleVisibility('memoCode', $event)" type="checkbox"
                        [disabled]="getSortableColumn('memoCode').disabled">
                      <span [ngClass]="{'disabled-column-option':getSortableColumn('memoCode').disabled}">
                        Memo Code
                      </span>
                    </label>
                  </div>                
              </div>
  
             <!-- <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('aggregate').checked"
                      (change)="toggleVisibility('aggregate', $event)" type="checkbox"
                      [disabled]="getSortableColumn('aggregate').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('aggregate').disabled}">
                      Aggregate
                    </span>
                  </label>
                </div>
              </div>-->
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('memoText').checked"
                      (change)="toggleVisibility('memoText', $event)" type="checkbox"
                      [disabled]="getSortableColumn('memoText').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('memoText').disabled}">
                      Memo Text/Description
                    </span>
                  </label>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                    <div class="checkbox">
                      <label>
                        <input [(ngModel)]="getSortableColumn('city').checked" (change)="toggleVisibility('city', $event)"
                          type="checkbox" [disabled]="getSortableColumn('city').disabled">
                        <span [ngClass]="{'disabled-column-option':getSortableColumn('city').disabled}">
                          City
                        </span>
                      </label>
                    </div>
              </div>
              <div class="col-md">
                    <div class="checkbox">
                      <label>
                        <input [(ngModel)]="getSortableColumn('purposeDescription').checked"
                          (change)="toggleVisibility('purposeDescription', $event)" type="checkbox"
                          [disabled]="getSortableColumn('purposeDescription').disabled">
                        <span [ngClass]="{'disabled-column-option':getSortableColumn('purposeDescription').disabled}">
                          Purpose Description
                        </span>
                      </label>
                    </div>                
              </div>
              <div class="col-md">
                <div class="checkbox">
                  <label>
                    <input [(ngModel)]="getSortableColumn('amount').checked"
                      (change)="toggleVisibility('amount', $event)" type="checkbox"
                      [disabled]="getSortableColumn('amount').disabled">
                    <span [ngClass]="{'disabled-column-option':getSortableColumn('amount').disabled}">
                      Amount
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-modal-footer btn-right" (click)="saveColumnOptions()">
            Save
          </button>
          <button type="button" class="btn btn-modal-footer btn-right btn-secondary-gray" 
            (click)="cancelColumnOptions()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>