<div class="transaction-type-container">
  <form [formGroup]="frmOption">
    <header>
      <div class="header-content">
        <div class="float-left">
          <ng-container *ngIf="transactionCategorySelected">
            <h1>Transaction Type</h1>
          </ng-container>
        </div>
        <!--<div class="float-right" ngbDropdown>-->
        <div class="float-right" ngbDropdown role="group" aria-label="Action dropdown">
          <button type="button" class="btn btn-link btn-options" id="actionsMenu" ngbDropdownToggle>
            <span class="ellipsis-icon" aria-hidden="true"></span>
            <span class="sr-only">Click for more options</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="actionsMenu">
            <!--<button class="dropdown-item"><i class="view-icon"></i> View</button>
            <button class="dropdown-item" (click)="printPreview()"><i class="print-icon"></i> Print</button>-->
            <button class="dropdown-item"><i class="far fa-file-import"></i> Import</button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="transactionCategorySelected">
        <hr />
      </ng-container>
    </header>
    <section>
      <div class="content">
        <ng-container *ngIf="!transactionCategorySelected && frmSubmitted">
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12 text-center text-error">
              Please select a transaction type.
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="transactionCategorySelected">
          <!--Commented this warning as it is showing up even when we expand / collapse transaction header-->
          <!--<ng-container *ngIf="transactionTypeFailed">
            <div class="grid-row">
              <div class="grid-row__col grid-row__col--12 text-center text-error">
                Please select a transaction type.
              </div>
            </div>
          </ng-container>-->
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <ngb-accordion
                #acc="ngbAccordion"
                [closeOthers]="true"
                class="secondary-options"
                (pannelChange)="beforeChange($event)"
              >
                <ngb-panel
                  id="{{ option.value }}"
                  class="secondary-options__item"
                  *ngFor="let option of secondaryOptions; index as i"
                >
                  <ng-template ngbPanelHeader let-opened="opened">
                    <button class="btn btn-link" (click)="pannelChange(opened)" ngbPanelToggle>
                      <div class="option-header">
                        <div class="option-header-text">
                          <button id="option_{{ i }}" class="btn btn-link">
                            {{ option?.text }}
                          </button>
                          <ng-container *ngIf="option?.infoIcon">
                            <button
                              type="button"
                              class="btn-info"
                              ngbTooltip=" {{ option?.info }}"
                              container="body"
                              (click)="$event.stopPropagation();$event.preventDefault();"
                            >
                              <i class="info-icon" aria-hidden="true"></i>
                              <span class="sr-only">
                                Click for more information
                              </span>
                            </button>
                          </ng-container>
                        </div>
                        <div class="option-header-icon">
                          <button type="button" class="btn btn-link">
                            <i [ngClass]="{ 'down-arrow-icon': !opened, 'up-arrow-icon': opened }" aria-hidden="true">
                            </i
                            >&nbsp;
                          </button>
                        </div>
                      </div>
                    </button>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <!-- <ul class="child-options">
                      <li
                        class="child-options__item"
                        *ngFor="let childOption of option.options"
                        (click)="childOptionsListClick(childOption.value); doValidateOption()"
                      >
                        <label for="option_{{ childOption.value }}" class="child-options-label">
                          <input
                            id="option_{{ childOption.value }}"
                            placeholder="{{ childOption.text }}"
                            type="radio"
                            [name]="secondaryOption"
                            [value]="childOption.value"
                            (click)="updateTypeSelected($event, childOption)"
                          /> -->
                          <!-- <ul class="child-options">
                      <li class="child-options__item" *ngFor="let childOption of option.options">
                        <label for="option_{{ childOption.value }}" class="child-options-label">
                          <input
                            id="option_{{ childOption.value }}"
                            placeholder="{{ childOption.text }}"
                            type="radio"
                            [name]="secondaryOption"
                            [value]="childOption.value"
                            (click)="updateTypeSelected($event, childOption)"
                          /> -->
                    <ul class="child-options">
                      <ng-container *ngFor="let childOption of option.options">
                        <li class="child-options__item" >
                          <label for="option_{{ childOption.value }}" class="child-options-label" (click)="updateTypeSelected(childOption)">
                            <input
                              id="option_{{ childOption.value }}"
                              placeholder="{{ childOption.text }}"
                              type="radio"
                              [name]="secondaryOption"
                              [value]="childOption.value"
                              (click)="updateTypeSelected(childOption)"
                            />
                            {{ childOption.text }}
                          </label>
                          <ng-container *ngIf="childOption?.infoIcon">
                            <button
                              type="button"
                              class="btn-info"
                              ngbTooltip=" {{ childOption?.info }}"
                              (click)="$event.stopPropagation()"
                              container="body"
                            >
                              <i class="info-icon" aria-hidden="true"></i>
                              <span class="sr-only">
                                Click for more information
                              </span>
                            </button>
                          </ng-container>
                        </li>
                      </ng-container>
                    </ul>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- ./content -->
    </section>
    <footer>
      <!--we don't need previous / next as we validate / submit on selection of transaction radio button -->
      <!--<div class="grid-row">
        <div class="grid-row__col grid-row__col--11 forms__btn-container">
          <button class="btn btn-previous btn-left" type="button" (click)="previousStep()">
            Previous
          </button>
          <button class="btn btn-primary btn-right" (click)="doValidateOption()">
            Next
          </button>
        </div>
      </div>-->
    </footer>
  </form>
</div>
