<div class="transaction-type-container">
    <header>
      <div class="header-content">
        <div class="float-left">
          <h1>Transaction Type</h1>
        </div>
        <div class="float-right">
          <button
            type="button"
            class="btn btn-link btn-options"
          >
            <span class="ellipsis-icon" aria-hidden="true"></span>
            <span class="sr-only">Click for more options</span>
          </button>
        </div>
      </div>
      <hr />
    </header>
    <form
      [formGroup]="frmOption"
      (ngSubmit)="doValidateOption()"
      (blur)="doValidateOption()"
    >
    <footer>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--11 forms__btn-container">
          <button
            class="btn btn-previous btn-left"
            type="button"
            (click)="previousStep()"
          >
            Previous
          </button>
          <button
            class="btn btn-primary btn-right"
            type="submit"
             *ngIf="formOptionsVisible"
          >
            Next
          </button>
        </div>
      </div>
    </footer>
  </form>
</div>
