<div class="transaction-type-container">
  <form
    [formGroup]="frmOption"
    (ngSubmit)="doValidateOption()"
    (blur)="doValidateOption()"
  >
    <header>
      <div class="header-content">
        <div class="float-left">
          <ng-container *ngIf="mainTransactionTypeSelected">
            <h1>Transaction Type</h1>
          </ng-container>
        </div>
        <div class="float-right" ngbDropdown>
          <button
            type="button"
            class="btn btn-link btn-options"
            id="actionsMenu"
            ngbDropdownToggle
          >
            <span class="ellipsis-icon" aria-hidden="true"></span>
            <span class="sr-only">Click for more options</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="actionsMenu">
            <button class="dropdown-item">View</button>
            <button class="dropdown-item">Print</button>
            <button class="dropdown-item">Import</button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="mainTransactionTypeSelected">
        <hr />
      </ng-container>
    </header>
    <section>
      <div class="content">
        <ng-container *ngIf="mainTransactionTypeSelected">
          <ng-container *ngIf="secondaryTransactionTypeFailed">
            <div class="grid-row">
              <div class="grid-row__col grid-row__col--12 text-center text-error">
                You must select a transaction type first.
              </div>
            </div>
          </ng-container>
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <ngb-accordion (panelChange)="collapse=!collapse" class="secondary-options">
                <ngb-panel
                  class="secondary-options__item"
                  *ngFor="let option of secondaryOptions; index as i"
                >
                  <ng-template ngbPanelTitle let-opened="opened">
                    {{option?.text}}
                    {{opened}}
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <ul class="child-options">
                      <li
                        class="child-options__item"
                        *ngFor="let childOption of option.options"
                      >
                        <input
                          [type]="childOption.type"
                          [name]="childOption.name"
                          [value]="childOption.value"
                        />
                        <label
                          for="{{childOption.name}}"
                          class="child-options-label"
                        >
                          {{childOption.text}}
                        </label>
                      </li>
                    </ul>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </ng-container>
      </div> <!-- ./content -->
    </section>
    <footer>
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--11 forms__btn-container">
          <button
            class="btn btn-previous btn-left"
            type="button"
            (click)="previousStep()"
          >
            Previous
          </button>
          <button
            class="btn btn-primary btn-right"
            type="submit"
          >
            Next
          </button>
        </div>
      </div>
    </footer>
  </form>
</div>
