@import '../../../shared/scss/global';

.transaction-type-container {
  min-height: 100vh;
  position: relative;
  header {
    .header-content {
      display: block;
      margin: 0 auto;
      width: 96%;
      @include clearfix();
      .btn-options {
        color: $shuttleGray;
        text-decoration: none;
        &:hover,
        &:visited,
        &:active {
          color: $shuttleGray;
          text-decoration: none;
        }
      }
      @include clearfix();
    }
  }
  form {
    min-height: 90vh;
    position: relative;
    footer {
      bottom: 0;
      position: absolute;
      .forms__btn-container {
        height: 100%;
        margin-bottom: 10px;
        padding-left: 20px;
      }
    }
  }

}
