@import '../../../shared/scss/global';

.transaction-type-container {
  min-height: 100vh;
  position: relative;
  form {
    header {
      .header-content {
        display: block;
        margin: 0 auto;
        width: 96%;
        @include clearfix();
        .btn-options {
          color: $shuttleGray;
          text-decoration: none;
          &:hover,
          &:visited,
          &:active {
            color: $shuttleGray;
            text-decoration: none;
          }
        }
        .dropdown-toggle {
          &:after {
            display:none;
          }
        }
        .dropdown-menu {
          min-width: 0px !important;
          &.show {
            .dropdown-item {
              &:focus,
              &:hover,
              &:active,
              &:visited {
                background-color: $white;
                color: $black;
                cursor: pointer;
                outline: none;
              }
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        @include clearfix();
      }
    }
    section {
      .content {
        min-height: 100vh;
        position: relative;
        .grid-row {
          margin-bottom: 20px;
          margin-left: 0;
          margin-right: 0;
          .grid-row__col {
            padding-left: 0;
            padding-right: 0;
            .accordion {
              .card {
                &:nth-child(even) {
                  .card-header {
                    background-color: $seaShell !important;
                  }
                }
                .card-header {
                  .option-header {
                    display: block;
                    width: 100%;

                    .option-header-text {
                      float: left;
                      word-wrap: break-word;
                      width: 95%;
                      .btn-link {
                        color: $black;
                        text-decoration: none;
                        &:hover,
                        &:visited,
                        &:active,
                        &:focus {
                          color: $black;
                        }
                        &:hover {
                          text-decoration: underline;
                        }
                      }
                    }
                    .option-header-icon {
                      float: right;
                      text-align: right;
                      width: 5%;
                      .btn-link {
                        color: $black;
                        text-decoration: none;
                        &:hover,
                        &:visited,
                        &:active,
                        &:focus {
                          color: $black;
                        }
                      }
                    }
                  }
                  @include clearfix();
                }
                .collapse {
                  .card-body {
                    padding: 0;
                    .child-options {
                      list-style-type: none;
                      .child-options__item {
                        display: block;
                        width: 100%;
                        padding: 1em;
                        &:nth-child(even) {
                          background-color: $seaShell !important;
                        }
                        .child-options-label {
                          font-family: $mainFontFamily;
                          padding-left: 10px;
                        }
                      }
                    }
                  }
                } // .collapse
              } // .card
            } // .secondary-options
          } // .grid-row__col
        } // .grid-row
      } // .content
    } // section
    footer {
      //bottom: 0;
      position: relative;
      width: 100%;
      .forms__btn-container {
        height: 100%;
        margin-bottom: 10px;
        padding-left: 20px;
      }
      @include clearfix();
    }
  }
}
