<style>
  @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');
</style>
<div class="main-box">
  <div class="main-content">
    <form [formGroup]="form">
      <header>
        <div class="text-center">
          <img class="fec-title" src="assets/img/FECtitleNew.png" draggable="false" alt="FECTitle" />
        </div>
        <div class="title-front-main">Electronic Filing Sign in</div>
        <div class="title-front-sub">
          Please choose one of the three options for code verification.
        </div>
        <br><br><hr><br>
      </header>

      <div class="form-group optionHeader">
        <label class="user-info" for="email">Enter Email</label>
      </div>
      <div class="form-group row form-inline">
          <input type="radio" value ="email" (change)="radioOptionChanged($event)" class="form-control mr-3" formControlName="emailOrPhoneOption" id="emailRadio">
          <input type="text" class="form-control" formControlName="email" id="email" style="width:92%" >
      </div>


      <div class="separator my-5">OR</div>


      <div class="form-group optionHeader">
          <label class="user-info" for="phone">Enter Phone</label>
        </div>
        <div class="form-group row form-inline">
            <input type="radio" value="phone" class="form-control mr-3" (change)="radioOptionChanged($event)" id="phoneRadio" formControlName="emailOrPhoneOption">
            <ng-select [ngStyle]="{width:'15%'}" class="phone-type-select" formControlName="voiceOrTextOption" 
                          [items]="phoneOptions" bindValue="code"   bindLabel="desc">
            </ng-select>
            <input type="text" class="form-control" id="phone"  style="width:77%" formControlName="phoneNumber">
        </div>
        <div class="user-info-actions">
          <button class="btn btn-previous mx-2" (click)="back()"> Back</button>
          <button class="btn btn-previous mx-2" (click)="clear()"> Clear</button>
          <button class="btn btn-primary mx-2" (click)="submit()"> Submit</button>
        </div>
    </form>
  </div>
</div>
