<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadItem(r)" [term]="t"></ngb-highlight>
</ng-template>
<div class="signee-container">
  <header>
    <div class="header-container">
      <h1>
        {{formTitle}}
        <span class="header__btns">
          <button type="button" class="btn btn-validate" (click)="printPreview()">
            Print Preview
          </button>
        </span>
      </h1>
    </div>
  </header>
  <section>
    <div class="content">
      <form [formGroup]="form">
        <div class="grid-row py-3">
          <h3>
            Sign and Submit
          </h3>
        </div>
        <div class="indented">
          <div class="grid-row justify-content-between  ">
            <div class="grid-col">
              <div class="label">
                Committee
              </div>
              <div class="text">
                {{formMetaData.committeeid}} - {{formMetaData.committeename}}
              </div>
            </div>
          </div>
          <div class="grid-row justify-content-between  ">
            <div class="grid-col">
              <div class="label">
                Treasurer
                <div type="button" class="btn btn-info" ngbTooltip="{{treasurerToolTipText}}" tooltipClass="form-tooltip" >
                    <i class="info-icon" aria-hidden="true"></i>
                    <span class="sr-only">Click here for more information</span>
                </div>
              </div>
              <div class="text">
                {{formMetaData.treasurerfirstname}} {{formMetaData.treasurerlastname}} – {{formMetaData.treasurerphone}}
              </div>
            </div>
          </div>
          <div class="grid-row justify-content-between  ">
            <div class="grid-col">
              <div class="label">
                Submitter
              </div>
              <div class="text">
                Placeholder
              </div>
            </div>
            <div class="grid-col">
              <div class="label">
                Submission Date
              </div>
              <div class="text">
                {{today | date: 'MM/dd/yyyy' }}
              </div>
            </div>
          </div>
        </div>
        
        <div class="grid-row py-3">
          <h3>
            Emails on file
          </h3>
        </div>
        <div>Emails on file section reflect emails populated from Form 1</div>
        <div class="indented">
          <div class="grid-row pt-2">
            <!-- <div class="emailBox border border-dark">
              <div *ngFor="let emailOnFile of emailsOnFile" class="py-2">{{emailOnFile}}</div>
            </div> -->
            <div>
              <table class="table borderedTable">
                <tr *ngFor="let emailOnFile of emailsOnFile">
                  <td>{{emailOnFile}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="grid-row py-3">
            <h3>
              Notification Emails
            </h3>
          </div>
        <div>If you would like to add two additional emails to be notified of this transaction, you can add them here.</div>
        <div class="indented">
          <div class="grid-row  pt-3" style="width:93%">
            <div class="col col-md-3">
              <label for="additionalEmail1">Additional Email 1
                <button type="button" class="btn btn-info" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="input-group transactions__filter-multi-input">
                <input type="text" name="additionalEmail1" [formControlName]="'additionalEmail1'" class="form-control"
                  id="additionalEmail1" aria-label="additional Email 1" aria-describedby="additionalEmail1" 
                  [ngClass]=" form.get('additionalEmail1')?.invalid &&
                            (form.touched || form.dirty)
                              ? 'input-field-error'
                              : ''" >
              </div>
              <div class="text-error text-left"
                *ngIf="form.controls?.additionalEmail1?.errors && form.controls?.additionalEmail1?.errors['email']">
                Must be a valid email address
              </div>
              <div class="text-error text-left"
                *ngIf="form.controls?.confirmAdditionalEmail1?.errors && form.controls?.confirmAdditionalEmail1?.errors['mustMatch']">
                Emails in both fields must match
              </div>
            </div>
            <div class="col col-md-3">
              <label for="confirmAdditionalEmail1">Confirm Additional Email 1
                <button type="button" class="btn btn-info" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="input-group transactions__filter-multi-input">
                <input type="text" name="confirmAdditionalEmail1" [formControlName]="'confirmAdditionalEmail1'"
                  class="form-control" id="confirmAdditionalEmail1" aria-label="confirm AdditionalEmail 1"
                  aria-describedby="confirmAdditionalEmail1" [ngClass]=" form.get('confirmAdditionalEmail1')?.invalid &&
                            (form.touched || form.dirty)
                              ? 'input-field-error'
                              : ''">
              </div>
              <div class="text-error text-left"
                *ngIf="form.controls?.confirmAdditionalEmail1?.errors && form.controls?.confirmAdditionalEmail1?.errors['email']">
                Must be a valid email address
              </div>
              <div class="text-error text-left"
                *ngIf="form.controls?.confirmAdditionalEmail1?.errors && form.controls?.confirmAdditionalEmail1?.errors['mustMatch']">
                Emails in both fields must match
              </div>
            </div>
          </div>
          <div class="grid-row py-3" style="width:93%">
            <div class="col col-md-3">
              <label for="additionalEmail2">Additional Email 2
                <button type="button" class="btn btn-info" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="input-group transactions__filter-multi-input">
                <input type="text" name="additionalEmail2" [formControlName]="'additionalEmail2'" class="form-control"
                  id="additionalEmail2" aria-label="additional Email 2" aria-describedby="additionalEmail2"
                  [ngClass]=" form.get('additionalEmail2')?.invalid &&
                            (form.touched || form.dirty)
                              ? 'input-field-error'
                              : ''">
              </div>
              <div class="text-error text-left"
                *ngIf="form.controls?.additionalEmail2?.errors && form.controls?.additionalEmail2?.errors['email']">
                Must be a valid email address
              </div>
              <div class="text-error text-left"
                *ngIf="form.controls?.confirmAdditionalEmail2?.errors && form.controls?.confirmAdditionalEmail2?.errors['mustMatch']">
                Emails in both fields must match
              </div>
            </div>
            <div class="col col-md-3">
              <label for="confirmAdditionalEmail2">Confirm Additional Email 2
                <button type="button" class="btn btn-info" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="input-group transactions__filter-multi-input">
                <input type="text" name="confirmAdditionalEmail2" [formControlName]="'confirmAdditionalEmail2'"
                  class="form-control" id="confirmAdditionalEmail2" aria-label="confirm AdditionalEmail 2"
                  aria-describedby="confirmAdditionalEmail2" [ngClass]=" form.get('confirmAdditionalEmail2')?.invalid &&
                            (form.touched || form.dirty)
                              ? 'input-field-error'
                              : ''">
              </div>
              <div class="text-error text-left"
                *ngIf="form.controls?.confirmAdditionalEmail2?.errors && form.controls?.confirmAdditionalEmail2?.errors['email']">
                Must be a valid email address
              </div>
              <div class="text-error text-left"
                *ngIf="form.controls?.confirmAdditionalEmail2?.errors && form.controls?.confirmAdditionalEmail2?.errors['mustMatch']">
                Emails in both fields must match
              </div>
            </div>
            <div class="col col-md-1 saveBtnContainer">
                <button type="button" class="btn btn-primary" (click)="updateInfo()" [disabled] = "!isSaveBtnDisabled()">Save</button>
            </div>
            <!-- <div class="grid-row pr-3 mt-3" *ngIf="saveSuccessful"> -->
            <div class="col col-md-3 pt-4" *ngIf="saveSuccessful">
                <div class="alert alert-success">
                    <strong>Your request was successfully saved</strong>
                    <button class="btn float-right pt-0" (click)="saveSuccessful = false;"><i class="close-simple"></i></button>
                </div>
            </div>
          </div>
          <div *ngIf="additionalEmailsArray?.length > 0">
            <div class="grid-row py-3">
              <h3>Added Notification Emails</h3>
            </div>
            <div class="grid-row pt-2">
                <!-- <div class="emailBox border border-dark">
                  <div *ngFor="let emailOnFile of additionalEmailsArray" class="pb-2">
                      <span for="filingPassword">{{emailOnFile}}
                          <button type="button" class="btn text-right" >
                            <i class="trash-icon" aria-hidden="true"></i>
                            <span class="sr-only">Click here to remove email</span>
                          </button>
                      </span>
                  </div>
                </div> -->
                <div >
                  <table class="table borderedTable">
                    <tr *ngFor="let emailOnFile of additionalEmailsArray">
                      <td style="width:550px;">{{emailOnFile}}</td>
                      <td>
                        <button type="button" class="btn text-right" (click)="removeEmail(emailOnFile)">
                            <i class="trash-icon" aria-hidden="true"></i>
                            <span class="sr-only">Click here to remove email</span>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>
        </div>
        
      </form>
    </div> <!-- ./content -->
  </section>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="signee-container" style="padding-left: 0px;padding-right:0px;">
      <div class="modal-header">
          <h2>Certification</h2>
        </div>
        <div class="modal-body">
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="forms__agreement-text">
                <!-- <label class="agreement__text" for="agreement" style="width: 300px;">
                  <p>
                    <input
                    type="checkbox"
                    style="transform: scale(2,2);"
                    id="agreement"
                    name="agreement"
                    value="yes"
                    (change)="updateValidation($event)"/>
                    I am filing this report on behalf of {{treasurerData.treasurer_first_name}} {{treasurerData.treasurer_last_name}} [{{treasurerData.treasurer_email}} - {{treasurerData.treasurer_phone_number}}] 
                    and certify that I have examined this statement and to the best of my knowledge and 
                    belief it is true, correct and complete.
                  </p>
                  <p>
                    In filing this report I also understand that I am filing a legal document with the 
                    U.S. Government and agree to the terms below.
                  </p>
                </label> -->
                <div class="row pb-4">
                  <div class="col col-md-1 py-4">
                    <input
                    type="checkbox"
                    style="transform: scale(2,2);"
                    id="agreement"
                    name="agreement"
                    [(ngModel)]="checked" />
                  </div>
                  <div class="col">
                      I am filing this report on behalf of {{treasurerData.treasurer_first_name}} {{treasurerData.treasurer_last_name}} [{{treasurerData.treasurer_email}} - {{treasurerData.treasurer_phone_number}}] 
                      and certify that I have examined this statement and to the best of my knowledge and 
                      belief it is true, correct and complete.
                      <br><br>
                      In filing this report I also understand that I am filing a legal document with the 
                      U.S. Government and agree to the terms below.
                  </div>
                </div>
                <ngb-accordion #acc="ngbAccordion" (panelChange)="toggleAccordion($event,acc)">
                  <ngb-panel>
                    <ng-template ngbPanelTitle>
                      <span><b>Terms <i [ngClass]="accordionExpanded ? 'down-arrow-icon' : 'up-arrow-icon'"></i></b></span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <p><b>By using this system, you consent to the terms set forth in this notice.</b></p>
                      <ul class="indented">
                        <li> Please be advised that knowingly and willfully making any materially false, fictitious, or fraudulent statement or representation to a federal government agency, including the Federal Election Commission, is punishable under the provisions of 18 U.S.C. § 1001. The Commission may report apparent violations to the appropriate law enforcement authorities. 52 U.S.C. § 30107(a)(9).</li>
                        <li> Unauthorized access, use, or modification of this system or of data contained herein, or in transit to/from this system, may constitute a violation of of 18 U.S.C. § 1001 and other criminal laws.</li>
                        <li> Anyone who accesses a federal computer system without authorization or exceeds access authority, or obtains, alters, damages, destroys, or discloses information, or prevents authorized use of information on the computer system, may be subject to penalties, fines or imprisonment.</li>
                        <li> This computer system and any related equipment is subject to monitoring for administrative oversight, law enforcement, criminal investigative purposes, inquiries into alleged wrong-doing or misuse, and to ensure proper performance of applicable security features and procedures.</li>
                        <li> Federal Election Commission may conduct monitoring activities without further notice.</li>
                        <li> Unauthorized attempts to upload information or change information on this service are strictly prohibited and may be punishable under the Computer Fraud and Abuse Act of 1986 and The National Information Infrastructure Protection Act of 1996.</li>
                      </ul>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!checked">Submit</button>
        </div>
  </div>
</ng-template>