@import '../../scss/global';

.signee-container {
  padding-left: 15px;
  padding-right: 15px;
  .grid-row {
    margin-left: 0;
    margin-right: 0;
    .grid-row__col {
      padding-left: 0;
      padding-right: 0;
      padding-top: 15px;
      padding-bottom: 15px;

      input[type='text'],
          input[type='date'],
          input[type='number']
          input[type='email']
           {
            &.form-control {
              height: 30px;
              padding-left: 5px;
              padding-right: 5px;
              padding-top: 1px;
              padding-bottom: 1px;
            }
            
          }
    }

    input[type='email'] {
      @include make-text-input(180px, 30px, 1em, 1em);
    }
  }


  header {
    .header-container {
      display: block;
      width: 100%;
      border-bottom: 1px solid $bombay;
      padding-bottom: .50em;
      padding-top: .50em;
      margin-bottom: 1em;
      .header__text {
        display: block;
        float: none;
        width: 100%;
        @include media(tablet) {
          display: block;
          float: none;
          width: 100%;
        }
        @include media(mediumDesktop) {
          float: left;
          width: 40%;
        }         
        @include media(largeDesktop) {
          float: left;
          width: 40%;
        }         
      }
      .header__btns {
        float: right;
        @include media(tablet) {
          display: block;
          float: right;
          padding-top: 0;
        }         
        .btn-print-preview {
          @extend .btn-secondary-gray;
          margin-right: 5px;
        }
        .btn-validate {
          @extend .btn-primary;
        }
        .btn {
          padding-top: 10px;
        }
      }
      @include clearfix();
    }
  }
  section {
    .content {
      display: block;
      position: relative;
      width: 100%;
      // padding-left:10%;
      .indented{
				margin-left:10%;
      }
      .emailBox{
        padding-left: 5%;
        padding-right:25%;
        padding-top:1%;
        padding-bottom:1%;
        margin-top:10px;
      }
      .saveBtnContainer{
        position:relative;
        top:30px;
      }
      .grid-col {
				display: block;
				max-width: 100%;
				padding-left: 10px;
				width: 100%;				
				@include media(tablet) {
					display: block;
					padding-left: 10px;
					max-width: 100%;
					width: 100%;
				}
				@include media(mediumDesktop) {
				    flex: 0 0 33.33333333%;
				    max-width: 33.33333333%;
				    min-height: 1px;
				    padding-left: 0;
					position: relative;
					width: 100%;					
				}         
				@include media(largeDesktop) {
				    flex: 0 0 33.33333333%;
				    max-width: 33.33333333%;
				    min-height: 1px;
				    padding-left: 0;
					position: relative;
					width: 100%;				    				
				} 
				.label {
					font-family: $mainFontFamily;
					font-weight: bold;
					margin: 1em;
					margin-left: 0;
				}				
				.text {
					font-family: $mainFontFamily;
					margin-bottom: 1em;
					margin-right: .75em;
				}
			} // .grid-col
			.grid-row__col {
				.text-content {
		          ol,
		          ul {
		              display: block;
		              margin-block-start: 1em;
		              margin-block-end: 1em;
		              margin-inline-start: 0px;
		              margin-inline-end: 0px;
		              padding-inline-start: 40px;            
		          }					
				}			
			}
      .validate__form {
        &.show-alerts {
          display: block;
          @include media(tablet) {
            display: block;
          }
          @include media(mediumDesktop) {
            display: none;
          }         
          @include media(largeDesktop) {
            display: none;
          }           
        }
        background-color: $bombay;
        display: none;
        height: 80px;
        margin-top: 10px;
        width: 100%;
        @include media(tablet) {
          background-color: $bombay;
          display: none;
          height: 80px;
          margin-top: 10px;
          width: 100%;        
        }
        @include media(mediumDesktop) {
          display: none;
        }         
        @include media(largeDesktop) {
          display: none;
        }         
      }      
      form {
        .form1-link {
          color: $dodgerBlue;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .additional-email__field {
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          input[type='email'] {
            @include make-text-input(300px, 1.5em, 1em, 1em);
          }
          .error {
            margin-top: 5px;
          }
        }
        footer {
        }
      }
      .tooltip-inner {
        text-align: left;
      }
    }
  }

  .card {
    margin-bottom: 20px;
    width:95%;
  }
  
  .card .card-header.active > a > span {
    color: #1d2124;
    width:95%;
  }
  
  .btn-link:hover{
    color:black;
  }
  
  ul{
    padding-left:10%;
  }
  li{
    padding-bottom: 20px;
  }
  .forms__agreement-text{
    padding-right:5%;
    padding-left:5%;
  }
  .btn.btn-primary[disabled] {
    background-color: $shuttleGray;
    border-color: $shuttleGray;
  }
  .borderedTable {
    width: 550px;
    margin-bottom: 1rem;
    color: #212529;
    border: 1px solid black;
    height:30px;
  }
  .alert {
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
} // .signee-container

.custom-class .modal-content .modal-header {
  // color: black;
  background-color:$blueZodiac;
}