<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadItem(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtOrg let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadOrgItem(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCommitteeId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCommitteeId(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCandidateId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCandidateId(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCommitteeName let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCommitteeName(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCandidate let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCandidate(r)" [term]="t"></ngb-highlight>
</ng-template>
<div class="sched-h5-container">
  <form [formGroup]="schedH5">
    <header>
      <div class="header-content">
        <div class="float-left">
          <h2 *ngIf="transactionType === 'ALLOC_H5_RATIO'">
            Transfers of Levin Funds Received for Allocated Federal Election Activity
            <ng-container *ngIf="scheduleAction === editScheduleAction"> / Edit </ng-container>
          </h2>
          <h2 *ngIf="transactionType === 'ALLOC_H5_SUM'">
            Transfers from Levin Funds for Allocated Federal Election Activity
          </h2>
          <h2 *ngIf="transactionType === 'ALLOC_H5_SUM_P'">
            Total For Breakdown of Transfers Received - Levin Funds
          </h2>
        </div>
        <div class="float-right" ngbDropdown>
          <button type="button" class="btn btn-link btn-options" id="dropdownBasic2" ngbDropdownToggle>
            <span class="ellipsis-icon" aria-hidden="true"></span>
            <span class="sr-only">Click for more options</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="printCurrentTransaction()" *ngIf="false"><i class="print-icon"></i> Print</button>
            <button class="dropdown-item">
              <i class="file-import-icon" (click)="ImportTransactions()"></i> Import
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
    </header>

    <!-- Page - body (before table) -->
    <ng-container>
      <section *ngIf="transactionType === 'ALLOC_H5_RATIO'">
        <div [hidden]="showPart2" class="paragraph">
          <div class="row">
            <div class="col col-md-4">
              <div class="form-group">
                <label for="account_name">
                  Account Name
                  <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                    <i class="info-icon" aria-hidden="true"></i>
                    <span class="sr-only">Click here for more information</span>
                  </button>
                </label>
                <select id="" formControlName="account_name" class="form-control" [ngClass]="
                    schedH5.get('account_name')?.invalid && (schedH5.touched || schedH5.dirty) && isSubmit
                      ? 'input-field-error'
                      : ''
                  ">
                  <option value="" selected>Select account name</option>
                  <option *ngFor="let item of levinAccountsies" [value]="item.levin_account_name">
                    {{ item.levin_account_name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col col-md-4">
              <div class="form-group">
                <label for="">
                  Date
                  <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                    <i class="info-icon" aria-hidden="true"></i>
                    <span class="sr-only">Click here for more information</span>
                  </button>
                </label>
                <div class="row input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="filter-max-amount">
                      <i class="calendar-icon" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input class="form-control" type="date" [formControlName]="'receipt_date'" [attr.name]="'receipt_date'"
                    [style.width]="'50%'" [style.height]="'30px'" (change)="receiptDateChanged($event.target.value)"
                    [ngClass]="
                      schedH5.get('receipt_date')?.invalid && (schedH5.touched || schedH5.dirty)
                        ? 'input-field-error'
                        : ''
                    " />
                </div>
                <div class="text-error text-left" *ngIf="receiptDateErr">
                  The date entered falls outside of the report coverage period. Transactions for this report should fall
                  within {{ cvgStartDate }} and {{ cvgEndDate }} (Coverage Dates of Report). If you need to add a
                  transaction with a date that falls outside of the coverage period for this report, you will need to
                  check the memo code box.
                </div>
              </div>
            </div>
            <div class="col col-md-4">
              <div class="form-group">
                <label for="">
                  Total Amount of Transfer
                  <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                    <i class="info-icon" aria-hidden="true"></i>
                    <span class="sr-only">Click here for more information</span>
                  </button>
                </label>
                <div class="row input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="filter-max-amount">
                      <i class="dollar-sign-icon" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input class="form-control" type="text" [formControlName]="'total_amount_transferred'"
                    [attr.name]="'total_amount_transferred'" [style.width]="'50%'" [style.height]="'30px'"
                    [attr.readonly]="true" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-6 col-md-offset-2">
              <div class="form-group">
                <label for=""> </label>
  
                <select id="" formControlName="category" class="form-control" (change)="selectCategoryChange($event)">
                  <option value="" selected>Select Category</option>
                  <option *ngFor="let category of categories" [value]="category.id">
                    {{ category.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-4">
              <div class="form-group">
                <label for="">
                  Amount
                  <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                    <i class="info-icon" aria-hidden="true"></i>
                    <span class="sr-only">Click here for more information</span>
                  </button>
                </label>
                <div class="row input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="filter-max-amount">
                      <i class="dollar-sign-icon" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input class="form-control" type="text" [formControlName]="'transferred_amount'"
                    [attr.name]="'transferred_amount'" [style.width]="'50%'" [style.height]="'30px'"
                    (blur)="handleOnBlurEvent($event, col)" [ngClass]="
                      schedH5.get('transferred_amount')?.invalid && (schedH5.touched || schedH5.dirty) && (!isSaveAndAdd)
                        ? 'input-field-error'
                        : ''
                    " />
                </div>
                <div class="text-error text-left" *ngIf="transferredAmountErr">
                  Please enter a valid amount.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-container>

    <!-- Pagination - selection -->
    <ng-container>
      <section *ngIf="transactionType === 'ALLOC_H5_SUM'">
        <div class="grid-row d-flex justify-content-between sched-h5__page-range">
          <div class="d-flex ml-3" *ngIf="showPageSizes()">
            <div class="d-inline mr-1 my-auto text-muted">Items per page:</div>
            <ng-select #pageNumber [items]="pageSizes" [clearable]="false" [hideSelected]="true"
              (change)="onMaxItemsPerPageChanged($event)" [(ngModel)]="maxItemsPerPage" class="border border-light"
              [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div>
          <div class="d-flex ml-3 my-2" *ngIf="!showPageSizes()">
            <div class="d-inline mr-1 my-auto text-muted">No record found</div>
          </div>
          <div class="sched-h5__item-range" *ngIf="showPageSizes()">
            {{determineItemRange()}} of {{config.totalItems}}
          </div>
        </div>
      </section>
    </ng-container>

    <!-- Page - body (table) -->
    <ng-container>
      <section *ngIf="transactionType === 'ALLOC_H5_RATIO' && 1===0">
        <div *ngIf="scheduleAction !== editScheduleAction">
          <ng-container>
            <table class="table table-striped table-hover table__sortable">
              <thead>
                <tr>
                  <th></th>
                  <th (click)="changeSortDirection('date')">
                    Date
                    <i class="fa fa-sort" aria-hidden="false"></i>
                  </th>
                  <th (click)="changeSortDirection('transfer_type')">
                    Transfer Type
                    <i class="fa fa-sort" aria-hidden="false"></i>
                  </th>
                  <th (click)="changeSortDirection('account_name')">
                    Account Name
                    <i class="fa fa-sort" aria-hidden="false"></i>
                  </th>
    
                  <th (click)="changeSortDirection('transfer_amount')">
                    Transfer Amount
                    <i class="fa fa-sort" aria-hidden="false"></i>
                  </th>
                  <!-- <th  (click)="changeSortDirection('federal_percent')">Aggregate Amount -->
                  <!-- <i class="fa fa-sort" aria-hidden="false"></i> -->
                  <!-- </th> -->
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of h5Entries | paginate: config">
                  <tr>
                    <td>
                      <input type="checkbox" (click)="checkForMultiChecked($event)" />
                    </td>
                    <td>{{ item.receipt_date | date: 'MM/dd/yyyy' }}</td>
                    <td>
                      <div *ngIf="item.category == 'voter_id'">Voter ID</div>
                      <div *ngIf="item.category == 'voter_registration'">Voter Registration</div>
                      <div *ngIf="item.category == 'generic_campaign'">Generic Campaign Activities</div>
                      <div *ngIf="item.category == 'gotv'">GOTV</div>
                    </td>
                    <td>{{ item.account_name }}</td>
                    <td class="summary_text_amt">
                      {{ item.transferred_amount }}
                    </td>
                    <td class="bulk_action">
                      <div class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
                        <button class="btn btn-sm btn-primary" ngbDropdownToggle>
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div id="forms__trx-dropdown-action1" ngbDropdownToggle class="dropdown-menu" ngbDropdownMenu>
                          <button class="dropdown-item" (click)="editH5Sub(item)"><i class="fas fa-edit"></i>
                            Edit</button>
                          <button class="dropdown-item" (click)="trashSubTransaction(item)"><i class="fas fa-trash"></i>
                            Trash</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </ng-container>
        </div>
      </section>
    
      <section *ngIf="transactionType === 'ALLOC_H5_SUM'">
        <ng-container>
          <table class="table table-striped table-hover table__sortable">
            <thead>
              <tr>
                <th></th>
                <th (click)="changeSortDirection('date')">
                  Date
                  <i class="fa fa-sort" aria-hidden="false"></i>
                </th>
                <th (click)="changeSortDirection('transfer_type')">
                  Transfer Type
                  <i class="fa fa-sort" aria-hidden="false"></i>
                </th>
                <th (click)="changeSortDirection('account_name')">
                  Account Name
                  <i class="fa fa-sort" aria-hidden="false"></i>
                </th>
    
                <th (click)="changeSortDirection('transfer_amount')">
                  Transfer Amount
                  <i class="fa fa-sort" aria-hidden="false"></i>
                </th>
                <!-- <th  (click)="changeSortDirection('federal_percent')">Aggregate Amount -->
                <!-- <i class="fa fa-sort" aria-hidden="false"></i> -->
                <!-- </th> -->
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let report of h5Sum | paginate: config">
                <tr>
                  <td>
                    <input type="checkbox" (click)="checkForMultiChecked($event)" />
                  </td>
                  <!-- <td> -->
                  <!-- <div *ngIf="report.event_type == 'fundraising'">Fundraising</div> -->
                  <!-- <div *ngIf="report.event_type == 'direct_cand_suppot'">Direct Candidate Suppot</div> -->
                  <!-- </td>  -->
                  <!-- <td>{{ report.activity_event_name }}</td> -->
                  <td>{{ report.receipt_date | date: 'MM/dd/yyyy' }}</td>
                  <td>{{ report.transfer_type }}</td>
                  <td>{{ report.account_name }}</td>
                  <td class="summary_text_amt">{{ report.transfer_amount | currency: 'USD':'symbol-narrow':'1.2-2' }}</td>
                  <!-- <td class="summary_text_amt">{{ report.aggregateAmount | currency:'USD':'symbol-narrow':'1.2-2' }}</td> -->
    
                  <td class="bulk_action">
                    <div class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
                      <button class="btn btn-sm btn-primary" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-h"></i>
                      </button>
    
                      <div id="forms__trx-dropdown-action1" ngbDropdownToggle class="dropdown-menu" ngbDropdownMenu>
                        <button class="dropdown-item" (click)="editH5(report)"><i class="fas fa-edit"></i> Edit</button>
                        <button class="dropdown-item" (click)="printTransaction(report)"><i class="fas fa-print"></i>
                          Print</button>
                        <button class="dropdown-item" (click)="trashTransaction(report)"><i class="fas fa-trash"></i>
                          Trash</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
      </section>
    
      <section *ngIf="transactionType === 'ALLOC_H5_SUM_P'">
        <div id="sumary">
          <table class="table table-striped summary_table_text">
            <thead>
              <tr class="summary_text_amt_level_1">
                <th>
                  <h3>Categories</h3>
                </th>
                <th>
                  <h3>Breakdown of Transfer Received</h3>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let report of h5SumP">
                <tr>
                  <td class="summary_text_level_3" [ngClass]="report.category === 'This Period (Total Amount of Transfer Received)' ?
                      'totalRow' : 'summary_text_level_3'">
                    {{ report.category }}
                    <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                      <i class="info-icon" aria-hidden="true"></i>
                      <span class="sr-only">Click here for more information</span>
                    </button>
                  </td>
    
                  <td class="summary_text_amt" [ngClass]="report.category === 'This Period (Total Amount of Transfer Received)' ?
                      'totalRow' : 'summary_text_level_3'">{{ report.amount | currency:'USD':'symbol-narrow':'1.2-2' }}
                  </td>
    
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </section>
    </ng-container>

    <!-- Pagination - paging -->
    <ng-container>
      <section *ngIf="(transactionType === 'ALLOC_H5_RATIO' && scheduleAction !== editScheduleAction) || (transactionType === 'ALLOC_H5_SUM')">
        <hr />
        <div *ngIf="showPagination()" class="d-flex justify-content-center sched-h5__table-pagination-container">
          <div class="my-auto">
            <pagination-controls [id]="config.id" (pageChange)="getPage($event)" [maxSize]="paginationControlsMaxSize">
            </pagination-controls>
          </div>
          <div *ngIf="pageNumbers.length > 1" class="d-flex ml-1">
            <div class="mr-1 my-auto text-muted">Go to page:</div>
            <ng-select #pageNumber [items]="pageNumbers" [clearable]="false" [hideSelected]="true"
              (change)="onGotoPageChange($event)" [(ngModel)]="config.currentPage" class="border border-light" 
              [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div>
        </div>
      </section>
    </ng-container>

    <!-- Page - footer -->
    <ng-container>
      <section *ngIf="transactionType === 'ALLOC_H5_RATIO'">
        <footer>
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="forms__btn-container">
                <div *ngIf="scheduleAction === addScheduleAction">
                  <button class="btn btn-previous btn-left" type="button" (click)="previousStep()">
                    Previous
                  </button>
                  <button *ngIf="scheduleAction !== viewScheduleAction" class="btn btn-secondary btn-right" type="button" [disabled]="saveAndAddDisabled"
                    (click)="saveAddMore()">
                    Save &amp; Add Transaction
                  </button>
                  <a class="btn btn-previous btn-right" (click)="goSummary()">
                    Summary
                  </a>
                </div>
                <div *ngIf="scheduleAction === editScheduleAction">
                  <button class="btn btn-previous btn-left" type="button" (click)="cancelReturnToSum()">
                    Cancel
                  </button>
                  <button class="btn btn-secondary btn-right" type="button" (click)="saveEdit()">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </section>

      <section *ngIf="transactionType === 'ALLOC_H5_SUM'">
        <footer>
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="forms__btn-container">
                <button class="btn btn-previous btn-left" type="button" (click)="previousStep()">
                  Previous
                </button>
  
                <button class="btn btn-previous btn-right" type="button" (click)="returnToAdd()">
                  Add
                </button>
              </div>
            </div>
          </div>
        </footer>
      </section>

      <section *ngIf="transactionType === 'ALLOC_H5_SUM_P'">
        <footer>
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="forms__btn-container">
                <button class="btn btn-previous btn-left" type="button" (click)="previousStep()">
                  Previous
                </button>
              </div>
            </div>
          </div>
        </footer>
      </section>
    </ng-container>
  </form>
</div>
