@import '../../../shared/scss/global';

.forms__wizard {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;  
  .form__alerts {
    background-color: $bombay;
    &.show-alerts {
      display: none;
      padding-left: 0;
      @include media(tablet) {
        display: none;
        padding-left: 0;
      }
      @include media(mediumDesktop) {
        width: 250px;         
      }         
      @include media(largeDesktop) {
        width: 250px; 
      }         
    }    
    @include media(tablet) {
      display: block;
      height: 40px;
      width: 100%;
    }
    @include media(mediumDesktop) {
      display: inline-block;
      float: left;
      min-height: 100%;
      position: relative;
      width: 100px;      
    }         
    @include media(largeDesktop) {
      display: inline-block;
      float: left;
      min-height: 100%;
      position: relative;
      width: 100px;      
    }             
  }  
  .form__steps {
    display: block;
    margin: 0 auto;
    width: 100%;
    @include clearfix();
  }
  .form__container {
    height: 100vh;
    float: left;
    margin-left: 5px;
    width: 90%;
    &.show-alerts {
      padding-left: 0;
      @include media(tablet) {
        padding-left: 0;
      }
      @include media(mediumDesktop) {
        margin-left: 5px;
        width: 76%;         
      }         
      @include media(largeDesktop) {
        margin-left: 5px;
        width: 76%; 
      }         
    }      
    .form__content {
      width: 100%;    
    }
  } // .form__container
  @include clearfix();
}
