@import '../../../shared/scss/global';

.forms__wizard {
  height: 100%;
  margin: 0 auto;
  width: 96%;
  @include media(tablet) {
  
  }
  @include media(mediumDesktop) {
  
  }         
  @include media(largeDesktop) {
  
  }   
  @include clearfix();
  .form__steps {
    display: block;
    margin: 0 auto;
    width: 100%;
    @include clearfix();
  }
  .form__container {
    display: block;
    height: 100%;
    width: 100%;
    .form__content {
      float: left;
      padding-left: 4%;
      width: 100%;
      @include media(tablet) {
        padding-left: 2%;
      }
      @include media(mediumDesktop) {
        padding-left: 0;
      }         
      @include media(largeDesktop) {
        padding-left: 0;
      }       
    }
  } // .form__container
}
