.reports__filter-type-option {
  margin-bottom: 15px;
  padding: 4px;
}

.selected_row {
  border-color: #80bdff;
  outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	border-radius: 1px;
}