<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadItem(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtOrg let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadOrgItem(r)" [term]="t"></ngb-highlight>
</ng-template>

<div class="add_new_loan-container">
  <form [formGroup]="frmLoan" *ngIf="frmLoan">
    <header>
      <div class="header-content">
        <h2>
          Form {{formType}} / Loans / Schedule-C Loan
        </h2>
        <br />
      </div>

      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <div class="forms__btn-container">
            <br />
            <br />
          </div>
        </div>
      </div>
    </header>
    <section>
      <ng-container *ngFor="let hiddenField of hiddenFields">
        <input type="hidden" [name]="hiddenField?.name" [value]="hiddenField?.value" />
      </ng-container>
      <ng-container *ngFor="let row of formFields; let i = index">
        <div class="row" *ngIf="row.cols">
          <ng-container *ngIf="row.cols | isArray">
            <ng-container *ngFor="let col of row.cols">
              <div [class]="determineColClass(row, col)" *ngIf="isToggleShow(col)">
                <div class="form-group" [style.width]="setSelectTypeWidth(col)">
                  <label [for]="col?.name">
                    {{ col?.text }}
                    <div type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip"
                      *ngIf="col?.infoIcon">
                      <i class="info-icon" aria-hidden="true"></i>
                      <span class="sr-only">Click here for more information</span>
                    </div>
                    <ng-container *ngIf="!col?.validation?.required && col?.name !== 'loan_balance'  && 
                      col?.name !== 'loan_payment_to_date' ">
                      (Optional)
                    </ng-container>
                  </label>
                  <ng-container *ngIf="col?.type === 'text' || col?.type === 'date'">
                    <div [ngClass]="{ 'input-group': col?.inputGroup }">
                      <ng-container *ngIf="col?.inputGroup">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i [class]="col?.inputIcon" aria-hidden="true"></i>
                          </span>
                        </div>

                      </ng-container>
                      <!-- [attr.readonly]="isReadOnly(col?.name, col.type)" -->
                      <input *ngIf="col?.name !== 'first_name' 
                          && col?.name !== 'last_name'
                          && col?.name !== 'entity_name' && col?.name !== 'loan_due_date'" class="form-control" [style.width]="col?.width"
                        [style.height]="col?.height" [attr.type]="col?.type" [attr.name]="col?.name"
                        [attr.readonly]="isFieldReadOnly(col)" [attr.value]="col?.value"
                        [maxlength]="col?.name === 'loan_amount_original' ? null : col?.validation?.max"
                        [formControlName]="col?.name"
                        (blur)="col?.name === 'loan_amount_original' ? contributionAmountChange($event) : null"
                        [ngClass]="frmLoan.get(col?.name)?.invalid &&
                        (frmLoan.touched || frmLoan.dirty)
                          ? 'input-field-error'
                          : ''" />
                      <input *ngIf="col?.name === 'last_name'" class="form-control" [style.width]="col?.width"
                        [style.height]="col?.height" [attr.type]="col?.type" [attr.name]="col?.name"
                        [attr.value]="col?.value" [maxlength]="col?.validation?.max" [formControlName]="col?.name"
                        [ngClass]="
                        frmLoan.get(col?.name)?.invalid &&
                        (frmLoan.touched || frmLoan.dirty)
                          ? 'input-field-error'
                          : ''
                      " id="typeahead-template-last-name" [ngbTypeahead]="searchLastName" [focusFirst]=false 
                        [resultTemplate]="rt"
                        [inputFormatter]="formatterLastName" (selectItem)="handleSelectedItem($event)" />
                      <input *ngIf="col?.name === 'first_name'" class="form-control" [style.width]="col?.width"
                        [style.height]="col?.height" [attr.type]="col?.type" [attr.name]="col?.name"
                        [attr.value]="col?.value" [maxlength]="col?.validation?.max" [formControlName]="col?.name"
                        [ngClass]="
                        frmLoan.get(col?.name)?.invalid &&
                        (frmLoan.touched || frmLoan.dirty)
                          ? 'input-field-error'
                          : ''
                      " id="typeahead-template-first-name" [ngbTypeahead]="searchFirstName" [focusFirst]=false
                        [resultTemplate]="rt"
                        [inputFormatter]="formatterFirstName" (selectItem)="handleSelectedItem($event)" />

                      <input *ngIf="col?.name === 'entity_name'" class="form-control" [style.width]="col?.width"
                        [style.height]="col?.height" [attr.type]="col?.type" [attr.name]="col?.name"
                        [attr.value]="col?.value" [maxlength]="col?.validation?.max" [formControlName]="col?.name"
                        [ngClass]="
                      frmLoan.get(col?.name)?.invalid &&
                      (frmLoan.touched || frmLoan.dirty)
                        ? 'input-field-error'
                        : ''
                    " id="typeahead-template-entity-name" [ngbTypeahead]="searchOrg" [resultTemplate]="rtOrg"
                      [focusFirst]=false [inputFormatter]="formatterOrgName" (selectItem)="handleSelectedOrgItem($event)" />
                      <input *ngIf="col?.name === 'loan_due_date'" class="form-control" [style.width]="col?.width"
                        [style.height]="col?.height" [attr.type]="dueDateType" [attr.name]="col?.name"
                        [attr.value]="col?.value" [maxlength]="col?.validation?.max" [formControlName]="col?.name"
                        [ngClass]="
                        frmLoan.get(col?.name)?.invalid &&
                        (frmLoan.touched || frmLoan.dirty)
                          ? 'input-field-error'
                          : ''
                      " id="loan_due_date" (keyup)="dueDateChanged($event)" />
                    </div>
                    <div class="error-text" *ngIf="
                      (frmLoan.touched || frmLoan.dirty) &&
                      frmLoan.get(col?.name).invalid
                    ">
                      <ng-container *ngIf="frmLoan.get(col?.name).errors?.maxlength">
                        <div class="text-error text-left" *ngIf="
                          frmLoan.get(col?.name).errors.maxlength?.requiredLength <
                          frmLoan.get(col?.name).errors.maxlength?.actualLength
                        ">
                          Only {{ frmLoan.get(col?.name).errors.maxlength?.requiredLength }} characters
                          allowed.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmLoan.get(col?.name)?.errors['nonValidAmount']">
                        <div class="text-error text-left">
                          Please enter a valid amount.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmLoan.get(col?.name).errors">
                        <div class="text-error text-left" *ngIf="frmLoan.get(col?.name).errors?.nonAlphaNumeric">
                          Alphanumeric characters only.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmLoan.get(col?.name).errors">
                        <div class="text-error text-left" *ngIf="frmLoan.get(col?.name).errors?.nonFloatingPoint">
                          Only numerical values are allowed.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmLoan.get(col?.name).errors">
                        <div class="text-error text-left"
                          *ngIf="frmLoan.get(col?.name).errors['contributionDateInvalid']">
                          The date entered falls outside of the report coverage period. Transactions for this report
                          should fall within {{ cvgStartDate }} and {{ cvgEndDate }} (Coverage Dates of Report). If you
                          need to add a transaction with a date that falls outside of the coverage period for this
                          report, you will need to check the memo code box.
                        </div>
                      </ng-container>


                    </div>
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'checkbox'">
                    <input class="form-control" [style.width]="col?.width" [style.height]="col?.height"
                      [attr.type]="col?.type" [attr.name]="col?.name" [attr.value]="col?.value"
                      [checked]="col?.name === 'memo_code' ? memoCode : null" [formControlName]="col?.name"
                      (change)="col?.name === 'memo_code' ? memoCodeChange($event) : null" [ngClass]="
                      frmLoan.get(col?.name)?.invalid &&
                      (frmLoan.touched || frmLoan.dirty)
                        ? 'input-field-error'
                        : ''
                    " />
                    <!--div ng-repeat="electionType in electionTypes">
                      <input type="checkbox" 
                        ng-model="electionTypesSelected[electionType.name]" 
                        ng-change="electionTypeChanged()" 
                        ng-required="!someSelected" /> 
                        {{electionType.name}}
                    
                    <div *ngFor=”let electionType of electionTypes; let i=index”>
                        <input type=”checkbox” [formControl]="electionType"/> {{electionType.name}}
                       </div></div>-->
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'textarea'">
                    <textarea [style.height]="col?.height" [style.width]="col?.width"
                      [style.overflow]="col.scroll ? col.scroll : null" [attr.name]="col?.name"
                      [attr.maxlength]="col?.validation?.max" [formControlName]="col?.name"></textarea>
                  </ng-container>


                  <!--<ng-container *ngIf="col?.type === 'select' && 
                    (isFieldName(col?.name, 'state') ||
                    isFieldName(col?.name, 'cand_office_state'))">
                  <ng-select #stateSelect [items]="states" (change)="handleStateChange($event, col)"
                    class="state-select" [formControlName]="col?.name" bindValue="code" bindLabel="code" [ngClass]="
                    frmLoan.get(col?.name)?.invalid &&
                        (frmLoan.touched || frmLoan.dirty)
                          ? 'state-select-error'
                          : ''
                      ">
                    <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                      <span>{{ item.code + ' - ' + item.name }}</span>
                    </ng-template>
                  </ng-select>
                </ng-container> -->

                  <ng-container *ngIf="col?.type === 'select' && 
                    (isFieldName(col?.name, 'state') ||
                    isFieldName(col?.name, 'cand_office_state'))">
                    <ng-select #stateSelect [items]="states" (change)="handleStateChange($event, col)"
                      class="forms__select" [formControlName]="col?.name" bindValue="code" bindLabel="code"
                      [selectOnTab]="true" [ngClass]="
                          frmLoan.get(col?.name)?.invalid &&
                          (frmLoan.touched || frmLoan.dirty)
                            ? 'forms__select-error'
                            : ''
                        ">
                      <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                        <span>{{ item.code + ' - ' + item.name }}</span>
                      </ng-template>
                    </ng-select>
                  </ng-container>

                  <ng-container *ngIf="col?.type === 'select' && col?.name === 'entity_type'">
                    <ng-select #entityTypeSelect [items]="entityTypes" (change)="handleTypeChange($event, col)"
                      [style.width]="col?.width" [style.height]="col?.height" [formControlName]="col?.name"
                      bindValue="code" bindLabel="name" [ngClass]="
                      frmLoan.get(col?.name)?.invalid &&
                      (frmLoan.touched || frmLoan.dirty)
                        ? 'forms__select-error'
                        : ''
                    ">
                    </ng-select>
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'select' && col?.name === 'secured'">
                    <ng-select #securedSelect id="secured" [items]="secured" [style.width]="col?.width"
                      [style.height]="col?.height" [formControlName]="col?.name" bindValue="code" bindLabel="name"
                      [ngClass]="
                    frmLoan.get(col?.name)?.invalid &&
                    (frmLoan.touched || frmLoan.dirty)
                      ? 'forms__select-error'
                      : ''
                  ">
                    </ng-select>
                  </ng-container>

                  <!-- <ng-container *ngIf="col?.type === 'select' && col?.name === 'election_code'">
                <ng-select #electioncodeSelect
                  id="election"
                  [items]="electionTypes"
                  (change)="electionTypeChanged($event, col)"
                  [style.width]="col?.width"
                  [style.height]="col?.height"
                  [formControlName]="col?.name"
                  bindValue="code"
                  bindLabel="name" 
                  [ngClass]="
                    frmLoan.get(col?.name)?.invalid &&
                    (frmLoan.touched || frmLoan.dirty)
                      ? 'forms__select-error'
                      : ''
                  ">
                    </ng-select>
                  </ng-container> -->
                </div>
              </div>
            </ng-container>
            <!-- ./col -->
          </ng-container>
        </div>
        <!-- ./row -->
        <ng-container *ngIf="row.seperator">
          <div class="row">
            <div class="col-md-12">
              <hr />
            </div>
          </div>
        </ng-container>
      </ng-container>
      <div class="row">
        <div class="col" *ngIf="frmLoan.get('entity_type').value === 'ORG'">Please provide your paper Loan agreement by
          filing form 99 in the C1 Agrrement</div>
      </div>
    </section>

    <footer>
      <footer>

        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="forms__btn-container">
              <br />
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="forms__btn-container">
              <ng-template *ngIf="scheduleAction === editScheduleAction; then editButtons; else addButtons">
              </ng-template>
              <ng-template #addButtons>
                <button class="btn btn-previous btn-left" type="button" (click)="previousStep()">
                  Previous
                </button>
                <button class="btn btn-secondary btn-right" type="button" (click)="onSaveLoan()">
                  {{frmLoan?.get('entity_type')?.value === 'ORG' ? 'Next' : 'Save'}}
                </button>
                <button *ngIf="frmLoan?.get('entity_type')?.value === 'ORG'" class="btn btn-secondary btn-right" type="button"
                (click)="onSaveLoan('endorser')"
                >
                Endorser
              </button>
              <!-- <button  class="btn btn-secondary btn-right" type="button"
              (click)="_goToEndorserSummary()"
              >
              Endorser Summary
            </button> -->
              <!-- (click)="_goToEndorser()" -->
                <button class="btn btn-secondary btn-right" type="button" (click)="onSaveLoan('loanRepayment')">
                  Loan Repayment
                </button>
              </ng-template>
              <ng-template #editButtons>
                <button class="btn btn-previous btn-left" type="button" (click)="viewTransactions()">
                  Cancel
                </button>
                <button class="btn btn-secondary btn-right" type="button" (click)="onSaveLoan()">
                  {{frmLoan?.get('entity_type')?.value === 'ORG' ? 'Next' : 'Save'}}
                </button>
                <button *ngIf="frmLoan?.get('entity_type')?.value === 'ORG'" class="btn btn-secondary btn-right" type="button"
                (click)="onSaveLoan('endorser')">
                  Endorser
                </button>
                <!--  (click)="_goToEndorser()" -->
                <button class="btn btn-secondary btn-right" type="button" (click)="onSaveLoan('loanRepayment')">
                  Loan Repayment
                </button>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="forms__btn-container">
              <br />
            </div>
          </div>
        </div>
      </footer>
    </footer>


  </form>
</div>