<div class="reason-container">
  <form
    [formGroup]="frmReason"
    (ngSubmit)="doValidateReason()"
  >
    <header>
      <div class="header-container">
        <div class="header__text">
          <h1 class="text-left" *ngIf="!typeSelected">
            Form 99
          </h1>
          <h1 class="text-left" *ngIf="typeSelected">
            Form 99 / {{ typeSelected }}
          </h1>
        </div>
        <div class="header__btns">
          <button
            type="button"
            class="btn btn-print-preview"
            (click)="printPreview()"
          >
            Print Preview
          </button>
          <button
            type="button"
            class="btn btn-validate"
            (click)="validateForm()"
          >
              Validate
            </button>
        </div>
      </div>
    </header>
    <section>
      <div class="content">
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="validate__form" [ngClass]="showValidateBar === true ? 'show-alerts' : ''">
              <app-validate></app-validate>
            </div>            
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <b>Enter your text*</b>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12"
            *ngIf="(frmReason.invalid && (frmReason.dirty || frmReason.touched)) || (reasonFailed)">
            <div class="text-error text-center" *ngIf="frmReason.controls.reasonText.errors?.required">
              You must enter a reason.
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="text-editor">
              <textarea 
                placeholder="Enter text here..."
                (keyup)="updateValidation()"
                formControlName="reasonText"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="editor-character-count">
              {{ characterCount }}
              characters
            </div>
            <div class="error-text"
              *ngIf="frmReason.invalid && (frmReason.dirty || frmReason.touched)">
              <div class="text-error text-center" 
                *ngIf="frmReason.controls.reasonText.errors?.requiredLength">
                You can only enter up to 20,000 characters.
              </div>
            </div>
            <div class="error-text">
              <div class="text-info text-center"
                *ngIf="frmReason.valid && (frmReason.dirty || frmReason.touched) && formSaved">
                Form 99 has been successfully saved.
              </div>
            </div>
          </div>
        </div>        
      </div> <!-- ./content -->
    </section>
    <footer>
      <div class="grid-row btn-row">
        <div class="grid-row__col--12">
          <hr />
          <button 
            class="btn btn-secondary btn-right" 
            type="button"
            (click)="saveForm()"
            [disabled]="frmReason.controls.reasonText.errors?.requiredLength"
          >
            Save 
          </button>     
        </div>
      </div> 
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--6">
            <button 
              class="btn btn-previous btn-left" 
              type="button"
              (click)="previousStep()"
            >
              Previous 
            </button>          
        </div>
        <div class="grid-row__col grid-row__col--6">
            <button 
              class="btn btn-primary btn-right" 
              type="submit"
              [disabled]="frmReason.controls.reasonText.errors?.requiredLength"
            > 
              Next
            </button>          
        </div>
      </div> 
    </footer>
  </form>
</div> <!-- ./reason-container -->
