@import '../../../shared/scss/global';

.reason-container {
  display: block;
  height: 100%;
  hr {
    margin: 0 auto 5px auto;
    width: 99%;
  }
  .grid-row {
    margin-left: 0;
    margin-right: 0;
    .grid-row__col {
      padding-left: 0;
      padding-right: 0;
    }
  }
  header {
    .header-container {
      display: block;
      width: 100%;
      border-bottom: 1px solid $bombay;
      padding-bottom: .75em;
      margin-bottom: 1em;
      .header__text {
        float: none;
        display: block;
        font-size: 0.85em;
        width: 100%;
        @include media(tablet) {
          float: none;
          font-size: 0.85em;
          display: block;
          width: 100%;
        }
        @include media(mediumDesktop) {
          float: left;
          font-size: 1em;
          width: 50%;
        }
        @include media(largeDesktop) {
          float: left;
          font-size: 1em;
          width: 50%;
        }
      }
      .header__btns {
        float: right;
        @include media(tablet) {
          display: block;
        }
        .btn-print-preview {
          @extend .btn-secondary-gray;
          margin-right: 5px;
        }
        .btn-validate {
          @extend .btn-primary;
        }
        .btn {
          padding-top: 10px;
        }
      }
      @include clearfix();
    }
  }
  section {
    .content {
      display: block;
      width: 100%;
      .info-row {
        padding-top: 15px;
        padding-right: 25px;
      }
      .validate__form {
        &.show-alerts {
          display: block;
          @include media(tablet) {
            display: block;
          }
          @include media(mediumDesktop) {
            display: none;
          }
          @include media(largeDesktop) {
            display: none;
          }
        }
        background-color: $bombay;
        display: none;
        height: 80px;
        margin-top: 10px;
        width: 100%;
        @include media(tablet) {
          background-color: $bombay;
          display: none;
          height: 80px;
          margin-top: 10px;
          width: 100%;
        }
        @include media(mediumDesktop) {
          display: none;
        }
        @include media(largeDesktop) {
          display: none;
        }
      }
      .html-editor {
        position: relative;
        width: 100%;
        .toolbar {
        }
        .editor {
          width: -webkit-fill-available;
          border: 1px solid black;
          box-shadow: 0 0.1rem 0.4rem black;
          cursor: text;
          font-size: 1em;
          margin-bottom: 1rem;
          overflow: scroll;
          padding: 1rem;
          position: relative;
          height: 50vh;
          &:empty:before {
            content: attr(placeholder);
            color: #757575;
          }
          ol {
            list-style-type: decimal;
          }
          ul {
            list-style-type: disc;
          }
          ol,
          ul {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
          }
        }
        @include clearfix();
      }
      .file-attached-container {
        .close-icon {
          color: $red;
          vertical-align: top;
        }
      }
      .tooltip-inner {
        max-width: 300px;
        text-align: left;
        @include media(tablet) {
          max-width: 300px;
        }
        @include media(mediumDesktop) {
          max-width: 500px;
        }
        @include media(largeDesktop) {
          max-width: 600px;
        }
      }
      .editor-character-count,
      .error-text {
        float: left;
      }
      .error-text {
        padding-left: 20px;
      }
    } // .content
  } // section
  footer {
    .grid-row {
      margin-bottom: 1em !important;
      .grid-row__col--12 {
        .forms__btn-container {
          width: 100%;
          margin: 0 auto;
          padding: 0;
          @include media(tablet) {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
  .border-bottom {
    border-bottom: $bombay;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
}
