<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="formatterAccountName(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtOrg let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadOrgItem(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCommitteeId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCommitteeId(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCandidateId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCandidateId(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCommitteeName let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCommitteeName(r)" [term]="t"></ngb-highlight>
</ng-template>
<ng-template #rtCandidate let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCandidate(r)" [term]="t"></ngb-highlight>
</ng-template>
<div class="sched-h3-container">
  <form [formGroup]="schedH3">
    <header>
      <div class="header-content">
        <div class="float-left">
          <h2 *ngIf="transactionType === 'ALLOC_H3_RATIO'">
            Transfers from Nonfederal Accounts for Allocated Federal / Nonfederal Activity
            <ng-container *ngIf="scheduleAction === editScheduleAction"> / Edit </ng-container>
          </h2>
          <h2 *ngIf="transactionType === 'ALLOC_H3_SUM'">
            Transfers from Nonfederal Accounts for Allocated Federal / Nonfederal Summary
          </h2>
          <h2 *ngIf="transactionType === 'ALLOC_H3_SUM_P'">
            Transfers from Nonfederal Accounts for Allocated Federal / Nonfederal Period Totals
          </h2>
          <!-- <h2>
            Form 3X
            <ng-container *ngIf="transactionTypeText"> / {{ transactionTypeText }} </ng-container>
            <ng-container *ngIf="scheduleAction === editScheduleAction"> / Edit </ng-container>
          </h2> -->
        </div>
        <div class="float-right" ngbDropdown>
          <button type="button" class="btn btn-link btn-options" id="dropdownBasic2" ngbDropdownToggle>
            <span class="ellipsis-icon" aria-hidden="true"></span>
            <span class="sr-only">Click for more options</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngIf="false" class="dropdown-item" (click)="printPreview()"><i class="print-icon"></i> Print</button>
            <button class="dropdown-item">
              <i class="file-import-icon" (click)="ImportTransactions()"></i> Import
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
    </header>

    <section *ngIf="transactionType === 'ALLOC_H3_RATIO'">
      <div [hidden]="showPart2" class="paragraph">
        <div class="row">
          <div class="col col-md-4">
            <div class="form-group">
              <label for="account_name">
                Account Name
                <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <input class="form-control" type="text" [formControlName]="'account_name'" [attr.name]="'account_name'"
                [style.width]="'90%'" [style.height]="'30px'" [ngClass]="
                  schedH3.get('account_name')?.invalid && (schedH3.touched || schedH3.dirty) && isSubmit
                    ? 'input-field-error'
                    : ''
                " [ngbTypeahead]="searchAccountName" [resultTemplate]="rt" [inputFormatter]="formatterAccountName" />
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label for="">
                Date
                <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="row input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="filter-max-amount">
                    <i class="calendar-icon" aria-hidden="true"></i>
                  </span>
                </div>
                <input class="form-control" type="date" [formControlName]="'receipt_date'" [attr.name]="'receipt_date'"
                  [style.width]="'50%'" [style.height]="'30px'" (change)="receiptDateChanged($event.target.value)"
                  [ngClass]="
                    schedH3.get('receipt_date')?.invalid && (schedH3.touched || schedH3.dirty) && isSubmit
                      ? 'input-field-error'
                      : ''
                  " />
              </div>
              <div class="text-error text-left" *ngIf="receiptDateErr">
                The date entered falls outside of the report coverage period. Transactions for this report should fall
                within {{ cvgStartDate }} and {{ cvgEndDate }} (Coverage Dates of Report). If you need to add a
                transaction with a date that falls outside of the coverage period for this report, you will need to
                check the memo code box.
              </div>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label for="">
                Total Amount of Transfer
                <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="row input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="filter-max-amount">
                    <i class="dollar-sign-icon" aria-hidden="true"></i>
                  </span>
                </div>
                <input class="form-control" type="text" [formControlName]="'total_amount_transferred'"
                  [attr.name]="'total_amount_transferred'" [style.width]="'50%'" [style.height]="'30px'"
                  [attr.readonly]="true" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6 col-md-offset-2">
            <div class="form-group">
              <label for=""> </label>

              <select id="" formControlName="category" class="form-control" (change)="selectCategoryChange($event)">
                <option value="" selected>Select Category</option>
                <option *ngFor="let category of categories" [value]="category.id">
                  {{ category.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div [hidden]="showPart2" class="paragraph">
        <div *ngIf="showIdentifer" class="row">
          <div class="col col-md-4">
            <div class="form-group">
              <label for="account_name">
                {{ totalName }}
                <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div *ngIf="showIdentiferSelect">
                <select id="" formControlName="activity_event_name" class="form-control"
                  (change)="selectActivityOrEventChange($event)" [ngClass]="
                    schedH3.get('activity_event_name')?.invalid && (schedH3.touched || schedH3.dirty) && isSubmit
                      ? 'input-field-error'
                      : ''
                  ">
                  <option value="" selected>Activity or Event Identifier</option>
                  <option *ngFor="let identifier of identifiers" [value]="identifier.activity_event_name">
                    {{ identifier.activity_event_name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col col-md-4">
            <div class="form-group">
              <label for="">
                Amount
                <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="row input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="filter-max-amount">
                    <i class="dollar-sign-icon" aria-hidden="true"></i>
                  </span>
                </div>
                <input class="form-control" type="text" [formControlName]="'transferred_amount'"
                  [attr.name]="'transferred_amount'" [style.width]="'50%'" [style.height]="'30px'"
                  (blur)="handleOnBlurEvent($event, col)" [ngClass]="
                    schedH3.get('transferred_amount')?.invalid && (schedH3.touched || schedH3.dirty) && isSubmit
                      ? 'input-field-error'
                      : ''
                  " />
              </div>
              <div class="text-error text-left" *ngIf="transferredAmountErr">
                Please enter a valid amount.
              </div>
            </div>
          </div>
          <div *ngIf="showAggregateAmount" class="col col-md-4">
            <div class="form-group">
              <label for="">
                Total Amount of {{ totalName }}
                <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}" tooltipClass="form-tooltip">
                  <i class="info-icon" aria-hidden="true"></i>
                  <span class="sr-only">Click here for more information</span>
                </button>
              </label>
              <div class="row input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="filter-max-amount">
                    <i class="dollar-sign-icon" aria-hidden="true"></i>
                  </span>
                </div>
                <input class="form-control" type="text" [formControlName]="'aggregate_amount'"
                  [attr.name]="'aggregate_amount'" [style.width]="'50%'" [style.height]="'30px'" [attr.readonly]="true"
                  [attr.value]="0.0" [ngClass]="
                    frmIndividualReceipt.get('date')?.invalid &&
                    (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                      ? 'input-field-error'
                      : ''
                  " />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="scheduleAction !== editScheduleAction" class="paragraph">
        <ng-container>
          <table class="table table-striped table-hover table__sortable">
            <thead>
              <tr>
                <th ></th>
                <th  (click)="changeSortDirection('account_name')">
                  Account Name
                  <i class="fa fa-sort" aria-hidden="false"></i>
                </th>
                <th  (click)="changeSortDirection('activity')">
                  Transfer Type
                  <i class="fa fa-sort" aria-hidden="false"></i>
                </th>
                <th  (click)="changeSortDirection('activity_event_name')">
                  Activity or Event Identifier
                  <i class="fa fa-sort" aria-hidden="false"></i>
                </th>
                <th  (click)="changeSortDirection('receipt_date')">
                  Date
                  <i class="fa fa-sort" aria-hidden="false"></i>
                </th>
                <th  (click)="changeSortDirection('ratio_code')">
                  Amount
                  <i class="fa fa-sort" aria-hidden="false"></i>
                </th>
                <th  (click)="changeSortDirection('federal_percent')">
                  Total Amount
                  <i class="fa fa-sort" aria-hidden="false"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
                <tr *ngFor="let item of h3Entries | paginate: h3EntryTableConfig">
                  <td>
                    <input type="checkbox" (click)="checkForMultiChecked($event)" />
                  </td>
                  <td>{{ item.account_name }}</td>
                  <td>
                    <div *ngIf="item.activity_event_type == 'AD'">Administrative</div>
                    <div *ngIf="item.activity_event_type == 'GV'">Generic Voter Drive</div>
                    <div *ngIf="item.activity_event_type == 'EA'">Exempt Activities</div>
                    <div *ngIf="item.activity_event_type == 'DF'">Direct Fundraising</div>
                    <div *ngIf="item.activity_event_type == 'DC'">Direct Candidate Suppot</div>
                    <div *ngIf="item.activity_event_type == 'PC'">
                      Public Communications Referring Only to Party(Made by PAC)
                    </div>
                  </td>
                  <td>{{ item.activity_event_name }}</td>
                  <td>{{ item.receipt_date | date: 'MM/dd/yyyy' }}</td>
                  <td class="summary_text_amt">
                    {{ item.transferred_amount | currency: 'USD':'symbol-narrow':'1.2-2' }}
                  </td>
                  <td class="summary_text_amt">
                    {{ item.aggregate_amount === 0 ? '' : (item.aggregate_amount | currency: 'USD':'symbol-narrow':'1.2-2') }}
                  </td>

                  <td class="bulk_action">
                    <div  class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
                      <button class="btn btn-sm btn-primary" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-h"></i>
                      </button>

                      <div id="forms__trx-dropdown-action1" ngbDropdownToggle class="dropdown-menu" ngbDropdownMenu>
                        <button class="dropdown-item" (click)="editH3Sub(item)"><i class="fas fa-edit"></i>
                          Edit</button>
                        <button class="dropdown-item" (click)="trashSubTransaction(item)">
                          <i class="fas fa-trash"></i> Trash
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <hr />
          <div class="d-flex justify-content-center pagination-controls">
            <pagination-controls (pageChange)="entryPageChanged($event)"></pagination-controls>
          </div>
        </ng-container>
      </div>

      <footer>
        <footer>
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="forms__btn-container">
                <div *ngIf="scheduleAction === addScheduleAction">
                  <button class="btn btn-previous btn-left" type="button" (click)="previousStep()">
                    Previous
                  </button>
                  <button class="btn btn-secondary btn-right" type="button" [disabled]="saveAndAddDisabled"
                  (click)="saveAndAddMore()">
                    Save & Add
                  </button>
                  <a class="btn btn-previous btn-right" (click)="goSummary()">
                    Summary
                  </a>
                </div>
                <div *ngIf="scheduleAction === editScheduleAction">
                  <button class="btn btn-previous btn-left" type="button" (click)="cancelReturnToSum()">
                    Cancel
                  </button>
                  <button class="btn btn-secondary btn-right" type="button" (click)="saveEdit()">
                    Save & Add
                  </button>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </footer>
    </section>

    <section *ngIf="transactionType === 'ALLOC_H3_SUM'">
      <table class="table table-striped table-hover table__sortable">
        <thead>
          <tr>
            <th ></th>
            <th  (click)="changeSortDirection('activity')">
              Transfer Type
              <i class="fa fa-sort" aria-hidden="false"></i>
            </th>
            <th  (click)="changeSortDirection('activity_event_name')">
              Activity or Event Identifier
              <i class="fa fa-sort" aria-hidden="false"></i>
            </th>
            <th  (click)="changeSortDirection('receipt_date')">
              Date
              <i class="fa fa-sort" aria-hidden="false"></i>
            </th>
            <th  (click)="changeSortDirection('ratio_code')">
              Amount
              <i class="fa fa-sort" aria-hidden="false"></i>
            </th>
            <th  (click)="changeSortDirection('federal_percent')">
              Total Amount
              <i class="fa fa-sort" aria-hidden="false"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr *ngFor="let item of h3Sum | paginate: h3TableConfig">
              <td>
                <input type="checkbox" (click)="checkForMultiChecked($event)" />
              </td>
              <td>
                <div *ngIf="item.activity_event_type == 'AD'">Administrative</div>
                <div *ngIf="item.activity_event_type == 'GV'">Generic Voter Drive</div>
                <div *ngIf="item.activity_event_type == 'EA'">Exempt Activities</div>
                <div *ngIf="item.activity_event_type == 'DF'">Direct Fundraising</div>
                <div *ngIf="item.activity_event_type == 'DC'">Direct Candidate Suppot</div>
                <div *ngIf="item.activity_event_type == 'PC'">
                  Public Communications Referring Only to Party(Made by PAC)
                </div>
              </td>
              <td>{{ item.activity_event_name }}</td>
              <td>{{ item.receipt_date | date: 'MM/dd/yyyy' }}</td>
              <td class="summary_text_amt">{{ item.transferred_amount | currency: 'USD':'symbol-narrow':'1.2-2' }}</td>
              <td class="summary_text_amt">
                {{ item.aggregate_amount === 0 ? '' : (item.aggregate_amount | currency: 'USD':'symbol-narrow':'1.2-2') }}
              </td>

              <td class="bulk_action">
                <div  class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
                  <button class="btn btn-sm btn-primary" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-h"></i>
                  </button>

                  <div id="forms__trx-dropdown-action1" ngbDropdownToggle class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="editH3(item)"><i class="fas fa-edit"></i> Edit</button>
                    <button class="dropdown-item" (click)="printTransaction(item)"><i class="fas fa-print"></i>
                      Print</button>
                    <button class="dropdown-item" (click)="trashTransaction(item)"><i class="fas fa-trash"></i>
                      Trash</button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <hr />
      <div class="d-flex justify-content-center pagination">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>

      <footer *ngIf="transactionType === 'ALLOC_H3_SUM'">
        <footer>
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="forms__btn-container">
                <button class="btn btn-previous btn-left" type="button" (click)="previousStep()">
                  Previous
                </button>

                <button class="btn btn-previous btn-right" type="button" (click)="returnToAdd()">
                  Add
                </button>
              </div>
            </div>
          </div>
        </footer>
      </footer>
    </section>

    <section *ngIf="transactionType === 'ALLOC_H3_SUM_P'">
      <div id="sumary">
        <table class="table table-striped summary_table_text">
          <thead>
            <tr class="summary_text_amt_level_1">
              <th>
                <h3>Categories</h3>
              </th>
              <th>
                <h3>Total Breakdown of Transfer Received (This Period)</h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of h3SumP">
              <tr>
                <td class="summary_text_level_3" [ngClass]="item.category === 'Total Amount Transferred' ?
                    'totalRow' : 'summary_text_level_3'">
                  {{ item.category }}
                  <button type="button" class="btn btn-info" ngbTooltip="{{ col?.infoText }}"
                    tooltipClass="form-tooltip">
                    <i class="info-icon" aria-hidden="true"></i>
                    <span class="sr-only">Click here for more information</span>
                  </button>
                </td>
                <td class="summary_text_amt" [ngClass]="item.category === 'Total Amount Transferred' ?
                    'totalRow' : 'summary_text_level_3'">{{ item.amount | currency:'USD':'symbol-narrow':'1.2-2' }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <footer *ngIf="transactionType === 'ALLOC_H3_SUM_P'">
        <footer>
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="forms__btn-container">
                <button class="btn btn-previous btn-left" type="button" (click)="previousStep()">
                  Previous
                </button>
              </div>
            </div>
          </div>
        </footer>
      </footer>
    </section>
  </form>
</div>