@import '../../../shared/scss/global';

.form-sidebar {
  margin-left: auto;
  margin-right: auto;
  min-height: 1255px;
  position: relative;
  .search-field {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    .search-icon {
      color: $shuttleGray;
      position: absolute;
      right: 30px;
      top: 10px;
      z-index: 1;
    }
    input[type='text'] {
      @include make-text-input(175px, 1.5em, 1em, 1em);
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
  }
  section {
    .form-sidebar__links {
      list-style-type: none;
      margin-top: 15px;
      position: relative;
      .form-sidebar-item {
        border-bottom: 1px solid $white;
        display: block;
        padding-bottom: 15px;
        padding-top: 15px;
        vertical-align: middle;
        &:first-child {
          border-top: 1px solid $white;
        }
        &.selected {
          background-color: $shuttleGray;
          padding-bottom: 0;
        }
        .form-sidebar-item-box {
          .btn-link {
            color: $black;
            float: left;
            line-height: 0;
            margin-left: 5px;
            padding-left: 0;
            padding-right: 0;
            padding-top: 10px;
            &:active,
            &:focus,
            &:hover,
            &:visited {
              color: $black;
              text-decoration: none;
            }
            &.selected {
              color: $white;
              padding-bottom: 10px;
              &:active,
              &:focus,
              &:hover,
              &:visited {
                color: $white;
                text-decoration: none;
              }
            }
          }
          .amount {
            color: $black;
            float: right;
            padding-right: 10px;
          }
          &.selected {
            .amount {
              color: $white;
            }
          }
          @include clearfix();
        }
        .additional-options {
          display: none;
          padding: 0;
          &.visible {
            display: block;
          }
          .additional-options-list {
            list-style-type: none;
            .additional-item {
              background-color: $white;
              padding-bottom: 5px;
              padding-left: 5px;
              padding-top: 5px;
              &:nth-child(odd) {
                background-color: $seaShell;
              }
              &.selected {
                background-color: $bombay;
              }
              .btn-link {
                color: $black;
                float: left;
                line-height: 1em;
                padding-left: 0;
                padding-right: 0;
                text-align: left;
                width: 200px;
                white-space: normal;
                &:active,
                &:focus,
                &:hover,
                &:visited {
                  color: $black;
                  text-decoration: none;
                }
              }
              .btn-info {
                float: right;
              }
              @include clearfix();
            }
          }
        } // .additional-options
        @include clearfix();
      } // .form-sidebar-item
    } // .form-sidebar__links
  }
  footer {
    background-color: $mineShaft;
    bottom: 0;
    position: absolute;
    width: 100%;
    .form-sidebar__item {
      border-bottom: 1px solid $white;
      color: $white;
      height: 25px;
      line-height: 25px;
      padding-bottom: 10px;
      vertical-align: middle;
      .form-sidebar-item__text {
        color: $white;
        float: left;
        padding-left: 5px;
      }
      .form-sidebar-item__value {
        color: $white;
        float: right;
        padding-right: 8px;
      }
    }
    .form-sidebar__btns {
      padding-bottom: 10px;
      padding-top: 15px;
      text-align: center;
      .btn-row {
        padding-top: 15px;
      }
    }
  }
}
