@import 'src/app/shared/scss/global';

.upload_contacts__container {
  .upload_contacts__progress_container {
    padding: 0 15em;
    text-align: center;
  }
  .upload_contact__spinner_container_outer {
    padding-top: 2em;
    .upload_contact__spinner_container {
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 200px;
    }
  }
  .configure_contacts__instructions {
    font-size: 20px;
  }
  #upload_contacts__drop-area {
    height: 20em;
    padding: 20px;
    margin-bottom: 20px;
    background-color: $mercury;
    .upload_contacts__drop-area-text {
      padding: 4% 25%;
      text-align: center;
      font-size: 26px;
      .upload_contacts__upload-icon {
        font-size: 3em;
        padding: 10px;
        color: $blueZodiac;
      }
      .upload_contacts__select-file {
        font-size: 26px;
      }
    }
  }
  #upload_contacts__info-area {
    height: 20em;
    padding-left: 6%;
    margin-bottom: 20px;
    background-color: $mercury;
    .upload_contacts__info-cell-container {
      padding: 5%;
    }
    .upload_contacts__info-icon {
      text-align: center;
    }
    i {
      font-size: 3em;
      padding: 10px;
      text-align: center;
      color: $dustyGray;
    }
    .upload_contacts__info-cell {
      padding: 3%;
    }
  }
}
