@import '../../../shared/scss/global';

.endorserSummary__table-container {
  padding-right: 15px;
  .endorserSummary__page-item-range {
    padding: .5em .1em 0 0 ;
  }

  .endorserSummary__table {
    width: 100%;
    .endorserSummary__amount {
      text-align: right;
    }
  }

  .endorserSummary__table-checkbox {
    width: 3%;
  }

  .endorserSummary__table-pagination-container {
    padding: 1em;
  }  

  /** hide the dropdown caret **/
  .dropdown-toggle:after {
    border: none;
  }  

  #endorserSummary__dropdown-action > button > i {
    padding-right: 3px;
  }

  .bulk_action {
    text-align: left;
  }

  .endorserSummary__bulk_action_btn[disabled] {
    background:#6c757d;
    border-color: #6c757d;
  }

  .dropdown-menu {
    min-width: 6em;
  }  

  .endorserSummary__item-range {
    font-size: 13px;
    color: grey;
    margin: 0 5px;
  }

  .endorserSummary__total-amount {
    float: left;
  }

  .endorserSummary__total-amount-val {
    float: right;
  }

  .endorserSummary__total-amount-tip {
    color: #112E51;
    padding-left: 3px;
    float: right;
  }

  .endorserSummary__tooltip {
    top: 0;
    width: 300px;
    .tooltip-inner {
      max-width: 300px;
      text-align: left;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .external-link-icon {
        margin-left: 5px;
      }
    }
  }

  // .endorserSummary__total-amount-container {
  //   margin: 1.5em 0;
  // }


  /* style ngx-pagination - start */
  /* override some styling where use of !important is made. */

  .ngx-pagination .current{
    padding: 0.1875rem 0.625rem;
    background: #9B9B9B !important;;
    color: #fefefe;
    cursor: default;
  }

  .ngx-pagination a, .ngx-pagination button {
    color: #9B9B9B !important;;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
  }	

  /* style ngx-pagination - end */


  .column-options-modal {

    #endorserSummary__pin-modal-header {
      background-color: $crusta;
    }

    .btn-modal-footer {
      width: 6em;
    }

    .row{
      height: 3em;
    }

    input[type="checkbox" i]:disabled, .disabled-column-option{
      color: #cccccc;
    } 

    input[type=checkbox] {
      transform: scale(1.5);
    }
  }
}
