@import '../shared/scss/global';

.reports-container {
  background-color: $white;
  color: $black;
  .grid-row {
    margin: 0;
    .grid-row__col {
      padding: 0;
    }
  }
}

/*.datatable {
    width: 100%;
    border: 1px solid #d6dde6;
    border-collapse: collapse;
  }
  
.datatable td {
    border: 1px solid #d6dde6;
    padding: 0.3em;
  }
  
.datatable th {
    border: 1px solid #828282;
    background-color: #3b5998;
    font-weight: bold;
    text-align: left;
    padding-left: 0.3em;
  }
  
.datatable caption {
    font: bold 110% Arial, Helvetica, sans-serif;
    color: #33517a;
    text-align: left;
    padding: 0.4em 0 0.8em 0;
  }
  
.datatable tr:nth-child(odd) {
    background-color: #8b9dc3;
    color: #f7f7f7;
}
  
.datatable tr:nth-child(even) {
    background-color: #dee3ee;
    color: #f7f7f7;
}*/

.datatable{
  border-collapse: collapse;
  width: 100%;
 }

 .datatable th, td{
  text-align: left;
  padding:8px;
}

.datatable tr:nth-chile(even){
  background-color: #dfe3ee;
}