@import '../shared/scss/global';

.login {
    background-color: $primaryBlue;
    color: $black;
    height: 100%;
    padding-top: 15px;
    header {
      .logo {
        margin-bottom: 10px;
        text-align: center;
      }
    }
  .login-box {
    background-color: $alto;
    min-height: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    width: 300px;
    @include media(tablet) {
      width: 500px;
    }
    @include media(mediumDesktop) {
      width: 500px;
    }
    @include media(largeDesktop) {
      width: 700px;
    }
    .grid-row {
      margin: 0;
      &.form-field__info {
        margin-bottom: 10px;
      }
      &.form-field {
        margin-bottom: 25px;
      }
      .grid-row__col {
        padding: 0;
        .login-input {
          @include make-text-input(265px, 1.5em, 1em, 1em);
          @include media(tablet) {
            @include make-text-input(450px, 1.5em, 1em, 1em);
          }
          @include media(mediumDesktop) {
            @include make-text-input(450px, 1.5em, 1em, 1em);
          }
          @include media(largeDesktop) {
            @include make-text-input(650px, 1.5em, 1em, 1em);
          }
          margin-left: auto;
          margin-right: auto;
        }
        .left-text {
          padding-left: 15px;
        }
        .right-text {
          padding-right: 15px;
        }
        .login__btn {
          @include button-variant($primaryBlue, $primaryBlue);
          @include button-size($input-btn-padding-y, $input-btn-padding-x, 1.5em, $input-btn-line-height, $btn-border-radius);
          cursor: pointer;
          margin-bottom: 15px;
          margin-top: 30px;
          width: 275px;
          @include media(tablet) {
            width: 460px;
          }
          @include media(mediumDesktop) {
            width: 460px;
          }
          @include media(largeDesktop) {
            width: 460px;
          }
        }
        .logged-out-msg {
          color: $blue;
          font-size: 1em;
          font-weight: bold;
          margin-bottom: 20px;
          margin-top: 10px;
        }
      }
    }
  }
}

