<style>
 @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');
</style> 
<div class="login">

  <div class="login-box">
    <form [formGroup]="frm" (ngSubmit)="doSignIn()">

      <header>
        <div class="text-left offset-1">
            <img class="fec-title" src="assets/img/FECtitle.png" draggable="false" alt="FECTitle" />
        </div>        
      </header>

      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <div class="text-error" *ngIf="hasFailed">
            Invalid username or password.
          </div>
          <div class="logged-out-msg text-info" *ngIf="loggedOut.loggedOut">
            {{ loggedOut?.msg }}
          </div>
        </div>
      </div>
      <div class="grid-row form-field__info">
        <div class="grid-row__col grid-row__col--3 title-name text-right">
          <label class="left-text" for="login-email-id">
            Email
          </label>
        </div>
        <div class="grid-row__col grid-row__col--8">
          <input
          type="text"
          class="login-email-id login-input"
          id="login-email-id"
          placeholder="Enter Email"
          formControlName="emailId"
          (keyup)="updateStatus()"
          [ngClass]="{'': (!frm.get('emailId').invalid && frm.get('emailId').touched) || !loginEmailInputError,
              'login-input-error':  (frm.get('emailId').invalid && frm.get('emailId').touched) || loginEmailInputError}"
          />
        </div>
        <div
                class="error"
                *ngIf="(frm.get('emailId').invalid && frm.get('emailId').touched) || committeeIdInputError ">
          <div class="error__email-id" *ngIf="frm.get('emailId').hasError('required')">
            Please enter Email ID.
          </div>
        </div>
      </div>

      <div class="grid-row form-field__info">
        <div class="grid-row__col grid-row__col--3 title-name text-right">
          <label class="left-text" for="login-committee-id">
            Committee ID
          </label>
        </div>
        
      
        <div class="grid-row__col grid-row__col--8">         
          <input             
            type="text"
            class="login-committee-id login-input"
            id="login-committee-id"
            placeholder="Enter Committee ID"
            formControlName="commiteeId"
            (keyup)="updateStatus()"
            [ngClass]="{'': (!frm.get('commiteeId').invalid && frm.get('commiteeId').touched) || !committeeIdInputError,
              'login-input-error':  (frm.get('commiteeId').invalid && frm.get('commiteeId').touched) || committeeIdInputError}"
          />
          <div
            class="error"
            *ngIf="(frm.get('commiteeId').invalid && frm.get('commiteeId').touched) || committeeIdInputError "
          >
            <div class="error__committee-id" *ngIf="frm.get('commiteeId').hasError('required')">
              Please enter Committee ID.
            </div>
          </div>
        </div>

        
        
      </div>

      <div class="grid-row form-field__info">
        <div class="grid-row__col grid-row__col--3 title-name text-right">
          <label class="left-text" for="login-password">
            Password
          </label>
        </div>
  
        <div class="grid-row__col grid-row__col--8">
          <input            
            [type]="show ? 'text' : 'password'"
            class="login-password login-input"
            id="login-password"
            placeholder="Enter your Password"
            formControlName="loginPassword"
            (keyup)="updateStatus()"
            [ngClass]="{'': (!frm.get('loginPassword').invalid && frm.get('loginPassword').touched) || !passwordInputError,
              'login-input-error':  (frm.get('loginPassword').invalid && frm.get('loginPassword').touched) || passwordInputError}"
          />
          

          <div
            class="error"
            *ngIf="(frm.get('loginPassword').invalid && frm.get('loginPassword').touched) || passwordInputError "
          >
            <div class="error__password-error" *ngIf="frm.get('loginPassword').hasError('required')">
              Please enter your password.
            </div>
          </div>
        </div>

        <div *ngIf="!show" class="grid-row__col grid-row__col--1 text-left">
            <img class="eye-logo" src="assets/img/eye-icon.svg" draggable="false" (click)="showPassword()"/>            
        </div>
        <div *ngIf="show"class="grid-row__col grid-row__col--1 text-left"> 
            <img class="eye-logo" src="assets/img/eye-icon-red.svg" draggable="false" (click)="showPassword()"/>
        </div>

      </div>

      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12 text-left offset-3">
          <button type="submit" class="login__btn" [disabled]="isBusy">
            <ng-template [ngIf]="true">Enter</ng-template>
          </button>
        </div>
      </div>

      <div class="grid-row">
        
        <div class="grid-row__col grid-row__col--5 link-text text-center">
                      
              <a class="forgot-password-link link" draggable="false" href="https://test-webforms.fec.gov/psa/index.htm" target="_blank">
                  Forgot Password?
              </a>

        </div>        
        <div class="grid-row__col grid-row__col--7 link-text">
          <a class="need-to-register-link link" draggable="false" href="https://test-webforms.fec.gov/webforms/form1/index.htm" target="_blank">
           Create an Account
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
