<div class="login">

  <div class="login-box">
    <form [formGroup]="frm" (ngSubmit)="doSignIn()">

      <header>
        <div class="title">
            <h1 class="grid-row">               
                <div class="grid-row__col grid-row__col--6 text-right title-front">{{ titleF }}</div>
                <div class="grid-row__col grid-row__col--6 text-left title-rear">{{ titleR }}</div>             
            </h1>
        </div>
      </header>

      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <div class="text-error" *ngIf="hasFailed">
            Invalid username or password.
          </div>
          <div class="logged-out-msg text-info" *ngIf="loggedOut.loggedOut">
            {{ loggedOut?.msg }}
          </div>
        </div>
      </div>

      <div class="grid-row form-field__info">
        <div class="grid-row__col grid-row__col--3">
          <label class="left-text" for="login-committee-id">
            Username
          </label>
        </div>
        
      
        <div class="grid-row__col grid-row__col--8">         
          <input             
            type="text"
            class="login-committee-id login-input"
            id="login-committee-id"
            placeholder="Enter Your Username"
            formControlName="commiteeId"
            (keyup)="updateStatus()"
            [ngClass]="{'': (!frm.get('commiteeId').invalid && frm.get('commiteeId').touched) || !committeeIdInputError,
              'login-input-error':  (frm.get('commiteeId').invalid && frm.get('commiteeId').touched) || committeeIdInputError}"
          />
          <div
            class="error"
            *ngIf="(frm.get('commiteeId').invalid && frm.get('commiteeId').touched) || committeeIdInputError "
          >
            <div class="error__committee-id" *ngIf="frm.get('commiteeId').hasError('required')">
              Please enter your username.
            </div>
          </div>
        </div>

        
        
      </div>

      <div class="grid-row form-field__info">
        <div class="grid-row__col grid-row__col--3">
          <label class="left-text" for="login-password">
            Password
          </label>
        </div>
  
        <div class="grid-row__col grid-row__col--8">
          <input            
            [type]="show ? 'text' : 'password'"
            class="login-password login-input"
            id="login-password"
            placeholder="Enter Your Password"
            formControlName="loginPassword"
            (keyup)="updateStatus()"
            [ngClass]="{'': (!frm.get('loginPassword').invalid && frm.get('loginPassword').touched) || !passwordInputError,
              'login-input-error':  (frm.get('loginPassword').invalid && frm.get('loginPassword').touched) || passwordInputError}"
          />
          

          <div
            class="error"
            *ngIf="(frm.get('loginPassword').invalid && frm.get('loginPassword').touched) || passwordInputError "
          >
            <div class="error__password-error" *ngIf="frm.get('loginPassword').hasError('required')">
              Please enter your password.
            </div>
          </div>
        </div>

        <div class="grid-row__col grid-row__col--1">
            <img class="eye-logo" src="assets/img/eye-icon.svg" draggable="false" (click)="showPassword()"/>
        </div>

      </div>

      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <button type="submit" class="login__btn" [disabled]="isBusy">
            <ng-template [ngIf]="!isBusy">Enter</ng-template>
            <ng-template [ngIf]="isBusy">Logging in, please wait...</ng-template>
          </button>
        </div>
      </div>

      <div class="grid-row form-field__info">
        
        <div class="row grid-row__col grid-row__col--9 text-right">
            
              <a class="forgot-password-link link" draggable="false" href="https://test-webforms.fec.gov/psa/index.htm" target="_blank">
                  Forgot your Password
              </a>
              <div class="or-padding"> or </div>
              <a class="forgot-committee-id-link link" draggable="false" href="https://www.fec.gov/data/" target="_blank">
                  Username
              </a>           
        </div>

        <div class="grid-row__col grid-row__col--3">
          <a class="need-to-register-link link" draggable="false" href="https://test-webforms.fec.gov/webforms/form1/index.htm" target="_blank">
           Register
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
