<div class="login">

  <header>
    <div class="logo">
      <img src="assets/img/logo.svg" alt="FEC Logo" />
    </div>
    <div>
      <img src="https://www.fec.gov/static/img/wordmark.svg"/>
    </div>
  </header>

  <div class="login-box">
    <form [formGroup]="frm" (ngSubmit)="doSignIn()">

      <header>
        <div class="title">
          <h1>FEC eFile</h1>
        </div>
      </header>

      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <div class="error" *ngIf="hasFailed">
            Invalid commitee id or password.
          </div>
          <div class="logged-out-msg" *ngIf="loggedOut.loggedOut">
            {{ loggedOut?.msg }}
          </div>
        </div>
      </div>

      <div class="grid-row form-field__info">
        <div class="grid-row__col grid-row__col--6 text-left">
          <label class="left-text" for="login-committee-id">
            Committee ID
          </label>
        </div>
        <div class="grid-row__col grid-row__col--6 text-right">
          <div class="right-text">
            <a class="forgot-committee-id-link link" href="https://www.fec.gov/data/" target="_blank">
              Forgot Committee ID
            </a>
          </div>
        </div>
      </div>

      <div class="grid-row form-field">
        <div class="grid-row__col grid-row__col--12">
          <input
            type="text"
            class="login-committee-id login-input"
            id="login-committee-id"
            placeholder="C987654320"
            formControlName="commiteeId"
            (keyup)="updateStatus()"
            [ngClass]="{'': (!frm.get('commiteeId').invalid && frm.get('commiteeId').touched) || !committeeIdInputError,
              'login-input-error':  (frm.get('commiteeId').invalid && frm.get('commiteeId').touched) || committeeIdInputError}"
          />
          <div
            class="error"
            *ngIf="(frm.get('commiteeId').invalid && frm.get('commiteeId').touched) || committeeIdInputError "
          >
            <div class="error__committee-id" *ngIf="frm.get('commiteeId').hasError('required')">
              Please enter your committee id.
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row form-field__info">
        <div class="grid-row__col grid-row__col--6 text-left">
          <label class="left-text" for="login-password">
            Password
          </label>
        </div>
        <div class="grid-row__col grid-row__col--6 text-right">
          <div class="right-text">
            <a class="forgot-password-link link" href="https://test-webforms.fec.gov/psa/index.htm" target="_blank">
              Forgot Password
            </a>
          </div>
        </div>
      </div>

      <div class="grid-row form-field">
        <div class="grid-row__col grid-row__col--12">
          <input
            type="password"
            class="login-password login-input"
            id="login-password"
            placeholder="**********"
            formControlName="loginPassword"
            (keyup)="updateStatus()"
            [ngClass]="{'': (!frm.get('loginPassword').invalid && frm.get('loginPassword').touched) || !passwordInputError,
              'login-input-error':  (frm.get('loginPassword').invalid && frm.get('loginPassword').touched) || passwordInputError}"
          />
          <div
            class="error"
            *ngIf="(frm.get('loginPassword').invalid && frm.get('loginPassword').touched) || passwordInputError "
          >
            <div class="error__password-error" *ngIf="frm.get('loginPassword').hasError('required')">
              Please enter your password.
            </div>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <button type="submit" class="login__btn" [disabled]="isBusy">
            <ng-template [ngIf]="!isBusy">Log In</ng-template>
            <ng-template [ngIf]="isBusy">Logging in, please wait...</ng-template>
          </button>
        </div>
      </div>

      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <a class="need-to-register-link link" href="https://test-webforms.fec.gov/webforms/form1/index.htm" target="_blank">
            Do you need to register your committee?
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
