{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FECFile API</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      nonce="{{ nonce }}"
      rel="stylesheet"
      type="text/css"
      href="{% static "css/swagger-ui.css" %}"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="swagger-ui"></div>
    <script
      nonce="{{ nonce }}"
      src="{% static "js/swagger-ui-bundle.js" %}"
      integrity="sha384-NXtFPpN61oWCuN4D42K6Zd5Rt2+uxeIT36R7kpXBuY9tLnZorzrJ4ykpqwJfgjpZ"
      crossorigin="anonymous">
    </script>
    <script nonce="{{ nonce }}">
      const ui = SwaggerUIBundle({
        url: "{% url 'schema' %}",
        dom_id: "#swagger-ui",
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIBundle.SwaggerUIStandalonePreset,
        ],
        layout: "BaseLayout",
        requestInterceptor: (request) => {
          request.headers["X-CSRFToken"] = "{{ csrf_token }}";
          return request;
        },
      });
    </script>
  </body>
</html>
