@import '../../shared/scss/global';

.report-table-container {
  padding-right: 10px;
  margin-bottom: 15px;
  padding-left: 5px;
  margin-top: 15px;
  .reports__page-item-range {
    padding: .5em .1em 0 0 ;
  }

  .reports__table {
    width: 100%;
    .reports__amount {
      text-align: right;
    }
  }

  .reports__table-checkbox {
    width: 3%;
  }

  .reports__table-pagination-container {
    padding: 1em;
  }  

  /** hide the dropdown caret **/
  .dropdown-toggle:after {
    border: none;
  }  

  #reports__dropdown-action > button > i {
    padding-right: 3px;
  }

  .bulk_action {
    text-align: left;
  }

  .reports__bulk_action_btn[disabled] {
    background:#6c757d;
    border-color: #6c757d;
   
  }

  .dropdown-menu {
    min-width: 6em;
  }  

  .reports__item-range {
    font-size: 13px;
    color: grey;
    margin: 0 5px;
  }

  .reports__total-amount {
    float: left;
  }

  .reports__total-amount-val {
    float: right;
  }

  .reports__total-amount-tip {
    color: #112E51;
    padding-left: 3px;
    float: right;
  }

  .reports__tooltip {
    top: 0;
    width: 300px;
    .tooltip-inner {
      max-width: 300px;
      text-align: left;
      a {
        color: $white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .external-link-icon {
        margin-left: 5px;
      }
    }
  }

  .grid-row {
    margin-left: 0;
    margin-right: 0;
    .grid-row__col {
      padding-left: 0;
      padding-right: 0;
    }
    .grid-row__col--12 {
      .forms__btn-container {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        @include media(tablet) {
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  .reports__btn-container {
    height: 100%;
    padding: 1em 1em 0 1em;
  }

  .reports__tag-outer-wrapper {
    display: inline-block;
    width: 100%;
    .reports__tag_wrapper {
      // background-color: #e8e8e8;
      // width: fit-content;
      .reports__tag_group {
        // margin-right: 7px;
        background-color: lightgrey;
        // padding: 20px 10px;
        border-radius: 2px;
        float: left;
        display: inline-flex;
        // margin: 3px;
        margin: 5px 20px 0px 0px;
      }
      .reports__tag_btn {
        margin: 6px;
        // margin: 2px 20px 0px 0px;
      }
      .reports__close-tag {
        padding-right: .25em;
      }
    }
  }

  .reports__btn-search-filter {
    margin: 3px;
    background-color: $shuttleGray;
    color: $white;
  }

  // .reports__total-amount-container {
  //   margin: 1.5em 0;
  // }


  /* style ngx-pagination - start */
  /* override some styling where use of !important is made. */

  .ngx-pagination .current{
    padding: 0.1875rem 0.625rem;
    background: #9B9B9B !important;;
    color: #fefefe;
    cursor: default;
  }

  .ngx-pagination a, .ngx-pagination button {
    color: #9B9B9B !important;;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
  }	

  .ngx-pagination {
    margin-bottom: 0;
  }

  /* style ngx-pagination - end */

  ng-select { 
    .ng-dropdown-panel { 
      width: auto;
      min-width: 100%; 
    } 
  }

  .column-options-modal {

    #reports__pin-modal-header {
      background-color: $crusta;
    }

    .btn-modal-footer {
      width: 6em;
    }

    .row{
      height: 3em;
    }

    input[type="checkbox" i]:disabled, .disabled-column-option{
      color: #cccccc;
    } 

    input[type=checkbox] {
      transform: scale(1.5);
    }
  }
}

.dropdown-menu {
  min-width: 0px !important;
  &.show {
    .dropdown-item {
      &:focus,
      &:hover,
      &:active,
      &:visited {
        background-color: $white;
        color: $black;
        cursor: pointer;
        outline: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  }

  .dropdown-toggle {
    &:after {
      display:none;
    }
  }

  .td-amend {
    margin-left: auto !important;
    .amend-arrow {
      margin-left: 20%;
      color: #0062cc;
    }
  }
