<style>
  @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext');
</style>
<div class="main-box">
  <div class="main-content">
    <form [formGroup]="twoFactInfo">
      <header>
        <div class="text-center">
          <img class="fec-title" src="assets/img/FECtitleNew.png" draggable="false" alt="FECTitle" />
        </div>
        <div class="title-front-main">Electronic Filing Sign in</div>
        <div class="title-front-sub">
          Provide Security Code
        </div>
        <br><br><hr>
      </header>

      <div class="form-group">
        <p>
          We sent (a/an) code to the {{option}} on file.
          Enter the Security Code from that message here.
        </p>
        <div class="user-info">
          <div class="container">
            <label>Enter Your Security Code</label>
            <div class="input-group">
              <input type="text" class="form-control"
                     aria-label="Text input security code"
                     formControlName="securityCode"
                    >
            </div>
            <div class="text-error" *ngIf="!twoFactInfo.valid && twoFactInfo.touched">
              <span>Please enter the security code received</span>
            </div>
            <br>
            <br>
          </div>
          <div class="container">
            <label>Didn't receive a code?</label>
            <a (click)="resend()"> Resend Security Code</a>
          </div>
        </div>

        <div class="user-info-actions">
          <button class="action__btn next" (click)="next()"> Next</button>
        </div>
      </div>
    </form>
  </div>
</div>
