
@import 'src/app/shared/scss/global';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-box {
  background: #ece8e8 url("../../../assets/img/fec-logo-5opac.png") no-repeat center;
  background-size: 50% auto;
  height: 100%;
  header {
    .logo {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  .fec-title {
    height: 50%;
    width: 50%;
    margin-bottom: 25px;
    align-content: center;
  }
  .title-front-main{
    font-size: 32px;
    font-family: 'Lato Black ', 'Lato Black';
    font-weight: bold;
    font-style: normal;
    color: #333333;
    padding-bottom: 20px;
  }
  .title-front-sub{
    font-size: 25px;
    font-family: 'Lato Black ', 'Lato Black';
    font-weight: bold;
    font-style: normal;
    color: #333333;
  }
  .main-content{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 120px;
    text-align: center;
    color: black;
    @include media(tablet) {
      width: 500px;
    }
    @include media(mediumDesktop) {
      width: 500px;
    }
    @include media(largeDesktop) {
      width: 800px;
    }
    .user-info{
      width: 500px;
      margin: 30px auto;;
      text-align: left;
      font-weight: bold;
      .container{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
      }
      .bold{
        font-weight: bold;
      }
      .example{
        font-weight: lighter;
        font-size: small;
      }
      hr{
        display:inline-block;
        width:100px;

      }
      input[type="text"]{
        font-size: 16px;
        width: 100%;
        height: 30px;
        padding-bottom: 5px;
        padding-top: 5px;

      }
      input:focus {
        border-color: green
      }
      a{
        color: #0000FF;
        cursor:pointer;
      }
     a:hover{
       text-decoration: underline;
     }
      .input-field-error{
        border: 1px solid red;
      }

      .error__committee-id,
      .error__email-id {
        @extend .text-error;
      }
    }
    .action__btn {
      cursor: pointer;
      font-family: $mainFontFamily;
      width: 140px;
      height: 40px;
      margin-bottom: 40px;
      margin-left: 30px;
      color: #ffffff;
      background-color: #164F85;
      font-family: 'Lato-Bold', sans-serif;
      font-size: 20px;
      font-weight: 700;
      border-radius: 5px;
      border-style: solid;
    }
    .action__btn:hover {
      background-color: #C80505;
    }
  }
}
