# .coveragerc to control coverage.py
# https://coverage.readthedocs.io/en/coverage-4.3.3/source.html#execution
[run]
omit =
    # Excluding dev scripts from code coverage
    scripts/json_schema_to_django_model.py