[flake8]
max-line-length = 90
ignore =
    W503,  # line break before binary operator
    E128,  # continuation line under-indented for visual indent
    E124,  # closing bracket does not match visual indentation
