asn1crypto==0.24.0
backcall==0.1.0
bcrypt==3.1.4
boto==2.49.0
boto3==1.9.40
botocore==1.12.196
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.3.1
dateparser==0.7.0
decorator==4.3.0
dj-database-url==0.3.0
dj-static==0.0.6
Django==2.2.12
django-admin-shortcuts==2.0.0
django-appconf==1.0.1
django-bootstrap3==11.0.0
django-compressor==1.6
django-cors-headers==3.2.1
django-db-file-storage==0.5.3
django-rest-swagger==2.2.0
django-s3-upload==0.2.1
django-storages==1.7.1
djangocms-admin-style==1.2.5
djangorestframework==3.9.1
djangorestframework-jwt==1.11.0
djangorestframework-sso==0.0.10
docutils==0.14
drf-nested-routers==0.11.1
gunicorn==19.9.0
humanize==0.5.1
itypes==1.1.0
Jinja2==2.10.1
jmespath==0.9.3
MarkupSafe==1.1.1
maya==0.6.0
nodeenv==1.3.2
openapi-codec==1.3.2
pdfrw==0.4
pendulum==2.0.4
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==2.0.9
psycopg2==2.7.5
psycopg2-binary==2.7.5
ptyprocess==0.6.0
pycparser==2.18
PyPDF2==1.26.0
Pygments==2.2.0
PyJWT==1.6.4
python-dateutil==2.7.5
python-magic==0.4.15
pytz==2018.5
pytzdata==2018.7
PyYAML==4.2b1
regex==2018.11.22
requests==2.23.0
requests-toolbelt==0.8.0
retrying==1.3.3
s3transfer==0.1.13
simplegeneric==0.8.1
simplejson==3.16.0
six==1.14.0
snaptime==0.2.4
static3==0.6.1
traitlets==4.3.2
tzlocal==1.5.1
uritemplate==3.0.0
urllib3==1.25.8
wcwidth==0.1.7
fuzzywuzzy==0.17.0
python-Levenshtein==0.12.0
numpy==1.17.2
pandas==0.25.1
pandas-schema==0.3.5
