@import '../shared/scss/global';

.forms-container {
  bottom: 0;
	color: $black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
  .main-content {
    display: flex;
    flex: 1;
    padding-left: 10px;
    width: 100%;
    @include media(tablet) {
      padding-left: 0;
    }
    @include media(mediumDesktop) {
      padding-left: 0;
    }         
    @include media(largeDesktop) {
      padding-left: 0;
    }     
    .form__alerts {
      background-color: $bombay;
      display: none;
      &.show-alerts {
        padding-left: 0;
        @include media(tablet) {
          padding-left: 0;
        }
        @include media(mediumDesktop) {
          padding-left: 60px;
          width: 300px;         
        }         
        @include media(largeDesktop) {
          padding-left: 60px;
          width: 300px; 
        }         
      }
      @include media(tablet) {
        display: none;
      }
      @include media(mediumDesktop) {
        display: inline-block;
        float: left;
        min-height: 100%;
        position: relative;
        width: 100px;      
      }         
      @include media(largeDesktop) {
        display: inline-block;
        float: left;
        min-height: 100%;
        position: relative;
        width: 100px;      
      }       
    }
    .form__content {
      float: left;
      min-height: 100%;
      width: 100%;
      .grid-row {
        margin: 0;
        .grid-row__col {
          margin-bottom: 15px;
          padding: 0;
        }
      }
    }
    @include clearfix();
  }
  @include clearfix();
}



