@import '../shared/scss/global';

.forms-container {
  bottom: 0;
  color: $black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
  .forms-container__main {
    display: flex;
    padding-left: 2px;
    width: 100%;
    @include media(tablet) {
      padding-left: 0;
    }
    @include media(mediumDesktop) {
      flex: 1;
      padding-left: 0;
    }         
    @include media(largeDesktop) {
      flex: 1;
      padding-left: 0;
    }     
    .form__main-content {
      float: left;
      min-height: 100%;
      width: 100%;
      .grid-row {
        margin: 0;
        .grid-row__col {
          margin-bottom: 15px;
          padding: 0;
        }
      }
    }
    @include clearfix();
  }
  @include clearfix();
}



