<div class="forms-container__main">
  <div class="form__main-content">
    <div *ngIf="formType === '99'">
      <!-- begin form 99 -->
      <app-form-99></app-form-99>
    </div>
    <div *ngIf="formType === '3X'">
    	<app-f3x [jumpToTransaction]="jumpToTransaction"></app-f3x>
    </div>
    <div class="forms__wizard" *ngIf="formType === 'global'">
      <div class="form__sidebar">
        <app-transactions-filter title="Filters" [formType]="formType"></app-transactions-filter>
      </div>
      <div class="">
        <app-transactions (showTransaction)="onNotify($event)"></app-transactions>
      </div>
    </div>
  </div>
</div>
