<div class="form-sidebar">
  <header>
    <h3 class="text-center contacts__filter-header">{{ title }}</h3>
  </header>
  <section>
    <div class="contacts__filter-sidebar-set">
      
      <div class="card">
          <div class="card-header transactions__filter-title" (click)="toggleTypeFilterItem()">
            Type
            <i class="float-right" aria-hidden="true" 
              [ngClass]="toggleFilterDirection(isHideTypeFilter)">
            </i>          
          </div>
          <div class="card-body" [@openCloseScroll]="determineScrollType(isHideTypeFilter)">
            <div class="contacts__filter-type-list-body">
              <ul class="contacts__filter-type-list">
                <li *ngFor="let type of types">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="{{ type?.type_code }}" 
                      [(ngModel)]="type.selected">
                    <label class="form-check-label" for="{{ type?.type_code}}">
                      {{ type?.type_desc }}</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
      </div>
      <div class="card">
            <div class="card-header transactions__filter-title" (click)="toggleStateFilterItem()">
              State
              <i class="float-right" aria-hidden="true" 
                [ngClass]="toggleFilterDirection(isHideStateFilter)">
              </i>          
            </div>
            <div class="card-body" [@openCloseScroll]="determineScrollState(isHideStateFilter)">
              <div class="contacts__filter-type-list-body">
                <ul class="contacts__filter-type-list">
                  <li *ngFor="let state of states">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="{{ state?.state_code }}" 
                        [(ngModel)]="state.selected">
                      <label class="form-check-label" for="{{ state?.state_code}}">
                        {{ state?.state_code}} - {{ state?.state_description}} </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
      </div>

      <div class="card" *ngIf="isRecycleBinViewActive()">
        <div class="card-header transactions__filter-title" (click)="toggleDeletedDateFilterItem()">
          Deleted Date
          <i class="float-right" aria-hidden="true" 
            [ngClass]="toggleFilterDirection(isHideDeletedDateFilter)">
          </i>
        </div>
        <div class="card-body" [@openClose]="!isHideDeletedDateFilter ? 'open' : 'closed'">
          <div *ngIf="deletedDateFilterValidation.isError" class="text-error text-center">
            {{ deletedDateFilterValidation.message }}
          </div>
          <label for="filter-deleted-date-from">From</label>
          <div class="input-group transactions__filter-multi-input">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-from-deleted-date">
                  <i class="calendar-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="date"
              name="txtFromDelDate"
              [(ngModel)]="filterDeletedDateFrom"
              class="form-control"
              id="filter-deleted-date-from"
              aria-label="Filter From Deleted Date"
              aria-describedby="filter-from-deleted-date"
            >                        
          </div>
          <label for="filter-deleted-date-to">To</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="filter-to-deleted-date">
                  <i class="calendar-icon" aria-hidden="true"></i>
              </span>
            </div>
            <input
              type="date"
              name="txtToDelDate"
              [(ngModel)]="filterDeletedDateTo"
              class="form-control"
              id="filter-deleted-date-to"
              aria-label="Filter To Deleted Date"
              aria-describedby="filter-to-deleted-date"
            >                        
          </div>          
        </div>
      </div> 

    </div> 
  </section>
  <footer>
    <div class="form-sidebar__btns">
      <div class="btn-row">
        <a
          class="btn btn-secondary-gray"
          (click)="clearAndApplyFilters()"
        >
          Clear Filters
        </a>
      </div>
      <div class="btn-row">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="applyFilters(false)"
        >
          Apply Filters
        </button>
      </div>
    </div>
  </footer>
</div>
