<div class="form-sidebar">
  <header>
    <h3 class="text-center contacts__filter-header">{{ title }}</h3>
  </header>
  <section>
    <div class="contacts__filter-sidebar-set">
      
      
      <div class="card">
          <div class="card-header transactions__filter-title" (click)="toggleAmendmentIndicatorFilterItem()">
            Type
            <i class="float-right" aria-hidden="true" 
              [ngClass]="toggleFilterDirection(isHideAmendmentIndicatorFilter)">
            </i>          
          </div>
          <div class="card-body" [@openCloseScroll]="determineScrollState(isHideAmendmentIndicatorFilter)">
            <div class="transactions__filter-type-list-body">
              <ul class="transactions__filter-type-list">
                <li *ngFor="let amendmentindicator of amendmentindicators">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="{{ amendmentindicator?.amend_ind }}" 
                      [(ngModel)]="amendmentindicator.selected">
                    <label class="form-check-label" for="{{ amendmentindicator?.amend_ind}}">
                      {{ amendmentindicator?.amendment_desc }}</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header transactions__filter-title" (click)="toggleAmendmentIndicatorFilterItem()">
              State
              <i class="float-right" aria-hidden="true" 
                [ngClass]="toggleFilterDirection(isHideAmendmentIndicatorFilter)">
              </i>          
            </div>
            <div class="card-body" [@openCloseScroll]="determineScrollState(isHideAmendmentIndicatorFilter)">
              <div class="transactions__filter-type-list-body">
                <ul class="transactions__filter-type-list">
                  <li *ngFor="let amendmentindicator of amendmentindicators">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="{{ amendmentindicator?.amend_ind }}" 
                        [(ngModel)]="amendmentindicator.selected">
                      <label class="form-check-label" for="{{ amendmentindicator?.amend_ind}}">
                        {{ amendmentindicator?.amendment_desc }}</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

    </div> 
  </section>
  <footer>
    <div class="form-sidebar__btns">
      <div class="btn-row">
        <a
          class="btn btn-secondary-gray"
          (click)="clearAndApplyFilters()"
        >
          Clear Filters
        </a>
      </div>
      <div class="btn-row">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="applyFilters(false)"
        >
          Apply Filters
        </button>
      </div>
    </div>
  </footer>
</div>
