<ul class="navbar-nav float-right searchBar">
  <li class="nav-item">
    <a class="nav-link searchBtn" draggable="false" (click)="goToContacts()">
      Search Contacts
      <i class="search-icon icon" aria-hidden="true"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link searchBtn" draggable="false" (click)="goToTransactions()">
      Search Transactions
      <i class="search-icon icon" aria-hidden="true"></i>
    </a>
  </li>
</ul>
<nav class="navbar navbar-expand-lg float-right">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <a class="nav-link" draggable="false" [routerLink]="['/dashboard']">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" draggable="false" [routerLink]="['/reports']">
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" draggable="false" [routerLink]="['/contacts']">
          Contacts
        </a>
      </li>

      <li class="nav-item dropdown">
        <div class="d-inline-block" ngbDropdown placement="bottom-left">
          <button
            type="button"
            class="btn btn-link btn-height dropdown-toggle"
            id="dropdownTools"
            [ngClass]="{ toggleMenuLink: menuActive === true }"
            (click)="toggleMenu()"
            ngbDropdownToggle
          >
            Tools
          </button>
          <div class="secondary-dropdown-menu tools" aria-labelledby="dropdownTools" ngbDropdownMenu>
            <a class="dropdown-item" draggable="false" (click)="viewAllTransactions()">
              All Transactions
            </a>
            <a *ngIf="!_authService.isReadOnly()" class="dropdown-item" draggable="false" [routerLink]="['/tools_import_transactions']">
              Import Transactions
            </a>
            <a *ngIf="_authService.isCommitteeAdmin() || _authService.isBackupCommitteeAdmin() || _authService.isAdmin()" class="dropdown-item" draggable="false" (click)="openCOHModal()">
              First Time COH
            </a>
            <a *ngIf="!_authService.isReadOnly()" class="dropdown-item" draggable="false" [routerLink]="['/tools_import_names']">
              Import Names
            </a>

            <a class="dropdown-item" draggable="false" [routerLink]="['/tools_export_names']">
              Export Names
            </a>

            <a *ngIf="!_authService.isReadOnly()" class="dropdown-item" draggable="false" [routerLink]="['/tools_merge_names']">
              Merge Names
            </a>
            <a class="dropdown-item" draggable="false" [routerLink]="['/tools_create_backup']">
              Create Backup
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" draggable="false" [routerLink]="['/help']">Help</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" draggable="false" [routerLink]="['/notifications']">
            <!-- <i *ngIf="!(notificationsCount > 0)" class="notifications-icon icon"></i> -->
            <i *ngIf="(notificationsCount > 0)" class="fas fa-bell" [attr.data-count]="notificationsCount"></i>
            Notifications
          </a>
      </li>
      <li class="nav-item dropdown">
        <div class="d-inline-block" ngbDropdown placement="bottom-left">
          <button
            type="button"
            class="btn btn-link btn-height dropdown-toggle"
            id="dropdownProfile"
            [ngClass]="{ toggleMenuLink: menuActive === true }"
            (click)="toggleMenu()"
            ngbDropdownToggle
          >
            <i class="profile-icon icon" aria-hidden="true"></i>
            Profile
          </button>
          <div class="secondary-dropdown-menu profile" aria-labelledby="dropdownProfile" ngbDropdownMenu>
            <a class="dropdown-item" draggable="false" [routerLink]="['/account']">
              <i class="fas fa-user"></i>
              Account
            </a>
<!--            <a class="dropdown-item" draggable="false" [routerLink]="['/users']">-->
<!--              Users-->
<!--            </a>-->
            <a *ngIf="_authService.isCommitteeAdmin() || _authService.isBackupCommitteeAdmin()"
               class="dropdown-item" draggable="false"
               [routerLink]="['/manage_users']"
            >
              <i class="fas fa-user-plus"></i>
              Add User
            </a>
            <a class="dropdown-item" draggable="false" [routerLink]="['/settings']">
              <i class="fas fa-user-cog"></i>
              Settings
            </a>
            <a class="dropdown-item" draggable="false" [routerLink]="['/logout']">
              <i class="fas fa-power-off"></i>
              Logout
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div class="signee-container" style="padding-left: 0px;padding-right:0px;">
      <div class="modal-header">
          <h2>Cash On Hand as of January 1st</h2>
        </div>
        <div class="modal-body">
          <div class="grid-row">
            <div class="grid-row__col grid-row__col--12">
              <div class="forms__agreement-text">
                <div class="row pb-4">
                  <form [formGroup]="form">
<div>
        <div class="form__container">
          <div class="form-group optionHeader">
            <label class="user-info" for="email">Password</label>
          </div>
          <div class="form-group row form-inline">
            <input [type]="show ? 'text' : 'password'" class="form-control" formControlName="password" id="email"
              style="width:60%">
            <div *ngIf="!show" class="grid-row__col grid-row__col--1 text-left">
              <img class="eye-logo" src="assets/img/eye-icon.svg" draggable="false" (click)="showPassword()" />
            </div>
            <div *ngIf="show" class="grid-row__col grid-row__col--1 text-left">
              <img class="eye-logo" src="assets/img/eye-icon-red.svg" draggable="false" (click)="showPassword()" />
            </div>
          </div>
    
          <div class="form-group optionHeader">
            <label class="user-info" for="email">Confirm Password</label>
          </div>
          <div class="form-group row form-inline">
            <input [type]="show ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" id="email"
              style="width:60%">
            <div *ngIf="!show" class="grid-row__col grid-row__col--1 text-left">
              <img class="eye-logo" src="assets/img/eye-icon.svg" draggable="false" (click)="showPassword()" />
            </div>
            <div *ngIf="show" class="grid-row__col grid-row__col--1 text-left">
              <img class="eye-logo" src="assets/img/eye-icon-red.svg" draggable="false" (click)="showPassword()" />
            </div>
          </div>
        </div>
      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!checked">Submit</button>
        </div>
  </div>
</ng-template> -->
