<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Legal Disclaimer</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Please be advised that knowingly and willfully making any materially false, fictitious, or fraudulent statement or representation to a federal
      government agency, including the Federal Election Commission, is punishable under the provisions of 18 U.S.C. § 1001. The Commission may report
      apparent violations to the appropriate law enforcement authorities. 52 U.S.C. § 30107(a)(9).
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      Agree
    </button>
  </div>
</ng-template>
<header>
  <div class="header">
    <div class="header--nav">
      <a href="#" role="button">
        <i class="bars-icon"></i>
      </a>
    </div>
    <div class="header--nav">
      <ul class="nav-links">
        <li>
          Reports
        </li>
        <li>
          Contributors
        </li>
        <li>
          Tools
        </li>
        <li>
          <!-- button class="btn btn-lg btn-outline-primary" (click)="open(content)">Legal</button -->
          <a
            [routerLink]=""
            (click)="open(content)"
            role="button"
          >
            Legal
          </a>
        </li>
        <li>
          Help
        </li>
      </ul>
    </div>
    <div class="header--nav">
      <div class="header-search">
        <input type="text" name="search" class="search-input" placeholder="Search for..." />
      </div>
    </div>
    <div class="header--nav">
      <ul class="nav-links">
        <li>Notifications</li>
        <li>
          <a [routerLink]="['/profile']">
            Profile
          </a>
        </li>
        <li>
          <a [routerLink]="['/']" (click)="logout()">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
