@import '../../scss/global';


.header {
  background-color: $dustyGray;
  color: $black;
  height: 60px;
  .header--nav {
    float: left;
    a {
      color: $black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .bars-icon {
      padding-left: 20px;
      padding-top: 15px;
    }
    .nav-links {
      list-style-type: none;
      li {
        display: inline-block;
        padding-right: 25px;
      }
    }
    .header-search {
      padding-top: 10px;
      .search-input {
        @include make-text-input(400px, 1.5em, 1em, 1em);
      }
    }
  }
}

.modal-dialog {
  color: $black;
}
