<nav class="navbar navbar-expand-lg float-right">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <a class="nav-link" draggable="false" [routerLink]="['/dashboard']">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" draggable="false" [routerLink]="['/reports']">
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" draggable="false" [routerLink]="['/contacts']">
          Contacts
        </a>
      </li>

      <li class="nav-item dropdown">
        <div class="d-inline-block" ngbDropdown placement="bottom-left">
          <button
            type="button"
            class="btn btn-link btn-height dropdown-toggle"
            id="dropdownTools"
            [ngClass]="{ toggleMenuLink: menuActive === true }"
            (click)="toggleMenu()"
            ngbDropdownToggle
          >
            Tools
          </button>
          <div class="secondary-dropdown-menu tools" aria-labelledby="dropdownTools" ngbDropdownMenu>
            <a class="dropdown-item" draggable="false" (click)="viewAllTransactions()">
              All Transactions
            </a>
            <a *ngIf="!_authService.isReadOnly()" class="dropdown-item" draggable="false" [routerLink]="['/tools_import_transactions']">
              Import Transactions
            </a>
            <a *ngIf="!_authService.isReadOnly()" class="dropdown-item" draggable="false" [routerLink]="['/tools_import_names']">
              Import Names
            </a>

            <a class="dropdown-item" draggable="false" [routerLink]="['/tools_export_names']">
              Export Names
            </a>

            <a *ngIf="!_authService.isReadOnly()" class="dropdown-item" draggable="false" [routerLink]="['/tools_merge_names']">
              Merge Names
            </a>
            <a class="dropdown-item" draggable="false" [routerLink]="['/tools_create_backup']">
              Create Backup
            </a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" draggable="false" [routerLink]="['/help']">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" draggable="false" [routerLink]="['/help']">
          <i class="notifications-icon icon"></i>
          Notifications
        </a>
      </li>
      <li class="nav-item dropdown">
        <div class="d-inline-block" ngbDropdown placement="bottom-left">
          <button
            type="button"
            class="btn btn-link btn-height dropdown-toggle"
            id="dropdownProfile"
            [ngClass]="{ toggleMenuLink: menuActive === true }"
            (click)="toggleMenu()"
            ngbDropdownToggle
          >
            <i class="profile-icon icon" aria-hidden="true"></i>
            Profile
          </button>
          <div class="secondary-dropdown-menu profile" aria-labelledby="dropdownProfile" ngbDropdownMenu>
            <a class="dropdown-item" draggable="false" [routerLink]="['/account']">
              <i class="fas fa-user"></i>
              Account
            </a>
<!--            <a class="dropdown-item" draggable="false" [routerLink]="['/users']">-->
<!--              Users-->
<!--            </a>-->
            <a *ngIf="_authService.isCommitteeAdmin()" class="dropdown-item" draggable="false" [routerLink]="['/manage_users']">
              <i class="fas fa-user-plus"></i>
              Add User
            </a>
            <a class="dropdown-item" draggable="false" [routerLink]="['/settings']">
              <i class="fas fa-user-cog"></i>
              Settings
            </a>
            <a class="dropdown-item" draggable="false" [routerLink]="['/logout']">
              <i class="fas fa-power-off"></i>
              Logout
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
