@import '../../scss/global';
.header {
  color: $black;
  display: block;
  height: $topNavHeight;
  line-height: $topNavHeight;
  vertical-align: middle;
  width: 100%;
  .header__nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @include media(tablet) {
      display: flex;
      flex-direction: colummn;
    }
    @include media(mediumDesktop) {
      display: block;
    }         
    @include media(largeDesktop) {
      display: block;
    }    
    a {
      color: $black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .header__search {
      display: block;
      order: 2;
      padding-left: 0;
      padding-top: 10px;
      width: 100%;
      input[type='text'] {
        @include make-text-input(300px, 1.5em, 1em, 1em);
        margin-left: auto;
        margin-right: auto;
      }       
      @include media(tablet) {
        display: block;  
        order: 2;     
        padding-left: 5px;
        width: 100%;
        input[type='text'] {
          @include make-text-input(400px, 1.5em, 1em, 1em);       
          margin-left: auto;
          margin-right: auto;            
        }         
      }
      @include media(mediumDesktop) {
        //display: inline-block;
        float: left;
        padding-left: 5px;
        width: 15%;
        input[type='text'] {
          @include make-text-input(80%, 1.5em, 1em, 1em);
          position: relative;
          transition: all .5s;
          z-index: 1002;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;             
          &:focus {
            @include make-text-input(300px, 1.5em, 1em, 1em);
          }
        }          
      }
      @include media(largeDesktop) {
        // display: inline-block;
        float: left;
        padding-left: 15px;
        width: 20%;
        input[type='text'] {
          @include make-text-input(80%, 1.5em, 1em, 1em);
        }        
      }
    }
    .header__links {
      display: block;
      margin-left: auto;
      margin-right: auto;
      order: 1;
      width: 100%;
      @include media(tablet) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        order: 1;
        width: 100%;
      }
      @include media(mediumDesktop) {
        //display: inline-block;
        float: left;
        width: 78%;
      } 
      @include media(largeDesktop) {
        // display: inline-block;
        float: left;
        width: 78%;
      }
      .nav-links {
        list-style-type: none;
        width: 100%;
        li {
          display: block;
          margin-bottom: 10px;
          text-align: center;
          vertical-align: middle;
          @include media(tablet) {
            display: block;
            margin-bottom: 10px;
            width: 100%;
          }
          @include media(mediumDesktop) {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            width: auto;
          }
          @include media(largeDesktop) {
            display: inline-block;
            padding-left: 15px;
            padding-right: 15px;
            width: auto;
          }
          .btn-link {
            color: $black;
            line-height: inherit;
            padding: 0;
          }
          .profile-icon {
            padding-right: 5px;
          }
          .dropdown-toggle {
            cursor: pointer;
            display: inline-block;
            &:hover {
              text-decoration: underline;
            }
          }
          .dropdown {                    
            .dropdown-menu {
              left: -45px !important;
              top: 20px;
              text-align: center;
              div {
                display: inline-block;
                  height: 30px;
                  margin-bottom: 0;
                  margin-top: 0;
                  padding-bottom: 0;
                  padding-left: 10px;
                  padding-right: 10px;
                  padding-top: 0;              
                @include media(tablet) {
                  display: inline-block;
                  height: 30px;
                  margin-bottom: 0;
                  margin-top: 0;
                  padding-bottom: 0;
                  padding-left: 10px;
                  padding-right: 10px;
                  padding-top: 0;
                }
                @include media(mediumDesktop) {
                  display: block;
                  padding-left: 0;
                  padding-right: 0;                  
                }         
                @include media(largeDesktop) {
                  display: block;
                  padding-left: 0;
                  padding-right: 0;                    
                }                 
              }              
            }
          }
        }
      }
    }
  }
}
