@import '../../../shared/scss/global';

.form__type-container {
  display: block;
  height: 100%;
  width: 100%;
  hr {
    margin: 0 auto 5px auto;
    width: 99%;
  }
  header {    
    .header-container {
      display: block;
      width: 100%;
      border-bottom: 1px solid $bombay;
      padding-bottom: .75em;
      margin-bottom: 1em;
      .header__text {
        display: block;
        float: none;
        width: 100%;
        @include media(tablet) {
          display: block;
          float: none;
          width: 100%;
        }
        @include media(mediumDesktop) {
          float: left;
          width: 40%;
        }         
        @include media(largeDesktop) {
          float: left;
          width: 40%;
        }         
      }
      .header__btns {
        float: right;    
        .btn-print-preview {
          @extend .btn-secondary-gray;
          margin-right: 5px;
        }
        .btn-validate {
          @extend .btn-primary;
        }
        .btn {
          padding-top: 10px;
        }
      }
      @include clearfix();	
  }
}

  .form__type {
    float: left;
    // height: 400px;
    width: 100%;
    .type-list {
      list-style-type: none;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      z-index: 0;
      margin-top: .75em;
      .type-item {
        background-color: $white;
        color: $black;
        display: block;
        font-size: 0.85em;
        height: 90px;
        position: relative;
        float: left;
        width: 99%;
        border-bottom: 1px solid $iron;
        border-top: 1px solid $iron;
        padding-left: .75em;
        &:nth-child(even) {
          background-color: $seaShell !important;
        }
        @include media(tablet) {
          font-size: 1em;
        }
        @include media(mediumDesktop) {
          font-size: 1em;
          height: 50px;
          padding-top: 10px;
        }         
        @include media(largeDesktop) {
          font-size: 1em;
          height: 50px;
          padding-top: 10px;
        }         
        .type-item__box {
          display: inline-block;
          width: auto;
          .type-item__box--top,
          .type-item__box--bottom {
            display: block;
            width: 100%;
          }
          .collapse-text {
            color: $black;
            display: none;
            padding-left: 20px;
          }
          .type-radio {
            display: block;
            position: absolute;
            border: 5px solid $silverChalice;
            border-radius: 100%;
            cursor: pointer;
            height: 10px;
            width: 10px;
            top: 45px;
            left: 5px;
            z-index: 5;
            transition: border .25s linear;
            -webkit-transition: border .25s linear;
            @include media(tablet) {
              left: 20px;
            }
            @include media(mediumDesktop) {
              left: 20px;
            }         
            @include media(largeDesktop) {
              left: 20px;
            }             
            &:before {
              display: block;
              position: absolute;
              content: '';
              border-radius: 100%;
              height: 10px;
              width: 10px;
              top: 0;
              left: 0;
              margin: auto;
              transition: background 0.25s linear;
              -webkit-transition: background 0.25s linear;
            }
            &:checked {
              border: 5px solid #0DFF92;
              background: #0DFF92;
            }
          }
          .type-text {
            font-family: $mainFontFamily;
            display: inline-block;
            margin: 10px auto;
            position: relative;
            // padding-bottom: 25px;
            // padding-left: 45px;
            // padding-top: 40px;
            width: 190px;
            z-index: 0;
            -webkit-transition: all 0.25s linear;
            @include media(tablet) {
              padding-left: 10px;
              width: auto;
            }
            @include media(mediumDesktop) {
              padding-left: 10px;
              width: auto;
            }         
            @include media(largeDesktop) {
              padding-left: 10px;
              width: auto;
            }             
          }
        } // .type-item__box
        .type__info {
          cursor: pointer;
          display: inline-block;
          padding-left: 10px;
          .btn-link {
            color: $black;
            margin: 0;
            padding: 0;
            text-decoration: none;
            &:hover {
              color: $black;
              text-decoration: none;
            }
          }
          .tooltip {
            /* left: 0 !important;
            @include media(tablet) {
              left: 310px !important;
            }
            @include media(mediumDesktop) {
              left: 310px !important;
            }         
            @include media(largeDesktop) {
              // left: 310px !important;
              left: auto !important;
            }  */   
            .arrow {
              /* left: 218px;
              @include media(tablet) {
                left: 0;
              }
              @include media(mediumDesktop) {
                left: 0;
              }         
              @include media(largeDesktop) {
                left: 0;
              }   */             
            }          
            .tooltip-inner {
              max-width: 300px;
              text-align: left;
              @include media(tablet) {
                max-width: 300px;
              }
              @include media(mediumDesktop) {
                max-width: 500px;
              }         
              @include media(largeDesktop) {
                max-width: 600px;
              }               
            }
          }
        }
      } // .type-item
    } // .type-list
    .forms__btn-container {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      @include clearfix();
    }
      .no-buff {
    padding-left: 0 !important;
    padding-right: 0 !important;
  } // .form__type
  }
  .type-item:hover {
    cursor: pointer !important;
  }
  .type-text:hover {
    cursor: pointer !important;
  }
  input[type="radio"]:hover {
    cursor: pointer !important;
  }
} // .form__type-container
