/* You can add global styles to this file, and also import other style files */
$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome.scss';

@import './app/shared/scss/global';

@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/modal';

body {
  color: $white;
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  height: 100vh;
  margin: 0;
  overflow-y: scroll;
}

.bars-icon {
  @extend .fa;
  @extend .fa-bars;
}
