
<div class="grid-row">
  <div class="grid-row__col space-bottom pt-3">
    <h3>
      Candidate by Qualification Summary
    </h3>
  </div>
</div>

<div class="grid-row">
  <div class="col offset-md-1">
    <table class="table table-striped table-hover table__sortable transactions__table">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Office Sought
          </th>
          <th>
            State
          </th>
          <th>
            District
          </th>
          <th>
            Date
          </th>
          <th *ngIf="step !== 'step_3'"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidatesData">
          <td>{{ candidate.cand_first_name }} {{ candidate.cand_last_name }} </td>
          <td>{{ candidate.cand_office }}</td>
          <td>{{ candidate.cand_office_state }}</td>
          <td>{{ candidate.cand_office_district }}</td>
          <td>{{ candidate.contribution_date }}</td>
          <td *ngIf="step !== 'step_3'">
            <div class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
              <button class="btn btn-sm btn-primary" ngbDropdownToggle (click)="checkIfEditMode()">
                <i class="ellipsis-icon"></i>
              </button>
              <div id="transactions__dropdown-action" class="dropdown-menu" ngbDropdownMenu >
                <button class="dropdown-item" (click)="editCandidate(candidate)"><i class="edit-icon"></i> Edit</button>
                <button class="dropdown-item" (click)="trashCandidate(candidate)"><i class="trash-icon"></i> Trash</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>