<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadItem(r)" [term]="t"></ngb-highlight>
</ng-template>

<ng-template #rtOrg let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadOrgItem(r)" [term]="t"></ngb-highlight>
</ng-template>

<ng-template #rtCommitteeId let-r="result" let-t="term">
  <ngb-highlight [result]="formatTypeaheadCommitteeId(r)" [term]="t"></ngb-highlight>
</ng-template>

<div class="individual-receipt-container">
  <form [formGroup]="frmIndividualReceipt">
    <header>
      <div class="header-content">
        <div class="float-left">
          <h1>
            Form 3X
            <ng-container *ngIf="transactionTypeText"> / {{ transactionTypeText }} </ng-container>
          </h1>
        </div>
        <div class="float-right" ngbDropdown>
          <button type="button" class="btn btn-link btn-options" id="dropdownBasic2" ngbDropdownToggle>
            <span class="ellipsis-icon" aria-hidden="true"></span>
            <span class="sr-only">Click for more options</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item"><i class="view-icon"></i> View</button>
            <button class="dropdown-item" (click)="printPreview()"><i class="print-icon"></i> Print</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
    </header>
    <section>
      <ng-container *ngFor="let hiddenField of hiddenFields">
        <input type="hidden" [name]="hiddenField?.name" [value]="hiddenField?.value" />
      </ng-container>
      <ng-container *ngFor="let row of formFields; let i = index">
        <ng-container *ngIf="titles[i]?.fieldset">
          <div class="row">
            <div [class]="titles[i]?.colClassName">
              {{ titles[i]?.label }}
            </div>
          </div>
        </ng-container>
        <div class="row" *ngIf="row.cols">
          <ng-container *ngIf="row.cols | isArray">

            <ng-container *ngFor="let col of row.cols">
              <div [class]="row.colClassName" *ngIf="isToggleShow(col)">
                <div class="form-group"> 
                  <label [for]="col?.name">
                    {{ col?.text }}
                    <button
                      type="button"
                      class="btn btn-info"
                      ngbTooltip="{{ col?.infoText }}"
                      tooltipClass="form-tooltip"
                      *ngIf="col?.infoIcon"
                    >
                      <i class="info-icon" aria-hidden="true"></i>
                      <span class="sr-only">Click here for more information</span>
                    </button>
                    <ng-container *ngIf="!col?.validation?.required && col?.name !== 'contribution_aggregate'">
                      (Optional)
                    </ng-container>
                  </label>
                  <ng-container *ngIf="col?.type === 'text' || col?.type === 'date'">
                    <div [ngClass]="{ 'input-group': col?.inputGroup }">
                      <ng-container *ngIf="col?.inputGroup">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i [class]="col?.inputIcon" aria-hidden="true"></i>
                          </span>
                        </div>
                      </ng-container>
                      <!-- [attr.readonly]="isReadOnly(col?.name, col.type)" -->
                      <!-- && col?.name !== 'child*entity_name'
                      && col?.name !== 'child*donor_cmte_id'" -->
                      <input
                        *ngIf="col?.name !== 'first_name' 
                            && col?.name !== 'last_name'
                            && !isFieldName(col?.name, 'entity_name')
                            && !isFieldName(col?.name, 'donor_cmte_id')
                            "
                        class="form-control"
                        [style.width]="col?.width"
                        [style.height]="col?.height"
                        [attr.type]="col?.type"
                        [attr.name]="col?.name"                      
                        [attr.readonly]="isFieldName(col?.name, 'contribution_aggregate') && col.type === 'text' ? true : null"
                        [attr.value]="col?.value"
                        [maxlength]="isFieldName(col?.name, 'contribution_amount') ? col?.validation?.max + 5: col?.validation?.max"
                        [formControlName]="col?.name"
                        (blur)="isFieldName(col?.name, 'contribution_amount') ? contributionAmountChange($event, col?.name) : null"
                        [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'input-field-error'
                            : ''
                        "
                        (keyup)="handleFormFieldKeyup($event, col)"
                      />
                      <input
                        *ngIf="col?.name === 'last_name'"
                        class="form-control"
                        [style.width]="col?.width"
                        [style.height]="col?.height"
                        [attr.type]="col?.type"
                        [attr.name]="col?.name"
                        [attr.value]="col?.value"
                        [maxlength]="col?.validation?.max"
                        [formControlName]="col?.name"
                        [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'input-field-error'
                            : ''
                        "
                        id="typeahead-template-last-name"
                        [ngbTypeahead]="searchLastName"
                        [resultTemplate]="rt"
                        [inputFormatter]="formatterLastName"
                        (selectItem)="handleSelectedItem($event)"
                        (keyup)="handleFormFieldKeyup($event, col)"
                      />
                      <input
                        *ngIf="col?.name === 'first_name'"
                        class="form-control"
                        [style.width]="col?.width"
                        [style.height]="col?.height"
                        [attr.type]="col?.type"
                        [attr.name]="col?.name"
                        [attr.value]="col?.value"
                        [maxlength]="col?.validation?.max"
                        [formControlName]="col?.name"
                        [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'input-field-error'
                            : ''
                        "
                        id="typeahead-template-first-name"
                        [ngbTypeahead]="searchFirstName"
                        [resultTemplate]="rt"
                        [inputFormatter]="formatterFirstName"
                        (selectItem)="handleSelectedItem($event)"
                        (keyup)="handleFormFieldKeyup($event, col)"
                      />
                      <input
                        *ngIf="isFieldName(col?.name, 'entity_name')"
                        class="form-control"
                        [style.width]="col?.width"
                        [style.height]="col?.height"
                        [attr.type]="col?.type"
                        [attr.name]="col?.name"
                        [attr.value]="col?.value"
                        [maxlength]="col?.validation?.max"
                        [formControlName]="col?.name"
                        [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'input-field-error'
                            : ''
                        "
                        id="typeahead-template-org"
                        [ngbTypeahead]="searchOrg"
                        [resultTemplate]="rtOrg"
                        [inputFormatter]="formatterOrgName"
                        (selectItem)="handleSelectedEntity_NEW($event, col?.name)"
                      />
                      <input
                        *ngIf="isFieldName(col?.name, 'donor_cmte_id')"
                        class="form-control"
                        [style.width]="col?.width"
                        [style.height]="col?.height"
                        [attr.type]="col?.type"
                        [attr.name]="col?.name"
                        [attr.value]="col?.value"
                        [maxlength]="col?.validation?.max"
                        [formControlName]="col?.name"
                        [ngClass]="
                          frmIndividualReceipt.get(col?.name)?.invalid &&
                          (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                            ? 'input-field-error'
                            : ''
                        "
                        id="typeahead-template-committee-id"
                        [ngbTypeahead]="searchCommitteeId"
                        [resultTemplate]="rtCommitteeId"
                        [inputFormatter]="formatterCommitteeId"
                        (selectItem)="handleSelectedEntity_NEW($event, col?.name)"
                      />                  
                    </div>
                    <div
                      class="error-text"
                      *ngIf="
                        (frmIndividualReceipt.touched || frmIndividualReceipt.dirty) &&
                        frmIndividualReceipt.get(col?.name).invalid
                      "
                    >
                      <ng-container *ngIf="frmIndividualReceipt.get(col?.name).errors?.maxlength">
                        <div
                          class="text-error text-left"
                          *ngIf="
                            frmIndividualReceipt.get(col?.name).errors.maxlength?.requiredLength <
                            frmIndividualReceipt.get(col?.name).errors.maxlength?.actualLength
                          "
                        >
                          Only {{ frmIndividualReceipt.get(col?.name).errors.maxlength?.requiredLength }} characters
                          allowed.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmIndividualReceipt.get(col?.name).errors">
                        <div
                          class="text-error text-left"
                          *ngIf="frmIndividualReceipt.get(col?.name).errors?.nonAlphaNumeric"
                        >
                          Alphanumeric characters only.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmIndividualReceipt.get(col?.name).errors">
                        <div
                          class="text-error text-left"
                          *ngIf="frmIndividualReceipt.get(col?.name).errors?.nonFloatingPoint"
                        >
                          Only numerical values are allowed.
                        </div>
                      </ng-container>
                      <ng-container *ngIf="frmIndividualReceipt.get(col?.name).errors">
                        <div
                          class="text-error text-left"
                          *ngIf="frmIndividualReceipt.get(col?.name).errors?.contributionDateInvalid"
                        >
                          The date entered falls outside of the report coverage period. Transactions for this report
                          should fall within {{ cvgStartDate }} and {{ cvgEndDate }} (Coverage Dates of Report). If you
                          need to add a transaction with a date that falls outside of the coverage period for this report,
                          you will need to check the memo code box.
                          <!-- Entered date is outside of the report coverage period. Please enter transactions for this
                          coverage period only. -->
                        </div>
                      </ng-container>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'checkbox'">
                    <input
                      class="form-control forms__big_checkbox"
                      [style.width]="col?.width"
                      [style.height]="col?.height"
                      [attr.type]="col?.type"
                      [attr.name]="col?.name"
                      [attr.value]="col?.value"
                      [attr.disabled]="isMemoCodeReadOnly(col?.name)"
                      [checked]="isFieldName(col?.name, 'memo_code') ? checkForMemoCode(col?.name) : null"
                      [formControlName]="col?.name"
                      (change)="isFieldName(col?.name, 'memo_code') ? memoCodeChange($event, col?.name) : null"
                      [ngClass]="
                        frmIndividualReceipt.get(col?.name)?.invalid &&
                        (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                          ? 'input-field-error'
                          : ''
                      "
                    />
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'textarea'">
                    <textarea
                      [style.height]="col?.height"
                      [style.width]="col?.width"
                      [style.overflow]="col.scroll ? col.scroll : null"
                      [attr.name]="col?.name"
                      [attr.maxlength]="col?.validation?.max"
                      [formControlName]="col?.name"
                    ></textarea>
                  </ng-container>                
                  <ng-container *ngIf="col?.type === 'select' && isFieldName(col?.name, 'state')">  
                    <ng-select
                      (change)="handleStateChange($event, col)"
                      class="state-select"
                      [formControlName]="col?.name"
                      [ngClass]="
                        frmIndividualReceipt.get(col?.name)?.invalid &&
                        (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                          ? 'state-select-error'
                          : ''
                      "
                    >
                      <ng-option *ngFor="let item of states" [ngValue]="item">
                        {{ item.code }} - {{ item.name }}
                      </ng-option>
                    </ng-select>
                  </ng-container>
                  <ng-container *ngIf="col?.type === 'select' && isFieldName(col?.name, 'entity_type')">  
                    <ng-select
                      (change)="handleOrgTypeChange($event, col)"
                      class="org-type-select"
                      [formControlName]="col?.name"
                      [ngClass]="
                        frmIndividualReceipt.get(col?.name)?.invalid &&
                        (frmIndividualReceipt.touched || frmIndividualReceipt.dirty)
                          ? 'org-type-select-error'
                          : ''
                      "
                    >
                      <ng-option *ngFor="let item of orgTypes" value="{{item.code}}">
                        {{item.name}}
                      </ng-option>
                    </ng-select>
                  </ng-container>                
                </div>
              </div>
            </ng-container>
            <!-- ./col -->
          </ng-container>
        </div>
        <!-- ./row -->
        <ng-container *ngIf="row.seperator">
          <div class="row">
            <div class="col-md-12">
              <hr />
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="row.childForm">
          <div class="row">
            <div [class]="row.colClassName">
              {{ row.childFormTitle }}
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                <hr />
              </div>
            </div>
        </ng-container>

      </ng-container>
    </section>
    <footer>
      <footer>
        <div class="grid-row">
          <div class="grid-row__col grid-row__col--12">
            <div class="forms__btn-container">
              <button class="btn btn-previous btn-left" type="button" (click)="previousStep()">
                Previous
              </button>
              <button class="btn btn-secondary btn-right" (click)="doValidateReceipt()">
                Save &amp; Add Transaction
              </button>
              <a class="btn btn-previous btn-right" (click)="viewTransactions()">
                View Transactions
              </a>
            </div>
          </div>
        </div>
      </footer>
    </footer>
  </form>
</div>
