<div class="how_to__container">
  <header>
    <div class="header-content">
      <div class="grid-row">
        <div class="grid-row__col grid-row__col--12">
          <div class="float-left">
            <h1>Import Contacts "How To Page"</h1>
          </div>
          <div class="float-left ">
            <div (click)="returnToImport()" class="how_to__info">Return to Import</div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-content-sep">
      <hr />
    </div>
  </header>
  <section>
    <div class="how_to__body">
      <h2 class="how_to__heading">Import Steps (Train Stops)</h2>
      <p>
        Import Steps (Train Stops) have been provided to inform the user of where they are in the import process. As you
        go through each step of the process, the related step will be greyed in.
      </p>
      <div class="how_to__train-stop">
        <app-steps [steps]="steps" [current_step]="currentStep"> </app-steps>
      </div>
      <div class="how_to__content-sep">
        <hr />
      </div>
      <h2 class="how_to__heading">Importing Files</h2>
      <p>
        Importing can be done by dragging and dropping your files into the grey space provided as prompted; or also by
        selecting the file you wish to upload via file explorer. The accepted file format for imports is a CSV file
        only. You can upload up to 10 CSV files during the importing process. The system will then upload the document
        and scan it for formatting errors. If any errors are found the upload will be cancelled and a list of the
        formatting error(s) will be provided for the user to check their file against.
      </p>

      <div id="how_to__drop-area">
        <div class="how_to__drop-area-text">
          <i class="file-upload-icon how_to__upload-icon"></i>
          <br />
          Drop or Drag a CSV File Here to Upload
          <br />
          or
          <br />
          <span><a>Select a file</a></span>
        </div>
      </div>
      <div class="how_to__content-sep">
        <hr />
      </div>
      <h2 class="how_to__heading">Import File Loader</h2>
      <p>
        During file uploads and imports you will see this progress bar displayed informing the user of the status of the
        upload/import. Once complete the progress bar percentage will display as 100%.
      </p>
      <div class="how_to__progress">
        <ngb-progressbar type="dark" textType="white" animated="true" [value]="'75'" showValue="true" height="2rem">
        </ngb-progressbar>
        <p>
          The system is now importing your import file. Depending upon the size of your import file the process may run
          for a few minutes. Once the import is complete you will also receive a notice in the Notifications section.
        </p>
      </div>
      <div class="how_to__content-sep">
        <hr />
      </div>
      <h2 class="how_to__heading">Importing a CSV File</h2>
      <p>
        A total of 1 import can be done at a time. During the process you can cancel a upload/import at any time. Once a
        file has completed the import process you can select another begin another upload/import.
      </p>
      <div class="how_to__content-sep">
        <hr />
      </div>
      <h2 class="how_to__heading">Import Clean</h2>
      <p>
        When duplicate contacts appear from the import file against the user's database contacts this screen will be
        displayed for the user to chose which contact entry they would like to keep. The user will be able to chose one
        out of all entries listed.
      </p>
      <div class="how_to__table">
        <h2 class="how_to__table-heading">
          Duplicate Contact Entries
        </h2>
        <div class="clean_contacts__table-container">
          <div class="clean_contacts__table-inner">
            <table class="table table-striped table-hover clean_contacts__table">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Address 1</th>
                  <th>Address 2</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Zip Code</th>
                  <th>Employer</th>
                  <th>Occupation</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let contact of contacts | paginate: config; let i = index;">
                  <tr>
                    <td>
                      <div class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
                        <button class="btn btn-sm btn-primary contacts__action-button" ngbDropdownToggle>
                          <i *ngIf="!contact.user_selected_option" class="ellipsis-icon"></i>
                          <span *ngIf="contact.user_selected_option === 'add'">Add New</span>
                          <span *ngIf="contact.user_selected_option === 'update'">Merge & Update</span>
                          <span *ngIf="contact.user_selected_option === 'exsisting'">Merge with Existing</span>
                        </button>
                        <!-- placement not working so use CSS margin-left -->
                        <div id="contacts__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
                          <button class="dropdown-item">
                            Add New
                          </button>
                          <button class="dropdown-item">
                            Merge & Update
                          </button>
                          <button class="dropdown-item">
                            Merge with Existing
                          </button>
                        </div>
                      </div>
                    </td>
                    <td>{{ formatName(contact) }}</td>
                    <td>Import File</td>
                    <td>{{contact.street_1}}</td>
                    <td>{{contact.street_2}}</td>
                    <td>{{contact.city}}</td>
                    <td>{{contact.state}}</td>
                    <td>{{contact.zip_code}}</td>
                    <td>{{contact.employer}}</td>
                    <td>{{contact.occupation}}</td>
                  </tr>
                  <tr *ngFor="let dupe of contact.contacts_from_db;">
                    <td class="indent_right">
                      <div class="radio">
                        <input type="radio" name="dupe_id_{{contact.entity_id}}"
                          [checked]="dupe.user_selected_value === true" />
                      </div>
                    </td>
                    <td>{{ formatName(dupe) }}</td>
                    <td>Database</td>
                    <td>{{dupe.street_1}}</td>
                    <td>{{dupe.street_2}}</td>
                    <td>{{dupe.city}}</td>
                    <td>{{dupe.state}}</td>
                    <td>{{dupe.zip_code}}</td>
                    <td>{{dupe.employer}}</td>
                    <td>{{dupe.occupation}}</td>
                  </tr>
                </ng-container>             
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
