@import '../../../shared/scss/global';

.how_to__container {
  header {
    .header-content {
      display: block;
      margin: 2px auto;
      width: 98%;
      padding: 0.75em 0 0.25em 0;
      .how_to__header-2 {
        font-size: 2em;
        padding-left: 0.5em;
      }
    }
    .header-content-sep {
      margin: 2px auto;
      width: 98%;
    }
    .how_to__info {
      padding-top: 1em;
      padding-left: 1em;
    }
  }
  section {
    .how_to__body {
      margin: 2px auto;
      width: 98%;
      padding: 0.75em 0 4em 0;
      .how_to__heading {
        padding: 40px 0 20px 0;
      }
      .how_to__train-stop {
        /* height: 300px; */
        /* width: 500px; */
        border-style: solid;
        border-color: $ghost;
        border-radius: 33px;
        padding: 3em 0;
      }
      .how_to__content-sep {
        margin-top: 5em;
      }
      #how_to__drop-area {
        height: 20em;
        padding: 20px;
        margin-bottom: 20px;
        background-color: $mercury;
        .how_to__drop-area-text {
          padding: 4% 25%;
          text-align: center;
          font-size: 26px;
          .how_to__upload-icon {
            font-size: 3em;
            padding: 10px;
            color: $blueZodiac;
          }
        }
      }
      .how_to__progress {
        border-style: solid;
        border-color: $ghost;
        padding: 2em;
        width: 70%;
      }
      .how_to__table {
        .how_to__table-heading {
            padding: .5em 0;
        }
        .clean_contacts__table-inner {
            overflow-x: auto;
            overflow-y: visible;
            /* max-width: 96%;
            margin-left: 4%; */
        
            table {
              table-layout: fixed;
              th {
                width: 10em; /* 150px; */
                height: 2.5em;
              }
              .hard_left {
                position: absolute;
                left: 0; 
                width: 2%;
              }
              .indent_right {
                /*
                position: absolute;
                left: 13px; 
                width: 2%;
                padding-left: 32px;
                */
                text-align: center;
              }
              td {
                vertical-align: middle;
              }
              .contacts__action-button {
                width: 11em;
              }
              #contacts__dropdown-action {
                margin-left: 3.5em
              }
            }
          }
        
      }
    }
  }
  footer {
    .import_contacts__btn-container {
      margin: 5px auto;
      padding: 0;
      width: 80%;
      @include media(tablet) {
        margin: 0;
        padding: 0;
        width: 95%;
      }
      @include media(mediumDesktop) {
        width: 95%;
        .btn-right {
          margin-right: 20px;
        }
      }
      @include media(largeDesktop) {
        width: 95%;
        .btn-right {
          margin-right: 20px;
        }
      }
      @include clearfix();
    }
  }
}
