<div class="form-sidebar">
  <header>
    <h3 class="text-center">{{ title }}</h3>
    <hr />
  </header>
  <section>
    <div class="search-field" *ngIf="searchField">
      <i class="search-icon" aria-hidden="true"></i>
      <input
        type="{{ searchField.type }}"
        name="{{ searchField.name }}"
        class="{{ searchField.name }}"
        placeholder="{{ searchField.placeholder }}"
      />
    </div>
    <ul class="form-sidebar__links">
      <li
        [ngClass]="itemSelected === categoryType?.value ? 'form-sidebar-item selected' : 'form-sidebar-item'"
        *ngFor="let categoryType of sidebarLinks"
      >
        <div
          [ngClass]="itemSelected === categoryType?.value ? 'form-sidebar-item-box selected' : 'form-sidebar-item-box'"
        >
          <button
            #item
            type="button"
            value="{{ categoryType?.value }}"
            [ngClass]="itemSelected === categoryType?.value ? 'btn btn-link selected' : 'btn btn-link'"
            (click)="selectItem(item)"
          >
            {{ categoryType?.text }}
          </button>
          <div class="amount">
            ${{ categoryType?.amount }}
          </div>
        </div>
        <div
          [ngClass]="itemSelected === categoryType?.value ? 'additional-options visible' : 'additional-options'"
        >
          <ul class="additional-options-list">
            <li
              *ngFor="let option of categoryType?.options"
              [ngClass]="additionalItemSelected === option?.value ? 'additional-item selected' : 'additional-item'"
            >
              <button
                #additionalItem
                type="button"
                value="{{ option.value }}"
                [ngClass]="additionalItemSelected === option?.value ? 'btn btn-link selected' : 'btn btn-link'"
                (click)="selectedAdditionalOption(additionalItem)"
              >
                {{ option.text }}
              </button>
              <button
                type="button"
                class="btn-info"
                ngbTooltip="{{ option?.info }}"
                *ngIf="option.infoIcon"
              >
                <i class="info-icon" aria-hidden="true"></i>
                <span class="sr-only">
                  Click for more information
                </span>
              </button>
            </li>
          </ul>
        </div>
      </li>
      <li
        class="form-sidebar-item"
        *ngIf="cashOnHand?.showCashOnHand"
      >
        <div class="form-sidebar-item__text">
          {{ cashOnHand.text }}
        </div>
        <div class="form-sidebar-item__value">
          ${{ cashOnHand.amount }}
        </div>
      </li>
    </ul>
    <div class="form-sidebar__btns">
      <div class="btn-row">
        <button
          type="button"
          class="btn btn-secondary-gray"
        >
          Summary
        </button>
      </div>
      <div class="btn-row">
        <button
          type="button"
          class="btn btn-secondary"
        >
          Sign &amp; Submit
        </button>
      </div>
    </div>
  </section>
</div>
