<div class="form-sidebar">
  <h3 class="text-center">{{ title }}</h3>
  <ul class="form-sidebar__links">
    <li [ngClass]="itemSelected === categoryType?.type?.value ? 'form-sidebar-item selected' : 'form-sidebar-item'"
      *ngFor="let categoryType of sidebarLinks"
    >
      <button
        #item
        type="button"
        value="{{ categoryType?.type?.value }}"
        [ngClass]="itemSelected === categoryType?.type?.value ? 'btn btn-link selected' : 'btn btn-link'"
        (click)="selectItem(item)"
      >
        {{ categoryType?.type?.name }}
      </button>
      <div
        [ngClass]="itemSelected === categoryType?.type?.value ? 'additional-options visible' : 'additional-options'"
      >
        <ul class="additional-options-list">
          <li *ngFor="let option of categoryType.type.options">
            {{ option.name }}
            <button
              type="button"
              class="btn btn-link btn-tooltip"
              ngbTooltip="{{ option?.info }}"
              *ngIf="option.infoIcon"
            >
              <i class="info-icon" aria-hidden="true"></i>
              <span class="sr-only">
                Click for more information
              </span>
            </button>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
