<div class="forms__wizard">
  <div class="form__container">
    <header>
      <!--Train stop-->
      <div class="form__steps">
        <app-steps [steps]="[
          {text: 'Type', step: 'step_1', edit: editMode, reportId: reportId},
          {text: 'Form', step: 'step_2', edit: editMode, reportId: reportId},
          {text: 'Preview', step: 'step_3', edit: editMode, reportId: reportId},
          {text: 'Sign', step: 'step_4', edit: editMode, reportId: reportId},
          {text: 'Submit', step: 'step_5', edit: editMode, reportId: reportId}
          ]" [current_step]="step">
        </app-steps>
      </div>
    </header>
    <section>
      <div class="form__content tight_box pl-4" [hidden]="step !== 'step_1'">
        <app-f1m-type (changeStep)="changeStep($event)"></app-f1m-type>
      </div>
      <div class="form__content tight_box pl-4" [hidden]="step !== 'step_2'">
        <app-f1m-affiliation [scheduleAction]="scheduleAction" *ngIf="type === 'affiliation'"></app-f1m-affiliation>
      </div>
      <div class="form__content tight_box pl-4" [hidden]="step !== 'step_2'">
        <app-f1m-qualification  *ngIf="type === 'qualification'"
        [candidateNumber]="candidateNumber" [qualificationData]="qualificationData" [reportId]="reportId"
        (addCandidateEvent) = "saveAndContinue($event)" [scheduleAction]="scheduleAction"
        >
        </app-f1m-qualification>
      </div>
      <div class="form__content tight_box pl-4" [hidden]="step !== 'step_3'">
        <app-f1m-preview 
          [reportId]="reportId" 
          [affiliationData]="affiliationData" 
          [qualificationData]="qualificationData" 
          [type]="type" 
          [treasurerData]="treasurerData"
          [step]="step"
          >
        </app-f1m-preview>
      </div>
      <div class="form__content tight_box pl-4" [hidden]="step !== 'step_4'">
        <app-sign-and-submit [formTitle]="'Form 1M / By ' + type | titlecase"
          [reportId]="reportId"
          [emailsOnFile]="emailsOnFile"
          [scheduleAction]="scheduleAction"
          [formData]="signAndSubmitData"
          [treasurerData]="treasurerData"
          [formType]="'1M'"
        >

        </app-sign-and-submit>
      </div>
      <div class="form__content tight_box pl-4" [hidden]="step !== 'step_5'">
        <app-submit [FEC_Id]="filingId"></app-submit>
      </div>
    </section>
  </div> <!-- ./form__container -->
</div> <!-- ./forms__wizard -->
<footer>
  <div class="row pl-2 py-2">
    <div class="forms__btn-container">
      <button id="previous" class="btn btn-previous btn-left" *ngIf="showPreviousButton()"
        (click)="previous()">Previous</button>
      <button id="saveAndContinue" 
        *ngIf="showSaveAndContinueButton()"
        class="btn btn-primary btn-right"
        (click)="saveAndContinue()">Save &amp; Continue </button>
      <button id="skip" *ngIf="(step === 'step_2' && type === 'qualification' && qualificationComp && !qualificationComp.showPart2 && partyType === 'PTY') && scheduleAction !== 'view'"  class="btn btn-previous btn-right mr-3"
        (click)="skip()">Skip</button>
      <button id="signAndsubmit" *ngIf="step === 'step_3' && scheduleAction !== 'view'" class="btn btn-primary btn-right"
        (click)="signAndSubmit()">Sign &amp; Submit </button>
      <button id="submit" *ngIf="step === 'step_4' && scheduleAction !== 'view'" class="btn btn-primary btn-right" (click)="submit()">Submit</button>
      <button id="next" *ngIf="scheduleAction === 'view' && step !== 'step_4' && step !== 'step_5'" class="btn btn-primary btn-right" (click)="next()">Next</button>
    </div>
  </div>
</footer>