@import '../../../app/shared/scss/global';

.forms__wizard {
  display: table;
  table-layout: fixed;
  // height: 100vh;
  min-height: unset;
  margin: 0;
  padding: 0;
  width: 100%;
  @include firefoxOnly() {
    height: $mainContentHeight;
  }
  
  .form__alerts {
    background-color: $bombay;
    flex-grow: 1;
    &.show-alerts {
      display: none;
      padding-left: 0;
      @include media(tablet) {
        display: none;
      }
      @include media(mediumDesktop) {
        display: table-cell;
        width: 250px;
      }
      @include media(largeDesktop) {
        display: table-cell;
        width: 250px;
      }
    }
    &.hide-alerts {
      display: none;
    }
    @include media(tablet) {
      display: none;
    }
    @include media(mediumDesktop) {
      display: table-cell;
      //height: 120vh;
      min-height: 120vh;
      position: relative;
      width: 100px;
    }
    @include media(largeDesktop) {
      display: table-cell;
      //height: 120vh;
      // min-height: 120vh;
      position: relative;
      width: 100px;
    }
    @include clearfix();
  }
  .form__steps {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1em;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1rem;
    font-weight: 400;
    color: #212121;
    @include clearfix();
  }
  .form__container {
    display: table-cell;
    // min-height: 100vh;
    width: 100%;
    padding: 0 1em;
    &.show-alerts {
      padding-left: 0;
      @include media(tablet) {
        padding-left: 0;
      }
    }
    &.hide-alerts {
      min-height: 100vh;
      width: 100%;
    }
    .tight_box{
      width:50%;
    }
    .form__content {
      height: 100%;
      width: 85%;
      padding-left: 2px;
      @include media(tablet) {
        padding-left: 2px;
      }
      @include media(mediumDesktop) {
        padding-left: 0;
      }
      @include media(largeDesktop) {
        padding-left: 0;
      }
      &.hide-alerts {
        .form__step {
          padding-left: 0 !important;
        }
        margin: 0 auto;
        width: 98%;
      }
      .form__step {
        width: 100%;
        padding-left: 1em;
      }
    }
    @include clearfix();
  } // .form__container
  @include clearfix();
}

footer {
  .forms__btn-container {
      padding-top: 2%;
      padding-left:2%;
      position: relative;
      width: 82%;
  }
}