@import '../../shared/scss/global';

.modal-title{
  color: black;
}
.modal-body {
  color: #1d2124;
  ul li{
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .fec-logo{
    width: 100px;
    height: 100px;
  }
}
