<div class="modal-header">
  <h4 class="modal-title">
    Security Notification
  </h4>
  <hr>
</div>
<div class="modal-body">


  <h4>You are about to access the Federal Election Commission computer system.</h4>


  <p>This computer system and data therein are property of the U.S. Government and provided for official U.S. Government
    information and use. There is no expectation of privacy when you use this computer system. The use of a password or
    any other security measure does not establish an expectation of privacy.</p>


  <h4>By using this system, you consent to the terms set forth in this notice.</h4>


  <ul class="notice">
    <li>Please be advised that knowingly and willfully making any materially false, fictitious, or fraudulent statement
      or representation to a federal government agency, including the Federal Election Commission, is punishable under the
      provisions of 18 U.S.C. § 1001. The Commission may report apparent violations to the appropriate law enforcement
      authorities. 52 U.S.C. § 30107(a)(9).</li>


    <li>Unauthorized access, use, or modification of this system or of data contained herein, or in transit to/from this
      system, may constitute a violation of of 18 U.S.C. § 1001 and other criminal laws.</li>


    <li>Anyone who accesses a federal computer system without authorization or exceeds access authority, or obtains,
      alters,
      damages, destroys, or discloses information, or prevents authorized use of information on the computer system, may
      be subject to penalties, fines or imprisonment.</li>


    <li>This computer system and any related equipment is subject to monitoring for administrative oversight, law
      enforcement, criminal investigative purposes, inquiries into alleged wrong-doing or misuse, and to ensure proper
      performance of applicable security features and procedures.</li>


    <li>Federal Election Commission may conduct monitoring activities without further notice.</li>


    <li>Unauthorized attempts to upload information or change information on this service are strictly prohibited and may
      be
      punishable under the Computer Fraud and Abuse Act of 1986 and The National Information Infrastructure Protection
      Act
      of 1996</li>
  </ul>
  <div>
    <div class="text-center">
      <img class="fec-logo" src="assets/img/logo.svg" draggable="false" alt="FECLogo" />
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-secondary-gray btn-right"
          (click)="decline()">
    Decline and Exit
  </button>
  <button class="btn btn-primary btn-right"
          (click)="agree()">
    Consent and Continue
  </button>
</div>


