@import '../../../../shared/scss/global';

.clean_contacts__container {
  position: relative;

  .clean_contacts__table-inner {
    overflow-x: auto;
    overflow-y: visible;
    max-width: 96%; /* 1420px; */
    margin-left: 4% /* 67px; */;

    table {
      table-layout: fixed;
      th {
        width: 10em; /* 150px; */
        height: 2.5em;
      }
      .hard_left {
        position: absolute;
        left: 0; 
        width: 2%; /* 35px */;
      }
      td {
        vertical-align: middle;
      }
    }
  }

  .clean_contacts__heading {
      padding: .5em 0;
  }

  .clean_contacts__table-pagination-container {
    padding: 1em;
  } 

  /* style ngx-pagination - start */
  /* override some styling where use of !important is made. */

  .ngx-pagination .current{
    padding: 0.1875rem 0.625rem;
    background: #9B9B9B !important;;
    color: #fefefe;
    cursor: default;
  }

  .ngx-pagination a, .ngx-pagination button {
    color: #9B9B9B !important;;
    display: block;
    padding: 0.1875rem 0.625rem;
    border-radius: 0;
  }	

  /* style ngx-pagination - end */

  .clean_contacts__begin-import {
    width: 20em;
    height: 3em;
    margin: 1.2em 0;
  }

  .clean_contacts__ignore-warn {
    font-size: 3em;
    padding: 20px;
    text-align: center;
    color: $fecRed;
    float: left;
  }
}

.modal {
  .modal-lg, .modal-xl {
    max-width: 95%;
  }
  #clean_contacts__pin-modal-header {
    background-color: $primaryBlue;
    color: $white;
    span {
      color: $white;
    }
  }
  .clean_contacts__merge-table {
    .clean_contacts__name-col {
      width: 9%;
    }
    .clean_contacts__merge-label {
      font-size: larger;
      width: 22%;
      a {
        &:hover,
        &:visited,
        &:active {
          color: black;
          text-decoration: none;
        }
      }
    }
    .clean_contacts__display-name {
      font-weight: bold;
    }
    .clean_contacts__checkbox {
      float: left;
      height: 20px;
      width: 20px;
    }
    .clean_contacts__checkbox-missing-val {
      float: left;
      height: 20px;
      width: 20px;
      margin-top: 7px;
      margin-right: 9%;
    }
    .clean_contacts__missing-field {
      width: 70%;
      height: 19px;
    }
  }
}
