<div class="clean_contacts__container">
  <p>
    Listed below is where we found possible duplicates with your contacts on file, and a contact within the document you
    have just uploaded. Listed below are New Entries from the document you just uploaded.
  </p>
  <p><b>Duplicates can be defined by the First Name, Last Name, Committee Name, and Address of a contact from your
      database that matches exaclty with another contact within the document you just uploaded.</b></p>
  <p>Reduce issues with your data’s integrity by cleaning up duplicates to ensure your data is clean and free of
    redundant entries. This can be done by selecting the <b>Edit Icon</b> on the end of each entry's row. Then you will
    be able
    to merge by info field, or by selecting <b>"Merge All"</b> located towards the bottom of page.</p>
  <h2 class="clean_contacts__heading">
    Duplicate Contact Entries
  </h2>
  <div class="clean_contacts__table-container">
    <div class="clean_contacts__table-inner">
      <table class="table table-striped table-hover clean_contacts__table">
        <thead>
          <tr>
            <!-- <th class="hard_left"></th> -->
            <th></th>
            <th>Name</th>
            <th>Location</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Employer</th>
            <th>Occupation</th>
            <!-- <th>Candidate ID</th>
            <th>Candidate Office</th>
            <th>Candidate State</th>
            <th>Candidate District</th>
            <th>Multi-Candidate Committee Status</th> -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let contact of contacts | paginate: config; let i = index;">
            <tr>
              <!-- <td class="hard_left"> -->
              <td>
                <div class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
                  <button class="btn btn-sm btn-primary contacts__action-button" ngbDropdownToggle>
                    <i *ngIf="!contact.user_selected_option" class="ellipsis-icon"></i>
                    <span *ngIf="contact.user_selected_option === 'add'">Add New</span>
                    <span *ngIf="contact.user_selected_option === 'update'">Merge & Update</span>
                    <span *ngIf="contact.user_selected_option === 'exsisting'">Merge with Existing</span>
                  </button>
                  <!-- placement not working so use CSS margin-left -->
                  <div id="contacts__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="applyMergeSelection(contact, 'add')">
                      Add New
                    </button>
                    <button class="dropdown-item" (click)="applyMergeSelection(contact, 'update')">
                      Merge & Update
                    </button>
                    <button class="dropdown-item" (click)="applyMergeSelection(contact, 'exsisting')">
                      Merge with Existing
                    </button>
                  </div>
                </div>
              </td>
              <td>{{ formatName(contact) }}</td>
              <td>Import File</td>
              <td>{{contact.street_1}}</td>
              <td>{{contact.street_2}}</td>
              <td>{{contact.city}}</td>
              <td>{{contact.state}}</td>
              <td>{{contact.zip_code}}</td>
              <td>{{contact.employer}}</td>
              <td>{{contact.occupation}}</td>
            </tr>
            <!-- <tr>
              <span *ngIf="contact.user_selected_option === 'add'">Add New</span>
              <span *ngIf="contact.user_selected_option === 'update'">Merge & Update</span>
              <span *ngIf="contact.user_selected_option === 'exsisting'">Merge with Existing</span>
            </tr> -->
            <tr *ngFor="let dupe of contact.contacts_from_db;">
              <td class="indent_right">
                <div class="radio">
                  <input type="radio" name="dupe_id_{{contact.entity_id}}" [value]="dupe.user_selected_value"
                    [checked]="dupe.user_selected_value === true" (change)="dupe.user_selected_value = $event.target.value" />
                </div>
              </td>
              <td>{{ formatName(dupe) }}</td>
              <td>Database</td>
              <td>{{dupe.street_1}}</td>
              <td>{{dupe.street_2}}</td>
              <td>{{dupe.city}}</td>
              <td>{{dupe.state}}</td>
              <td>{{dupe.zip_code}}</td>
              <td>{{dupe.employer}}</td>
              <td>{{dupe.occupation}}</td>
            </tr>
          </ng-container>

          <!-- <ng-container *ngIf="contacts$">
            <ng-container *ngFor="let contact of contacts$ | async | paginate: config; let i = index;">
              <tr>
                <td class="hard_left">
                  <div class="btn-group" ngbDropdown role="group" aria-label="Action dropdown">
                    <button class="btn btn-sm btn-primary" ngbDropdownToggle>
                      <i class="ellipsis-icon"></i>
                    </button>
                    <div id="contacts__dropdown-action" class="dropdown-menu" ngbDropdownMenu>
                      <button class="dropdown-item">
                        Add New
                      </button>
                      <button class="dropdown-item">
                        Merge & Update
                      </button>
                      <button class="dropdown-item">
                        Merge with Existing
                      </button>
                    </div>
                  </div>
                </td>
                <td>{{ formatName(contact) }}</td>
                <td>Import File</td>
                <td>{{contact.street}}</td>
                <td>{{contact.street2}}</td>
                <td>{{contact.city}}</td>
                <td>{{contact.state}}</td>
                <td>{{contact.zip}}</td>
                <td>{{contact.employer}}</td>
                <td>{{contact.occupation}}</td>
              </tr>
              <tr *ngFor="let dupe of contact.potentialDupes;">
                <td class="indent_right">
                  <div class="radio">
                    <input type="radio" name="dupes_of_contact_{{i}}" />
                  </div>
                </td>
                <td>{{ formatName(dupe) }}</td>
                <td>Database</td>
                <td>{{dupe.street}}</td>
                <td>{{dupe.street2}}</td>
                <td>{{dupe.city}}</td>
                <td>{{dupe.state}}</td>
                <td>{{dupe.zip}}</td>
                <td>{{dupe.employer}}</td>
                <td>{{dupe.occupation}}</td>
              </tr>
            </ng-container>
          </ng-container> -->
        </tbody>
      </table>
    </div>
  </div>
  <hr />
  <ng-container *ngIf="contacts.length > 0">
    <div *ngIf="showPagination()" class="d-flex justify-content-center clean_contacts__table-pagination-container">
      <pagination-controls [id]="config.id" (pageChange)="checkDuplicates($event)">
      </pagination-controls>
    </div>
    <div class="row">
      <div class="col col-md-5">
        <button class="btn btn-secondary btn-left clean_contacts__button"
          (click)="confirmFinalizeImportAll(finalizeImportAllModal)">
          Ignore All & Import
        </button>
        <button [disabled]="!allDupesSelected" class="btn btn-primary btn-left clean_contacts__button"
          id="clean_contacts__merge-all-button"
          (click)="confirmFinalizeMergeAll(finalizeMergeAllModal)">
          Merge All & Import
        </button>
        <button class="btn btn-left clean_contacts__button clean_contacts__canel-button" (click)="cancelImportAll()">
          Cancel Import
        </button>
        <button class="btn btn-left clean_contacts__button clean_contacts__canel-button" (click)="checkDuplicates(1)">
          Reload Dupes for DEV
        </button>
      </div>
      <div class="col col-md-5">
        <i class="exclamation-triangle-icon clean_contacts__ignore-warn"></i>
        <p class="clean_contacts__ignore-text">Caution: If you Merge or Ignore all, your data may be corrupted upon
          Import. Ensure your data integrity by
          opting to check the individual line items for Merge or Ignore.</p>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="contacts.length === 0">
    <div class="clean_contacts__no-dupes text-center">No Duplicates Found</div>
    <hr />
    <div class="row">
      <div class="col col-md-5">
        <button class="btn btn-secondary btn-left clean_contacts__button" (click)="proceed()">
          Proceed
        </button>
        <button class="btn btn-left clean_contacts__button clean_contacts__canel-button" (click)="cancelImportAll()">
          Cancel Import
        </button>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #mergeContactsModal let-modal>
  <div class="modal-header" id="clean_contacts__pin-modal-header_1">
    <h1 class="modal-title pull-left clean_contacts__merge-title">Merge Contacts</h1>
    <button aria-label="Close" class="close btn btn-link" type="button" (click)="cancelMerge(modal)">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      Select the information you would like to keep. Once complete, click Merge to join the information of each
      entry together into the Final Entry which is displayed to the right. Duplicate entries will then become one
      entry based on your selections.
    </p>
    <table class="table table-striped table-hover clean_contacts__merge-table">
      <thead>
        <tr>
          <th class="clean_contacts__name-col"></th>
          <th class="clean_contacts__merge-label">
            <div class="checkbox">
              <label>
                <input [(ngModel)]="userContactHeader.selected" (change)="useAllUserContact($event)" type="checkbox"
                  class="clean_contacts__checkbox">
                <span class="clean_contacts__checkbox-label">Your Contact</span>
              </label>
            </div>
          </th>
          <th
            *ngFor="let dupeContact of dupeContactHeader | paginate: { itemsPerPage: 2, currentPage: mergePage }; let i = index"
            class="clean_contacts__merge-label">
            <div *ngIf="dupeContact !== duplicatePlaceHolder" class="checkbox">
              <pagination-template #p="paginationApi" (pageChange)="mergePage = $event">
              </pagination-template>
              <span *ngIf="checkFirstDupeHeaderOnPage(i, dupeContact)" role="navigation" aria-label="Pagination">
                <a *ngIf="!p.isFirstPage()" (click)="p.previous()" tabindex="0" aria-label="Previous page">
                  <i class="fa fa-angle-double-left"></i>
                </a>
              </span>
              <label>
                <input [(ngModel)]="dupeContact.selected" (change)="useAllDuplicate($event, dupeContact.seq)"
                  type="checkbox" class="clean_contacts__checkbox">
                <span class="clean_contacts__checkbox-label">
                  Duplicate {{dupeContact.seq}} of {{totalDuplicates}}
                </span>
              </label>
              <span *ngIf="checkLastDupeHeaderOnPage(i, dupeContact)" role="navigation" aria-label="Pagination">
                <a *ngIf="!p.isLastPage()" (click)="p.next()" tabindex="0" aria-label="Next page">
                  <i class="fa fa-angle-double-right"></i>
                </a>
              </span>
            </div>
          </th>
          <th class="clean_contacts__merge-label">Final</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let field of fieldsToClean; let i = index;">
          <td class="clean_contacts__display-name">{{field.displayName}}</td>
          <td class="text-center">
            <div class="checkbox">
              <label>
                <input type="checkbox" class="clean_contacts__checkbox" [disabled]="field.userField.disabled"
                  [(ngModel)]="field.userField.selected" (change)="fieldSelectedChange(field)">
                <span>{{field.userField.value}}</span>
              </label>
            </div>
          </td>
          <td *ngFor="let dupeField of field.dupeFields | paginate: { itemsPerPage: 2, currentPage: mergePage }"
            class="text-center">
            <div *ngIf="dupeField.value !== duplicatePlaceHolder" class="checkbox">
              <label>
                <input type="checkbox" [ngClass]="!dupeField.originallyEmpty 
                        ? 'clean_contacts__checkbox' 
                        : 'clean_contacts__checkbox-missing-val'" [disabled]="dupeField.disabled"
                  [(ngModel)]="dupeField.selected" (change)="fieldSelectedChange(field)">
                <span *ngIf="!dupeField.originallyEmpty">{{dupeField.value}}</span>
                <input *ngIf="dupeField.originallyEmpty" type="text" name="prop_{{i}}" [(ngModel)]="dupeField.value"
                  (keyup)="applyUserEditToFinal(dupeField, field)"
                  class="form-control clean_contacts__missing-field text-center" aria-label="Missing Value">
              </label>
            </div>
          </td>
          <td class="text-center">{{field.finalField}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-modal-footer btn-right" [disabled]="!checkMergeValid()"
      (click)="confirmFinalizeMerge(finalizeMergeModal)">
      Merge
    </button>
    <button type="button" class="btn btn-modal-footer btn-right btn-secondary-gray" (click)="cancelMerge(modal)">
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #finalizeMergeModal let-modal>
  <div class="modal-header" id="clean_contacts__pin-modal-header_2">
    <h2 class="modal-title pull-left clean_contacts__merge-title">Finalize Merge</h2>
    <button aria-label="Close" class="close btn btn-link" type="button" (click)="cancelFinalizeMerge(modal)">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      By Merging this selection you are combining the entries listed into one Final Entry. Would you like to
      continue?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-modal-footer btn-right" (click)="merge(modal)">
      Merge
    </button>
    <button type="button" class="btn btn-modal-footer btn-right btn-secondary-gray"
      (click)="cancelFinalizeMerge(modal)">
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #finalizeImportAllModal let-modal>
  <div class="modal-header" id="clean_contacts__pin-modal-header_3">
    <h2 class="modal-title pull-left clean_contacts__merge-title">Finalize Ignore All & Import Contacts</h2>
    <button aria-label="Close" class="close btn btn-link" type="button" (click)="cancelFinalizeImportAll(modal)">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      By continuing without merging duplicate entries, you will be keeping multiple entries for the contacts within the
      list presented. Would you like to continue?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-modal-footer btn-right" (click)="importAll(modal)">
      Import
    </button>
    <button type="button" class="btn btn-modal-footer btn-right btn-secondary-gray"
      (click)="cancelFinalizeImportAll(modal)">
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #finalizeMergeAllModal let-modal>
  <div class="modal-header" id="clean_contacts__pin-modal-header_4">
    <h2 class="modal-title pull-left clean_contacts__merge-title">Finalize Merge All & Import Contacts</h2>
    <button aria-label="Close" class="close btn btn-link" type="button" (click)="cancelFinalizeMergeAll(modal)">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      By continuing without merging duplicate entries, you will be overwriting existing entries with the
      contacts in the list presented. Would you like to continue?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-modal-footer btn-right" (click)="mergeAll(modal)">
      Import
    </button>
    <button type="button" class="btn btn-modal-footer btn-right btn-secondary-gray"
      (click)="cancelFinalizeImportAll(modal)">
      Cancel
    </button>
  </div>
</ng-template>