<div class="forms__wizard" *ngIf="!loadingData">
  <!--div class="form__sidebar" *ngIf="step !== 'financial_summary'">-->
  <div *ngIf="step !== 'step_6'" class="form__sidebar">
    <div [hidden]="step !== 'step_1'" *ngIf="!allTransactions">
      <report-type-sidebar title="Report Coverage Dates" (status)="onNotify($event)" [selectedReport]="selectedReport"
        [specialReports]="specialReports" [regularReports]="regularReports">
      </report-type-sidebar>
    </div>
    <div *ngIf="
        step === 'step_2' ||
        step === 'step_3' ||
        step === 'financial_summary' ||
        step === 'transactions' ||
        step === 'reports' ||
        step === 'step_4' ||
        step === 'loansummary' ||
        step === 'loan' ||
        step === 'loanpayment'
      ">
      <transaction-sidebar [step]="step" title="Transaction Categories" [transactionCategories]="transactionCategories"
        (status)="onNotify($event)" [hidden]="isShowFilters" *ngIf="!allTransactions" [transactionCategoriesMainData]="transactionCategoriesMainData"
        [formType]="formType"
        >
      </transaction-sidebar>
      <app-transactions-filter [hidden]="!allTransactions && !isShowFilters" title="Filters" [formType]="formType">
      </app-transactions-filter>
    </div>
  </div>
  <div class="form__container" [ngClass]="{
      'show-alerts': showValidateBar === true,
      'hide-alerts': step === 'step_6'
    }">
    <div class="form__steps mt-4" *ngIf="!allTransactions">
      <app-steps [steps]="[
          { text: 'Report', step: 'step_1', edit: editMode },
          { text: 'Type', step: 'step_2', edit: editMode },
          { text: 'Form', step: 'step_3', edit: editMode, transactionCategory: transactionCategory },
          { text: 'Preview', step: 'step_4', edit: editMode },
          { text: 'Sign', step: 'step_5', edit: editMode },
          { text: 'Submit', step: 'step_6', edit: editMode }
        ]" [current_step]="currentStep">
      </app-steps>
    </div>
    <div class="form__content">
      <div *ngIf="step === 'financial_summary'">
        <f3x-financial-summary> </f3x-financial-summary>
      </div>
      <div class="form__step" [hidden]="step !== 'step_1'">
        <form-report-type [formRadioOptionsVisible]="formRadioOptionsVisible" (status)="onNotify($event)"
          [reportType]="reportType" [reportsLoading]="reportsLoading"
          [coverageDateNotSelected]="coverageDateNotSelected" [committeeReportTypes]="reportTypes"
          [selectedReportInfo]="selectedReportInfo" [formType]="formType">
        </form-report-type>
      </div>


      <div class="form__step" [hidden]="step !== 'step_3'">
        <div [hidden]="
            transactionType === 'ALLOC_H4_TYPES' ||
            transactionType === 'ALLOC_H4_SUM' ||
            transactionType === 'ALLOC_H6_TYPES' ||
            transactionType === 'ALLOC_H6_SUM' ||
            transactionType === 'LA_ENTRY' ||
            transactionType === 'LB_ENTRY' ||
            transactionType === 'LA_SUM' ||
            transactionType === 'LB_SUM' ||
            transactionType === 'L_SUM'
          ">

          <app-sched-e *ngIf="scheduleType === 'sched_e'" [transactionData]="transactionData"
            [transactionDataForChild]="transactionDataForChild" [parentTransactionModel]="parentTransactionModel"
            [mainTransactionTypeText]="mainTransactionTypeText" [transactionTypeText]="transactionTypeText"
            [transactionType]="transactionType" [scheduleAction]="scheduleAction" [scheduleType]="scheduleType"
            [returnToGlobalAllTransaction]="returnToGlobalAllTransaction" 
            (status)="onNotify($event)" (parentDataEmitter)="setParentTransactionalData($event)">
          </app-sched-e>
          <f3x-individual-receipt *ngIf="
              scheduleType === 'sched_a' ||
              scheduleType === 'sched_b' ||
              scheduleType === 'sched_d' ||
              scheduleType === 'sched_h4' ||
              scheduleType === 'sched_h6' ||
              scheduleType === 'sched_L'
            " [mainTransactionTypeText]="mainTransactionTypeText" [transactionTypeText]="transactionTypeText"
            [transactionType]="transactionType" [scheduleAction]="scheduleAction" [scheduleType]="scheduleType"
            [transactionData]="transactionData" [transactionDataForChild]="transactionDataForChild"
            [populateHiddenFieldsMessageObj]="populateHiddenFieldsMessageObj"
            [returnToGlobalAllTransaction]="returnToGlobalAllTransaction" 
            [populateFieldsMessageObj]="populateFieldsMessageObj" (status)="onNotify($event)" (parentDataEmitter)="setParentTransactionalData($event)">
          </f3x-individual-receipt>

        </div>
        <!-- This is for Sched F payment on a Debt.  Not the same as sched_f_core -->
        <app-sched-f *ngIf="scheduleType === 'sched_f'" [formType]="'3X'"
          [forceChangeDetection]="forceChangeDetectionFDebtPayment" [mainTransactionTypeText]="mainTransactionTypeText"
          [transactionTypeText]="transactionTypeTextSchedF" [transactionType]="transactionTypeSchedF"
          [scheduleAction]="scheduleFAction" [scheduleType]="scheduleType" (status)="onNotify($event)"
          [transactionData]="transactionData" [transactionDataForChild]="transactionDataForChild"
          [parentTransactionModel]="parentTransactionModel" (parentDataEmitter)="setParentTransactionalData($event)">
        </app-sched-f>
        <!-- This component is for the 'core' Schedule F, a different component handles sched F payment -->
        <app-sched-f-core *ngIf="scheduleType === 'sched_f_core'" [formType]="'3X'"
          [transactionTypeText]="transactionTypeTextSchedFCore" [transactionType]="transactionTypeSchedFCore"
          [scheduleAction]="scheduleFCoreAction" [scheduleType]="scheduleType"
          [transactionDataForChild]="transactionDataForChild" [transactionData]="transactionData"
          (status)="onNotify($event)" (parentDataEmitter)="setParentTransactionalData($event)">
        </app-sched-f-core>

        <app-sched-c-loans *ngIf="scheduleType === 'sched_c'" [formType]="'3X'" [scheduleAction]="scheduleCAction"
          [transactionDetail]="transactionDetailSchedC" (status)="onNotify($event)">
        </app-sched-c-loans>

        <app-loanendorser *ngIf="scheduleType === 'sched_c_en'" [formType]="'3X'" [scheduleAction]="scheduleCAction"
          [transactionDetail]="transactionDetailSchedC" (status)="onNotify($event)">
        </app-loanendorser>

        <app-loanendorsersummary *ngIf="scheduleType === 'sched_c_es'" [formType]="'3X'"
          [scheduleAction]="scheduleCAction" [transactionDetail]="transactionDetailSchedC" (status)="onNotify($event)">
        </app-loanendorsersummary>

        <app-loansummary *ngIf="scheduleType === 'sched_c_ls'" [formType]="'3X'" (status)="onNotify($event)">
        </app-loansummary>

        <app-loanpayment *ngIf="scheduleType === 'sched_c_loan_payment'" [transactionDetail]="transactionDetailSchedC"
          (status)="onNotify($event)" [scheduleAction]="loanPaymentScheduleAction">
        </app-loanpayment>

        <!-- [hidden]="scheduleType !== 'sched_c1'" -->
        <app-sched-c1 *ngIf="scheduleType === 'sched_c1'" [forceChangeDetection]="forceChangeDetectionC1"
          [transactionDetail]="transactionDetailSchedC" [scheduleAction]="scheduleAction" (status)="onNotify($event)">
        </app-sched-c1>

        <app-debt-summary *ngIf="scheduleType === 'sched_d_ds'" [forceChangeDetection]="forceChangeDetectionDebtSummary"
          [transactionType]="transactionTypeDebtSummary" [transactionTypeText]="transactionTypeTextDebtSummary"
          (status)="onNotify($event)">
        </app-debt-summary>

        <app-sched-h1 *ngIf="scheduleType === 'sched_h1'" [forceChangeDetection]="forceChangeDetectionH1"
          [scheduleAction]="scheduleAction" [scheduleType]="scheduleType" [transactionData]="transactionData"
          (status)="onNotify($event)">
        </app-sched-h1>
        <app-sched-h2 *ngIf="scheduleType === 'sched_h2'" [transactionData]="transactionData"
          [transactionTypeText]="transactionTypeText" [transactionType]="transactionType"
          [scheduleAction]="scheduleAction" [scheduleType]="scheduleType" (status)="onNotify($event)">
        </app-sched-h2>
        <app-sched-h3 *ngIf="scheduleType ===  'sched_h3'" [transactionData]="transactionData"
          [transactionTypeText]="transactionTypeText" [transactionType]="transactionType"
          [scheduleAction]="scheduleAction" [scheduleType]="scheduleType" (status)="onNotify($event)">
        </app-sched-h3>
        <app-sched-h5 *ngIf="scheduleType ===  'sched_h5'" [transactionData]="transactionData"
          [transactionTypeText]="transactionTypeText" [transactionType]="transactionType"
          [scheduleAction]="scheduleAction" [scheduleType]="scheduleType" (status)="onNotify($event)">
        </app-sched-h5>
        <app-sched-h4 *ngIf="transactionType === 'ALLOC_H4_TYPES' || transactionType === 'ALLOC_H4_SUM'"
          [mainTransactionTypeText]="mainTransactionTypeText" [transactionTypeText]="transactionTypeText"
          [transactionType]="transactionType" [scheduleAction]="scheduleAction" [scheduleType]="scheduleType"
          (status)="onNotify($event)">
        </app-sched-h4>
        <app-sched-h6 *ngIf="transactionType === 'ALLOC_H6_TYPES' || transactionType === 'ALLOC_H6_SUM'"
          [mainTransactionTypeText]="mainTransactionTypeText" [transactionTypeText]="transactionTypeText"
          [transactionType]="transactionType" [scheduleAction]="scheduleAction" [scheduleType]="scheduleType"
          (status)="onNotify($event)">
        </app-sched-h6>
        <app-sched-l *ngIf="
            transactionType === 'LA_ENTRY' ||
            transactionType === 'LB_ENTRY' ||
            transactionType === 'LA_SUM' ||
            transactionType === 'LB_SUM' ||
            transactionType === 'L_SUM'
          " [mainTransactionTypeText]="mainTransactionTypeText" [transactionTypeText]="transactionTypeText"
          [transactionType]="transactionType" [scheduleAction]="scheduleAction" [scheduleType]="scheduleType"
          (status)="onNotify($event)">
        </app-sched-l>
      </div>

      <div class="form__step" [hidden]="step !== 'step_4'">
        <f3x-preview></f3x-preview>
      </div>

      <div class="form__step" [hidden]="step !== 'step_5'">
        <f3x-sign></f3x-sign>
      </div>

      <div class="form__step" [hidden]="step !== 'step_6'">
        <app-submit></app-submit>
      </div>

      <div class="form_step" [hidden]="step !== 'transactions' && step !== 'reports'">
        <app-transactions (sidebarSwitch)="switchSidebar($event)" (showTransaction)="onNotify($event)">
        </app-transactions>
      </div>
      <!-- <div class="form_step" [hidden]="step !== 'loan'">
        <app-sched-c-loans (status)="onNotify($event)"> </app-sched-c-loans>
      </div> -->
      <!-- <div class="form_step" [hidden]="step !== 'loansummary'" *ngIf="step ==='loansummary'">
        <app-loansummary> </app-loansummary>
      </div> -->

      <!-- <div class="form_step" [hidden]="step !== 'loanpayment'" *ngIf="step === 'loanpayment'">
        <app-loanpayment> </app-loanpayment>
      </div> -->
      <div class="form_step" [hidden]="step !== 'loanreceipt'">
        <app-loanreceipt> </app-loanreceipt>
      </div>

      <!-- Do not reorder this div and move it up, its causing user snap issues because of "ngbheader" directive -->
      <div class="form__step" [hidden]="step !== 'step_2'">
        <f3x-transaction-type (status)="onNotify($event)" [transactionCategory]="transactionCategory"
          [transactionCategories]="transactionCategories">
        </f3x-transaction-type>
      </div>
    </div>
  </div>
  <!-- ./form__container -->
</div>
<!-- ./forms__wizard -->