@import '../shared/scss/global';

.contacts__main-container {
  display: table;
  table-layout: fixed;
  min-height: $mainContentHeight;
  margin: 0;
  padding: 0;
  width: 100%;
  .contacts__sidebar {
    background-color: $bombay;
    flex-grow: 1;
    display: none;
    padding-left: 0;
    vertical-align: top;
    padding-top: 1.5em;
    @include media(tablet) {
      display: none;
    }
    @include media(mediumDesktop) {
      display: table-cell;
      width: 20%;
    }
    @include media(largeDesktop) {
      display: table-cell;
      width: 20%;
    }           
  }

  .contacts__container {
    .grid-row {
      margin-left: 0;
      margin-right: 0;
      .grid-row__col {
        padding-left: 0;
        padding-right: 0;
      }
    }

    header {
      .header-content {
        display: block;
        margin: 0 auto;
        width: 96%;
        padding: .75em 0 .25em 0;
        @include clearfix();
        .btn-options {
          color: $shuttleGray;
          text-decoration: none;
          &:hover,
          &:visited,
          &:active {
            color: $shuttleGray;
            text-decoration: none;
          }
        }
      }
    }

    .contacts__btn-container {
      height: 100%;
      padding: 1em 1em 0 1em;
    }

    // .contacts__btn-search-wrapper {
    //   background-color: lightgrey;
    // }

    // .tag__category {
    //   background-color: #e8e8e8;
    //   border-radius: 2px;
    //   display: block;
    //   padding: .5rem .7rem;
    //   margin: .5rem .5rem 0 0;
    //   float: left;
    // }

    .contacts__tag-outer-wrapper {
      display: inline-block;
      width: 100%;
      .contacts__tag_wrapper {
        // background-color: #e8e8e8;
        // width: fit-content;
        .contacts__tag_group {
          // margin-right: 7px;
          background-color: lightgrey;
          // padding: 20px 10px;
          border-radius: 2px;
          float: left;
          // margin: 3px;
          margin: 5px 20px 0px 0px;
        }
        .contacts__tag_btn {
          margin: 6px;
          // margin: 2px 20px 0px 0px;
        }
        .contacts__close-tag {
          padding-right: .25em;
        }
      }
    }


    .contacts__btn-search-filter {
      margin: 3px;
      background-color: $shuttleGray;
      color: $white;
    }

    .contacts__btn-search-filter-join {
      // float: left;
      display: inline-block;
      // padding: 24px 2px 2px 2px;
      padding-right: 3px;
    }

    .contacts__trx-btn {
      margin: 5px;
      width: 8em;
    }

    .contacts__trx-search {
      width: 27%;
      float: right;
      margin-right: 5px;
      .search-icon {
        
      }
    }

    .contacts__trx-applied-filter-row {
      min-height: 48px;
    }

  }
}




