<div class="import_trx_sidebar__main">
  <div class="sidebar-toggle-btn" [ngClass]="sidebarVisibleClass">
    <button type="button" class="btn btn-link" (click)="toggleSidebar()">
      <i [ngClass]="iconClass">
        <span class="sr-only">Toggle Sidebar</span>
      </i>
    </button>
  </div>
  <h3 *ngIf="open" class="text-center sidebar-header">{{ headerTitle }}</h3>
  <hr *ngIf="open" />
  <div [hidden]="!open" *ngIf="fileQueue" class="file-queue">
    <ul class="file-queue-list">
      <li *ngFor="let file of fileQueue; let i = index" class="container file-in-queue">
        <div class="">
          <div class="row align-items-center queue-row">
            <div class="col-md-4 file-name">
              {{ file.fileName }}
            </div>
            <div class="col-md-4">
              <div class="file-status" [ngClass]="currentFile?.queueIndex === i ? 'current-file' : 'non-current-file'">
                {{ file.status }}
              </div>
            </div>
            <div class="col-md-1">
              <button
                *ngIf="file.status !== completeStatus"
                type="button"
                class="btn btn-link"
                ngbTooltip="Cancel this file."
                tooltipClass="form-tooltip"
                placement="left"
                (click)="cancelFile(file)"
              >
                <i class="close-simple cancel-file">
                  <span class="sr-only">Cancel Import Single File</span>
                </i>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div *ngIf="fileQueue?.length > 0 && currentStep !== step4ImportDone" class="container button-container">
      <div *ngIf="currentStep === step1Upload" class="row btn-row">
        <div class="col text-center">
          <button class="btn btn-secondary sidebar-button" (click)="proceed()">
            Proceed
          </button>
        </div>
      </div>
      <div class="row btn-row">
        <div class="col text-center">
          <button
            ngbTooltip="Cancel all incompleted files."
            tooltipClass="form-tooltip"
            placement="right"
            class="btn sidebar-button cancel-button"
            (click)="cancelImportAll()"
          >
            Cancel Remaining Imports
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
